[2016-07-23 22:12] #105 closed

[2016-07-23 22:15] mbdavid commented on #119
Added in New Features issue #20

[2016-07-23 22:15] #119 closed

[2016-07-23 22:17] #121 closed

[2016-07-23 22:18] #150 closed

[2016-07-23 22:29] mbdavid commented on #177
Added reference to #20

[2016-07-23 22:29] #177 closed

[2016-07-23 22:40] #165 closed

[2016-07-23 23:51] #160 closed

[2016-07-24 00:32] #156 closed

[2016-07-24 01:34] #82 closed

[2016-07-24 01:35] mbdavid commented on #174
Hi, i'm organizing issues so I will reference this in #20 issue.

[2016-07-24 01:35] #174 closed

[2016-07-24 01:44] Dessix commented on #82
Was this closed due to being fixed?

[2016-07-24 03:10] mbdavid commented on #82
BsonMapper had a lot of changes in this last release `v2.0.0-rc2`. I tried to simulate but didnt catch this problem. If this problem persist to you, please re-open this issue and attach some code to test.

[2016-07-24 08:56] taoqiping commented on #216
yes, it works. but only property "ID" with the special process?

[2016-07-24 11:41] mbdavid commented on #216
Yes, because all document must have an _id field. It's same syntax used in MongoDB: https://docs.mongodb.com/manual/reference/method/db.collection.insert/#id-field

[2016-07-25 02:36] emrys90 opened #217 "Implement IQueryable interface"
It would be nice if this implemented IQueryable so that you can fully use LINQ instead of just the Find method you implemented.

[2016-07-25 04:54] speedb opened #218 "why execute _disk.Close() after transaction commit(Complete)"
hi dear:

    updated to the 2.0.0 - rc2, I found it always throw exception while I do GetIndexes() after EnsureIndex().

    step into the source code, I found that caused by transaction commit (line 67 in "DBEngine\Services\TransactionService.cs" file)

    ps: compared with last version( 2.0.0 -rc), It's written with _disk.unlock().

[2016-07-25 05:17] speedb commented on #218
it's appeared in FileDiskService while StreamDiskService doing nothing in Close()

[2016-07-25 11:44] yetanotherchris opened #219 ".netstandard 1.x support?"
Hi - thanks for making this open source, it's amazing how fast it is and cleanly written code.

Are there any plans to support .netstandard 1.x any time soon? I tried cloning and using the VS tool but there were a few problems with Emit.

I'm not sure if that was the codebase or because I don't have the whole PCL bits installed though.

[2016-07-25 11:52] negue commented on #219
Could you try the Core Project ? This doesn't use Emit.

I tried myself with .netstandard but got overwhelmed with

[2016-07-25 12:12] mbdavid commented on #218
Hi @speedb, this new version use open mode as a concurrency control. So it´s ok close file after each operation. In StreamDisk implementation are complete "single user/no concurrency", so keeps stream open all the time.
I look source and found the bug - are missing "open transaction" here https://github.com/mbdavid/LiteDB/blob/master/LiteDB/DbEngine/DbEngine/Index.cs#L94
I will fix at today and ad

[2016-07-25 14:03] speedb commented on #218
yes I see, thanks for your answer

[2016-07-25 14:08] yetanotherchris commented on #219
This was the core project that I tried

[2016-07-25 14:09] speedb opened #220 "about Min()"
https://github.com/mbdavid/LiteDB/blob/master/LiteDB/DbEngine/DbEngine/Aggregate.cs#L12
<long> should be <BsonValue>？

[2016-07-25 14:11] mbdavid commented on #220
Yes, it´s open database to access collection page/indexes references.

[2016-07-25 14:15] negue commented on #219
I bet you tried the .Net45 Platform, which has Emit in it, better copy .Net45 Platform Code and replace the EmitHandler with the ExpressionReflectionHandler

[2016-07-25 17:00] mbdavid commented on #217
Hi @emrys90, IQueryable was my first try. But it´s quite complex to do and db engine must implement all function to be worth.

Also, because LiteDB is local database, amost other functions than Where/Skip/Take is implemented using LINQ to Object is fine.

[2016-07-25 17:05] jeremycook commented on #217
Seconding @mbdavid comment.

@emrys90 I use EF everyday and perceive the benefit of supporting IQueryable in the way EF, L2S and other ORMs have. Nonetheless my preference would be to avoid doing so because fully supporting IQueryable is a massive undertaking that is difficult to produce anything other than a misleading API. I like how relatively small and simple LiteDB is, and believe IQueryable

[2016-07-25 17:10] emrys90 commented on #217
The biggest reason I would want support for this is for things like multi-database support. On the backend I could do things a little differently, but then return an IQueryable interface that uses the same models for the different ORM and have everything that use this require no changes. So different databases would be pretty much plug and play. I suppose I could get around this in other ways thou

[2016-07-25 17:20] mbdavid commented on #217
@emrys90, in my all-day work, I use NPoco micro ORM that contains a "IQueryable Like" interfaces that I like it! It´s very simple and efficient way to write 95% of data maniputation in a project. I have plans to write a project that implement an repository pattern using this "IQueryable like" class (outside LiteDB project).

[2016-07-25 18:31] WaywardMage opened #221 "Query against child properties"
I have a class Post which is stored in the collection "post".  Each Post has a nullable "Tags" property which is List<Tag>.  Tag has a property "Name".  How can I query my posts where a given tag has a name of "mytag" ?

I tried

posts.Find(p => p.Tags.Any(t => t.Name == "mytag"))

and I also tried

posts.Find(Query.In("Tags.Tag.Name", "mytag"))

both return System.InvalidOperationException. The f

[2016-07-25 19:09] mbdavid commented on #221
Hi @WaywardMage, this are a missing feature in LiteDB. You need is a "Multikey index" (see https://docs.mongodb.com/v3.0/core/index-multikey/).

Document store databases has many kinds of indexes: (see https://docs.mongodb.com/v3.0/core/index-types/). LiteDB, in current version, support only most used one: "Single Field Index".

And with my current engine it´s not possible implement. Is on my plan

[2016-07-25 20:23] WaywardMage commented on #221
That worked. Thanks for the tip!

[2016-07-25 23:37] speedb commented on #220
I means should be return a "long" type instead of BsonValue?

[2016-07-26 00:11] mbdavid commented on #220
No, because collection didn't know which data type your ID class has. You can use Min to Date, Int, Guid, String, ... And if there is no document, LiteDB returns BsonValue.MinValue

[2016-07-26 00:32] #218 closed

[2016-07-26 01:50] speedb commented on #220
but in source code, it appears as "long", not BsonValue, that's my question
https://github.com/mbdavid/LiteDB/blob/master/LiteDB/DbEngine/DbEngine/Aggregate.cs#L12

[2016-07-26 12:05] mbdavid commented on #220
Oh, you right...  thanks.

[2016-07-26 12:05] #220 closed

[2016-07-26 16:07] yetanotherchris commented on #219
I tried recreating the project as a .netcore one, in Visual Studio 2015 Preview 3 as I couldn't get the upgrade tool working with the LiteDb.Core solution.

It compiled but the tooling is so flakey I eventually gave up. I think to move to .netstandard 1.6 you will need to use a new project with links, and remove the Android/iOS/WUP providers and import System.Cryptopgraphy.Algorithms in the projec

[2016-07-26 16:19] anishpsla opened #223 "Updating Sub document"
I have no idea how to update a sub document in Lite DB. For example, I have a document like this one.

`{
    "name": "user1",
    "Addr": "Address",
    "service": [{
        "name": "Service1",
        "type": "Service type1"
    }, {
        "name": "service2",
        "type": "service type2"
    }]
}`

I want to add or remove services to the customer.  I have no idea how to do it.

[2016-07-26 17:43] bencz opened #224 "Query with EndsWith"
Hi
It is not possible to run a query with "EndsWith"

[code]

[2016-07-26 17:47] mbdavid commented on #224
Hi @bencz, because there is not index that catch EndsWith (I think in no one database). So, when you don't have an index (using in Find(predicate)) you need use a non-indexed query:

`var tmp = reg.FindAll().Where(x => x.Name.EndsWith("P"));`

[2016-07-26 17:52] mbdavid commented on #223
Hi @anishpsla, you cannot access sub document only. You must read your document "User", insert/update "Services" and save "User" again. Something like this:

[code]

[2016-07-26 17:56] mbdavid commented on #219
Hi @yetanotherchris, I tried to do this too, and gave up too. I didnt know deeply this new core world. I will needs study more to try convert. I beleave that, with this new LiteDB.Core solution will not be too complex.

tip: If you are converting, the folder "LiteDB\Platform (https://github.com/mbdavid/LiteDB/tree/master/LiteDB/Platform)" contains all implementations for all platforms. So, in vs p

[2016-07-26 22:10] emrys90 opened #225 ".NET 3.5 support"
I tried using this in Unity, which is .NET 3.5 unless I am mistaken, and I get several errors. Some of which is over functions that are not available in .NET 3.5.

[2016-07-26 22:24] emrys90 commented on #225
Nevermind, I figured out what the problem was. I needed to compile the source code and use that dll in my project instead of using the source code.

[2016-07-26 22:24] #225 closed

[2016-07-26 22:33] emrys90 opened #226 "Collection using many different extended classes"
For example, I have an Item class and a WeaponItem class that extends Item. It has a couple extra fields in it that need to be saved as well. Is it possible to store this is one collection, and return the appropriate class instance based on which type of item it is? My current thoughts is I am going to have to have an ItemModel class that has every field in it for all classes, and then will instan

[2016-07-26 22:52] mbdavid commented on #226
Hi @emrys90, yes, you can store all deriveded classes in some collections. Take a look in this unit test:

https://github.com/mbdavid/LiteDB/blob/master/LiteDB.Tests/Tests/PolymorphicTest.cs

[2016-07-26 22:58] emrys90 commented on #226
Nice! Thank you!

[2016-07-26 22:58] #226 closed

[2016-07-27 00:37] emrys90 opened #227 "BsonIgnore attribute produces an error"
I used the BsonIgnore attribute on a Name property in one of my classes. I get the following error which stops execution:
LiteException: Property 'Name' was not mapped into BsonDocument
LiteDB.QueryVisitor`1[Item].GetBsonField (System.String property)
LiteDB.QueryVisitor`1[Item].VisitMember (System.Linq.Expressions.Expression expr)
LiteDB.QueryVisitor`1[Item].VisitExpression (System.Linq.Expressio

[2016-07-27 00:40] emrys90 commented on #227
Sorry, my fault. I forgot there was somewhere I did a test where I did a Find with the Name property.

[2016-07-27 00:40] #227 closed

[2016-07-27 10:10] ldubrois opened #228 "Exception : Invalid transaction on top of stack"
Hello,

I just started using your DB. Seems it is exactly what I was looking, simple, NoSQL.
I tried to use LiteDB in a windows service  with multiple threads accessing the DB.
The service is something similar to a job scheduler, and tasks are stored in the DB.

At the very beginning of the app when DB access (read or write) are done, I get the following exception :
[code]

Is the LiteDatabase thr

[2016-07-27 11:33] mbdavid commented on #228
Hi @ldubrois, no, it's not thread-safe. Reusing same LiteDatabase instance in different threads/tasks causes invalid states. Try use one instance per thread (LiteDB support multiple concurrency instances).

[2016-07-27 12:42] ldubrois commented on #228
Thanks for your quick answer.
As a very quick fix on my issue, I've added a lock on the LiteDatabase to get it working.

I assume creating a new LiteDatabase instance per request will be too heavy, I will search a way to maintain a LiteDatabase instance per thread and dispose it nicely when the thread exit.

Thanks again.

[2016-07-27 13:00] mbdavid commented on #228
It´s not heavy. LiteDatabase instance is just a simple layer of `DbEngine` class. Havy operation is initialize `BsonMapper`, so it´s importat to keep this in a single instance (by default, using BsonMapper.Global is single static instance).

If you have lots of read operation, you need lock them too. In this case, use multiple instances of LiteDatabase is better way. This current version keeps dat

[2016-07-27 14:32] bencz commented on #224
Hi @mbdavid, thanks!
use the findall, if I have a 'table' with a lot of documents.... it's not a good idea...
I can do something different... just save the last chars of field name, and create a index in this field and query based in this field...

[2016-07-27 14:34] mbdavid commented on #224
Yes, you can create a get only property with ends of name, index this property and quering using indexed query.

[2016-07-27 18:28] anishpsla commented on #223
[code]

Causing

Error on line

[2016-07-27 18:32] mbdavid commented on #223
Post your `Customer_model` class to check if has an ID identifacation, and how you are inserting your customer.

[2016-07-27 19:35] falahati opened #229 "Custom Exception Types"
Please consider defining exception classes for better error handling. For example following exception arise when opening a v1.x database with v2.0 binaries. This is hard to catch except by comparing the error message as string which can be localized later.

https://github.com/mbdavid/LiteDB/blob/8902d0e31e82c3dc096fdd32c65ac843c96a58cb/LiteDB/DbEngine/Pages/BasePage.cs#L141

[2016-07-27 19:57] mbdavid commented on #229
Hi @falahati, all LiteDB error throw a `LiteException` with a different Error Code. This exception, in particular, is the type of "never should happend" exceptions. If you are open an 1,x file in v2 the error should be another (https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Exceptions/LiteException.cs#L46). I will check why this not throwing...

[2016-07-27 20:45] emrys90 opened #230 "Not null constraint"
Is there anyway to mark a field as not allowing null/empty values?

[2016-07-27 22:08] emrys90 opened #231 "Performance for thousands of updates"
On average for thousands of updates I seem to be getting about 10 updates per millisecond. For example, doing an update of 6,781 objects takes about 674 milliseconds. Is this normal? Wondering if it's possible to get it any faster than this, or if I'm going to have to batch updates to do less per iteration. I'm using the Update(IEnumerable<T> documents) method to update all the objects.

[2016-07-27 23:50] falahati commented on #229
I see,
well if it help to detect the problem I must say that I created database with LiteDB v1.0.4 and tried opening it with LiteDB 2.0.0-rc2 (both nuget versions) and that the exception in question is raised at "GetCollectionNames()" and "GetVersion()" methods. LiteDatabase constructor raises no exception tho.

[2016-07-28 01:52] mbdavid commented on #229
LiteDatabase constructor has no datafile access. So, when first command runs, Header page will be loaded. I made some changes to detect beter old version.

[2016-07-28 01:54] #229 closed

[2016-07-28 06:23] wleev opened #232 "float/Single is not a valid BSON data type"
Trying to wrap a float/Single in a BsonValue will throw an InvalidCastException. Double seems to work, Decimal throws as well.

Using V2.0.0-rc2 in a UWP app.

Edit: Just read docs. Is there a reason you're not supporting them?

[2016-07-28 06:50] anishpsla commented on #223
Customer_mode class have id of type integer. Also 'cus' variable have data in it. the next line causing problem.

[2016-07-28 17:21] mbdavid commented on #232
Hi @wleev, float/decimal are not native BSON data type (http://bsonspec.org/spec.html). You must use `Double` type only. But how are you using? Are you using `BsonDocument` or mapping with `BsonMapper`? `BsonMapper` do this conversion automatic.

[2016-07-28 17:22] mbdavid commented on #230
Hi @emrys90, LiteDB has no schema validation. I think you can use native .NET DataAnnotations for that.

[2016-07-28 17:27] mbdavid commented on #231
Hi @emrys90, performance time has a lot of variables that can be analysed. Document size, CPU/Disk access, ..... But you are using the right way: Update(IEnumerable) do all operations in memory (or in disk if exceeds 5000 dirty pages) and then write all to disk.
You can turn off journal file to be faster, but you will loose crash write safe operation (use `journal=false` on connection string)

[2016-07-28 17:29] mbdavid commented on #223
Can you post an gist unit test of this problem? I will need debug this code to know where problem is.

[2016-07-28 17:35] emrys90 commented on #230
Would you happen to know the performance hit of that offhand? Any chance of this becoming something that is supported, maybe a config setting on the database that does the data annotations validator?

[2016-07-28 17:41] emrys90 commented on #231
Do you have any statistics for the amount of updates you can usually do in say one second or something? I'm just trying to figure out if this is a normal time, or if I am doing something that can be better optimized. In the end it doesn't matter too much, I wound up just putting that in a separate thread, but if I can get it any faster then great.

[2016-07-28 17:53] mbdavid commented on #231
A long time ago I make this: https://github.com/mbdavid/LiteDB-Benchmark - It´s a benchmark to compare some simple operations using LiteDB (v0.9) with MongoDB. Off course that LiteDB is slower than Mongo, but not too much (using 10.000 documents). I removed results from site because It´s a old version of LiteDB, but you can clone and run to compare results.

[2016-07-28 18:24] anishpsla commented on #223
Thanks for your help. Finally, I find the solution. Here is the raw, code

[code]

[2016-07-28 18:34] negue commented on #231
@emrys90 could you create a test or an example project ? Maybe something else is the problem (if there is one)

[2016-07-28 19:02] #221 closed

[2016-07-28 21:58] yetanotherchris commented on #219
I finally managed to get it compiling, after ditching using VS2015 Preview 3 and going back to VS2015 Update 3. I created a brand new .netcore class library, and added PCL as my compilation symbol.

A few things I've noticed:

- Rijndael doesn't currently have an implementation, or exist as a type. I switched to Aes but it's an abstract class (Aes.Create works however, not sure what it does).
- ty

[2016-07-28 23:05] mbdavid commented on #219
Hi @yetanotherchris

- Rijndael and EmitReflectionHandler are only for dotnet full (must be excluded from .netcore project). Can you use ExpressionRefection in .netcore? I beleave for first version encryption can be out.

- Is project.json deprecated? I saw in another projects using `xproj` as new project file format that are not folder based (it's like csproj). Maybe this it's easy to create it.

[2016-07-29 00:47] wleev commented on #232
I'm using BsonDocument, but I've already switched to using double.

I also did a quick implementation of my own for float and decimal. It works but totally disregards the BSON spec. I'll just use a custom type for representing financial data.

Thanks.

[2016-07-29 00:47] #232 closed

[2016-07-29 13:15] ambyte opened #233 "Invalid database version in v2.0.0-rc2"
In v2.0.0-rc2 you have changed db version and now I get an error
LiteDB.LiteException: Invalid database version: 5
Before that I used v2.0.0-rc

What I must do for fix it?

[2016-07-29 14:37] mbdavid commented on #233
Hi @ambyte, datafile change in this last RC2 version (from RC and beta). So, I update internal file version check.
To upgrade, use LiteDB.Shell (from RC) to export data and with LiteDB.Shell (from RC2) use to import in another datafile.

In shell RC/Beta, use:
[code]

In shell RC2
[code]

I will add this in wiki documentation.

[2016-07-30 01:55] emrys90 opened #234 "Error with an enum as a dictionary key"
I get an error when LiteDB tries to deserialize a document that has an enum as a dictionary key. Here's the stack trace.
InvalidCastException: Value is not a convertible object: System.String to EntityAttribute
  at System.Convert.ToType (System.Object value, System.Type conversionType, IFormatProvider provider, Boolean try_target_to_type) [0x00228] in /Users/builduser/buildslave/mono/build/mcs/cl

[2016-07-30 02:17] emrys90 opened #235 "Add in support for sbyte"
Could you add in support for the sbyte data type?

[2016-07-30 13:50] mbdavid commented on #234
Hi @emrys90, BsonMapper works only with string key. See mapper conventions:

https://github.com/mbdavid/LiteDB/wiki/Object-Mapping#mapper-conventions

[2016-07-30 14:06] emrys90 commented on #234
So you have no intention of allowing enums as a key?

[2016-07-30 22:47] mbdavid commented on #234
Could be possible. Maybe in 2.1 release, because now I'm working to finish a stable v2 release.

[2016-07-30 22:50] emrys90 commented on #235
Thanks!

[2016-07-30 22:50] emrys90 commented on #234
Alright thanks

[2016-07-31 00:44] emrys90 opened #236 "LiteException: Document has more than 20 nested documents. Check for circular references (use DbRef)"
How can I track down which insert/update is causing this error to occur? I'm not using DbRef anywhere. The stack trace and error message doesn't have any information about what model this error is for, where it is being called in my code, etc. Here's the full stack trace:

LiteException: Document has more than 20 nested documents. Check for circular references (use DbRef)
  at LiteDB.BsonMapper.Se

[2016-07-31 01:54] emrys90 commented on #236
I figured out what was causing the error. There was a struct that I forgot to register the serialize/deserialize methods. Would it be possible for that exception to also include the data type that failed to be serialized?

[2016-07-31 20:22] sim1986 opened #237 "Mapping sub keys to class fields."
Hi i am trying to map a JSON property as a key using

.DbRef(x => x.Properties.Name, "properties.name");

My json object looks like the following

{
    "type": "Feature",
    "properties": {
      "name": "Shop 1",
      "show_on_map": false,
      "address": "123 Fake Street"
}

How can i map sub keys inside a JSON object?

Thank you

[2016-07-31 21:18] mbdavid commented on #237
DbRef is used to map external document as reference. First parameter is property that maps another document and second parameter is collection reference name: https://github.com/mbdavid/LiteDB/wiki/DbRef

You can map entity (or subclass) using BsonMapper.Global.Entity<ClassName>() where ClassName can be you entity or any subclass

[2016-07-31 21:38] #236 closed

[2016-07-31 21:39] #235 closed

[2016-07-31 21:41] emrys90 commented on #236
Thanks

[2016-08-01 15:37] negue commented on #233
Haven't ran into this kind of issue, but what if the database version changes from LiteDB2.0 to 2.X , and I upgrade my app to it, how to migrate then?

I don't know if its possible but maybe we need an self migrating option without using LiteDB.Shell, for example, on Android its impossible to run the LiteDB.Shell.exe

[2016-08-01 16:44] mbdavid commented on #233
@negue, this will not happen (or, at lease, if anyone found a bug that needs change).

From rc to final release, an issue posted about DateTime field indexed, I found a "little" bug that I fixed. In this case, datafile must be updated. In a 2.X scenario, will force me to write a "fix datafile". It´s a very hard job, but I will need do if any problem in data structure are found.

To next major vers

[2016-08-02 11:18] sim1986 commented on #237
Hi mbdavid,

Thank you for the quick reply.

I am still having issues with retrieving data from the collection. I'm not even sure the collection is being populated. I have checked my LiteDb file and it is populated with the correct data but I cannot seem to get any further.

Do you have an example anywhere of how to get data from a external JSON file and query the LiteDb database file?

Thank you

[2016-08-02 11:30] bencz commented on #224
Thanks!
I did this!!

[2016-08-02 11:30] #224 closed

[2016-08-02 12:33] mbdavid commented on #237
Hi @sim1986, did you try shell tool? In shell you can do any command use command line. You can check if you data is in collection (I made this tools to check this). You can run "bulk" insert too (based on a .json file too).
Run LiteDB.Shell.exe:

[code]

here an example of "external_file.json"
[code]

- Must by an array
- If not found `_id` field in each document, an auto id will be created.

[2016-08-02 15:43] #237 closed

[2016-08-03 03:57] emrys90 opened #240 "Stack overflow error"
I am not quite sure what caused this to happen, this is the first time this has happened. It caused the Unity game to crash. Here's the stack trace for the crash. Any thoughts? Am I doing something wrong?

0x00007FFB77D16DCC (mono) mono_get_exception_stack_overflow
0x000000001DC94100 (Mono JIT Code) (wrapper managed-to-native) System.IO.MonoIO:Write (intptr,byte[],int,int,System.IO.MonoIOError&)
0

[2016-08-03 16:44] wvdvegt opened #241 "Compilation errords"
Hi

just cloned the repo to see how this library works, but I'm having some problems with compiling the **Universal10** project.

First I got a load of errors that types like string where not defined.
after updating the
**Microsoft.NETCore.UniversalWindowsPlatform nuGet package**
to v5.2.2. these where gone.

The only error left in the **Universal10** project is:

[code]

And some issues with the

[2016-08-03 23:43] mbdavid commented on #241
Hi @wvdvegt, about android, just change sdk version to a most recent version that your vs has installed.

About NameValueCollection in Universal10 it's strange, because here compile fine. To quick test, just removed this part. @negue, do you have any idea?

[2016-08-03 23:45] mbdavid commented on #240
What platform are you running? Has permission on this directory? When this happing?

[2016-08-03 23:50] emrys90 commented on #240
This is running on Windows 10 in a standalone build from Unity3d. Permissions aren't a problem I don't think since this is a random error that has only occurred once. I've been reading/writing thousands of records without an issue. My best guess for what this maybe is that this error was on something that I do async. Could there be an issue if this was running async and then something not async in

[2016-08-04 00:02] mbdavid commented on #240
It's not a good pratice do this. Are you are using async operations in same LiteDatabase instance? If you need async operation, use `lock`. LiteDB is not thread safe (only process safe - needs one LiteDatabase instance per use).

[2016-08-04 00:06] emrys90 commented on #240
Yes, it's the same instance. Can I instantiate a new LiteDatabase for each async operation with them using the same database file? Using lock wouldn't be the base case for my usage, it would lock the main thread. In a game anything getting held up for more than a couple milliseconds does not cause a good user experience. Some of these async calls take 600 milliseconds, so too much to lock the main

[2016-08-04 00:12] mbdavid commented on #240
You can use same instance for each async operation. LiteDatabase class is very lightweight. All lock operation are made using `FileStream` ShareMode. Each read/write operation Open/DoWork/Close datafile. Only if you need a full transactions then database will keep opended during Begin/Commit.
So, is safe having 2 async operation using 2 LiteDatabase instances - but it's not safe to have only 1 ins

[2016-08-04 00:20] emrys90 commented on #240
I'm not entirely sure what you mean. The async operation I am doing is updating a list of sometimes as much as 8,000 models. That is a transaction I believe with the Update method that takes an ienumurable, so if I understand you correctly that would lock the main thread if I used locks.

[2016-08-04 00:24] mbdavid commented on #240
If you use async calls to write on database, only this async task will be locked during write operation. If another async tasks try write on disk too, this will wait first finish. But both are async tasks from your main thread.

[2016-08-04 00:25] emrys90 commented on #240
What if I am also writing to the database in the main thread though?

[2016-08-04 00:27] mbdavid commented on #240
Only one written execution at a time, no matter which thread is

[2016-08-04 00:29] emrys90 commented on #240
Okay. What if the async thread does not do batch updates? If it loops through and updates one model at a time. If the main thread then updates a model in a separate instance of a LiteDB, will it cause the async thread to pause and let the main thread finish?

[2016-08-04 00:36] mbdavid commented on #240
Yes, but this async task will be extremly expensive because if you need update 8000 documents, will be 8000 operations: open datafile, load data pages, update, clear cache, write journal, write final file, delete journal, close datafile. It's not possible use 2 datafiles (to avoid write locks)?

[2016-08-04 00:40] emrys90 commented on #240
The problem is that in the same collection that I am updating I could also be interacting with it on the main thread, so splitting it into two data files wouldn't fix the issue since I still need to interact with it.

For the most part, I haven't seemed to have any issues besides this one crash with doing things async and sync with the same LiteDB instance. Is there a particular scenario about doi

[2016-08-04 00:50] mbdavid commented on #240
If you use different instances you will not have this problem. But, using some instance it's very unsafe: you can corrupt your datafile. In you case, I recommend to use diferent instances: in async operation do blocks of update (not 1 or 8000 at same time, use small packages, like 50~200). Need to be faster? do not use journal, use BsonDocument insted POCO class (map POCO to BsonDocument is quite

[2016-08-04 00:56] emrys90 commented on #240
Okay. Can you give examples of what could cause it to be corrupted though? For example, is it safe to use the same instance if I am not modifying the same collection? Or can that still corrupt data?

[2016-08-04 01:32] mbdavid commented on #240
Yes, can sill corrupt use different collections (but's in this case are very unlikely). LiteDB use pages to store data. This pages goes to memory and updates in memory during a write operations. When finish, all changed pages are persisted to disk.

[2016-08-04 01:58] khoaho opened #242 "Reduce file size of the database file"
Hi,

Can we reduce the file size of the output database? I see it is more than double of its JSON file.

Thank you.

[2016-08-04 02:08] mbdavid commented on #242
Hi, LiteDB can use much more space than a plain json file. LiteDB store documents in pages, keeping avaiable space reserved when you need update a document and keep in same page. LiteDB creates indexes (at least ID index) that consume disk space too. So, it's dificult to compare json file with LiteDB datafile.

[2016-08-04 02:11] emrys90 commented on #240
So what would you recommend as a way to update thousands of documents without blocking the main thread, to continue allowing inserts/updates/deletes from within the main thread? Basically I don't really care how long it takes for the async task to complete. It's not important for that to be finished in any decent timeframe, but the main thread I can't let it be blocked.

[2016-08-04 02:54] takaaptech opened #243 "How to select and then remove n rows from collection"
Hi there,
I am newbie here. I want to select and then remove n rows (random or by created time) from collection? How to do this?
Thank you!

[2016-08-04 03:10] khoaho commented on #242
Can we have a new feature for a compressed LiteDB that can decompress and compress on the fly (with the fastest and low CPU zip compressor)?

`LiteCollection<T>.Insert(T document)` will compress the document and store to database file.
`LiteCollection<T>.FindById(BsonValue id)` will decompress the document and return to object type T.

This "compress" feature will be an option to turn on or off.

[2016-08-04 09:01] lidanger opened #244 "A strange problem with nesting class"
**Test environment:**
LiteDB Version: 2.0
.Net Framework:4.0
Operating System:Windows 10.0.10586 x64

**The test program like this:**

	using Modbus.Utility;
	using System;
	using System.Collections.Generic;
	using System.Diagnostics;
	using System.Linq;
	using System.Text;
	using System.Threading;

	namespace Test2
	{
		class Program
		{
			static log4net.ILog logger;

			static void Main(string[

[2016-08-04 09:18] lidanger opened #245 "Can I ask a concurrency question?"
I found LiteDB supports multiple connections on same data file,but it seems not perfect.
The test program like this:

[code]

After running about one minute, a timeout exception is throwed.
So is there any application scenarios?

[2016-08-04 12:28] mbdavid commented on #243
Hi @takaaptech, delete command from collection can be used with document _id or any `Query`. There is no needs to select before delete.

[code]

[2016-08-04 12:29] mbdavid commented on #244
Yes, classes must be non nested. LiteDB (in this version) used Reflection.Emit that can initialize this kind of class.

[2016-08-04 12:41] #223 closed

[2016-08-04 12:41] #228 closed

[2016-08-04 12:41] #230 closed

[2016-08-04 12:41] #231 closed

[2016-08-04 12:41] #233 closed

[2016-08-04 12:41] #234 closed

[2016-08-04 12:47] mbdavid commented on #242
Yes, can be used compress stream when writing on disk. If you want try, change this

https://github.com/mbdavid/LiteDB/blob/master/LiteDB/DbEngine/Pages/DataPage.cs#L20

To a number near PAGE_AVAILABLE_BYTES (like PAGE_AVAILABLE_BYTES - 300). This will reduce a lot your datafile, but if you need update documents can be cause a lot of extension pages (which is slow to access after)

[2016-08-04 12:48] mbdavid commented on #242
I will reference this isse with #20 New Features

[2016-08-04 12:48] #242 closed

[2016-08-05 00:11] lidanger commented on #245
Yes,it's my fault.Thank you!

[2016-08-05 00:15] #244 closed

[2016-08-05 02:01] takaaptech commented on #243
Hi @mbdavid, Thanks for your quickly answer! In my case, i have a collection with have 10.000 rows. Each time, i need to select exactly 20 rows for processing and then delete them from collection.
For now, i am using this:

            var data_return = new List<RowClass>();
            using (LiteDatabase db = new LiteDatabase(@"db"))
            {
                // Get a collection (or create,

[2016-08-05 04:39] lidanger commented on #245
I modify then code,but the program still gives exception sometimes.

The modified code:

		static void TestLiteDb()
	{
		using (var conn = new LiteDB.LiteDatabase("text2.db"))
		{
			var col = conn.GetCollection<Person>("china");
			col.Insert(new Person
			{
				Name = "张工松",
				Age = 43,
				Sex = 1
			});
		}

		running = true;

		for (int i = 0; i < 5; i++)
		{
			Thread thread = new Thread(i

[2016-08-05 07:46] shai-benshimol opened #246 "Client"
Is there a Client - GUI for this awesome db?

[2016-08-05 07:57] shai-benshimol opened #247 "Query question"
How can i get collections **"order by date(time) desc"** somthing like:
**select * from some_table order by date desc**

[2016-08-05 09:30] aletfa opened #248 "Alternative to Generics methods"
Hello, will be nice a custom EntityBuilder without a generic type.
`new EntityBuilder(entity.GetType())`
this little improvement open the door to a lot of custom implentations

for example

[code]

if all methods isn't generics i can read my attribute and call all appropriate methods from the builder.
ex:

[code]

[2016-08-05 10:31] aletfa commented on #248
Reading source code i can resolve with a custom BsonMapper.
But no interfaces are defined on this class ad implementation contains a lot of private ed internal methods. So i can't creare my BsonMapper because i can't access to the private collection _mapper.

No way :(
Please make LiteDB a little more open.

[2016-08-05 12:33] mbdavid commented on #248
Hi @aletfa, is on plans has a custom IBsonMapper to implement. It´s not a easy thing because some operation (like DbRef) are implemented inside BsonMapper. This is an old resquest because .NET mapper is a too hard implement for all possible things. Json.net has a great mapping that will be possible to use

[2016-08-05 12:38] mbdavid commented on #247
Create an index in this field and run:

`col.Find(Query.All("date", Query.Descending));`

Will return all docs using this desc order

[2016-08-05 12:41] mbdavid commented on #246
Hi @shai-benshimol, there is only a shell tool included. But you can check this project:

https://github.com/falahati/LiteDBViewer

[2016-08-05 12:45] mbdavid commented on #245
You exception is about timeout? I will made a unit test to check this.

[2016-08-05 12:55] vacuumstate opened #249 "Exception on Shrink()"
The following exception occurs :

    System.NullReferenceException

    Object reference not set to an instance of an object.

       at LiteDB.FileDiskService.ReadPage(UInt32 pageID)
       at LiteDB.PageService.GetPage[T](UInt32 pageID, Boolean setDirty)
       at LiteDB.DbEngine.Shrink()
       at LiteDB.LiteDatabase.Shrink()
       at MyTests.Integration.Repository.DbShrinkTest.WillShrinkData

[2016-08-05 13:42] haricharan123 opened #250 "Max depth of 20 inner classes"
Hi David,

I was playing around with LiteDb, is there any way to extend the Max depth of inner classes.

btw. nice fun project.Cheers

[2016-08-05 14:58] aletfa commented on #248
I see.
First step can be to change items visibility from internal to public.
Next, if the IBsonMapper it's hard to extract, you can change the BsonMapper class. Mark methods that can be replaced as virtual.

This because if i add your attributes i become dependent to this tecnology. Attributes should be external and not related to LiteDB's assemblies.

TY for the answer. Nice project if i can i wi

[2016-08-05 19:02] khoaho commented on #242
The file size does not change whenever I change the DATA_RESERVED_BYTES to be smaller or bigger.

DATA_RESERVED_BYTES = PAGE_AVAILABLE_BYTES / x (x is any number)

[2016-08-05 22:09] yetanotherchris commented on #219
Until Microsoft add Rijndael I'll leave this issue closed.

Project.json still exists, but the tooling update due in Q1 2017 is going to make it obselete. The APIs should also be a lot richer then too, so it's probably not worth doing until Microsoft release the V2 of .NET core instead of the current rushed out version.

[2016-08-05 22:09] #219 closed

[2016-08-05 22:10] yetanotherchris opened #251 "Failing to serialize (or deserialize) System.Collections.Generic.KeyValuePair"
I'm trying to save a `List<KeyValuePair<K,V>>` in a class, but noticed that it doesn't seem to be saving the values, or it maybe isn't reading them back - I'm not sure which direction the problem is but I'm getting null keys and values.

This is with RC2 of version 2. Does the serializer support KeyValuePairs, or is there a setting I'm missing?

Thanks

[2016-08-06 00:16] lidanger commented on #245
Timeout and deserialize failure.

[2016-08-06 11:22] yetanotherchris commented on #251
Also `TimeSpan` doesn't serialize/deserialize. Is there a place I can add support for this to?

[2016-08-06 11:55] yetanotherchris commented on #251
I guess this solves the Timespan issue:

            BsonMapper.Global.RegisterType<TimeSpan>
            (
                serialize: (timeSpan) => timeSpan.ToString(),
                deserialize: (stringValue) => TimeSpan.Parse(stringValue)
            );

For KeyValuePair I've used a custom class instead - should it support the type?

[2016-08-06 12:46] nmfpacheco opened #252 "Exception running example"
Hello all,
Im facing some troubles runnig your simple example, when I reach the foreach loop
Can you help me please?

      using (var db = new LiteDatabase(@"C:\Temp\MyData.db")) {
        // Get a collection (or create, if doesn't exist)
        var col = db.GetCollection<Customer>("customers");

        // Create your new customer instance
        var customer = new Customer
          {

[2016-08-06 12:59] mbdavid commented on #252
Hi @nmfpacheco, is you Customer class a public class (no inner class) with a public constructor with no parameter?

[2016-08-06 13:01] mbdavid commented on #250
Hi @haricharan123, is you class has more than 20 inner objects? This limit was implemented to avoid circular references. Is not that case?

At now, there is no way to change this value, only changing in LiteDB source: https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Serializer/Mapper/BsonMapper.cs#L22

[2016-08-06 13:02] #246 closed

[2016-08-06 13:04] mbdavid commented on #243
I recommend to you transform your data_list in an `List<T>` before loop.

[2016-08-06 13:09] mbdavid commented on #251
Hi @yetanotherchris, there is no build-in `KeyValuePair` or `Timespan` implemented. But this classes are very common, so I will add a custom mapper for both. Will be avaiable in next release

[2016-08-06 13:55] nmfpacheco commented on #252
Hi @mbdavid ,
You are right. Customer class was a inner class.... It is solved now, Thanks!!!

[2016-08-06 23:12] falahati opened #253 "diskdump command raises exception"
Hey,

Well I don't know about the version 1.x but in version 2.0 when trying to use LiteDatabase.Run("diskdump"), it raises a "System.NullReferenceException" exception at PageBase.ReadPage() method.

I believe that return value of this command should be a string that can be used to be imported later on. Am I right? I mean for migration, etc.

[2016-08-06 23:36] falahati commented on #253
seems similar to #249

[2016-08-07 08:56] baSSiLL opened #254 "Support for non-public entity types"
Sometimes it is not convenient to have a public entity type. Maybe this was discussed before and there is a strong reason for not providing that option. Or I simply do not see an existing straightforward way to accomplish this. But I could not find any discussion on this topic.

Of course, this problem can be solved with custom mapping. However, it's quite a bit of unnecessary work to write a full

[2016-08-07 12:08] mbdavid commented on #254
Hi @baSSiLL, LiteDB support Factory for class intances. If you are using .NET 3.5 version of LiteDB you are using EmitReflectionHandler. This Emit I doesnt not support (as I know) internal classes. You can try ExpressionReflectionHandler as factory. I assume that this factory as not fast as Emit, but more flexible.

You must implement a custom ILitePlatform (take a look on https://github.com/mbdav

[2016-08-07 12:11] mbdavid commented on #253
Hi @falahati, can be a bug on diskdump. But, diskdump are for for export/import data. DiskDump are dump data pages do output, it's just to debug/analyse datafile. To DUMP you must use LiteShell, a tool included in github/releases

[2016-08-07 13:41] baSSiLL commented on #254
Thanks, I'll look into this. I suppose I'll make that closer to my suggestion - by registering factory methods for specific types in my custom implementation of **IReflectionHandler**.

[2016-08-07 13:55] baSSiLL opened #255 "BsonValue: implicit cast and constructor produce different results for null strings"
**BsonValue** created with constructor from **null** string has BSON type **Null**. When converting **null** string to **BsonValue** with implicit cast operator, the result is of type **String** with **RawValue** set to **null**. The latter value is not handled properly by serialization code resulting in **ArgumentNullException** in **Encoding.GetBytes**, because there is no check for **null** in

[2016-08-07 14:05] mbdavid commented on #255
Hi @baSSiLL, you right, is missing null check in all implicit constructors. It's here:

https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Document/BsonValue.cs#L358

I will fix this using some constructor in operator.

[2016-08-07 16:13] emrys90 opened #256 "Auto id after deleting a document"
It seems that if you delete a document, the next auto id is the id of the deleted document. This can lead to issues if there's a place you forget to delete a linked document based on id.

[2016-08-07 21:38] falahati commented on #253
I see; well then I need to browse the source code of main shell. Nonetheless, I believe this is still a bug.

[2016-08-07 23:29] falahati opened #257 "Detecting Database version 1.0.4"
Hi,
I was trying to add a simple logic to warn users when opening databases created by version 1.0.4 for LiteDBViewer, that I found a problem with the piece of code in LiteDB.Shell

It seems that when checking for detection of DB files created by LiteDB1.0.4 it checks the 45's byte of header. But this byte is incorrect for LiteDB1.0.4 files. I found that the next byte seems more relevant. I am not

[2016-08-08 00:36] falahati opened #258 "Migration is impossible for now"
Hey again,

Well after some tries I ended up with the conclusion that currently there is no reliable and up to date way to convert database files from v1.0.4 and specially 2.0.0-rc2

I tried released v2.0.0 final version, compiled v2.0.0rc2, released v2.0.0rc, released v2.0.0beta and even released final v1.0.4.

Only successful story was with LiteDBv2.0.0rc binaries and a LiteDB v1.0.4 database.
A

[2016-08-08 01:18] falahati opened #259 "Unexpected exceptions raised when working with a protected database but without password"
Well this is more or less a bug, but can be categorized at a feature request as well.
Problem is that we can detect if the provided password is incorrect for a database, but there is no way to detect if a database is protected in first place or not.

I strongly believe that the `LiteDatabase` constructor or its methods (or at least header loader or page reader) (in case of lazy loading) should rai

[2016-08-08 01:25] falahati opened #260 "Better string manipulation by ConnectionString class"
4th issue so far I believe in same day :)

Any way, currently ConnectionString class splits the passed string using the '=' and ';' characters which mean that this two characters can not be used as the password of database or even in the path of the database file. But then, both '=' and ';' are valid path characters in Windows. In fact, you cant be sure which character is valid and which one is no

[2016-08-08 09:32] mbdavid commented on #260
Hi @falahati, yes, you right. I will fix this using regex, thanks.

[2016-08-08 09:36] mbdavid commented on #259
Uhm... I will do a check in DiskFile in datafile has password... so I can throw "Wrong password"

[2016-08-08 09:43] mbdavid commented on #258
Hi @falahati, I made a big mistake when change file version position between versions. To be honest, I thouth no one are using and dont care about new version if you app are running with a old version.

To check file version, you must get string "** This is a LiteDB file **" that are in all version in different positions and then get next 1 byte to get file version.

About dumping problem, I will

[2016-08-08 12:08] falahati commented on #259
Can be closed now then,

[2016-08-08 12:08] #259 closed

[2016-08-08 12:21] falahati commented on #257
Closing, as solved by @mbdavid

[2016-08-08 12:21] #257 closed

[2016-08-08 15:18] falahati commented on #253
Should be closed

[2016-08-08 15:18] #253 closed

[2016-08-11 14:58] peters opened #267 "Exception thrown: Cannot cast EmptyPage to ExtendPage"
This crash occured when attempting to insert a document on LiteDB 2.0 (latest version). I didn't have a PDB available at that time but I do now so I'll post a proper stacktrace and maybe provide a repro next time the program crashes.

[code]

/cc @mbdavid

[2016-08-11 19:55] henon opened #268 "collection.Sum(predicate)"
How difficult is it to implement a Sum implementation on BSON document level for summing up numeric fields?

[2016-08-11 20:02] mbdavid commented on #268
It´s not too hard.

LiteCollection must have a `FindKey(Query)` that returns an `IEnumerable<BsonValue>` from indexes keys. With this you can run any aggregation function.

[2016-08-11 20:29] henon commented on #268
nice, that is even better

[2016-08-12 02:48] sun1991 opened #269 "Feature Request: Add a method to fetch value from index"
See code:

[code]

Line `var names = posLines.FindAll().Select(p => p.Name).ToList();` did a full table scan in order to get a list of Name. It's not ideal, it's better if we can build an index on p.Name then fetch all or part of indexed values from it directly.

In SQL term, it called "Covering Index",  I think it is a useful feature.

[2016-08-12 05:23] lidanger opened #270 "Why string end with "\r\n" be trimmed?"
I found this in a project.For 2 days, I can't find the problem.
The test code:

    p = new Person
	{
		Name = "张立",
		Age = 31,
		Sex = 1,
		Description = "一个软件工程师\r\n"
	};

	Console.WriteLine("name:{0}", p.Name);
	Console.WriteLine("age:{0}", p.Age);
	Console.WriteLine("sex:{0}", p.Sex);
	Console.WriteLine("description:{0}", p.Description);

	using (var conn = new LiteDB.LiteDatabase("test3.db")

[2016-08-12 13:19] mbdavid commented on #270
Hi @lidanger, It´s a default in BsonMapper. Try:

`BsonMapper.Global.TrimWhitespace = false;`

[2016-08-12 13:24] mbdavid commented on #269
Hi @sun1991, yesterday an issue was opened with same propose: #268  - I will merge both in a sigle issue

[2016-08-12 13:25] mbdavid commented on #268
Merging with #269

[2016-08-12 13:25] #268 closed

[2016-08-12 13:39] mbdavid commented on #267
Hi @peters, have you have this datafile to check? Can you reproduce this problem? It´s seans corrupted datafile

[2016-08-12 14:01] lidanger commented on #270
all right

[2016-08-12 14:01] #270 closed

[2016-08-12 14:44] henon opened #271 "query with order"
Hey, the documentation is really good but after having read it all I still wonder how to query  collections in a specific order efficiently.
Limiting a query mostly only makes sense if you can specify the order. For instance I want to limit my query to get the first 100 docs or the last hundred of a collection according to a query. I can currently apply .OrderByDescending(x=>x.Id) on a query resul

[2016-08-12 14:51] mbdavid commented on #271
When you query in a collection using an index, you are using an order (index order). So, this is used to limit/skip.

LiteDB implements `skip list` indexes. So you query `Query.EQ("Age", 12)` database will search using Age index, that are in order asc (or desc, if you want).

[2016-08-12 14:53] henon commented on #271
Thanks! I got it.

[2016-08-12 15:01] henon commented on #271
How do I configure the index order i.e. to Descending ?

[2016-08-12 15:52] mbdavid commented on #271
Query with Desc order only when all rows are selected:

`Query.All(Query.Descending)` (desc by _id index)
`Query.All("Name", Query.Descending)` (desc by Name index)

All others cases are not supported (or even has no sense, like Equals)

[2016-08-12 19:26] henon commented on #271
Cool. Since this was not intuitive to me, I allowed myself to extend the docu on page Queries with the following example. Correct me if I am wrong.

// find top 100 oldest persons aged between 20 and 30
var results = collection.Find(Query.And(Query.All(Query.Descending), Query.Between("Age", 20, 30)), limit:100);

[2016-08-13 18:52] henon opened #272 "InvalidCastExceptions are very hard to debug"
`********************************************************************************
## InvalidCastException: "Specified cast is not valid."

[code]

********************************************************************************`

the exception should be catched, evaluated what can not be casted to what and in which document, then rethrown with that info.

[2016-08-15 12:52] shai-benshimol opened #273 "Drop collection bug?"
Db file size remains the same Before and after i dropped collection

[2016-08-15 12:56] mbdavid commented on #273
Hi @shai-benshimol, It´s normal. All empty space will be reused in next insert documents. If you want reduce file size, use shrink() [this operation has a bug in current nuget version - use master branch source]

[2016-08-15 22:35] AugustoDeveloper opened #274 "Error on insert in collection"
Not is possible convert a object from type 'LiteDB.EmptyPage' on type 'LiteDB.HeaderPage'.

[2016-08-18 10:31] toimransyed opened #275 "LiteDB as in-process caching"
Hi @mbdavid,
Can we use for in-process caching?. Can we use same instance across multiple threads for concurrent reads?.

Thanks,
Imran.

[2016-08-18 11:04] tjmoore opened #276 "No release note for 1.05 available via NuGet"
There is a 1.05 version available in NuGet but no release notes.

What are the changes between 1.04 and 1.05 and are there any breaking changes?

[2016-08-18 12:15] mbdavid commented on #276
Hi @tjmoore, I forgot to make this release notes here in github. But 1.0.5 it´s just minor bugfixes from 1.0.4 and has no break changes

[2016-08-18 12:17] mbdavid commented on #275
For now, no. Current version of litefb are not thread safe, so you must open/close LiteDatabase instance. LiteDB supports concurrent open instances.

I´m working on dev branch to complete change this: single instance supporting multi thread and no concurrent instances open same file.

[2016-08-18 12:19] mbdavid commented on #274
This error occurs in a specific datafile? Is this datafile in same version of Litedb dll?

[2016-08-18 12:20] mbdavid commented on #272
I will take a look on that to write better error exception

[2016-08-18 12:27] tjmoore opened #277 "UnauthorizedAccessException raised in 1.03 on RecoveryService.OpenExclusiveFile"
We have had an instance of this exception occurring during construction of the LiteDatabase object. It appears to go into RecoveryService.OpenExclusiveFile but gets an access denied on the 'journal' file. It's apparently hard to reproduce (raised by our testers).

All our calls to LiteDb are based on creating an instance of LiteDatabase, performing operations and disposing the instance and all wra

[2016-08-18 12:32] mbdavid commented on #277
Is journal file exists? Or LiteDB can´t check this file because there are no permissions?

[2016-08-18 13:18] henon commented on #272
If it saves you trouble, you can take a look at my patch here:

https://github.com/henon/LiteDB/commit/8424975c6efcdab42925714d90159be7241c82bf

[2016-08-18 13:23] henon commented on #275
Hey @mbdavid,
As it is now, it is very practical for multiple processes to share one db file. Are you going to leave this option or not?

[2016-08-18 14:03] tjmoore commented on #277
Unfortunately it's only occurred the once and raised by one of our testers. The file isn't there currently and our application is operating normally. I checked the permissions for the folder and it looks okay. Our application runs as administrator anyway and has full access. As I mentioned it can access the database.db file okay.

[2016-08-19 00:36] mbdavid commented on #275
Hi @henon, that the idea. For now, LiteDB supports multi process access but no multi thread. Works fine but have a lot of problem with that: it's quite slow (open/close file all times), concurreny fails (corrupting datafile), no cache support....
Using a single instance database I will open once (in exclusive mode), no other instances can access (so, no corrupt datafile), use `lock` operations to

[2016-08-19 00:38] mbdavid commented on #272
nice code @henon, please, create a pull request to master, I will merge this weekend for 2.0.1 version

[2016-08-19 05:23] henon commented on #272
I could, but since I can't compile C#6 I had first to change two or three other things. I created the pull request and also formatted just the one commit as patch attached. You decide which to use.

[0001-in-BsonMapper-generate-meaningful-error-info-on-cast.patch.txt](https://github.com/mbdavid/LiteDB/files/426348/0001-in-BsonMapper-generate-meaningful-error-info-on-cast.patch.txt)

PS: Thanks for

[2016-08-22 04:00] shai-benshimol opened #279 "syntax error"
In QueryVisitor class line 143

var enumType =  (left as UnaryExpression)?.Operand.Type;

Throw exeption syntax error and Operand not found

[2016-08-22 07:07] prashantkhandelwal opened #280 ".NET Core support"
Is there any plan for getting this library working with .NET Core?

[2016-08-22 18:42] goluda commented on #280
Hi I also ask for it

[2016-08-22 19:37] nerai commented on #275
Hi @mbdavid, just to make sure I've understood you correctly: Let's say I've got one process with two threads. Both threads create a new, private instance of LiteDatabase for themselves. Is that a supported scenario?

[2016-08-22 21:49] mbdavid commented on #280
Hi @prashantkhandelwal and @goluda, current version do not support .NET Core, but it's on plans, like you can see here: https://github.com/mbdavid/LiteDB/issues/219

Next major version will be full netstandard 1.3 (that are .NET Core support)

[2016-08-22 21:52] mbdavid commented on #256
Hi @emrys90, sorry for delay. This happends because I didn't store last ID used. So, the easy wasy is get from _id index last ID and +1. But, you can implement you own AutoId function (storing last used ID) or (more recommended) is use ObjectId

[2016-08-22 21:52] #243 closed

[2016-08-22 21:52] #247 closed

[2016-08-22 21:53] #250 closed

[2016-08-22 21:53] #252 closed

[2016-08-22 21:53] #254 closed

[2016-08-22 21:57] mbdavid commented on #271
Hi @henon, sorry for a long delay. This way not works. If you wants this order, you must OrderBy using linq.

`collection.Find(Query.Between("Age", 20, 30)).OrderBy(x => x.Age).Take(10);`

The "hard" query part are executed using index (finding all 20-30 yo). Linq will order and limit to 10.

[2016-08-22 21:57] #271 closed

[2016-08-22 21:57] #273 closed

[2016-08-22 22:02] mbdavid commented on #275
Hi @nerai, current version support this way: One process, two thread, each thread open/close datafile using `using(...)` statment. Do not share LiteDatabase instance across multiple threads.

In next major version will be "thread-safe". One process, ONE single LiteDatabase instance, MANY threads using same LiteDatabase instance (this way is much more simple to controls over current implementation

[2016-08-22 22:02] #276 closed

[2016-08-22 22:03] #217 closed

[2016-08-22 22:10] #249 closed

[2016-08-23 05:39] falahati commented on #260
Solved. Thanks

[2016-08-23 05:39] #260 closed

[2016-08-23 10:10] ChrisCross67 opened #281 "Can access to the database even if encrypted ..."
Hi @mbdavid ,

I've tested your EncryptedTest file, you’ve tried to open an encrypted file with a wrong password and it has failed (we are agree with that) but if you try to open a protected file with an empty password this should not work but it does.

Could you please try to take a look on this issue.
Thanks for this great library !!!

[2016-08-23 11:03] ChrisCross67 commented on #281
Ok, I'm sorry, it's corrected on version 2.0.1

[2016-08-23 11:03] #281 closed

[2016-08-23 15:10] prashantkhandelwal commented on #280
Hi @mbdavid, thanks for the update. Will look forward for the next major release. :)

[2016-08-23 15:10] #280 closed

[2016-08-23 19:42] Workshop2 commented on #275
@mbdavid when would this version be available?

[2016-08-23 23:27] mbdavid commented on #275
Hi @Workshop2, no plans yet. I need think about this before start coding. I organizing source code yet, to be more modular and be simple to mantain.

[2016-08-24 09:05] chithanh12 opened #284 "Can't create database if the File Path contains blank space!"
I have an issue with the connection string. If the file path contains the space we will get the error. "An unhandled exception of type 'System.ArgumentNullException' occurred in LiteDB.dll".
It is ok if the path doesn't contain blank space.

For example:
Error case:

Success case:

[2016-08-24 12:15] mbdavid commented on #284
Maybe was last connection string commit. For now, try ("filename=c:\temp path\file.db"). I will fix this week

[2016-08-24 17:09] MariusVolkhart opened #285 "ConnectionString documentation is out of sync"
The documentation suggests that connection strings should be built as `"Name1=Value1; Name2=Value2;"`.

I found this to be incorrect.

Given the connection string `"filename=\"path/to/file\"; password=test;"`
I get a `ConnectionString` object that has 3 entries in`_values`.

Given the connection string `"filename=\"path/to/file\"password=test;"`
I get a `ConnectionString` object that has 2 entries

[2016-08-24 17:10] MariusVolkhart commented on #285
Using version 2.0.1 on Window

[2016-08-24 22:47] icelty opened #286 "Insert into collection with multiple threads"
Getting  {"Invalid transaction on top of stack"} in private void popTopTransaction(LiteTransaction trans)

There is no auto id, I generate GUID strings for each inserted element.

[2016-08-24 22:51] icelty commented on #286
also getting {"Unable to cast object of type 'LiteDB.IndexPage' to type 'LiteDB.CollectionPage'."}

and so many exceptions, definitely going back to 1.0.4

[2016-08-24 22:53] icelty commented on #284
I found the same issue, and can't get rid of it unless I revert back to pre-regex commit. I tried all reg-ex commits and they all have the same problem.

[2016-08-25 00:06] mbdavid commented on #286
Hi @icelty, either 1.x and 2.x are not thread safe. AutoId is present in v2.0 release, including for Guid (https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Serializer/Mapper/BsonMapper.cs#L90)

I'm updating to 2.0.2 to fix connection string parser

[2016-08-25 00:08] mbdavid commented on #286
Only new v3 version will be thread-safe... but still in dev for a while

[2016-08-25 00:09] mbdavid commented on #285
Hi @MariusVolkhart, 2.0.1 had a bug that was fixed in this 2.0.2 version.

[2016-08-25 00:11] mbdavid commented on #279
This line code was changed in master branch. Can you test again?

[2016-08-25 02:53] icelty commented on #286
@mbdavid , thanks for the tip, it may have been that I never happen to reach a raise condition with 1.0.4, also I was instantiating LightDatabase only when needed disposing it immediately after. I happen to changed that model just recently along with the upgrade to 2.0.1 where now is a singleton :(, thanks for the information I can wait for 3.0 then!

[2016-08-25 04:55] henon commented on #271
sorry to open this up again, but I did try this out before I posted, so I am curious why you say it does not work. was I lucky and got the correct result? what is wrong with the way I built the query? I just want to understand.

[2016-08-25 19:25] emrys90 opened #287 "Feature request: PostLoadInterface for model classes"
It would be nice to have an interface that a class can implement that contains a Load method. That method would get called after all the properties are set when reading a record from the database. This lets us do any processing after a model gets created for runtime data that does not get stored in the database. Normally you would use a constructor for things like this, but we can't in this case s

[2016-08-26 07:29] hopix opened #288 ".net core 1.0 support"
Any plans to support target platform [netstandard and netcoreapp](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md)? To allow use of LiteDB from .NET Core 1.0 library or app.
With existing LiteDB support for PCL should not be difficult.

[2016-08-26 13:11] mbdavid commented on #271
Hi @henon, you right. Your code is correct. Query.And use Except Linq operation. So, when you findAll using Age index, your NodeIndex returns in Age desc order.

[2016-08-26 13:12] mbdavid commented on #288
Hi @hopix, take a look in #280

[2016-08-26 13:12] #288 closed

[2016-08-26 13:23] mbdavid commented on #287
Hi @emrys90, serialization/deserialization from/to POCO class to BsonDocument has a lot feature request. I'm organizing source, in next version, to this operation is an "external" plugin using interfaces.

[2016-08-26 14:29] icelty commented on #284
This issue seams to have been fixed with 2.0.2

[2016-08-26 14:32] icelty commented on #286
For the googling eyes, the work around thread safety is to have a regular lock, what I did was, wrote a small wrapper around all queries, and lock(LiteDatabaseInstance), is not ideal but if you are in a hurry, is not a supper expensive tech debt to have.

[2016-08-26 21:18] emrys90 opened #289 "Why do you try and write getters only to the db?"
Just wondering what benefit there is to trying to write a property that only has a getter to the database? Usually if it's just a getter then it's probably doing some calculation/lookup that you wouldn't want saved, and since it can't set the property without a setter, just curious why it's like that?

[2016-08-27 17:37] falahati commented on #285
Hey @mbdavid, Should I investigate this problem to fix and request the regex changes again?

[2016-08-29 11:52] shai-benshimol opened #290 "contains words"
Hii,

I need query for searching words in description.

[2016-08-30 00:17] mbdavid commented on #290
Hi @shai-benshimol, if you need contains query, there is no index used. So, just do

`col.FindAll().Where(x => x.Name.Contains("john")).ToList()`

[2016-08-30 18:08] stefandevo opened #291 "Performance comparison"
Hi,
Came across this repo while looking for a good x-platform alternative to Sqlite. The 1 million dollar questions is, how well does it perform compared to Sqlite. Do you have any benchmarks?

[2016-08-31 08:47] MariusVolkhart opened #292 "FindOne within a transaction erases previous inserts"
# Summary

We observed a bug where calling `LiteCollection#FindOne(Query)` within a transaction causes previous insert operations to not be committed.
## Step to reproduce
1. Create a new instance of `LiteDatabase`. This can be on the file system or in-memory.
2. Begin a transaction by calling `LiteDatabase#BeginTrans()`
3. Insert a document into a collection by calling `LiteCollection#Insert(Bson

[2016-08-31 09:38] LiamKenneth commented on #286
@icelty do you have an example of the locking the DBInstance? I want to use this in my signalr project which uses a lot of async methods so don't want to run into the same issues. Also am I right in thinking theLiteDB just sits in my project folder and auto magically works like MongoDB?

[2016-08-31 23:17] mbdavid commented on #291
Hi @stefandevo, it's hard to compare two diferent kind of databases using different tecnologies. When I starts LiteDB best performance ever was my goal. I saves any possible byte, any possible loop. Compares many way of do same thing. I do a performance test with MongoDB in another repo (https://github.com/mbdavid/LiteDB-Benchmark).

But, after a  while, I re-think this and change my focus: today

[2016-08-31 23:28] mbdavid commented on #292
Hi @MariusVolkhart, thanks for this detail information. I will made all tests do understand whats going wrong.

[2016-09-02 05:54] shahromil88 opened #294 "Xamarin ios integration build error"
Hi,

I want to integrate LiteDB into Xamarin app containing ios & android platform. I have downloaded the source code of LiteDB and given reference of LiteDB.Core.dll into PCL library. However, when I build the source code for xamarin ios it gives below error:

**Error	:**
Failed to resolve "System.Int32 System.Runtime.InteropServices.Marshal::GetHRForException(System.Exception)" reference from "S

[2016-09-03 22:41] mbdavid commented on #285
Hi @falahati, I'm a bit out of LiteDB last days. I'd reverted you last commit about connection string because there are some problems. I think you can try use `StringScanner` to read string connection.

[2016-09-04 14:12] shakram02 commented on #20
@mbdavid  Hey, I want to add something like this, it came across while I was playing with liteDb

[code]
What do you think about it ?
I sort of have a conceptual idea of what I should do and I'm willing to contribute to this awesome project, how can I contact you -in case some of the code gets me stuck-?
Thanks,

[2016-09-06 00:28] izackp opened #295 "Endianness for BSON serialization"
I noticed that there isn't any endian conversion on reading or writing binary data. This maybe a problem if anyone were to transfer their database from a computer with one endianness to a computer with another endianness.

If they used anything besides char or single byte values then they would be reversed upon reading the data. I would recommend storing all data in one format (little endian or bi

[2016-09-06 00:51] izackp commented on #295
Whoops, I'm using an outdated version of litedb. Looks like you're using bitconverter which automatically handles this.

[2016-09-06 00:51] #295 closed

[2016-09-06 01:36] izackp commented on #20
@negue
look at my fork of litedb. Specifically:

[2016-09-06 06:53] tgiachi opened #296 "[Question] Dynamic mapping with DbRef"
Hi!
Is possibile use attribute on Property for make automatic dbRef mapping?

Thank you!

[2016-09-06 09:50] baSSiLL opened #297 "Shrink corrupts encrypted database"
Shrink on encrypted database corrupts its state. Subsequent operations throw **LiteDB.LiteException: Invalid database password** with the stack:

[code]

The error occurs both in the last Nuget package and sources from the master branch.

Test to reproduce:

[code]

[2016-09-06 12:22] mbdavid commented on #297
Hi @baSSiLL, thnaks. I know this bug, but I didnt fix yet. I is missing implement, in EncryptionDisk, the GetTempFile with password. I will add this in my todo.

[2016-09-06 12:25] mbdavid commented on #296
Hi @tgiachi, unfortunately no. I tried to do this, but I had no context when using attributes. DbRef is a simple layer between data deserializer in BsonMapper. I will mark this as enchancement to try do this again in future.

[2016-09-06 12:30] mbdavid commented on #294
Hi @shahromil88, did you reference LiteDB.Core and specific LiteDB.Platform for iOS? LiteDB.Core is a same dll for all platforms, but need a specific LiteDB.Platform.dll that changes in each platform.

[2016-09-06 12:36] mbdavid commented on #20
Hi @shakram02, nice code. My plans is suppor some like that, using BsonDocument inherit IDictionary to use:
[code]

This is the some that MongoDB api uses. But support Linq using BsonDocument is a little bit more difficult.

[2016-09-06 12:40] mbdavid commented on #295
Hi @izackp, yes and no. Current version uses both implementations: BitConverter and `unsafe` mode. This is because I did some performance tests and unsafe are faster than BitConverter (a tiny better)... In my dev branch I'm re-writing some conecepts about LiteDB and I try to modulate and be more simple as possible (in this case, use only BitConverter).

[2016-09-06 12:52] shahromil88 commented on #294
Hi @mbdavid, I think it is my mistake in assigning references to my project. It is working fine now.

Thank you for the prompt response.

[2016-09-06 12:52] #294 closed

[2016-09-06 12:53] tgiachi commented on #296
thank you 😄 !

Continue develop, you did great job!,

[2016-09-07 11:44] MariusVolkhart commented on #292
I have additional information. The same bug is present when using `LiteCollection#Find(Query)`, but not `LiteCollection#FindAll()`

[2016-09-08 13:11] shakram02 commented on #20
Yes, I dug in the code, and realized that I have to make a new query class that will query the keys first and then find the desired property from the keys

[2016-09-09 14:34] skdenmark opened #298 "Compression"
Hi

Does LiteDB support any form of compression?

[2016-09-09 22:29] sgrassie commented on #219
I know this issue is closed, but: For the last couple of hours I've been working on implementing my own `ILitePlatform` implementation in an Asp.Net Core app that I'm working on, and I've just got everything in place.

I got the Emit stuff to compile. @yetanotherchris it looks like you were missing `"System.Reflection.Emit.ILGeneration": "4.0.1"`
Also `type.IsClass` is now `type.GetTypeInfo().IsCl

[2016-09-10 18:40] DerKnerd opened #299 "LiteDB not working with ASP.net core"
Could you create a LiteDBPlatform for ASP.net core? I would love to use it but don't want to write this part myself.

[2016-09-10 20:15] WattsC-90 opened #300 "UAP/Pi Compatibility"
Hi,
Any luck releasing a nuget package for UAP compatibility? there were some performance issues/memory leaks when szurgot made the changes in a pull request a few months ago (i think, from memory..) just wondered if it was any further along fixing/releasing it yet?

Thanks!
Chris

[2016-09-12 09:34] baSSiLL opened #301 "Transaction cancelled when index does not exist"
If there is a query inside a transaction, and index on the field is not created yet, then after query executes transaction is in the **Canceled** state.

That happens because when there is no index, **IndexNotFoundException** is thrown first, and inner transaction in **DbEngine.Find** is rolled back (and outer transaction cancelled). Upper in the stack exception get caught and index created, and q

[2016-09-13 10:51] mbdavid commented on #298
Hi @skdenmark, not in current version.  Compression data is easy to implement, but cheap to compress/decompress on each read/write in database. Performance will be degraded.

[2016-09-13 10:53] mbdavid commented on #219
Hi @sgrassie, did you do Platform Asp.Net core works? Do you want request a PL? I'm stat working in dev branch to next v3 will be .netstandard 1.4 compatible.

[2016-09-13 10:55] mbdavid commented on #300
Hi Chris, this memory leaks is in current version? I didn´t do any change after @szurgot change UWP platform.

[2016-09-13 10:55] sgrassie commented on #219
I can pull the stuff I've done out and send a PR through, I will sort it
out in the next couple of days.

On Tue, 13 Sep 2016, 11:53 Mauricio David, <notifications@github.com> wrote:

[2016-09-13 10:56] mbdavid commented on #299
Hi @DerKnerd, take a look on this thread #219

[2016-09-13 10:56] #299 closed

[2016-09-13 11:07] mbdavid commented on #301
Hi @baSSiLL, I will try to take a look on this. I'm out of time for last days. Transactions will be die :) To be thread safe, next version will not support transactions (ACID will be only in document level).

[2016-09-13 11:10] sherry-ummen commented on #301
Yeah I have been wanting this for long. Finally you are pulling the plug :)

[2016-09-13 12:02] baSSiLL commented on #301
Hm. I was sure you've made decision in favor of transactions. Because I saw they appeared back in 2.0.0-rc2 after being removed in 2.0.0-alpha.
Please clarify what thread safety you mean here. Using aingle LiteDatabase object from different threads? Using same database file from different threads?

[2016-09-13 12:14] mbdavid commented on #301
Hi @baSSiLL, I tried to remove in v2 alpha/beta version, but added again in final release (removing thread safe).
Thread safe will be support a single LiteDatabase instance for many threads consuming data. This is better than use current `using` statement - which open/close datafile (and journal file) each use. Using thread safe I can manage concurrency locks using `lock` statement (to avoid two w

[2016-09-13 12:23] sherry-ummen commented on #301
Does it mean with removing the Transaction you will also remove the possibly of multiple concurrency?

[2016-09-13 13:07] mbdavid commented on #301
@sherry-ummen, no. Concurrency now is "file-lock" based. In next version, will be based in .NET `lock` statement (because will be same instance). My very first example is here (still using new `LiteEngine`):

https://github.com/mbdavid/LiteDB/blob/dev/LiteDB.Tests/Tests/EngineTest.cs#L38

[2016-09-13 13:39] sherry-ummen commented on #301
Hmm if u remove file lock based then how will it work in case multiple process share the same database? Will it lead to some inconsistent state?

[2016-09-13 13:44] mbdavid commented on #301
LiteDB will not remove complete file lock. File will be open in ReadWrite mode and ReadShare only. When a second instance try open datafile that will be opened, file lock will block this second connection. Will release to connect only when first instance close datafile. This is the same solution that LiteDB uses today, but will not be recommended anymore.

[2016-09-13 13:45] sherry-ummen commented on #301
When you say will not be recommended, I am curious to know the reasons. Thanks

[2016-09-13 13:50] mbdavid commented on #301
Simple, because will be more efficient works with a single instance. Single instance will open datafile once, will open journal file once too. Single instance can keep, in cache, loaded pages to fast results. It´s works like a server database, when you have a single process managing cache/files (in LiteDB will be a single instance).

[2016-09-13 13:53] sherry-ummen commented on #301
Ok I did not understand how you can have single instance shared between processes? Sorry I kind of lost now. Please explain

[2016-09-13 13:58] mbdavid commented on #301
You will not have some instance across processes. When you have an app that has multiples processes that can access same datafile, you still using same `using` statement. This will not change. Concurrency will be supported by locking data file.

But, when you have a single process app (like website, mobile or desktop app) will be better use single instance. No file lock, only .NET internal lock im

[2016-09-13 14:00] sherry-ummen commented on #301
All clear. I understand now. Thanks for clearing this up

[2016-09-13 18:36] henon commented on #301
I don't know how you plan to do this, just want to say that the file lock would be a very bad thing if it blocks the thread. It causes the second process to block until the first process releases the file lock. This is how it currently is with DBLite (and I mean DBLite not LiteDB). I would suggest that you allow the file lock to be awaited using async and allow a timeout to be specified. That way

[2016-09-13 19:58] mbdavid commented on #301
Hi @henon. In v1 I used `FileStream.Lock` and `Unlock` methods to control concurrency. Using a simple "while timeout, try lock". Locks are only during write operations.
In v2, I changed this lock for open data file in write exclusive when write operations. Datafile now are released after each operation.

Both ways causes some problem: concurrency are based in lock file. Almost all time are spend o

[2016-09-16 08:54] ldubrois commented on #280
Hi @mbdavid, I'm also really interested in the .net core support.
We want our product to support .net core but we are using your awesome DB for one our components.

Do you have an idea of when the next major version supporting .net core will be available ?

Thanks

[2016-09-16 11:25] mbdavid commented on #280
Hi @ldubrois, thanks for using LiteDB. Next version will be take a long time, at least 2 or 3 months. I'm currently in another project so left me little time.

[2016-09-16 15:59] vfabregat commented on #219
While we wait the sgrassie pull request I did a rapid implementation. If anyone need it you can check it [here](https://gist.github.com/vfabregat/f11c733f574bbb8b799d1c202a16fe09)

Regards.

[2016-09-16 16:35] sgrassie commented on #219
I've not had time to put together a PR, and at the moment it will probably
be next week before I can. The contents of that gist look pretty similar to
what I have written.

On Fri, 16 Sep 2016, 17:00 Victor, <notifications@github.com> wrote:

[2016-09-17 09:46] nerai opened #304 "Index options of PK is silently ignored"
I use version 2.0.2 and would like to use a PK of type `string`, case _sensitive_. I tried this:

[code]

However, I found that the PK is still case _insensitive_. In fact, Reflection.cs has this in  line 122:

[code]

The created model differs from what the user expected. For this reason, the index should not be ignored silently, an exception should be thrown.

However, why is the index being ign

[2016-09-17 10:15] nerai opened #305 "Should comparisons be strict or relaxed?"
Currently, by default, comparisons on strings are very lenient:

[code]

I believe it should be strict by default:

[code]

I believe this is also preferable in general, [because it is _expected_ by most users](https://en.wikipedia.org/wiki/Principle_of_least_astonishment). The reasons for this are that it is more simple ('binary' vs. 'unicode', so to speak) and simple things are more expected tha

[2016-09-18 12:36] mbdavid commented on #305
Hi @nerai, you right and I'm revision this index options. When I made this defaults, it's was my personal use and never revised again. I'm changing in dev branch, but will changed only in new major version (when I update all wiki documents).

I'm thinikng in remove all index options (keep only unique and ignore case). `TrimWhitespace` and `EmptyStringToNull` will be kepped in `BsonMapper`, so ther

[2016-09-18 18:08] nerai commented on #305
That sounds lovely, thank you. Good solution.

[2016-09-18 18:27] nerai commented on #291
@stefandevo I can only speak from limited personal experience. I used several LiteDB and System.Data.Sqlite databases in the 10 - 100 GB range without table references and few indices (PK and 1-2 more). Use case was 95% lookup, 4% insert, 1% delete. Obviously, everything was done in bulk in a transaction. At most two processes (mixed reader/writer). WAL active and no lessened integrity options. So

[2016-09-18 21:28] mbdavid commented on #304
Hi @nerai, i'm reviewing this all day and read more in MongoDB too. In MongoDB, there is transform option like this (only now, in 3.2 supports ignoreCase). As I mention in #305, I beleave that I will remove all king of index options (keeping only unique option). Any transform can be do it using virtual field or `get only` field. How do you think?

[2016-09-18 21:30] mbdavid commented on #304
I forgot to say that today, `_id` index is created when collection are created, so it's not ease to get any index options. See here:

https://github.com/mbdavid/LiteDB/blob/master/LiteDB/DbEngine/Services/CollectionService.cs#L68

[2016-09-20 22:38] falahati commented on #285
Unfortunately, StringScanner is in LiteDB.Shell project and using it without moving it to the main project is impossible. So I wrote a simple yet short code to handle the connection string, this time without using regex. See if it works in all cases and then merge:
#306

Also. Still waiting for mentioning LiteDBViewer project in documentation and website :)

[2016-09-21 08:30] nerai commented on #304
@mbdavid What you propose sounds fine to me.

[2016-09-21 11:31] UweKeim commented on #291
I did some naive tests using the example in the [Getting Started wiki](https://github.com/mbdavid/LiteDB/wiki/Getting-Started) to see how LiteDB compares to MS Access (mdb).

My test results:

[code]

So for my simple test/use case LiteDB is considerably faster than Microsoft Access.

Maybe @mbdavid can give a quick 👍 / 👎 whether my test results are something that looks reasonable?

[2016-09-21 12:49] seertenedos opened #307 "No LitePlatform for CoreClr"
When used in Asp.NET Core you can use the LiteDB.Core nuget package but can't do anything as you get an error about the LitePlatform not being initalised. There are no LitePlatforms compatible with CoreClr available to choose from.

Using dotnet netcoreapp1.0 with version 1.0.1 of Coreclr

[2016-09-21 16:16] sgrassie commented on #307
It's honestly not that much work to implement the necessary interfaces yourself. Also, see this pull request: #303; additionally, there are a number of closed issues regarding this already.

[2016-09-21 20:47] seertenedos commented on #307
Thanks.  You are right it is not a lot of changes if you do it in LiteDB but if done outside it for the core version you need to duplicate a lot of the files from the Platform folder. That said now that all the needed changes are in the pull request i can just copy over all the files as it was much fewer changes than i expected.

[2016-09-21 20:52] seertenedos commented on #307
Will it end up as part of the LiteDb.Core nuget or as a separate Nuget to add in?

[2016-09-23 17:55] MoamenMohamed opened #308 ".ToString() in Lambda Query for Collection.Find()"
I have a collection items when i query using a lambda expression with a .ToString() it cause an exception. For example:
` var y = items.Find(x => x.Year.ToString() == "1993");   // Year is int`
The exception is : **"Property 'Year.ToString(' was not mapped into BsonDocument"**

[2016-09-24 12:31] mbdavid commented on #308
Hi @MoamenMohamed, there is not index functions supports. If you want create an index based on a function returns, create a field like this:

[code]

And than use as `items.Find(x => x.YearString == "1993")`

[2016-09-24 12:34] mbdavid commented on #307
For current LiteDB v2 I will use pull request for support .NET Core (that requires LiteDB.Core.dll + LiteDB.Platform.dll). For next  v3 will be only LiteDB.Core (will be only .netstandard 1.4)

[2016-09-24 12:36] MoamenMohamed commented on #308
Thanks, that is exactly what i did.

[2016-09-24 12:39] mbdavid commented on #308
Just to know, next version will support virtual function field in BsonMapper, some like this:

`db.Entity<Customer>().Index("year-fn", (b) => b.Year.ToString());`

So, you query will be: `items.Find("year-fn", "1993")`

[2016-09-24 12:46] MoamenMohamed commented on #308
That is great, I really love using LiteDB.

[2016-09-24 12:47] #308 closed

[2016-09-24 16:43] kisc85 opened #309 "How to include properties of collection items?"
I try to implement an object hierarchy where `class A` has a property of type `List<B>`, and `class B` has a property of type `class C`. I also add a `DbRef` from `B` to `C`. When I try to query a collection of type `class A` I cannot create a `LiteCollection<A>` that somehow includes the "B.C" values. The only workaround I found is querying the `class A` instances first and loading all `class C`

[2016-09-24 16:54] mbdavid commented on #309
Hi @kisc85, `DbRef` support only basic document references. In your case, there is no built-in solution with `DbRef`. I'm writing next version and I will review this LiteDB dbrefs because it's a cool feature :) I will try implement this "in list" reference and deep include too like in #149

[2016-09-24 17:24] kisc85 commented on #309
Hi @mbdavid! Thanks for the quick answer and congratulations to the LiteDB project! :)

[2016-09-24 19:07] superware opened #310 ""Sequence contains no matching element" when querying Dictionary<string, object> documents"
Hello,

Please consider the following simple example:

[code]

Unfortunately collection.FindOne throws an InvalidOperationException "Sequence contains no matching element". Commenting out the "Array" key-value causes this example to run successfully.

Any ideas?

Thank you in advance!

[2016-09-24 19:15] mbdavid commented on #310
Hi @superware, thats a implicit convert problem. Try use: `{ "Array", new BsonArray(4, 3, 1} }`

[2016-09-24 19:26] superware commented on #310
Hi mbdavid,

Thank you for your prompt response.

Unfortunately, I have no control over the "document" properties, these entities know nothing about LiteDB. Why shouldn't an array map into an array of compatible type?

Thanks!

[2016-09-24 19:48] mbdavid commented on #310
I think are missing, in BsonValue(object value) ctor, tests for array or inner dictionary. I will made some tests in my dev branch

[2016-09-26 06:29] superware commented on #310
Ok, thanks!

[2016-09-28 09:48] buronix opened #311 "Question, Query for a element by its contained subdocument id"
Hey!!

First of all Great work are you doing, this is amazing!!

I have a question about queries, I have a struct like this:

product {id, blabla}

customer {id, products: [product1, product2, ...]}

So I want to query for a customer with a specific product id, how can I do it?.

Thanks in advance!!

[2016-09-28 16:19] AlexeiVasilenko opened #312 "Questions. Basic example Error Platform not initialized"
{LiteDB.PlatformNotInitializedException: LitePlatform not initialized.
   at LiteDB.LiteDatabase..ctor(String connectionString, BsonMapper mapper)

 on this line erorr -> using (var db = new LiteDatabase(@"C:\work\Solutions\MyData.db"))
                {
                    ...
                }

How can I initialize this platform?
Also I have another question, how can I get entries by second leve

[2016-09-28 16:22] AlexeiVasilenko commented on #311
Have same question)

[2016-09-28 16:29] superware commented on #310
Hi mbdavid, can this be easily fixed?

[2016-09-28 16:56] amgadfahmi commented on #311
[code]

Maybe this will help

https://github.com/mbdavid/LiteDB/wiki/DbRef

[2016-09-28 19:15] buronix commented on #311
`var customers= db.GetCollection<Customers>("customers");
var products = customers
    .Include(x => x.Products)
    .FindById(1);`

that will give me the customer with id 1, also, include work for get full item information of other collection, I only need to check with the id, which is included by default.

I don´t need to include all the data T_T, but thanks!!

Right now I can only get all the d

[2016-09-29 10:13] caverna commented on #311
Thumbs up for this request!
Entity framework works just like that: you can test a subitem property without "including" entire subitem to query...

[2016-09-29 13:03] mbdavid commented on #312
Hi @AlexeiVasilenko, take a look here for initialization

https://github.com/mbdavid/LiteDB/wiki/Portable-Version

and here for DbRef

https://github.com/mbdavid/LiteDB/wiki/DbRef

[2016-09-29 13:17] mbdavid commented on #311
Hi guys! Queries in NoSQL database works only in same collection. There is no index for cross collections. If, in this example, Products, are from another collection (and linked with DbRef) data are not in Customer. So, no queries in Customer with filter by products.

Works in EF because EF implements SQL query behide the scene. Relation database works with projections so this indexes are possible

[2016-09-29 13:19] mbdavid commented on #310
Hi @superware, it's easy to fix but now I'm in vacation :) I will try to fix during next week.

[2016-09-29 14:06] buronix commented on #311
Thanks David,
in my scenario I need to know if there is a customer who owns a specific product, I will try to explain myself qith a linq example:
[code]

So if there is a customer with the  product I was looking for, then I cant delete the product.

[2016-09-30 07:29] AlexeiVasilenko commented on #312
Hi @mbdavid, thank you for the answer, but I still can't make it work on my ASP Core app, I've already downloaded master brunch, and tried to reference to LiteDb.dll, but it's possible only through the Nuget manager. Are you planning to make it available from Nuget and when? I mean realization of LitePlatformFullDotNet and etc.

[2016-09-30 20:38] sgrassie commented on #312
@AlexeiVasilenko 2.0.2 won't work on ASP.NET Core applications. There was a pull request merged in recently which adds this support, but a release hasn't made its way onto NuGet yet.

[2016-10-01 13:06] mbdavid commented on #312
Hi @AlexeiVasilenko and @sgrassie, I merge PR with support to core app but I didn't do all tests. I prefer made all tests before upload to nuget version to avoid errors. Next weekend I will made this

[2016-10-01 13:16] mbdavid commented on #311
Hi @buronix, I understand now. In your case, customer document has product `$id`. In theory, could be possible index this. But, current version do not support multikey indexes (when you have an index in array structure, like this in mongo: https://docs.mongodb.com/v3.0/core/index-multikey/) This is an old feature request but not implemented yet (it's bit hard to implement).

I thinking in implemen

[2016-10-01 13:42] buronix commented on #311
Hey!

That would be awesome, only to confirm if we are on the same page, it would be something like:

[code]

[2016-10-01 21:21] sgrassie commented on #312
@mbdavid I totally agree it's best to ensure you are happy with the all tests etc before you upload to NuGet.

I'm impatient however, so I'm building it locally for my project, which isn't (yet) a public project 😄

[2016-10-02 04:02] raizam opened #313 "Question: Does LiteDb loads everything in memory?"
I couldn't find a clear answer to whether LiteDb loads everything at once.

I'm building a game which needs a database for storing game state data, which will be a big database.
Is LiteDb suited for this need?

Thanks

[2016-10-02 12:49] mbdavid commented on #313
Hi @raizam, No. LiteDB is not a plain json file that needs load everything to memory. Documents are storaged in fragmented data pages (each page has 4096 bytes). Every page loaded are keep in memory until reach 5000 pages, when a recycle process clear pages.

And yes, you can use for gaming. LiteDB keeps working in 3.5 for Unity support. If you need better performance, try not work with big docume

[2016-10-03 10:06] raizam commented on #313
Thanks for the answer, this is clear to me.
I was wondering if LiteDb is more like a cache, just like Redis is.

I'll give a try then

[2016-10-04 02:46] Adstyle opened #314 "Capped Collection in LiteDB"
Does liteDb support capped collection just like in Mongo? If there is no such thing, can you suggest the method to overwrite the document inside the collection once it reached the collection maximum size.

[2016-10-04 19:18] MercedeX commented on #291
I had an extremely bad experience. LiteDB was only able to save 10000 records in 512 seconds with default settings. The record was only 4 5 bytes in length. Does anyone have any idea how to increase speed?

[2016-10-04 20:08] nerai commented on #291
@MercedeX That is ridiculously poor performance. You probably want to create a ticket with a minimal working example exhibiting the bad behavior and a description of your environment. Likely there is a simple configuration mistake.

[2016-10-05 11:39] nerai commented on #171
I would love this feature.

It would concern two variants:

1. properties with public getter, private setter
2. public readonly fields

Support for these two would be very useful and also make integrating LiteDB a lot easier. Right now, I have to create a "full access public setter" copy of my classes, which is tedious and error prone code duplication.

[2016-10-05 13:16] mbdavid commented on #171
Hi @nerai, this could be an options in BsonMapper. But how set values in deserialize to privete setters/readonly fields?

[2016-10-05 16:31] nerai commented on #171
@mbdavid Via Reflection. I've never done it myself, but I threw together a quick (and bare-bones) example that I hope works.

[code]

[2016-10-05 16:32] nerai commented on #171
I'm not sure if @xszaboj already did something like this?

[2016-10-05 22:10] mbdavid commented on #291
Hi @MercedeX, can you paste your code to test? I'm doing a lot of changes in LiteDB in `dev` branch and including a set of basics examples to test speed in insert/update/delete/ensureindex. Thats the results about first tests (for 10.000 documents). I'm using an old 2012MacBook i5, 8Gb, SSD - Win10.

Insert time: 700ms
EnsureIndex time: 570ms
Update time: 1401ms
Delete time: 352ms

https://github.

[2016-10-05 22:52] mbdavid commented on #314
Hi @Adstyle, there is not such a thing in LiteDB. I readed about this collection type, ideal for high insert throughput. To implement this it's not easy because, by default, this collections has no `_id` index and are based on insert order.

If you have plans to works with a circular queue, you must implement an external structure do manage this.

[2016-10-06 01:00] Adstyle commented on #314
@mbdavid thanks for the reply, yeah, if so i need to do a scheduler to do housekeeping for my db. thanks again david.

[2016-10-06 01:00] #314 closed

[2016-10-06 10:42] shai-benshimol opened #315 "Pager.GetPage<t>() never shuld happend"
After dropping collection.

[2016-10-06 12:54] shai-benshimol commented on #279
It's ok now.
Thanks.

[2016-10-06 14:44] MercedeX opened #316 "Alarming Performance when using LiteDB for simple record saving"
I had a requirement for a certain application where a large number of messages will be received and they need to be stored. so I chose **LiteDB** and used  it with default configuration as mentioned in the documentation. Here is the class that I used:

[code]

In some other class

[code]

yet at some other location I'm saving the messages

[code]

and when we call Push() during testing, it gave th

[2016-10-06 14:52] MercedeX commented on #291
Created a new issue. It should be the latest one in LiteDB

________________________________
From: Mauricio David <notifications@github.com>
Sent: Thursday, October 6, 2016 3:10 AM
To: mbdavid/LiteDB
Cc: MercedeX; Mention
Subject: Re: [mbdavid/LiteDB] Performance comparison (#291)

Hi @MercedeX<https://github.com/MercedeX>, can you paste your code to test? I'm doing a lot of changes in LiteDB in d

[2016-10-06 15:53] nerai commented on #316
You have a bunch of indexes, so it's of course a bit slower than if you were just inserting data. But 20/s is still way too slow and not normal.

I see two issues with your test. The first is that you're not using prepared data. Try to first create 10000 HolderMessages, then start the stopwatch and insert them. This is standard procedure to make sure we measure the right thing.

The second issue i

[2016-10-06 18:00] MercedeX commented on #316
I cannot have the bulk insert here. This is the exact use case. The messages will be received from the network. It could be one or two messages or it could be 10,000 or more at a time so there is no known number nor any predictibility. For bulk you have to know in advance how many messages would there be. If I receive only 3 messages how would I know when to complete the bulk or should I keep wait

[2016-10-06 18:12] MercedeX commented on #316
Here is the update. I removed all the indices except the first one on Id. It did alter the performance. It is now at 45 records per second only. Any more thoughts?

[2016-10-06 18:21] nerai commented on #316
Regarding the bulk insertion, is it not possible to aggregate (buffer) messages within a certain time frame (e.g. 0.1 seconds)? It is not required to know how many messages arrive and would introduce only a small delay. This would be a simple way and is vastly preferred over individual insertion.

Could you try and create a second test that stores something dead simple like an integer ID with no o

[2016-10-06 18:30] MercedeX commented on #291
Created a new issue. It should be the latest one in LiteDB. By the way your test makes all optimizations possible.
- It uses yield. It is only possible if the records are coming from a source whore output is predictable,
- You know in advance how many records would there be so you can create fixed sized batches.
- It uses transaction because it can predict the number of records.

here is what I re

[2016-10-06 18:36] MercedeX commented on #316
made those changes and here are the results:
106 integers  /second

[2016-10-06 19:04] henon commented on #316
First off, you are not only measuring the insert, you are also measuring the Common.Utility.Serialize(msg). Try putting start and stop of the stopwatch right before and after insert.

Also, you can try to measure with a small test program that does nothing else just insert 10.000 records, once individually and once in bulk then compare the numbers.

You can store the messages in a queue and set a

[2016-10-06 20:26] MercedeX commented on #316
you missed the first line of my previous message. Here is it:

this number does not contain any serialize stuff at all. Everything removed from HolderMessage except an int.
I have told you this is a high performance app. it cannot use timers to introduce further delay.

No, sql server does not work like that. It uses data page (the shortest possible unit of storage is page i.e 4 KB)

[2016-10-06 20:40] nerai commented on #316
If you get only 106 ints per second on a SSD, something is misconfigured with your system.

Can you run this please?

	using LiteDB;
	class Foo {
		[BsonId]
		public int Id { get; set; }
	}

	class Program {
		static void Main (string[] args) {
			var path = DateTime.UtcNow.Ticks + ".lite";
			var data = Enumerable
				.Range (1, 10000)
				.Select (i => new Foo () { Id = i })
				.ToArray ();

[2016-10-06 20:47] MercedeX commented on #316
One clarification. I do not use SSD. I use SD SCSI device

[2016-10-06 21:05] nerai commented on #316
Alright, then bulk insertion does work for you, too. I've edited my above post and included some further explanations. Btw, I hope @mbdavid corrects me if I'm spouting nonsense :o

[2016-10-06 21:12] MercedeX commented on #316
Bulk insertion is not my need. I need regular inserts to be fast and they fail miserably

[2016-10-06 23:52] nerai commented on #316
If you are really sure that this is what you need, then you likely want to use an online instead of a file based DBMS. If I recall correctly, something similar is planned for LiteDB v3, but until then you're probably out of luck.

[2016-10-07 03:34] MercedeX commented on #316
but why would a database not perform adequately at regular operations and insist on bulk operations? That is something I do not understand. I cannot use Sql Server because the app I'm working on is a small one that will run as a part of bigger app. All I wanted to use LiteDB for, was persistent cache which now I feel was a wrong choice.

My conclusion is that

[2016-10-07 06:56] henon commented on #316
tried sqlite?

[2016-10-07 10:05] nerai commented on #316
@MercedeX You're saying you need a database able to perform 10000 operations per second. If a disk based DBMS seems to have more than that, it uses caching, either internally or via the OS. Since you insist that this violates your consistency model (else bulk insertion would be possible), all changes must be flushed to disk immediately. Before that, obviously, the database has to read at least its

[2016-10-07 14:06] mbdavid commented on #316
Hi guys. I was running out of Matthew hurricane... but now I'm back at home. @nerai, thanks for this great explanation. English is not my natural language and I have a bit difficult to explain how LiteDB works.

First, about my tests about performance: it's was using v3 (`dev` branch), Still under development and works diferent from v1 and v2. LiteDB work in a file based system, so it's depends a

[2016-10-07 14:14] mbdavid commented on #315
Hi @shai-benshimol, this never should be happend :) It's a bug in checkpoint cache manager. I'm fixing in master branch. It's will be in next minor release

[2016-10-08 00:38] MercedeX commented on #316
Did some experimenting with Sqlite. Used the original program (see the first post in this thread). Here are the results:

Default Setting: **84 records / sec**
Journal off: **260 records /sec**

I don't know how to turn off journal in LiteDB. @mbdavid I'm seriously considering using Memory Stream for database storage and dumping that in a file silently in separate thread. I think that will increas

[2016-10-08 01:33] nerai commented on #316
You could open a question on Stackoverflow and ask how your scenario should be solved. I'd bet I can tell you the most up voted answer beforehand, tho: Buffer the input, then write in bulk. This is what everyone here has suggested, and it is the only solution that works well with offline databases. If you consider storing input to memory at any point in your data flow, then that is essentially the

[2016-10-09 13:43] mahmoud-samy-symbyo commented on #121
+1 for the bug
package: v2.0.2

[2016-10-09 17:45] tanwarsatya commented on #311
this functionality is critical ( **able to query based on subdocument field** ), again thx for all the good work.

[2016-10-09 22:06] mbdavid commented on #316
Hi @MercedeX,

I made a simple example using SQLite vs LiteDB v3. Source avaiable here: https://github.com/mbdavid/LiteDB-Perf

This example is a simple insert and bulk examples using journal enabled and disabled. There are 3 fields/columns only and I add, in both examples, time to all process (include document generation). There are results in my machine:

[code]

In some cases LiteDB is amost 10

[2016-10-09 22:56] mbdavid commented on #311
Hi @tanwarsatya, just to clarify, subdocument field query are supported, something like `Customer.Address.Street` works fine. Here, the problem is about multi key: and a field returns multi values (and all values must be indexed).

@buronix, yes, thats the idea. Works with multi key index as an plugin (like FileStorage, to store files). The final api I don't decide yet, but will be some like you w

[2016-10-10 02:26] rmszc81 opened #317 "Async support"
Good night.

Does LiteBD offers async support?

If the answer is no, it's planned for the future releases?

Thanks a lot.

[2016-10-10 09:43] CaptBrick opened #318 "LiteCollection.Delete(Query) does not match id"
I expected the following two lines to do basically the same thing, yet LiteCollection.Delete(Query) does not delete anything and  LiteCollection.Delete(BsonValue) does

collection.Delete(Query.EQ("Id", @event.Id)); //nothing gets deleted
collection.Delete(@event.Id); //one item deleted, as expected

Event.Id is a Guid, event was inserted like this:

collection.Insert(@event);
collection.EnsureInde

[2016-10-10 12:57] mbdavid commented on #318
Hi @CaptBrick, Id is a special field. So, when LiteDB convert your class to Document, your Id field (or any field marked as BsonId) use `_id`. In this case, you can use:

`collection.Delete(Query.EQ("_id", 123));`

[2016-10-11 00:30] mbdavid commented on #317
Hi @rmszc81, current version is not thread safe, so it's not possible to be async (you can read more here #124)

But, in next v3, LiteDB is converted to thread safe. Than, maybe it's possible to commit (write data to disk) can be async. It's on my README to think about.

[2016-10-11 00:32] rmszc81 commented on #317
Thanks for the quick answer my friend.

I hope that v3 come soon.

Regards,
[]

On Oct 10, 2016 21:31, "Mauricio David" <notifications@github.com> wrote:

[2016-10-11 06:35] buronix commented on #316
@MercedeX

Im using LiteDb for the internal Database of my Multiplayer Indie Game, I needed and embedded .net database for store my  game information, creatures, items, etc in a easy and quick way (object mappers it glorious) I know I will need to swap to an standard db for real and hard operations, but it covers all my basic needs to store the basic data of my game, i'm thankful to @mbdavid to de

[2016-10-11 07:06] AlexeiVasilenko commented on #312
@mbdavid, Hi, have you already make liteDB works with dot net core?

[2016-10-11 15:45] MercedeX commented on #316
@buronix: Only if you went through the pain of reading whole thread before your preaching, you might have noticed that I'm willing to use it, despite the criticism of my team while at the same time trying every option, remedy suggested by the LiteDB community.

and if it interests anyone, it is going to be a part of a grid computation framework for a fortune 500 company in 2017.

[2016-10-11 16:38] mbdavid commented on #301
Hi @sherry-ummen and @baSSiLL, transactions are back again 😄 in `v3`. At least for now, I go it how implement transaction locks with `ReaderWriterLockSlim` in right way. I fixed cache checkpoint (a tricky part of cache management system). I introduced AutoCommit (default is false) - so any Insert/Update/Delete will be made in memory only - and will persist in disk only when database close (`Dispos

[2016-10-12 02:00] nerai commented on #318
I've tripped over this behavior myself in the past. I was able to solve it rather quickly, but found it pretty confusing. I believe it would be sensible to make `Id` less of a special case, and let it behave just like other fields.

[2016-10-12 07:33] buronix commented on #316
@MercedeX  you are right, I tried to read the entire thread but I read some parts in the "bad and quick diagonal way", I'm sorry if I disturbed you, it was never my intention.

Tons of luck with your application.

[2016-10-12 21:03] Discofunk commented on #289
Saving Getters is good when you would like to query against a calculated value (i.e. OrderTotal > 20.00)

[2016-10-13 13:12] mbdavid commented on #318
@nerai, I believe in this case LiteDB will throw an duplicate key exception (in Dictionary) or override you x property with _id property (as _id field). I used `_id` to be more MongoDB like. Primary key is a special unique index. I need this index to update/delete any document.

[2016-10-14 08:58] CaptBrick commented on #318
@nerai +1 It is really confusing

[2016-10-14 15:16] vip32 commented on #221
@WaywardMage
are you (or another contributor) working on a multi-key index implementation? this project looks very cool and usable, however this querying into child object lists is a must for must use cases (get customers with specified tags, get orders with specified products). cheers!

[2016-10-14 15:33] mbdavid commented on #221
Hi @vip32, I'm working on it on `dev-mk` branch. I believe that will be present in v3 version.

[2016-10-14 15:36] vip32 commented on #75
hi @inosik, is this serilog sink available somewhere? very interested

[2016-10-16 14:02] inosik commented on #75
It currently isn't, and I'm not in my company for the next two weeks. But it's very simple and actually based on the [MongoDB sink](https://github.com/serilog/serilog-sinks-mongodb).

It simply converts the incoming log events to JSON with a custom `JsonFormatter`, then to BSON with `JsonSerializer.Deserialize` and adds them to a collection in the database.

[2016-10-16 20:32] mbdavid commented on #311
It's done! Still under v3 dev branch because will change datafile structure. Will be release in new v3. All changes are made internal, so it's complete transparent for devs. Just create an index in your field. If your field are in an array (or subdorcument inside an array) all values will be indexed. Then, do normal query to find.

Take a look on this examples (still using LiteEngine, new class "l

[2016-10-16 21:00] mbdavid commented on #154
Hi, it's done on next v3 version :)

[2016-10-16 22:33] cseder commented on #23
+1 for LinqPad support!
I've used LinqPad a lot and being able to use LiteDB + LinqPad would be awesome! :)

[2016-10-17 07:04] mdissel commented on #297
Is this issue already fixed?

[2016-10-17 10:53] CaptBrick opened #320 "stuct is not deserialized correctly"
All properties of deserialized struct are null/default. The following code reproduces the issue.

[code]

[2016-10-17 11:28] mbdavid commented on #320
Hi @CaptBrick, current version of LiteDB offers 2 ways to how create instances/get/set values. One is using Emit class (which are very fast) and one using expressions (which if more flexible). For current version 2, I will still using those both version just keep compatible.

But, I'm working on new version (v3). This new version will works only with expression to be same class used in .NET 3.5 an

[2016-10-17 12:24] CaptBrick commented on #320
@mbdavid As a workaround in my project I've registered custom Serializer/Deserializer to global BsonMapper. Is there a better way to to this? How can I switch to expression get/set for a single type? Also I don't see a v3 branch on github. Is v3 the current dev?

[2016-10-17 12:47] mbdavid commented on #320
Yes, v3 is dev branch. But, for now, it´s only avaiable LiteEngine, a new lower data access layer. This layer does not works with POCO classes (only BsonDocument).
For now, the better solution is use custom Serializer/Deserializer functions. Change Emit to Expression reflection needs create a new LitePlatform (works only with portable version).

[2016-10-18 08:44] johnkea opened #322 "Add "Cascading Include" to "DbRef for cross references" docs section"
Dear Mauricio David, it is quite confusing at the beginning how one can realize Cascading Include in LiteDB. It might quite obvious for you as for creator but for many people who has no time to trace the sources or who are dealing with C# not so long time it is quite puzzling. I suggest to extend "DbRef for cross references" section on main page and add there more complex example of several levels

[2016-10-18 10:16] mbdavid commented on #322
Hi @johnkea, neasted includes are not supported yet. It's on my plans to v3, Your code are corrent, the API must be works as you write.

[2016-10-18 11:18] johnkea commented on #322
Hi @mbdavid, indeed, the code works fine for this example. That means the LiteDB supports Cascading Include, right? Or should I expect surprise in my project?

[2016-10-18 13:25] johnkea opened #323 "LiteDB v3 is wanted!!!"
Dear @mbdavid , sorry for flooding your issues but seriously when approximately you are planning to share v3 with us?

[2016-10-18 13:53] johnkea commented on #322
Hi @mbdavid, ok, I see, e.g., once let say B_Ref is a List<B>, then there is no chance to force deeper Include...

[2016-10-18 14:55] mbdavid commented on #323
Hi @johnkea, my initial plan is Dec 1 as I mark in milestone due date. I belieave is a reasonable date to finish all feature I want and make/update unit tests.

[2016-10-18 14:58] mbdavid commented on #322
Yes, works only on first level (A load B), To B load C and C load D `include` method must be changed to support. This is not too hard to implement, but when B is a `List<B>` you must include each element. So it's much more complex to implement.

Take a look on `dev` branch and gitter channel. I'm updating dev works there.

[2016-10-18 20:36] dampergud1 commented on #323
will i then be able to use it in my .NETPortable 4.5?

[2016-10-18 21:33] mbdavid commented on #323
Hi @dampergud1, in v3 LiteDB will be distribuided in 2 version:
LiteDB - Build for .NET 3.5
LiteDB.Core - Build for NetStandard 1.3 - (net46, netcore, xamarin, mono, uwp10)

So, portable .NET 4.5 will not be supported. Or you can use NET 3.5 full framework or PCL .NET 4.6

[2016-10-19 03:10] lepigocher commented on #323
Hi Mauricio, Could you please respond also on gitter!? Yesterday I asked why you don't plan to use netstandard 1.4? It will be great to have a clear and simple explanation on such choice. Also I do not understand why LiteDB.Core will use netstandard 1.3 and LiteDB will use another Framework? It's very confusing. You probably have a good reason but it would really help to have a short page in the W

[2016-10-19 10:50] mbdavid commented on #323
@lepigocher my choice to 1.3 it's only because 1.3 has all features I need (at least until now) to get LiteDB works to portable. After @szurgot research, in 1.3 also included Aes crypto classes.
I changed from PCL to NetStandard just because it's easy to get only 1 dll to portable that works in all platforms. That much better than has a lot of projects each one for a single platform.
The cost bene

[2016-10-19 13:55] lepigocher commented on #323
@mbdavid : Hi Mauricio, thanks for the feedback. Please have a look at a more detailled response at gitter: https://gitter.im/mbdavid/LiteDB?at=58077aed48292577613a6c5c

[2016-10-19 16:48] #313 closed

[2016-10-19 20:59] vip32 commented on #75
@inosik, that sounds interesting. my actual goal is to build some kind of web dashboard which works on the litedb stored logevents (html+rest). probably some provider abstraction will allow other stores (sqlserver) to be used but for now litedb seems the easiest to start with. if you can make your sink available that would be a great kickstart and appreciated :)

[2016-10-22 01:59] raizam opened #325 "Dependency Injection support?"
Hi,

I'm just getting started, and I have a question about the POCO, which litedb requires a public parameterless constructor.
Would it be possible to implement a IoC/dependency injection mechanism, where I can pass a Func<T> to liteDb as a instanciation resolver?

If not possible then I'll be looking in the source where POCO are instanciated on deserialization, and I'll implement it :)

Thanks

E

[2016-10-22 14:28] nerai opened #327 "Is 4096 a good choice for page size?"
Currently, the page size is fixed at 4096 bytes, which is the Windows size for disk access - a good fit.

However, considering that traditional hard disks are far faster at sequential than random access, it might be faster if the page size were larger.

Obviously, this would lead to more wasted time when reading only a single element from a page. However, this waste is probably very small, because

[2016-10-22 15:47] icelty commented on #286
Simple, I wrap LiteDatabase within a class that centralizes all IO operations, also within the class I have just a simple object field that I Lock on every operation. Not different than what we all do to make multi-threaded operations over a non thread-friendly object i.e. A cross thread shared List for example.

Sample Code (Just top of my head, not sure it will compile 100%):
`
object syncRoot =

[2016-10-22 19:55] mbdavid commented on #327
Hi @nerai, when I decide to 4096 I search about all databases use. Many databases you can define page size, which is really nice do advanced users (really advanced - because it's hard to know if your choice will be best). Not only page size, but PCT Free and PCT Used is fine tune for databases. LiteDB works with 50% of PCT Free/Used.

LiteDB works with whole page operation for read and for write.

[2016-10-22 19:58] mbdavid commented on #325
Hi @raizam, thanks for your PR, I will take a look closer. But for now, I'm working in `dev` branch for next release - this next release will change a lot from now. My plans is keep v2 as is, works only in bugfix.

Is `Emit` reflection supported in NETStandatd?

[2016-10-22 22:23] nerai commented on #327
@mbdavid  It's definitely required to test with both HDD and SSD. I believe the page size change will only be useful for HDDs, while it is (probably) not useful or even hurtful for SSDs. So all tests should be performed with a traditional disk as well as an SSD.

As for the tests themselves, I'd go with the usual: read/write x sequential/random (4 combinations). So together, we get 2x2x2x3 = 24 co

[2016-10-22 22:24] nerai commented on #327
@mbdavid To make sure, there is something else I need to mention: The primary reason for increasing the page size is increasing data locality. Currently, data are often highly fragmented because pages of data that are related are not co-located in any way (when creating a new page, related pages are not considered). If we somehow were able to fix this (by keeping related pages close together on di

[2016-10-23 10:55] mbdavid commented on #327
Documents are organized in data pages by collections. A single page contains only documents from same collection. Index pages are same idea: a single page contains only keys from same index/collection. This is used to keep, as much as possible, information together in same page.

It's not possible predict when next related page are required. It's possible only use reserve N pages when create colle

[2016-10-23 14:12] nerai commented on #327
@mbdavid Alright. Should we wait for the next version before testing? If you think it will be stable anytime soon, then no point in testing right now.

Also: Apart from the page size constant, what else do I have to change? Max number of documents per page probably, too?

[2016-10-23 18:17] icelty commented on #286
FYI @mbdavid I have seen a problem with auto id (Int32) when inserting after a few deletes, not sure if this is true but it looks like Light db is re-using ids and throws an exception. ```Cannot insert duplicate key in unique index 'ChannelName'. The duplicate value is 'add channel user test'```

[2016-10-23 18:42] mbdavid commented on #327
Yes, next version will be best to test this. I working now in lock read/write operations and soon will be possible to test this.

If we made this tests and discover differences between page sizes can be add as parameter. Today, all constants are calculated by page size. To made tests it´s easy to compile LiteDB using compiler constants setting BasePage.PAGE_SIZE.

Current, a single page support up

[2016-10-24 06:38] dodyg opened #328 "What is the best way to handle schema/class changes?"
What is the best way of handling changes or rename into a class property?

e,g,  from

[code]

to

[code]

[2016-10-24 11:14] mbdavid commented on #328
Hi @dodyg, if your change is just a simple rename, you can rename only property class and do not rename document. Just use:

[code]
or using BsonMapper
[code]

But, if your have more complex changes, use `DbVersion` to track database version and use BsonDocument to get old values before change.

[code]

[2016-10-24 12:48] raizam commented on #325
Hi @mbdavid, I do not know much about .NETStandard, but I'll take some time too see if the code I added works as expected.

If everything runs fine, I don't see how these addition could affect anyone else, I believe it should be fine.
The IoC support don't change any behavior, and no Api break.

The Struct property support might affect users that used public structs properties as transient data. B

[2016-10-24 21:40] mbdavid commented on #325
Hi @raizam, the main change in next version is transforma LiteDB in a thread safe database. Also, LiteDB will support multi key index (index all values from an array document field). All this changes (an others more) are on database engine.

In portable area, my idea is convert LiteDB to NetStandard to avoid compile/initialize to many platforms. Next version will have only 2 version: .NET 3.5 and

[2016-10-24 21:50] mbdavid commented on #325
Now I was checking your customTypeInstanciator. Isn't better to set new instance function only when nedded? Some like this:

[code]
Where `value` parameter is BsonValue from document?

[2016-10-24 23:48] raizam commented on #325
well good question.
My plan was to use an external dependency injection library, which is LightInject. Let's say I use
`BsonMapper.Global.Entity<Customer>()
    .Ctor(() => new Customer())`

If class Customer has a constructor such as:
`public Customer(CustomerService service)`
LiteDb won't be able to resolve the service instance. That's why this should be a process external to LiteDb, how could i

[2016-10-24 23:56] raizam commented on #325
About the thread-safe database in the next version, I feel this is going to be quite a challenging feature to implement.

[2016-10-25 19:08] mbdavid commented on #325
Hi @raizam, interesting point. In this case has much more sense to your way to initialize classes. Do you have an example with IoC in entity class?

About  thread safe: it´s 3th try about that. But now I beleave that works :) The main change now are that LiteDB open datafile in exclusive write mode, so only 1 instance can access datafile per time. It´s much faster and I re-use all memory cache. In

[2016-10-25 22:26] raizam commented on #325
v3 looks cool =)
Should I start using it now for a new project, or use v2 and upgrade afterwards?

Here is a basic IoC example using LightInject, but it's the same approach for most IoC containers:

    var container = new LightInject.ServiceContainer();
    container.Register<CustomerService>(new PerContainerLifetime()); //Single instance
    container.RegisterType<Customer>(factory => new Custom

[2016-10-25 22:54] mbdavid commented on #325
You can use v2 for now and update after. The main change will be LiteDatabase instance - in v2 I recommed to use "open/close as soon as possible" and new version will be "keep single instance".

Yes, make all sense your code. I use a single "home-made" IoC in some projetcs, but not in entities classes. I will merge/adapt your PR to v3, sounds a good choice, thanks!

[2016-10-26 12:33] sergiorykov commented on #328
It would be nice to publish it in wiki as *Migrations* :)

[2016-10-31 09:53] Boiethios opened #329 "Help wanted about searching a substring in an array of strings"
Hi,

I could not find any answer to this. Let's say we have this data structure:
[code]

When I want to find a substring in `Id`, I do:
[code]

But I cannot do the same in `Comments`. The following request returns nothing:
[code]

How to search inside an array of strings?

[2016-10-31 11:47] mbdavid commented on #329
Hi @Boiethios, in current v2 there is not index in arrays (named Multi Key Index). So, to this query works you need full collection scan: some like this:

[code]

In v3 (`dev` branch under dev) multi key index was implemented. So, you can do full index scan (not best solution, but much better than full scan solution).

[code]

But, if you will have lots of documents that you need do this kind of s

[2016-10-31 15:50] Boiethios commented on #329
Thank you for your help. The collection is small so I can do a full scan without problem. You have done a great job btw.

[2016-10-31 15:50] #329 closed

[2016-10-31 17:09] oguimbal commented on #267
+1 ...  I encountered a similar exception:

    System.InvalidCastException: Impossible d'effectuer un cast d'un objet de type 'LiteDB.CollectionPage' en type 'LiteDB.HeaderPage'.
      à LiteDB.FileDiskService.ReadPage(UInt32 pageID)
      à LiteDB.PageService.GetPage[T](UInt32 pageID, Boolean setDirty)
      à LiteDB.DbEngine.GetCollectionPage(String name, Boolean addIfNotExits)
      à LiteDB.D

[2016-10-31 17:13] mbdavid commented on #267
Hi @oguimbal, can you get lastest version from `master` branch? In my last commit I removed cache checkpoint that, in v2, has a bug that cause this error. Checkpoint is an write ahead that occurs when you use more than 5000 pages in memory. So, to avoid this I remove this feature.

If you use latest version and this problem occurs again, please tell me.

In v3 this checkpoint are back and this pro

[2016-10-31 20:14] oguimbal commented on #267
Thanks so much @mbdavid , i will do that.

Do you plan on releasing a 2.0.3 nuget package including this fix anytime soon ? Or should i build it on my own waiting for v3 to be released ?

[2016-10-31 20:17] mbdavid commented on #267
I was waiting an OK from someone who has this error. I will release v2.0.3 in nuget before v3 (plans to release v3 only in december)

[2016-11-01 09:18] sergiorykov opened #330 "Find(x => true) throws "Not implemented Linq expression""
version **2.0.2**

[code]

[2016-11-01 09:24] sergiorykov commented on #330
I found that `FindAll ` internally uses `Query.All(1)` and it is pretty useful.

May be it'll be better in exception message provide a link to wiki with query customizations?

[2016-11-04 06:48] guskermitt11 opened #332 "Concurrency question"
Hi,

We are having problems with accessing to the database in concurrency mode.

Could you share an example of how to access to a file to write/read from various connections?

Reading documentation I found:

But I don't know how to initialize it.

Thank you.

[2016-11-04 09:32] lidanger commented on #332
#245

[2016-11-04 12:12] mbdavid commented on #332
Hi guys, after #245 I start new branch to work better in concurrency environment. Current v2 locks file using file system locks. It´s not a good way to do that. So, in next v3 i'm work hard to change LiteDB to thread safe and work with locks in .net using ReadWriteLockSlim class.

So, for now, it´s better you encapsulate LiteDB in a class and use `lock` statement when you need read/write access da

[2016-11-05 16:42] vip32 commented on #332
v3 will be so great :)

[2016-11-05 16:55] vip32 commented on #291
@mbdavid small note: insert test is polluted because of the creating the documents to insert.

[code]

[2016-11-05 17:03] mbdavid commented on #291
Hi @vip32, I will change this to see if there is any change.... but I made same test in sqlite, so both examples are spend this same time (in average)

[2016-11-05 17:22] vip32 commented on #291
if it is used for comparison than it won't matter (same baseline). to get insight in raw perf doc creation should not be part of it.
maybe it makes sense to create some better perf tests some day (or accept PR), so we can also compare with other storage systems (mongo for example). maybe some generic tests exist we can implement on top of litedb. but please spend your precious time on V3 now :)

[2016-11-05 17:32] mbdavid commented on #291
Hi @vip32, PR are welcome! More complete test must be done to test all LiteDB features... but you right, now I complete focused in release v3 beta as soon as possible

[2016-11-07 13:19] podkolzzzin opened #333 "FileStorage.OpenWrite method"
There is very useful method OpenRead in FileStorage, it would be nice to have such method for writing because now I had to load all data I want to Upload in memory

[2016-11-07 13:27] mbdavid commented on #333
It´s done in v3 (but still in dev)

https://github.com/mbdavid/LiteDB/blob/dev/LiteDB/Storage/LiteStorage.cs#L28

[2016-11-08 06:19] podkolzzzin commented on #333
Thanks, it's cool that you have already implemented it!
When v3 can be expected?

[2016-11-08 19:21] vip32 opened #334 "field names starting with @ cannot be deserialized"
JsonSerializer.Deserialize doesn't accept fields that start with a @ character
doing so throws an ArgumentException: Field '@t' has an invalid name.

is that for a special reason?

[2016-11-08 23:25] mbdavid commented on #333
My plans is next month. Now only finish some last features and doing tests

[2016-11-08 23:29] mbdavid commented on #334
I wrote this rule (similar with variables name rules):
- must starts with letter, _ or $
- 2-N can be numbers and -

It's just to keep simple parse with Regex used in shell tool. And, by default, $ initial must be used only for internal controls (like DbRef).

[2016-11-09 07:03] azasisgod commented on #332
Hello. Also have an issue with database getting locked up; shows timeout error.

[2016-11-09 14:18] podkolzzzin commented on #333
Thanks. Looking forward to this release! Thanks for your quick response.

[2016-11-11 12:02] #334 closed

[2016-11-13 14:39] shai-benshimol opened #336 "Import collection to another db"
I need to import collection from db1 and export to db2..

What is the best practice to do that?

[2016-11-13 19:19] mbdavid commented on #336
Just find/insert one for other, like

[code]

[2016-11-14 01:22] dgodwin1175 opened #337 "Encryption support"
Hi,
Does LiteDB encrypt the .db file by default?  I can't see any documentation on the support for encryption in the wiki.  Are there any examples of how it is done?  Note that I am using v2.0.

Thanks.

[2016-11-14 11:48] mbdavid commented on #337
Hi @dgodwin1175 , no, if you want encrypt your datafile you must provide "password=" keyword in connection string.

https://github.com/mbdavid/LiteDB/wiki/How-LiteDB-Works#connection-string

[2016-11-14 12:36] Friendship7 opened #338 "Database file compatibility"
I have one question: Are database files (created with the same version of LiteDB) supposed to be binary compatible? Or in other words: If I create a db with a normal windows desktop application, should this db be usable by a UWP app using LiteDB.Core?

I was assuming this somehow, but first experiments showed this not to be the case. Since I couldn't finde a statement about this in the documentati

[2016-11-14 15:44] mbdavid commented on #338
Hi @Friendship7,

Assuming that you are using v2.x version and no database encryption, the answer is yes, must be compatible. Almost all source are the same, including file format. If you are using encryption, AES has different implementations in each platform.
If you are creating a multiplatform app, consider use only LiteDB.Core which are compatible with all platforms (LiteDB.Core.dll are PCL li

[2016-11-14 15:55] VladimirHamburg opened #339 "Not implemented Linq expression"
Hallo,

I isolated access to LiteDB in my code. And when I try to use lambda, as a parameter, this does not work.

[code]

thx

[2016-11-14 16:03] mbdavid commented on #339
Hi @VladimirHamburg, LiteDB implements only simple Linq support. `Find` method needs a Lambda expression like `x => x.Id == 1`. Can you write isolated example? I can debug QueryVisitor.cs to analyze if it's possible fix this.

[2016-11-14 17:25] MiklosPathy opened #340 "Problem using auto generated service reference objects"
Happiness unto thy souls!

We are using some data transfer objects, wich are published on WCF services. After that these are used in external utilities, by simply generate a .NET service reference.
The big idea was, using these generated reference objects with LiteDB. Of course it won't work... :(

The problem is, that Microsoft automatically generates some System.Runtime.Serialization.ExtensionDa

[2016-11-14 17:37] mbdavid commented on #340
Hi @MiklosPathy, `BsonMapper` are changing to be more simple create custom mappers. Next version will support override `BuildEntityMapper` and possible add some callbacks too (not yet implemented):

https://github.com/mbdavid/LiteDB/blob/dev/LiteDB/Mapper/BsonMapper.cs#L250

[2016-11-15 00:30] VladimirHamburg commented on #339
Hi @mbdavid . I made a example how I use LiteDB in my project.
[Program.zip](https://github.com/mbdavid/LiteDB/files/590815/Program.zip)
It is code for a console app. I hope it can help.

[2016-11-15 11:26] mbdavid commented on #339
Hi @VladimirHamburg, some questions:

1) Why are you using Wrapper<T> class?
2) Why method are not Expression<Func<T, bool>> ?
3) With current implementation, lambda expression doesent look like a resolvable expression. Using debug lambda expression is: `w => Invoke(value(LiteDB.Tests.Connection+<>c__DisplayClass3_0`1[LiteDB.Tests.Test]).lambda, w.Entry)` It's only an Invoke expression from an met

[2016-11-15 12:03] VladimirHamburg commented on #339
Hi @mbdavid .

1) I need wrapper, because my architecture is:
App -> GenericDatabaseApi -> ConcreteDatabaseConnection
My users do not know what database they are using.
I want to have something like this:
[code]

but GetCollection need a concrete class. I can't use GetCollection<T>(typeof(T).Name).

2) I think, i have made it complicated in my code.
I have in my code something like this:

[code]

[2016-11-15 13:41] mbdavid commented on #339
I removed this `new()` contraints. It's was valid a long time ago - I change all reflection lib. Need more tests but I beleave there is no problem with not using `new()` (see `dev` branch).

[2016-11-15 15:38] VladimirHamburg commented on #339
Hi @mbdavid , it works! Thank you so much!

[2016-11-15 18:45] Friendship7 commented on #338
Thanks for the fast reply. It's good to know that the db files should be usable on all platforms.

[2016-11-15 18:45] #338 closed

[2016-11-16 23:02] nerai commented on #332
@azasisgod Could you explain your setup? Just to make sure, you are using multiple writers concurrently, right?

What do you mean by 'thread safe locking'? Does that mean you wrote a custom synchronization (e.g. via a mutex) so only one writer can use the DB at any time (in *addition* to the locking provided by LiteDB itself)?

[2016-11-17 11:13] toxaris- opened #341 "FileStorage.Upload causes duplicate index error"
I have the following code:

      internal static void SaveImage(MemoryStream ms, string name)

      {
            using (var db = new LiteDB.LiteDatabase(@"ToxTV.db"))
             {
                  using (ms)
                  {
                        ms.Seek(0, SeekOrigin.Begin);
                        db.FileStorage.Upload(name, ms);
                  }
            }
      }

If there is

[2016-11-17 13:45] mbdavid commented on #341
Yes, it´s a bug, wiki docs are right. I will fix this in master, thanks. Are missing a `Find` before insert. It´s already fixed in `dev` branch, new major release.

[2016-11-17 13:53] toxaris- commented on #341
Super, thanks. I have read up today on the new v3, sounds very interesting!

[2016-11-17 21:30] functionsoft commented on #298
Could you add compression and decompression using the GZipStream internally?

See http://www.dotnetcurry.com/ShowArticle.aspx?ID=105

I'm looking for a database to store, read and update financial tick data.  The raw uncompressed files are about 20GB each, so having them compressed and stored in an optimum way would be very important.

Since IO would decrease, it might actually increase overall re

[2016-11-17 22:01] mbdavid commented on #298
Hi @functionsoft, the main problem is that not possbiel compress final FileStream because all references are based on positions. The only way is compress BSON serialization before store in disk. But I have some doubt about how efficient is because each document must be compressed separately. Small documents will not have any difference.
Can you show a sample of each document you need to store?

[2016-11-17 23:14] functionsoft commented on #298
Hi Mauricio,

Thanks for the fast reply.

A very small sample of the data in CSV format is below.  Note there is one unique primary key, that is the time stamp.

I was thinking the BSON document could be compressed.

Timestamp,Bid Price,Ask Price,Bid Volume,Ask Volume
2016.11.14 02:00:00.125,1.08226,1.0823,1,1
2016.11.14 02:00:00.531,1.08224,1.08229,4.11999988555908,1
2016.11.14 02:00:01.048,1.082

[2016-11-17 23:44] mbdavid commented on #298
Take a look on this results:

[code]

Compression each document is not efficient enouth. To get best results, needs gzip all file.

[2016-11-19 00:42] 0xFireball commented on #280
Hey @ldubrois , I temporarily forked LiteDB for a .NET Core version. I merged in the latest changes from the official repo. You might be able to use it: https://github.com/0xFireball/LiteDB.DotNetCore

[2016-11-19 00:43] 0xFireball commented on #280
Once official support is available we can switch back. I just made some very minor modifications to make it build. It works fine for now.

You need to call:
[code]

for it to work.

[2016-11-19 10:17] mbdavid commented on #280
Hi @0xFireball, i'm finishing next v3 version that will be netstandatd1.4 (`dev` branch). Now, I need write some examples in Xaramin iOS/Android, NetCore e UWP examples.

[2016-11-19 12:21] ldubrois commented on #280
@0xFireball, @mbdavid, great news !!!

Thanks for the news. I'll try that next week.

[2016-11-20 11:02] #337 closed

[2016-11-20 11:02] #336 closed

[2016-11-20 11:04] mbdavid commented on #341
v3-beta released and it's fixed there.

[2016-11-20 11:04] #341 closed

[2016-11-20 11:04] #339 closed

[2016-11-20 11:12] mbdavid commented on #330
Hi @sergiorykov, it's not catch this king of error in LINQ. I update Wiki with more examples in LINQ expressions.

[2016-11-20 11:12] #330 closed

[2016-11-20 11:14] mbdavid commented on #327
Hi @nerai, v3-beta was released. Now we can test anothers page sizes before final release.

[2016-11-20 11:15] mbdavid commented on #323
Hi guys, it's done! v3-beta was released :)

[2016-11-20 11:15] #323 closed

[2016-11-20 11:17] mbdavid commented on #322
v3-beta was released with support to neasted includes.

[2016-11-20 11:17] #322 closed

[2016-11-20 11:49] #316 closed

[2016-11-20 11:49] #315 closed

[2016-11-20 11:50] mbdavid commented on #312
Hi guys, test new v3-beta build in netstantard 1.4

[2016-11-20 11:50] #312 closed

[2016-11-20 11:50] #307 closed

[2016-11-20 11:52] mbdavid commented on #297
In v3 this issue is fixed - but shirink must provide password to.

`db.Engine.Shrink("new-or-same-password", [TempDisk])`

[2016-11-20 11:52] #297 closed

[2016-11-20 11:52] #290 closed

[2016-11-20 11:53] #289 closed

[2016-11-20 11:54] mbdavid commented on #296
Hi @tgiachi, now it's possible. Take a look on new v3-beta. Thanks

[2016-11-20 11:54] #296 closed

[2016-11-20 11:54] #279 closed

[2016-11-20 11:55] #285 closed

[2016-11-20 13:40] mbdavid commented on #340
v3-beta released. You can write you own BsonMapper and change a simple override here:

https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Mapper/BsonMapper.cs#L394

You can override `GetTypeMembers` and filter members that you dont want.

[2016-11-20 13:40] #340 closed

[2016-11-20 13:41] mbdavid commented on #320
Now works in v3-beta. If you found any problem, please re-open this issue.

[2016-11-20 13:41] #320 closed

[2016-11-20 13:41] mbdavid commented on #333
It's done in v3-beta in nuget! :)

[2016-11-20 13:41] #333 closed

[2016-11-20 14:15] lepigocher commented on #323
That's GREAT!!! :-) Thank you Mauricio!

[2016-11-20 21:28] mbdavid commented on #267
v3-beta released. If this problem continue in new version, re-open this issue. Thanks

[2016-11-20 21:28] #267 closed

[2016-11-20 21:28] mbdavid commented on #269
Yes, it's done. `FindIndex` in v3-beta

[2016-11-20 21:28] #269 closed

[2016-11-20 21:30] mbdavid commented on #274
This issue was resolved in v3-beta. Thanks

[2016-11-20 21:30] #274 closed

[2016-11-20 21:32] mbdavid commented on #275
Hi guys, new v3-beta was released. So now, my recomendation is use single-instance of LiteDatabase across threads. I will update documnetation in few weeks

[2016-11-20 21:32] #275 closed

[2016-11-20 21:33] mbdavid commented on #258
Is in my list, for v3, be "auto-update" from v2 and v1 to new v3.

[2016-11-20 21:33] #258 closed

[2016-11-20 21:34] mbdavid commented on #286
v3-beta was released and now support multi-thread in a single instance of LiteDatabase (uses ReadWriteLockSlim)

[2016-11-20 21:34] #286 closed

[2016-11-20 21:35] mbdavid commented on #245
Hi @lidanger, v3 was released and now support multi-thread in a single LiteDatabase instance.

[2016-11-20 21:35] #245 closed

[2016-11-20 21:36] mbdavid commented on #255
Fixed

[2016-11-20 21:36] #255 closed

[2016-11-20 21:36] mbdavid commented on #284
Fixed

[2016-11-20 21:36] #284 closed

[2016-11-20 21:40] mbdavid commented on #248
Hi @aletfa, I change the way how BsonMapper works and now are much more flexible. It's possible to override only how get properties, how setup each property. It's ease to use your custom attributes. Take a look on this v3-beta that can be helps you.

[2016-11-20 21:40] #248 closed

[2016-11-20 21:41] mbdavid commented on #149
It's supported in v3-beta.

[2016-11-20 21:41] #149 closed

[2016-11-20 21:42] mbdavid commented on #94
It's done in v3-beta

[2016-11-20 21:42] #154 closed

[2016-11-20 21:43] mbdavid commented on #287
Hi @emrys90, BsonMapper change to be more flexible to support custom classes. Take a look in new version.

[2016-11-20 21:43] #287 closed

[2016-11-20 21:44] #304 closed

[2016-11-20 21:44] #305 closed

[2016-11-20 21:45] #318 closed

[2016-11-20 21:46] #301 closed

[2016-11-20 21:48] #309 closed

[2016-11-20 21:48] #310 closed

[2016-11-20 21:49] #325 closed

[2016-11-20 21:50] #277 closed

[2016-11-20 23:04] nerai commented on #327
Hey @mbdavid, thanks for the heads-up, I'll try it out once I find the time.

[2016-11-21 02:46] mcmonkey4eva commented on #94
@mbdavid you added it to the engine, but not the `Collection`?

[2016-11-21 09:59] gmwilhelm opened #344 "v3 DropCollection?"
Hello,

how to drop a collection in v3?

v2 had LiteDatabase.DropCollection but to me it looks lie that is gone?

Regards,
  Dirk

[2016-11-21 10:53] mbdavid commented on #344
I will back thsi method again to LiteDatabase. You can use db.Engine.DropCollection

[2016-11-21 10:58] gmwilhelm commented on #344
Thanks for the answer.

Can you please explain what the difference is between LiteDatabase and LiteEngine?

What is the preferred usage of both?

Regards,
  Dirk

[2016-11-21 12:10] mbdavid commented on #344
Hi @gmwilhelm, LiteEngine is like "the server side" of LiteDB. It´s responsable with all low layer data access. LiteDatabase use a instance of LiteEngine to access all method plus add all "mapper" things: Serialize/Deserialize, Cross References, AutoId, Linq queries and all this things. So, when you use LiteDatase, you are just using LiteEngine with support to POCO classes (LiteEngine works only w

[2016-11-21 12:19] mbdavid commented on #94
ops, I missing add in LiteCollection.... I will add soon

[2016-11-21 12:33] #344 closed

[2016-11-21 12:39] gmwilhelm opened #345 "v3 Error on inserting: Can only unbox from an object or interface type to a value type."
Hi,

i'm trying out the new v3 in a Xamarin.Forms project.

When i try to insert a new object into a new collection i get this error message:

It doesn't matter if i only insert one object or a list of objects.

[2016-11-21 12:44] mbdavid commented on #345
Ok, I know where is it.

https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Mapper/Reflection/Reflection.cs#L86

I change to support structs but not working as expected. Just remove this line (use `var castTarget = Expression.Convert(target, type);`)

I will fix later.

[2016-11-21 16:03] gmwilhelm opened #346 "v3 System.InvalidCastException: Specified cast is not valid."
When i try to query a collection with an index like:

`database.GetCollection<Person>("Person").Find(Query.All("FullName", Query.Ascending));`

i get this error message:

With a new empty database, the query works after adding some data to the collection and setting the index. But when i restart the app and then try to query the existing collection, i get the error message above.

[2016-11-21 16:25] mbdavid commented on #346
Hi @gmwilhelm, is your database encrypted? Is for NETStandard? I will write some example to test.

[2016-11-21 16:58] rmszc81 commented on #332
hi @mbdavid,

first of all, congrats for v3, it's really improved since v2.

I asked you on the past about concurrency and v3 appears to be very well on that case but, this time, I have another question:

"still no async/await support? if it's possible, how we should do it?"

thanks a lot.

regards,
[]

rmszc81

[2016-11-21 17:07] gmwilhelm commented on #346
No, the database is not encrypted.
Yes, i'm using netStandard.

[2016-11-21 17:18] mbdavid commented on #332
Hi @rmszc81, thanks! It´s nice to hear this. I dedicate almost 3 months and many weekends to do this :)

LiteDB still without support async, but now it´s only because .NET 3.5. If this new version concurrency works fine I will add this in a net40 version. For now, Insert/Update/Delete operations still sync, but I beleave now that will it´s possible to only add Task around this methods (because loc

[2016-11-21 17:28] rmszc81 commented on #332
hi @mbdavid , tks for quick answer.

we're not using this on production but we're searching for alternative technologies to build our web api. this web api will used for an erp integration with many e-commerce platforms so, as we tested sqlite and ndatabase already, we're doing this with litedb.

the main reason is that all api code is async, that's why.

I have a personal project, a desktop appli

[2016-11-22 00:18] mbdavid commented on #346
Hi @gmwilhelm, I wrote some unit test but works fine. Can you post a small test about this issue?

[2016-11-22 08:28] gmwilhelm commented on #346
Thanks for looking into it. It is working now.

I guess it was a sideeffect of #345

[2016-11-22 08:28] #346 closed

[2016-11-22 08:28] gmwilhelm commented on #345
Works for me now.

[2016-11-22 08:30] scordonnier commented on #258
@mbdavid When will LiteDB v3 be released with auto-update ?

I'm looking to use your library into a mobile project (iOS and Android) but it's a "show-stopper" to not have this feature (by the way, it should be an asynchronous process) if we can't update the datafile in the future.

[2016-11-22 10:09] mbdavid commented on #258
Hi @scordonnier, yes, I know that auto-update is important mobile apps, it's not possible convert using dump process.

Update will be avaiable soon and will be 2 ways to do that: open database with "auto update=true" in connection string (that always check if needs be updated) or call an explicit method like `LiteEngine.UpdateDatafile`. About be async, will be not possible because LiteDB is net35,

[2016-11-23 08:23] tgiachi commented on #296
Hi!, Thank you for your great job!

[2016-11-23 09:07] vkocjancic commented on #345
Can you update nuget package with this patch, please?

[2016-11-24 01:11] mbdavid commented on #345
yes @vkocjancic, will be "beta-2", but only this weekend because i'm out of office this week.

[2016-11-24 12:04] tolstenko opened #347 "Unity3D Support"
Hello there!

I imported your dll targeted to .net3.5 on unity, it inserts data to db without saying any error, but when I try to retrieve the data following the example, it fails. So I imported the code and changed a couple of C#6 expressions to a more compatible way(checking if cast is null, etc). Then I found out that the problem is the system reflection emit. Unity doesnt support it (and never

[2016-11-24 12:08] tolstenko commented on #20
Unity Support! Please! Your project is a life saver!

[2016-11-24 12:39] tolstenko commented on #347
The version 2.0.4 worked for me. Just build for net3.5 . But the newest version doesnt work.

[2016-11-24 16:26] mbdavid commented on #347
LiteDB v3 still in v3.5 just to be compatible with unity. If not working will be fixed to this (I never used Unity but has many request to be compatible with unity)

[2016-11-24 16:51] izackp commented on #20
@tolstenko My fork currently works in unity (https://github.com/izackp/LiteDB) I have yet to bring it up to speed with main repo. Use at your own risk.

[2016-11-24 18:17] mbdavid commented on #20
Hi @izackp, what changes must be done to be compatible with Unity? Must be a different target framework? Is not only refer net35 dll?

[2016-11-24 22:07] bobbyg603 opened #348 "FindAll and Query.All() not returning all results"
Hi,

I have a table with just over 10000 entries in it. I can view the table just fine with the LiteDB viewer, however when I try and get all documents in a table, I get a very small subset of the total documents.

Here's the code I'm using to get all results:

[code]

Am I doing something wrong? I've attached the database in question. Please help!

Thanks!
Bobby

[Database.zip](https://github.com

[2016-11-24 23:11] mbdavid commented on #348
Hi @bobbyg603, your database are ok. I open here and has 14858 docs in shell tool. How are you calling this "GetAllResults" method?

[2016-11-24 23:24] izackp commented on #20
@mbdavid I just directly embed the code into my unity project. I pretty much just removed any async, tasks, UWP, or Windows Store stuff. I changed everything to use bit converter, but I don't know for sure if that was necessary. Here's the commit: https://github.com/izackp/LiteDB/commit/58f81a84ad7fb12911df344f2399e734ef90ff93

[2016-11-24 23:34] mbdavid commented on #20
Yes, it's easy... I will update all source to compile native with Unity. By the way, this ToString are wrong because the test is `if(propertyInfo == null) ...` to you cann't use `propertyInfo.ToString()`. In this case, just use string "propertyInfo"

[2016-11-25 00:09] mbdavid commented on #347
@izackp and @tolstenko, I change current compiler to C# 4 in master branch. Take a look there.

[2016-11-25 00:23] izackp commented on #20
Ah lol. Fantastic, if you make it compatible you will probably get a much larger user base considering everything on unity either costs money or sucks (missing important features).

[2016-11-25 03:49] lidanger opened #349 "Can it run in memory?"
I mean, when the app begins, LiteDB can load all data into memory, and then LiteDB synchronizes with the local file when the collection change.
Maybe it's not necessary, I only ask a question.

[2016-11-25 14:41] tolstenko commented on #347
@mbdavid Just to clarify things: Unity is working to support C#5. It will be matter of time to support it, so dont prioritize this task if it means lots of efforts. Unity already updated their compiler, but it isnt integrated to editor yet.
Unity developed a technology called IL2CPP, it means that all IL will be converted to CPP to be build using native compilers for mobile platforms and webgl. In

[2016-11-25 17:14] mbdavid commented on #347
@tolstenko, the changes was minimal and already done. Only few points was changed to compile in C# 4 (because when I starts LiteDB doesn't exists C# 6).

[2016-11-25 23:52] mbdavid commented on #349
Yes it's possible. You can load you file to memory and initialize LiteDB using MemoryStream and when you want persist in disk, write from memory to disk. some like this:
[code]

[2016-11-27 07:29] codemasterblackperl opened #350 "Xamarin Forms + prism"
When I tried to add the litedb from Nuget I am getting the following error.

Could not install package 'LiteDB 2.0.4'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2016-11-27 11:24] mbdavid commented on #345
Ok, it's now published

[2016-11-27 11:24] #345 closed

[2016-11-27 11:27] mbdavid commented on #350
Hi @codemasterblackperl, if you are running v2.x you must install `LiteDB.Core`.

But, I recommend you to use new v3-beta2 pre-release version `Install-Package LiteDB -Pre`. V3 are NetStandard in same `LiteDB` nuget (LiteDB.Core was discontinued)

[2016-11-27 17:35] codemasterblackperl commented on #350
Thanks. I will try that. If I have any issues I will update the issue.

[2016-11-27 18:56] MariusVolkhart commented on #292
This issue is no longer present in `3.0.0-beta2`

[2016-11-27 19:11] MariusVolkhart opened #351 "IL bug on Mono with 3.0.0-beta2"
When performing a `FindOne` query on a non-empty `LiteCollection<BsonDocument>` using the Mono runtime, a IL error occurs.

# Steps to reproduce
1. Insert a new `BsonDocument` into a `LiteCollection<BsonDocument>`
2. Call the `FindOne` method on this collection. The returned value does not need to be used.

## Expected behavior
I expect to obtain a `BsonDocument` matching the query parameters I pr

[2016-11-27 19:17] MariusVolkhart commented on #351
A minimal program to replicate the issue is available at https://github.com/MariusVolkhart/LiteDbIssue351Sample

[2016-11-27 21:15] mbdavid commented on #351
I guess the problem is when LiteDB try auto create index in Name field when using BsonDocument. Try use EnsureIndex before FindOne. I will fix it

[2016-11-27 23:36] #292 closed

[2016-11-28 00:24] rstat1 opened #352 "Deleting a doc from a LiteCollection causes a NullReferenceException."
I'm building a web-service using LiteDB that runs on Mono and Ubuntu, and whenever I try to delete a record I get the following NullReferenceException.

  at LiteDB.IndexService+<GetNodeList>c__Iterator0.MoveNext () [0x000f3] in /home/rstat1/Apps/third_party/LiteDB/Lit
eDB/Engine/Services/IndexService.cs:215
  at System.Linq.Buffer`1[TElement]..ctor (System.Collections.Generic.IEnumerable`1[T] sou

[2016-11-28 06:36] shai-benshimol opened #353 "Error"
I can't import LiteDB 3.0.0 beta in my project
Error     1          Invalid option '4' for /langversion; must be ISO-1, ISO-2, 3 or Default      LiteDB

[2016-11-28 11:23] MiklosPathy commented on #340
Thank You!

The discrete charm of v3 beta, it can handle my objects out of the box, so I don't need to override anything. :)

[2016-11-28 13:29] mbdavid commented on #353
Are using VS2015? I change this settings to be compatible with Unity3D and do not use some C# 6 features. You can change in you .csproj

[2016-11-28 15:05] ttesla commented on #352
Same here. Delete throws Null exception if a specific predicate is given.

`
// These two lines are from different parts of the code, they are not executed respectively
col.Delete(x => x.Name.StartsWith("Jo")); // Null exception.
col.Delete(Query.All());                              // No Exception.
`

[2016-11-28 15:07] Lakritzator opened #354 "Some potential bugs"
Hi,

just wanted to report something I noticed by looking into your code.

I believe BsonDocument.TryGetValue is calling itself -> Stackoverflow,

I hope I misunderstood, as this would be a major bug and it would be hard to overlook the exception. :confused:

Best wishes,
Robin

[2016-11-28 15:09] Lakritzator commented on #354
Another potential issue I found:
LiteStorage OpenWrite has:
[code]
Which probably should be:
[code]

[2016-11-28 15:40] Lakritzator commented on #354
Just to be sure you don't misunderstand me, I don't want to critisise you code!!!! I think it's a cool project, and very decent code! I just wanted to add something to improve the quality, and mistakes are made everywhere.

Besides the stuff above I found quite a lot of ArgumentNullException where the string with the name of the argument doesn't match the actual argument name. Most of the cases su

[2016-11-28 15:57] Lakritzator commented on #354
Some more observations:
You have multiple implementations of GetHashCode which reference a not readonly field, this could cause issues as GetHashCode is used to find an item inside collections etc. I believe they are only potential issues...

I had a look at ObjectId, upgrading to C# 6 will fix the issue, as you can make the properties "get only" which is like a readonly property... This would sol

[2016-11-28 16:03] Lakritzator commented on #354
I found a lot of potential NullReferenceExceptions, you might want to do a code analysis and fix some of them.

P.S.
"Big freaking list of mime types" :smiling_imp:

[2016-11-28 22:53] mbdavid commented on #354
Hi @Lakritzator,

First, no problem with you comments, not at all. Be free to to say what you think ;)

- About BsonDocument, fixed (BsonDocument now implement IDictionary so some methods are not tested)
- About OpenWriter, it's fixed too (it's new method too - in v3)
- Mime types list are terrible, but in .net35 there is no other option.
- I will run code analisys to check those NullReferenceExce

[2016-11-28 23:16] mbdavid commented on #352
Hi guys, thanks! Fixed. The problem was in delete from a non _id field query (thats why Query.All works)

[2016-11-29 00:25] rstat1 commented on #352
Can confirm. Issue is now resolved. Thank you :)

[2016-11-29 00:25] #352 closed

[2016-11-29 08:56] MiklosPathy commented on #332
Happiness!

I have concurrency problems with v3. Actually locking problem.
@mbdavid  could you please give an example how should be used v3 in multi threaded scenarios?

[2016-11-29 09:29] lidanger commented on #349
Good.

[2016-11-29 09:41] #349 closed

[2016-11-29 09:48] mbdavid commented on #332
Hi @MiklosPathy, in v3, each LiteEngine/LiteDatabase instance open datafile in exclusive lock mode. So, there is no 2 concurrency instances at same time. First thread open and second thread must wait first Dispose datafile.
So, there is no more multi-process access. There is only multi-thread. To work in multithread scenario, just open your datafile in a "global" area where all your threads can se

[2016-11-29 11:23] shai-benshimol commented on #353
We are using VS2010 in my work..

[2016-11-29 11:25] shai-benshimol commented on #353
I'm using vs2010, which .csproj need to change? LiteDB or my project, and what to change?

[2016-11-29 12:08] mbdavid commented on #353
You need change LiteDB.csproj to compile using default compiler. Take a look here

https://www.codeproject.com/tips/865579/how-to-change-targeted-csharp-version-in-visual-st

[2016-11-30 06:08] shai-benshimol commented on #353
Thanks..

[2016-11-30 19:12] codemasterblackperl commented on #350
Install-Package : Could not install package 'LiteDB 3.0.0-beta2'. You are trying to install this package into a project that targets
'.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are
compatible with that framework. For more information, contact the package author.
At line:1 char:1
+ Install-Package LiteDB -Pre

this i

[2016-11-30 19:17] mbdavid commented on #350
Hi @codemasterblackperl, I'm not a expert about Xamarin and portable apps. v3 uses NetStandard pattern. Maybe you need update your project, like see here:

https://xamarinhelp.com/dot-net-standard-pcl-xamarin-forms/

[2016-11-30 19:26] #353 closed

[2016-12-01 09:32] Lakritzator commented on #354
I am not really familiar with Unity3D and fail to see what the C# version you use has to do with it being compatible. I would understand the framework version, but mostly the compiler and framework can be used separately. I used to compile Greenshot for .NET 2.0 with a C# version which was newer..

At least it should be possible to use "nameof" and some other things, to improve the flexibility of

[2016-12-01 09:39] ropean opened #355 "A demo for LiteDB"
Just a demo, to test the speed for insert.
But, it's too slow.
https://github.com/ropean/LiteDBDemo

[2016-12-02 11:50] mbdavid commented on #355
Hi @ropean, you are using v2. In v2, you can't use multi-thread with a single LiteDatabase instance.

Try:
1) Update to v3-beta2 pre
2) Use a single LiteDatabase instance for all threads

This should improve, A LOT, your test performance. Take a look on this unit test concurrency/performance test:

https://github.com/mbdavid/LiteDB/blob/master/LiteDB.Tests/Engine/ConcurrencyTest.cs

[2016-12-03 10:01] aletfa opened #356 "PredicateBuilder (AndAlso - OrElse)"
http://www.albahari.com/nutshell/predicatebuilder.aspx
When i use this builder to create an expression to send to LiteDB...
"Additional information: Not implemented Linq expression"
i think it depend by the usage of AndAlso and OrElse... i'm wrong?

[code]

[2016-12-03 20:24] mbdavid commented on #356
Hi @aletfa, I'm fixing this. The main probleam here is PredicateBuilder starts using a constant True or False. False is easy to convert, just use QueryEmpty, but True must be converted in a Query.All() so it's not good to performance (will do a full index scan in _id index).

[2016-12-03 20:37] mbdavid commented on #356
Yes, fixed. I changed QueryAnd to not run QueryEmpty. Take a look on master branch

[2016-12-04 05:09] kuiperzone opened #358 "Maximum collection size?"
LiteDB looks great, although I'm slightly concerned about the 2GB file size limit in terms of future scalability for my application.

Am I correct in thinking that the maximum collection size on disk will be limited to 2GB? Are there any long term plans to extend this? Or is it hard limit for the foreseeable future?

Cheers

[2016-12-04 11:18] mbdavid commented on #358
Hi @kuiperzone, 2GB file size limit is "per file in FileStorage" not per "datafile". Each physical datafile supports UInt.MaxValue * PageSize (4096) =~16 TB

[2016-12-04 11:25] kuiperzone commented on #358
Excellent. Thanks for clarifying.

[2016-12-04 15:49] #358 closed

[2016-12-05 07:48] kuiperzone opened #359 "3.0.0 Beta - cannot add object without Id property"
I'm trying to add an object to a collection. It does not have an Id property and I'm getting the following error:

System.InvalidCastException : Specified cast is not valid.
   at LiteDB.BsonValue.op_Implicit(BsonValue value)

I note that this had been discussed before below and was reported fixed. Is this a bug?

https://github.com/mbdavid/LiteDB/issues/14

I'm really struggling with the design o

[2016-12-05 08:10] kuiperzone commented on #359
And several minutes later, I figured out it all by myself. Solution described below, but **I still want to ask about the System.InvalidCastException when there is no Id property**. I was of the understanding that one will simply be generated behind the scenes as described in issue #14. Is this no longer the case?

Solution: rather than derive a new class so that [BsonId] can be used, I discovered

[2016-12-05 10:54] johnzens opened #360 "MULTI IVs for Improved Database Security"
An important feature that made me choose litedb is native support for data encryption.
Looking through the implementation, i observed multiple encryptions for separate pages are done using a single global Initialization Vector stored in the Header Page.
I suggest a move to using separate IVs for each page to be encrypted.

Shared It's between multiple encryptions using the same password does creat

[2016-12-05 11:04] johnzens commented on #360
This stackoverflow discussion explains the technicals stackoverflow.com/questions/3008139/why-is-using-a-non-random-iv-with-cbc-mode-a-vulnerability

[2016-12-05 12:07] kuiperzone commented on #332
I hadn't fully understood the concurrency behavior in v3. I had assumed that it would be possible to have one write and one read connection.

Are you saying that it will not be possible to have a one read connection plus one write connection to the datafile? Not even multiple read only connections will be possible?

[2016-12-05 12:31] mbdavid commented on #360
Hi @johnzens, in v3 this feature was changed. Now, each database store a unique salt vector, in header.

https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Engine/Pages/HeaderPage.cs#L47

About store per page, it´s more complex to resolve and must change file format structure. I will take a look on how others database do to encrypt datafiles.

[2016-12-05 13:25] mbdavid commented on #332
@kuiperzone, It´s not full clear this behavior and I will write a wiki exclusive to explain how use in several scenarios.

v3 works different from old versions. It´s thread safe. But, to be thread safe, only a single instance can access datafile. So, it´s recommended keep "global" single instance of LiteDatabase (or LiteEngine) an all threads access (to read or write) this instance. With single in

[2016-12-05 14:47] johnzens commented on #360
V3's implementation is much more secured than the previous. As it currently stands, an hacker would need to fully understand the kind of database stored and the possible range of values of the data to be able to extract data from the database. Hence, for most applications, it's secured.

I fully understand that the file structure would have to change if each page is to have a separate Salt. Just a

[2016-12-05 14:48] kuiperzone commented on #332
HI David,

Thanks for the reply.

I understand the limitations of an embedded database. Certainly, things would be simpler with just one file connection and many applications will be fine with this.

For me, however, I have multiple processes with one writer plus one or two readers. The data is purely sequential with no complex relationships, and the writer will be updating once a minute or so, an

[2016-12-05 15:01] mbdavid commented on #332
Hi @kuiperzone, in your case you can:

1) Use v2.0.4 - all write locks are based on `FileStream` - keep datafile open as minimum as possible. Ca handle multiple processes.

2) Use v3 - Keep single instance to write. Use others instances with "ReadOnly" with minimum open time as possible. It´s possible occurs, in this case, read only connection read at same time on write instance are writing. Be pr

[2016-12-05 16:45] nerai commented on #327
To keep you updated, it will probably take a while before I can work on this. In the meantime, anyone feel free to go ahead as you wish.

[2016-12-05 20:18] abreseeOpsec opened #361 "Collection names not encrypted"
Hi,

I'm testing out LiteDB. One feature that that I'm interested in is encryption. I've created a test database using the connection string "filename=testDB.db;password=test", created a collection named "CollectionNameTest", added an object to it, and opened the file in a hex editor. While most of the file appears to be gibberish, I can read the name of the collection I created in plaintext.

![c

[2016-12-05 23:08] kuiperzone commented on #332
Hi,

Thanks very much indeed for the considered reply. It's possible I could still use LiteDB, but I would need to understand its limitation better than I do currently. Thought I'd explain where I'm coming from on this and share my thoughts on LiteDB. There are some questions as well:

Previously my application used its own file format to store data, but I'm in the process of re-writing and wanted

[2016-12-05 23:26] mbdavid commented on #361
Hi @abreseeOpsec, this "feature" is know when I wrote encryption. Header page (PageID = 0 / first 4096 bytes) are not encrypted because SHA1 password are stored there. And I need this hashed password to compare with user passed password.

You can see here:
https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Engine/Services/PageService.cs#L39

and here:
https://github.com/mbdavid/LiteDB/blob/maste

[2016-12-06 05:52] gyn7561 opened #362 "Big collection query throw a indexoutofrangeexception"
I have a 4gb litedb file(v 2.0.4).

`collection.Exists(Query.EQ("_id", new BsonValue(id)))`

It throw a IndexOutOfRangeException

break point
`return order == LiteDB.Query.Ascending ? this.Next[index] : this.Prev[index];

this.Next 's length equal 1;
this.Prev 's length equal 1;
index equal 1;

[2016-12-06 06:12] mbdavid commented on #362
All data are in a single collection?

[2016-12-06 06:13] gyn7561 commented on #362
yes

[2016-12-06 06:13] gyn7561 commented on #362
yes

[2016-12-06 06:24] gyn7561 commented on #362
Sorry for my poor english.

This error did not happen everytime.

For example

`collection.Exists(Query.EQ("_id", new BsonValue( "0000000000a"  )))`
it return true;

`collection.Exists(Query.EQ("_id", new BsonValue( "0000000000b"  )))`
it return false;

`collection.Exists(Query.EQ("_id", new BsonValue( "0000000000c"  )))`
it throw a exception.

[2016-12-06 06:26] mbdavid commented on #362
Can you post you document structure? I will try reproduce this.

[2016-12-06 06:43] gyn7561 commented on #362
[code]

Small database can't reproduce this exception.

I can provide my data file.

[2016-12-06 06:59] mbdavid commented on #332
Hi @kuiperzone, to choice best version of LiteDB for you I will try explain better how each version works with concurrency so you can decide better.

v1.0.4 - Each LiteDatabase instance open datafile with FileShare.ReadWrite. So, when on instance need write on disk, use FileStream.Lock()/Unlock() and no others can read/write. Writer instance change `ChangeID` parameter. When next reader try fetch

[2016-12-06 07:25] mbdavid commented on #362
I run this test in v3

        [TestMethod]
        public void BigFile_Test()
        {
            using (var file = new TempFile())
            using (var db = new LiteEngine(file.Filename))
            {
                // create more than 4gb file
                while(file.Size < 4L * 1024 * 1024 * 1024)
                {
                    db.Insert("col", GetDocs(5000));
                }

[2016-12-06 08:17] gyn7561 commented on #362
My file is generate in v2.

https://onedrive.live.com/redir.aspx?cid=8d96eb95fb64279e&resid=8D96EB95FB64279E!3989&parId=8D96EB95FB64279E!107&authkey=!Ag3xWmMoKv25RKY&Bpub=SDX.SkyDrive&Bsrc=Share&ref=button

[code]

[2016-12-06 14:55] podkolzzzin opened #363 "Exception during multiprocess concurrent access to LiteDB"
During develop we got such exception:

Single litedb file is used across 10 processes.
I've read that you completely updated concurrency, is this problem still possible in v3?
If such kind of concurrency isn't task of litedb we probably could use mutex, not concurrent access to db for many processes.

One more question: when stable version of v3 would be available?

Thanks for litedb, it's really

[2016-12-06 14:59] vkocjancic opened #364 "Shell for v3.0.0-beta2: Could not load file or assembly System.IO.FileSystem"
The error happens after I execute `show collections` command. Prior to that `open spm.db` command is issued which returns no error.

I have also tried running shell with filename as parameter. Problem persists.

[code]

[2016-12-06 15:53] mbdavid commented on #363
Hi @podkolzzzin, take a look on this thread: #332

v3 is almost done, just finishing some tests and upgrade database. More few weeks ;)

[2016-12-06 21:20] #356 closed

[2016-12-06 21:22] mbdavid commented on #351
If problem persist, please re-open issue

[2016-12-06 21:22] #351 closed

[2016-12-06 21:22] #94 closed

[2016-12-06 21:23] #347 closed

[2016-12-06 21:24] mbdavid commented on #348
If you problem persist, please re-open issue

[2016-12-06 21:24] #348 closed

[2016-12-06 21:24] #317 closed

[2016-12-06 21:24] #298 closed

[2016-12-06 21:25] #251 closed

[2016-12-06 21:25] #241 closed

[2016-12-06 21:25] #189 closed

[2016-12-06 21:26] #355 closed

[2016-12-07 02:18] mbdavid commented on #362
Hi @gyn7561, I download your datafile but didnt found this _id documents. In all cases results was "false" (not exists).

Also, I upgrade your datafile to v3 and no error. Read all documents and convert them to new version

[2016-12-07 02:24] gyn7561 commented on #362
Thank you for sparing your precious time.

[2016-12-07 04:16] shai-benshimol opened #365 "last_inserted_id()"
How can i get the last inserted id?

[2016-12-07 10:02] qart2003 opened #366 "Insert with unique int Id in multithread app"
My code. Is Ok this not direct way ? (Simple and work, but how can I do it right?)
[code]

[2016-12-07 11:13] mbdavid commented on #365
You can get from `Insert` method, like:

[code]

or from document

[code]

[2016-12-07 11:30] mbdavid commented on #366
Current version still not supporting multithread to auto-increment Id in `int` datatype. But I'm implementing another way to get next id. This will be available in next release.

[code]

[2016-12-07 12:54] qart2003 commented on #366
Thanks. I got 3.0 beta. What it mean threadsafe? My around are 150 users in internal workflow of company.
Probably I should using ReaderWriterLockSlim for every crud operation or no? (with 3.0 version)

[2016-12-07 13:22] mbdavid commented on #366
Hi @qart2003, in v3 you can share same LiteDatabase instance across threads (no process). LiteDB use ReadWriterLockSlim to control lock access. Take a look in this issue thread #332

[2016-12-07 14:41] SeanMakins opened #367 "Serializing MongoDB ObjectId as a Dictionary Key"
Hey mbdavid,

Thanks so much for liteDB it really is fantastic! Quick question, I need to serialize MongoDB ObjectId's (use a mongo deployment in mLab and liteDB as a local "buffer") and I have added the following:

LiteDB.BsonMapper.Global.RegisterType<MongoDB.Bson.ObjectId>
(
    (oid) => new LiteDB.ObjectId(oid.ToByteArray()),
    (bson) => new MongoDB.Bson.ObjectId(bson.AsObjectId.ToByteArray(

[2016-12-07 14:53] mbdavid commented on #367
Hi @SeanMakins, thanks for using LiteDB.

Basic deserialization of IDictionary must have a string as key. In this case, you can register this Dictionary<ObjectId, string>, some like this

[code]

You can create serializeCustomDict and deserializeCustomDict based here:

https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Mapper/BsonMapper.Serialize.cs#L122

https://github.com/mbdavid/LiteDB/blob/m

[2016-12-07 15:01] qart2003 commented on #366
Thanks, it is great

[2016-12-07 15:18] #366 closed

[2016-12-07 17:37] #362 closed

[2016-12-07 22:13] mbdavid commented on #359
Hi @kuiperzone, I just add unit test about this and still working with no Id.

[2016-12-07 22:17] mbdavid commented on #364
Is your LiteDB.dll is netstanard or net35? I just download from release page and works fine:

[code]

[2016-12-08 03:40] kuiperzone commented on #359
Nope, I'm having a definate problem here. When I define a document with "Id", it works fine, as below:
`
    public interface IDocument
    {
        long Id { get; set; }
    }
    public class DummyDoc : IDocument
    {
        long _id = 0;
        double _dv;
        string _sv;

        public long Id
        {
            get { return _id; }
            set { _id = value; }
        }
}
`

Ho

[2016-12-08 04:10] kuiperzone commented on #332
OK, I've been thinking hard about implementing my own solution from scratch, but this will be rather a non-trivial affair I fear.

This is such a pity, because if I had knowledge/control over where your code read and write, it would be easy for me to open a database-wide file lock when I'm about to write and read, and close it when I'm finished. This way, I could implement file concurrency. In fac

[2016-12-08 04:45] kuiperzone commented on #332
Just want to add that I see another user posting in the issues who has 10 processes accessing a database concurrently. If you completely abandon file concurrency, will this not be a breaking change for these users? Can you not support it optionally on a database wide level with a separate locking file?

[2016-12-08 10:02] qart2003 commented on #366
Hi @mbdavid I placed in bin directory of small web app (phonebook of workers or company) dll v3.0 and got halt site. I thinking it means some errors are present in LiteDB v3.0. I reviewed error directory it has Application_error Exception in html format but not found something useful about LiteDB. (Only simple code with read collection and show it)

[2016-12-08 12:01] mbdavid commented on #332
Hi @kuiperzone, after this issue thread I'm re-thinking about process concurrency. I read this nice explanation about how Sqlite deal with concurrency:

https://www.sqlite.org/lockingv3.html

To Sqlite, doesn't have diference between tread-safe (multi-thread) or process-safe (multi-process). But I don't know yet how lock a file in so many ways like this (as I know it's only possible lock/unlock -

[2016-12-08 14:53] SeanMakins commented on #367
Thanks so much for the reply, managed to get what I need.

Cheers,

-Sean-

[2016-12-08 16:48] #367 closed

[2016-12-08 17:02] mbdavid commented on #332
@kuiperzone, I has reading about other solutions to process safe and had an idea: use an `-lock` aditional file to control concurrency.

When a process want read only data, open/create this file in `FileShare.Read` mode and release/delete this file when finish. Many processes can do this at same time. When a process needs write, open this file in `FileShare.None` mode. Only 1 can do this and only

[2016-12-08 18:39] ttesla opened #368 "Transactions doesn't auto increment id"
I noticed an issue, I'm not sure if it is a feature or bug. When making bulk insertions with transaction it doesn't auto increment id.

The example code here throws exception: https://github.com/mbdavid/LiteDB/wiki/Transactions-and-Concurrency

    using(var db = new LiteDatabase("mydata.db"))
    {
        var col = db.GetCollection<Customer>("customer");
        using(var trans = db.BeginTrans()

[2016-12-08 19:13] ttesla commented on #368
Ok my bad. It was happening because I changed Customer "int id" to "Int64 id".

[2016-12-08 19:13] #368 closed

[2016-12-08 20:58] kuiperzone commented on #332
Yes, my thinking was the use of an additional file to control locking on a database.

My thinking is that it should be possible to specify a timeout so that if a reader/writer can't lock the file because it is already held, it will continuouly retry every x milli or x microseconds or so before timing out and throwing an exception. If you use a locking file, rather than a mutex, it will also allow

[2016-12-09 01:54] emrys90 commented on #328
Related to this question, how would I add a new property to a class that is also a class? I tried adding in a new key with the value being an empty bson document, but it then gave an error when it tried to deserialize it into the class. What do I need to add to the bson document to make it register as being the new class?

I'm trying to avoid direct references to the class, which is why I didn't j

[2016-12-09 03:09] duoduo999 opened #369 "LiteDB.Shell doesn't process limit or multi-part query propertly"
Hi,

I'm using v3 clone and it seems the shell doesn't process commands the following corectly:

    db.mycollection.find name="foo" limit 10
    db.mycollection.find name="foo" and type="bar"

It seems that the query parser doesn't seek the string scanner properly in these cases.

[2016-12-09 05:53] technicalganesh commented on #52
I have tried creating instance of the db everytime. I am still getting the same error. Couple of times while loading the calls are getting executed correctly and then the problem starts. My Wrapper class is as below:

    public class LiteDbDataStore<T> : INoSqlDataStore<T>
    {
        IDataStoreConfiguration liteDbConfiguration;
        public LiteDbDataStore(IDataStoreConfiguration liteDbConfi

[2016-12-09 12:42] mbdavid commented on #328
Hi @emrys90, can you paste you code here? Its a DbRef ?

[2016-12-09 12:42] #240 closed

[2016-12-09 12:43] #256 closed

[2016-12-09 12:43] #300 closed

[2016-12-09 12:44] #361 closed

[2016-12-09 13:08] FroggieFrog opened #370 "error 'invalid pageType' when Inserting items [3.0.0-beta2]"
I'm trying to use LiteDB, but I always get an error. Hopefully you can spot the problem with help of the attached project.

[LiteDBTest.zip](https://github.com/mbdavid/LiteDB/files/642200/LiteDBTest.zip)

[2016-12-09 15:33] emrys90 commented on #328
So let's say I have two classes,
public class ClassA {}
public class ClassB {}

I change ClassB to have a reference to ClassA
public class ClassB
{
    public ClassA ClassA { get; set; }
}

How do I write an update that will set the ClassA property on ClassB?

[2016-12-09 19:25] vkocjancic commented on #364
netstandard, because I am using it in .net core project.

[2016-12-09 19:51] mbdavid commented on #364
humm... will not work. LiteDB.Shell has referece only to LiteDB net35. If you want use netstandard you must reference NetStandard version of LiteDB

[2016-12-10 01:07] 0xFireball commented on #320
Guid and DateTime are still zeroed when objects are loaded from database:
Code:
[code]

`OpenOrCreateDefault` returns a static instance of a `LiteDatabase`.

When I load the object from the database, `Guid` and `DateTime` fields are reset.

Saving:
[code]

[2016-12-10 17:26] kuiperzone opened #371 "Question - rysnc on a live database?"
Just a quick question - I was wondering how reliable a backup of a live database (i.e. one that it being written to) would be if taken with rysnc or similiar?

From what I can tell, it may possibly work quite well. I see that LiteDB writes changes to journal files first and then merges them into the DB. If the DB is left in an inconsistent state, LiteDB can recover using the journal files. This sh

[2016-12-10 21:22] mkosieradzki commented on #371
I have following thoughts - please correct me if I am wrong!

1. You can try to copy entire db file (ignoring journal!). If you get exclusive lock on database file - database SHOULD be in consistent state (unless it is a reboot after power-off event - in that case this approach will fail!)
2. Use volume shadow copy service (VSS) on Windows and copy both files from single VSS snapshot - both files

[2016-12-11 01:02] kuiperzone commented on #371
Thanks for the response!

Rsync is LINUX/UNIX utility -- I'm actually thinking about running this on LINIX under EXT4 and .NET Core (or Mono). I don't imagine rsync is going to respect file locks (they are optional under LINUX).

The LVM links interesting. Thanks for that.

[2016-12-11 04:51] kuiperzone opened #372 "Possible bug with Upsert() - v3.0.0-beta2"
Calling Upsert() with a new document inserts the document as intended and returns true. However, if the document with a given Id already exists in the collection, Upsert(T) and Upsert(id, T) do not update as expected but return false.

[2016-12-11 04:57] kuiperzone opened #373 "No Insert(BsonValue, T) variant - v3.0.0-beta"
The Collection class has the following methods:

Upsert(BsonValue, T)
Update(BsonValue, T)

However, it lacks the equivalent for Insert(), namely:

Insert(BsonValue, T)

Is there a reason why it is missing?

This means that a document cannot be inserted (if it does not exist) with a specified Id value. The work around is to explicitly check that it does not exist and then insert it with a call to

[2016-12-11 06:54] kuiperzone opened #374 "Readonly connection is not respected - v3.0.0-beta"
It appears to be possible open a database in readonly mode and then modify it.

First off, I'm not clear from the documentation what the "readonly" keyname is. So if I've got this wrong, let me know. The document states:

**ReadOnly** (bool): Open database with only support to query (defult: false)

However, I cannot find the string literal "ReadOnly" anywhere in the LiteDB source. Instead, I find

[2016-12-11 07:04] kuiperzone commented on #374
After checking the LiteDB source futher, "read only" appears to be the correct name. Although it is case insensitive, there should be a space (correct me if I'm wrong). In any case, it doesn't work.

[2016-12-11 09:52] mbdavid commented on #374
Yes, should be "read only" with space. But I will change this to `Mode`: `Shared`, `Exclusive` or `ReadOnly` values,

[2016-12-11 09:59] mbdavid commented on #373
Yes, is missing. All this ways to insert/update are just shortcuts to a `Engine.Insert` and `Engine.Update`.  I will add this in next release version.

[2016-12-11 10:10] mbdavid commented on #371
Hi guys, as @mkosieradzki says, to make a copy you can:

1) Open datafile in exclusive mode
2) Checks if exists journal file - if exists, close it and open again using LiteDB to recovery and open again in exclusive mode
3) Copy datafile only

[2016-12-11 10:44] kuiperzone opened #375 "Question - Is v3 backward compatible with v2 data?"
Is v3 backward compatible with v2 data?

If I use v2 initially, could I upgrade to v3 later and will it read the data files generated by v2 seemlessly? Or would there be a migration proceedure?

[2016-12-11 11:10] mbdavid commented on #375
LiteDB uses a new datafile structure, V7. So, will be not compatible with any older version.

But, I wrote some migration. It's possible call `LiteEngine.Upgrade` do convert V6 to V7 datafile or use `upgrade=true` on connection string

[2016-12-11 11:15] kuiperzone commented on #375
Good stuff!

[2016-12-11 11:36] mdissel commented on #371
Maybe add a method to the LiteDbEngine to make a backup of the database to another directory?

[2016-12-11 11:54] kuiperzone commented on #371
I thinking ahead myself about being able to backup a live DB because I planning (hoping) to run this continuously on a Linux box. However, I don't really expect the developers to focus on this kind of application. I think having LiteDB perform backup on a live DB (i.e. one that is changing) is asking a little much of a project that it is designed to be an embedded database for desktop and phone ap

[2016-12-11 12:07] mdissel commented on #371
One of the reasons to use an embbed database is that there's zero maintenance and/or additional installation is necessary. The application itself can implement a backup strategy using the Backup method
The same method can be called from the shell.

[2016-12-11 14:29] igkutikov opened #376 "Delete"
IndexService.GetNodeList(IndexNode node, bool includeInitial)

in go backward
the line var p = this.GetNode(next)
is mistaken
should be
var p = this.GetNode(prev)

for now throws exception once it is the last one, and there is no next
this is probably a copy/paste error

[2016-12-12 10:04] mbdavid commented on #376
Hi @igkutikov, thanks. Was a copy/paste error ;) It's fixed in master and I will publish new version soon.

[2016-12-12 10:09] mbdavid commented on #332
Hi guys, many changes maded. I don't finish yet but my first tests are fine. In `dev` branch, I made support again to multi process (and keep multi thread too).

Checkpoint was removed but I'm studing how implement again. It's important when used in big transactions.

[2016-12-12 10:45] kuiperzone commented on #332
BUG: A LiteDatabase opened with "read only=true" in connection string allows documents to be inserted.

[2016-12-12 10:59] mbdavid commented on #332
Its changing: use Mode=ReadOnly | Exclusive | Shared (default)

[2016-12-12 11:07] kuiperzone commented on #332
OK. No worries. Just to confirm though - it's not changed yet? (Source still uses "read only").

Suggest you make backward compatible with "read only" otherwise existing apps using "read only" in v2 will break.

[2016-12-12 12:55] mbdavid commented on #332
It´s on `dev` branch. v1/v2 doesn't have read only mode.

[2016-12-12 16:03] janstafa opened #377 "Running insert on one thread and delete on another throws exception"
Hi David,
I am not sure if I am using LiteDB correctly but I wanna use it as a simple persisted cache in my desktop .NET 4.5 windows service app. I will be adding records from one thread and then I will run another thread which will select all records and then process them in the application and then delete from the cache. I tried this scenario with LiteDB but I am getting random exceptions in dif

[2016-12-12 16:38] kuiperzone commented on #332
Upsert() now appears to be working. Good stuff!

It has a bool return result. I'm assuming this is true on success.

Question - in what scenario would it return false rather than throwing an exception?

[2016-12-12 22:40] mbdavid commented on #377
Hi, LiteDB v1/v2 are not safe thread. If you want use you must lock statment (read and write operations).

Current v3-beta supports multi-thread and my dev branch will support multi-process too.

[2016-12-12 23:40] mbdavid commented on #327
To keep more update: next version will use PAGE_SIZE to control Lock file control. There is a new blank page (PageID 1) just to control this.

About lock
http://www.frenk.com/2010/03/leaky-abstraction-strikes-again-filestream-lock-gotchas/

I made a simple performance test to compare with SQLite with nice results. Maybe can be a start point to test more page sizes
https://github.com/mbdavid/LiteDB

[2016-12-13 10:12] janstafa commented on #377
Hi David,
thanks for the reply. I didnt realise that I am using version 2. I will get version 3 and test it.
Thanks,
Jan

[2016-12-13 10:12] #377 closed

[2016-12-13 10:39] gmwilhelm opened #378 "Upsert missing in netStandard v3.0.0-beta2"
Hello,

in the current beta version in LiteCollection the new Upsert is missing in the netStandard nuget package.

[2016-12-14 09:36] kuiperzone commented on #332
I've done a little multi-process concurrency testing with the dev branch. Basically, it doesn't work, not at least in the way I would expect.

Here's what I do:

I run a writer process which opens a Collection in a DB adds documents at a given interval, say every 50 ms.

I also have a reader unit test which launches the writer process then tries to read documents as they are being added. This test

[2016-12-14 10:34] mbdavid commented on #332
Is all about locking states. You can have N read process reading, but only 1 write (in excluvise mode). So, if any process still reading, write processas are waiting to write on disk. I will stil waiting until there is no more reading processes. When all finish, then writer processes can write. During writing, no one can even read. All others must wait writer processes finish.

If you starts a Fin

[2016-12-14 10:41] xX-MLG-Xx commented on #332
Currently I am using this on windows ce 6.5 running .net 3.5 cf

Func is missing
and Action is missing, I've tried to re implement them with c and C#
creating wrapper but cannot find the exact functions and their
implementations.

as well there is some rubbish double casting etc...

but my point is how do i get it to run on .net 3.5 CF (Compact Framework) -
Willing to rebuild form source code.

Pl

[2016-12-14 10:43] xX-MLG-Xx commented on #332
I would also like to contribute to LiteDB. that is after i get this to work on cf

[2016-12-14 10:58] xX-MLG-Xx commented on #332
here are the compiler errors

Severity Code Description Project File Line Suppression State
Error CS1061 'IEnumerable<BasePage>' does not contain a definition for
'ToArray' and no extension method 'ToArray' accepting a first argument of
type 'IEnumerable<BasePage>' could be found (are you missing a using
directive or an assembly reference?) LiteDB
C:\Users\dean.KHUSELA\Downloads\LiteDB-3.0.0-beta\

[2016-12-14 10:59] xX-MLG-Xx commented on #332
using Theraot.Core for new .net features for cf..

On Wed, Dec 14, 2016 at 12:58 PM, Dean Van Greunen <deanvg9000@gmail.com>
wrote:

--
Dean Van Greunen
0728855371

[2016-12-14 11:01] kuiperzone commented on #332
@mbdavid Hi David, Thanks for reply.

Question - How do I finish reading?

I mean, what if I abandon a FindAll() enumerable/enumerator result? How then is the file lock released?

Or do I need to call Dispose() on the LiteDatabase reader instance to ensure that reading has finished?

[2016-12-14 11:01] mbdavid commented on #332
Please, open another issue about this subject. I will delete this posts
from this thread to keep clean. Thanks

On 14 December 2016 at 08:58, Dean Van Greunen <notifications@github.com>
wrote:

--
  Maurício David

[2016-12-14 11:04] DeanVanGreunen opened #379 ".NET 3.5 CF Compilation Issues"
Using .NET 3.5 CF
Rebuilt LiteDB for .NET_CF using said pre-build command.
builds correcly.

issues comes in when it refers to the Desktop and not the CF System.Core Runtime DLL
please help

[2016-12-14 11:14] kuiperzone commented on #332
@mbdavid , I'm really confused here. In a previous comment, you say "use Mode=ReadOnly | Exclusive | Shared (default)"

So I am building a connection string using terminating in "...;mode=readonly" and "...;mode=exclusive" etc.

However, in the LiteDB souce I can find no code which reads these settings. ConnectionString.cs still uses "read only", and "mode" appears to be entirely ignored. I don't

[2016-12-14 11:20] mbdavid commented on #332
@kuiperzone, there is no need close database. Just use foreach or any LINQ that will dipose IEnumerable. http://stackoverflow.com/questions/35796913/how-can-i-cancel-an-ienumerable
I made a unit test to check about linq First method

[2016-12-14 11:26] xX-MLG-Xx commented on #379
@kuiperzone

I'm using VS 2015 Pro Edition With Update 3 - LiteDB
I'm using VS 2010 Pro Edition - Smart Device (PocketPC)

LiteDB is being shipped with System.Core (Desktop DLL)
which can not be used on PocketPC (Win CE 6.5 OS with .NET 3.5.0.0)

Please Help Me UNDERSTAND how and why I can not get LiteDB built with and reference the System.Core (Mobile DLL)

[2016-12-14 11:32] mbdavid commented on #332
@kuiperzone, ok, it's was not clean about open datafile modes. This is new that I added in this current version. So lets understand:
- Exclusive: Works exactly as v3-beta. Open datafile as exclusive mode. No others instances even open datafile. It's ideal if you are using global instances (as mencioned in v3-beta).
- ReadOnly: Open datafile as readonly. Can't changed anything. Do not create any ex

[2016-12-14 11:36] mbdavid commented on #379
.NET 3.5 CF is an old target framework. It's not compatible with NetStandard 1.4 - current version will not work.
But, LiteDB v2 uses PCL portable and can be possible to use (if creates another LiteDB.Platform).

Mobile is not my area, so it's hard to help you with this.

[2016-12-14 12:01] kuiperzone commented on #332
@mbdavid

OK. So only Shared (default) appears to be implemented in the dev version I downloaded a couple of days ago. This is fine of course, so long as I understand correctly.

I see!

Now, I did actually check the documentation for IEnumerator before I asked the question -- IEnumerator does **not** inherit IDisposable.

However IEnumerator<T> does. Strange there's a difference between the gener

[2016-12-14 12:03] xX-MLG-Xx commented on #379
seems that it doesn't will have to port back to SQLite, any suggests about
concurrency issue.

what i do is disconnect from db (it has been opened etc, 1 insert statement
transaction) - closed etc...
then I try to read from the file using a FileStream and it sends currupted
data stream to server (data transfer is 100%)

some how a certain page or region within the file is locked and isn't being
re

[2016-12-14 12:15] mbdavid commented on #332
@kuiperzone, definitely you must use only shared mode in all instances. The others modes are not for your case.

Yes, I never checked about non-generic version of IEnumerator... but LiteDB uses only generic version.

[2016-12-14 12:19] xX-MLG-Xx commented on #332
can i be removed from this mail thread please, as well you may delete all
my issues and also could one sate on main doc page (read me that cf is not
supported.

maybe in the future I'll submit a push request which may contain a cf
helper. :)

On Wed, Dec 14, 2016 at 2:15 PM, Mauricio David <notifications@github.com>
wrote:

--
Dean Van Greunen
0728855371

[2016-12-14 12:24] mbdavid commented on #332
I can remove you, but you can remove yourself. Click in "Unsubscribe" issue notification

[2016-12-14 12:53] kuiperzone commented on #332
@mbdavid , OK it's working. **But** I have to dispose of LiteDatabase after every write operation in the writer process in order for them to be picked up by the reader.

Not sure I should have to do this. Am I missing something?

[2016-12-15 07:56] ttesla opened #380 "Unity3d - Insert() Error"
I'm getting exception when I try LiteDB on Unity3d (5.4.2). The code is the example code in [getting started tutorial](https://github.com/mbdavid/LiteDB/wiki/Getting-Started).

The exception is thrown at  "_**col.Insert(customer);**_" line.

[code]

[2016-12-15 10:08] duoduo999 commented on #369
Thanks!

[2016-12-15 17:56] mbdavid commented on #380
Are you using v2 or v3?

[2016-12-15 17:57] #369 closed

[2016-12-15 17:57] #375 closed

[2016-12-15 17:57] #374 closed

[2016-12-15 17:58] #371 closed

[2016-12-15 17:58] #364 closed

[2016-12-16 06:46] ttesla commented on #380
v3

[2016-12-16 12:09] AlcoholV commented on #20
Data Change Notification Callbacks!!

[2016-12-16 19:14] dayus20 opened #381 "How to implement nested Include in beta 3"
Hi,
To my understanding you implemented some way to nest multiple level of include (according to past issues).
I have this situation :

[code]

I need to select all elements in classA but i need to get the name stored in ClassD. How would I do that?

[2016-12-16 22:14] mbdavid commented on #381
I'm still working on this syntax on dev branch;

`col.Include(x => x.myB[0].myC[0].myD)`

[2016-12-16 23:35] #373 closed

[2016-12-17 07:38] 0xFireball commented on #20
+1 Export database as JSON

[2016-12-17 16:46] qart2003 commented on #332
Hi, @mbdavid I replace in bin directory dll of v2 to v3 and the site was not started
In code I used using (LiteDatabase(fn)) StartPage is read data and show it. Probably is other fileformat?
Also in small new test I stored 200 mb data on disc (list of objects, only the one collection) This Bll class From not small app with List<other Bll class> as properties of objects in stored collection. The ne

[2016-12-17 17:39] mbdavid commented on #332
Hi @qart2003, is your datafile are from v2? v3 uses another format. If you want update from v2 to v3, use "upgrade=true" in connection string (first time only) or call `LiteEngine.Upgrade`. This will create a backup file and convert your documents from v2 to v3.
About your other problem, please, create a new issue with more information to better track.

[2016-12-17 21:45] qart2003 commented on #332
@mbdavid Thanks, I will try. The second part is ok, it was my funny error

[2016-12-18 11:27] honfus opened #383 "upload file doesn store the binary"
Hello,
I'm using the latest V3beta2 from nuGet.
Following code does store a part of the data like filename or upload but not the binary data of the jpg-file. Chunks and length got 0. Even the database file does not grow as expected and the exception is not raised.
`public LiteFileInfo uploadFile(string id, string fileName) {
            try {
               LiteFileInfo fileInfo = db.FileStorage.U

[2016-12-18 12:21] mbdavid commented on #383
Thanks @honfus, was missing a `Flush()` in `Stream`. I'm commiting in dev branch I will merge later.

[2016-12-18 12:32] honfus commented on #383
wow, thanks for the fast fix. I cloned the dev branch and it's working now as expected.

[2016-12-18 21:01] #383 closed

[2016-12-18 23:24] mbdavid commented on #332
@kuiperzone yes, after each Commit, all changes are made in disk. If you are not using transactions, "auto transaction" are created in each execution.

After made all changes to work with shared datafile I realized that NetStandard has no `Lock/Unlock` command in 1.x (will be available only in v2). So, shared datafile will work only in NET35 build. I tried to made using external `-lock` file and d

[2016-12-19 11:08] aldoblack opened #385 "Password"
Is there any way to put password on the db file?