[2020-02-05 17:46] #773 closed

[2020-02-05 17:46] lbnascimento commented on #778
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:46] #778 closed

[2020-02-05 17:46] lbnascimento commented on #723
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:46] #723 closed

[2020-02-05 17:46] lbnascimento commented on #737
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:46] #737 closed

[2020-02-05 17:46] lbnascimento commented on #803
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:46] #803 closed

[2020-02-06 00:32] Lupinho commented on #1429
Yes! At least now my test does not run into errors anymore. Tested with and without extra transaction. Also my other use-case seems to behave now errorless!
Thanks alot!

[2020-02-06 01:03] omfgicbf commented on #546
@lbnascimento so you are officially abandoning support for v4 now?

[2020-02-06 04:52] nightroman opened #1445 "[BUG] Predicates with arguments do not work with DeleteMany"
**Version**
LiteDB 5.0.1, net45, Windows 10

**Describe the bug**
Predicates with arguments do not work with collection's `DeleteMany` in LiteDB v5.0.1

**Code to Reproduce**
Example:

- create `BsonExpression` predicate with an argument
- use it with `DeleteMany`, the expected document is not deleted
- the same predicate works fine with `FindOne`
- `DeleteMany` still works with the similar predic

[2020-02-06 05:11] nightroman commented on #1445
The same problem with database's `Execute`:

- hardcoded `DELETE test WHERE $._id = 1` works
- but `DELETE test WHERE $._id = @0` with argument 1 does not

Please let me know if I should create a separate issue for `Execute`.

[2020-02-06 07:05] #1334 closed

[2020-02-06 07:08] GitOffice commented on #1442
PM> install-package litedb
install-package : Part URI cannot start with two forward slashes.
At line:1 char:1
+ install-package litedb
+ ~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Install-Package], ArgumentException
    + FullyQualifiedErrorId : NuGetCmdletUnhandledException,NuGet.PowerShell.Commands.InstallPackageCommand

-------------------
When I type "install-packa

[2020-02-06 11:14] Tviljan commented on #1099
Does Find work differently than FindById? Using FindById seems to still be broken

[2020-02-06 11:16] Tviljan commented on #1099
Here is example unit test used https://gist.github.com/Tviljan/f48fea8d5f6f8800ab7884a5af5cadf7

[2020-02-06 11:38] Tviljan commented on #1099
Hi,

My test still fails using latest v5

Here is gist https://gist.github.com/Tviljan/f48fea8d5f6f8800ab7884a5af5cadf7

[2020-02-06 11:58] #1099 closed

[2020-02-06 13:33] mbdavid commented on #1442
Try "Install-Package LiteDB" with same capitalize as registered in nuget

![install](https://user-images.githubusercontent.com/1137197/73941443-11f4b700-48cc-11ea-850d-ee69531df23e.gif)

[2020-02-06 13:34] #1442 closed

[2020-02-06 14:06] mbdavid commented on #1445
Thanks @nightroman, was a missing copy parameters in specific "_id = " DeleteMany();

[2020-02-06 14:07] mbdavid commented on #1445
Will be available in next minor version (will release tomorrow or monday)

[2020-02-06 14:18] nightroman commented on #1445
@mbdavid Thank you!

May I ask off-topic but related question about `Execute`? Is `INSERT` supposed to support parameters in `VALUES`? These now fail with "Unexpected token `@`":

[code]

Maybe it's by design.
If yes, I wounder if this is planned for the future perhaps.
If no, I'll open the separate issue then.

[2020-02-06 14:21] mbdavid commented on #1445
At this moment, no. Insert is the only SQL command that not accept expressions (only JSON). It's because parse/compile expressions are very slow (if compared with only parse JSON). I have plans to auto-detect with user input pure JSON (and then resolve with JsonReader) or an expression (and then resolve with BsonExpression)

[2020-02-06 14:26] nightroman commented on #1445
Thank you, no problem at all, it's very useful to know in any case.

[2020-02-06 14:37] mbdavid commented on #1445
This will be very important when LiteDB will support some "T-SQL-Like" language for store procedures and triggers (is on my roadmap)

[2020-02-06 16:31] mbdavid commented on #546
Hi @omfgicbf, v4 will be maintained only for bugs and critical updates. Any new feature will be applied only in v5 (it's too hard keep both in evolution)

[2020-02-06 16:50] #1429 closed

[2020-02-06 16:59] #1445 closed

[2020-02-06 17:26] lbnascimento commented on #734
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:26] #734 closed

[2020-02-06 17:27] lbnascimento commented on #809
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:27] #809 closed

[2020-02-06 17:27] lbnascimento commented on #818
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:27] #818 closed

[2020-02-06 17:27] lbnascimento commented on #807
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:27] #807 closed

[2020-02-06 17:27] lbnascimento commented on #815
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:27] #815 closed

[2020-02-06 17:27] lbnascimento commented on #690
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:27] #690 closed

[2020-02-06 17:27] lbnascimento commented on #820
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:27] #820 closed

[2020-02-06 17:28] lbnascimento commented on #823
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:28] #823 closed

[2020-02-06 17:28] lbnascimento commented on #827
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:28] #827 closed

[2020-02-06 17:28] lbnascimento commented on #830
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:28] #830 closed

[2020-02-06 17:28] lbnascimento commented on #826
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:28] #826 closed

[2020-02-06 17:29] #832 closed

[2020-02-06 17:29] #834 closed

[2020-02-06 17:30] lbnascimento commented on #831
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:30] #831 closed

[2020-02-06 17:30] lbnascimento commented on #842
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:30] #842 closed

[2020-02-06 17:30] lbnascimento commented on #829
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:30] #829 closed

[2020-02-06 17:30] lbnascimento commented on #836
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:30] #836 closed

[2020-02-06 17:31] lbnascimento commented on #845
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:31] #845 closed

[2020-02-06 17:31] lbnascimento commented on #848
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:31] #848 closed

[2020-02-06 17:31] lbnascimento commented on #850
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:31] #850 closed

[2020-02-06 17:34] lbnascimento commented on #853
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:34] #853 closed

[2020-02-06 17:35] lbnascimento commented on #887
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-06 17:35] #887 closed

[2020-02-06 17:45] cjvanwyk3 opened #1447 "[BUG] [v5] Unable to upgrade Version 4 to version 5 when index has "." in name"
<img width="321" alt="ErrorImage" src="https://user-images.githubusercontent.com/60750704/73963571-2a69cf00-48d6-11ea-9d16-da3342113d1a.PNG">
**Version**
Lite Db Version 5

**Describe the bug**
When creating an index on a property that is more than one level deep in version 4
public bool EnsureIndex<K>(Expression<Func<T, K>> property, bool unique = false);
the index gets created with a "." in betw

[2020-02-06 19:25] lbnascimento commented on #1447
@cjvanwyk3 This issue is fixed in master and will be included in the next incremental release (which will probably go live on Monday).

[2020-02-06 19:25] #1447 closed

[2020-02-06 20:08] fastlink30 commented on #1430
thanks, this solved

[2020-02-06 20:53] #1430 closed

[2020-02-07 01:01] GitOffice commented on #1442
![QQ拼音截图20200207081742](https://user-images.githubusercontent.com/1814649/73990223-7f175380-4983-11ea-8af2-b2350428e025.png)
Is it maybe the reason for Internet Service Provider in China ?

[2020-02-07 15:03] nkkin commented on #600
I forgot about it hhhh and u still use litedb and i've got some errors last
two days...  I've uninstalled monkey cache and problems started

On Wed, 5 Feb 2020, 18:31 Leonardo Nascimento, <notifications@github.com>
wrote:

[2020-02-07 15:19] seahawks8 opened #1449 "LiteDB works only with local drive"
wrote A desktop application early last year, but now this issue started showing up, is there a way I can enable to read from shared drive.
![7832FBB8-5728-4DE0-8DBB-DB9CEE76E9D1](https://user-images.githubusercontent.com/20735170/74041282-9ace2a00-4982-11ea-9a49-2576e4c0a03d.jpeg)

[2020-02-07 16:34] loebi-ch opened #1450 "[QUESTION] What's the equivalent for db.GetCollection<Command>("commands").Include(new string[] { "$.Package", "$.Command", "$.Command.Package" }) in version 5?"
Hi there!

I have migrated LiteDB from version 4 to 5 and face the problem that `Include()` doesnt' accept a string **ARRAY** argument anymore.

So far, I have used
`db.GetCollection<Command>("commands").Include(new string[] { "$.Package", "$.Command", "$.Command.Package" })`

`Command` is an abstract class and there are different implementations of it. I save all of them in one collection. Some o

[2020-02-07 18:04] lbnascimento commented on #1450
@loebi-ch There's an onverload of `Include` that takes a `BsonExpression` as argument, and strings are implicitly converted to `BsonExpression`, so you can simply use `db.GetCollection<Command>("commands").Include("$.Package")` for your first include. This should work for abstract classes with no issues, even if some of the subclasses don't have a `Package` property.

Regarding the rest of your qu

[2020-02-07 18:41] lbnascimento commented on #1449
@seahawks8 Could you provide us more info, like the LiteDB version you're running?

[2020-02-07 19:01] seahawks8 commented on #1449
Using Version 5.0.1 (the Older version where I did not get this error was 4.1.4)

[2020-02-07 19:05] lbnascimento commented on #1449
Try using the shared mode. Use the follwing connection string:

[code]

[2020-02-07 19:17] seahawks8 commented on #1449
Thanks, I will give it a shot, I thought it was enabled by default.

[2020-02-07 19:34] loebi-ch commented on #1450
Thank you @lbnascimento for your very fast response.

I wrote "I have migrated LiteDB from version 4 to 5 and face the problem that Include() doesn't accept a string argument anymore." Actually I meant "STRING ARRAY".

So before in version 4 I used a string array like this:

`db.GetCollection<Command>("commands").Include(new string[] { "$.Package", "$.Command", "$.Command.Package" })`

Does the co

[2020-02-07 19:40] lbnascimento commented on #1450
@loebi-ch You have to make multiple calls to `Include`, in the same order that you used to place the expressions in the string array. So yes, it would look something like `db.GetCollection<Command>("commands").Include("$.Package").Include("$.Command").Include("$.Command.Package")`.

We are considering creating a new overload to `Include` that takes a `params BsonExpression[]` as input in the next

[2020-02-07 19:43] nightroman opened #1451 "[BUG] NullReferenceException in LiteCollection.Update(T)"
**Version**

LiteDB 5.0.1 and the latest from repo, Windows 10, net45

**Describe the bug**

`NullReferenceException` in `LiteCollection.Update(T)`

**Code to Reproduce**

[code]

**Expected behavior**

I would expect it to work and return `false`, i.e. the document is not updated because there is none with the provided `_id`.

**Screenshots/Stacktrace**

[code]

**Additional context**

[code]

[2020-02-07 19:58] nightroman commented on #1451
This might be due to the not yet created collection.
The similar command works if the collection exists.

[2020-02-07 19:59] loebi-ch commented on #1450
Thank you!

[2020-02-07 19:59] #1450 closed

[2020-02-07 20:55] mbdavid commented on #1451
Thanks @nightroman !! Fixed

[2020-02-07 21:07] #1451 closed

[2020-02-07 21:10] JensSchadron commented on #1449
@seahawks8 If you've tested this and it meets your requirements, could you please close the issue :)
It helps in not losing sight of other tickets.

[2020-02-07 21:23] seahawks8 commented on #1449
No problem, I will test it shortly after work.

[2020-02-08 06:44] nightroman opened #1452 "[BUG] Expression X AND Y should not evaluate Y when X is false"
**Version**

LiteDB 5.0.1 and the latest from repo, Windows 10, net45

**Describe the bug**

In the expression `X AND Y`, `Y` is evaluated even if `X` is evaluated to `false`.

As a result, evaluation of `Y` may fail when `X` is supposed to avoid evaluation of `Y` with invalid arguments.

**Code to Reproduce**

[code]

**Expected behavior**

See code comments.

**Screenshots/Stacktrace**

Output o

[2020-02-08 07:36] #1449 closed

[2020-02-08 12:24] JensSchadron commented on #1437
Hi @Pokis

Neither Leonardo or myself have been able to reproduce your issue, could you maybe check out the master branch and try running this test on your machine (or see how it differs from your test case)?

[2020-02-08 14:03] nightroman commented on #888
Hi @v2kiran , it's me again :) I was passing by, found this post, and ran similar performance tests out of curiosity.

Here is another kid on the block, [Ldbc](https://github.com/nightroman/Ldbc), the PowerShell module for LiteDB.

Performance test after the original:

[code]

Output:

[code]

NB The original performance test could be faster:

- PowerShell and machines are faster nowadays
- If not

[2020-02-08 16:52] mbdavid commented on #1452
Hi @nightroman, thanks again for discover this. I change expression implementation to use `AndAlso` and `OrElse` in `BsonExpression` parser and compiler. Will be avaiable in next version.

[2020-02-08 21:13] darcome opened #1453 "[QUESTION] How to correctly set a shared connection?"
Hi all, I am on v5.0.1 and I don't understand how to set the connection as shared. I have tried with both Mode=Shared and Connection=Shared but if I open the database in LiteDB Studio and then in my app or the opposite, I receive an exception stating that the file is already opened in another process.

Can you tell me what is the correct way of setting the connection as shared?
Thanks in advance

[2020-02-08 21:19] darcome opened #1454 "[SUGGESTION] Make LiteDbExplorer the official LiteDB Studio."
**Is your feature request related to a problem? Please describe.**
Not really a problem other than the solution, in my opinion, is more advanced than the current Studio.

**Describe the solution you'd like**
Would you consider using https://github.com/julianpaulozzi/LiteDbExplorer as the official LiteDB Studio?

[2020-02-08 22:07] JensSchadron commented on #1453
@darcome Here's a working example of how to run LiteDB in Shared connection mode
[code]

If you prefer using a connectionString object instead of a literal string, you can also replace the string with something like this
[code]

[2020-02-08 22:14] darcome commented on #1453
@JensSchadron THank you very much! It worked like a charm!

[2020-02-08 22:14] #1453 closed

[2020-02-08 22:33] moabtools opened #1455 "[QUESTION] Can't get collection of interface"
Hi!

In version 4.1.4 I was able to get interface collection like
[code]
In version 5.0.1 I can't do this - it needs type, not interface.

Why? How to fix it?

[2020-02-08 23:07] mbaletic opened #1457 "[QUESTION] {"This operation is not supported for a relative URI."}"
I'm getting this error, my code is:

`private bool InsertBotConfigToDb(string path)
        {

                var stream = new StreamReader(path).ReadToEnd();
            // Open data file (or create if not exits)
            using (var db = new LiteDatabase(Server.MapPath("~/db.db")))
            {
                // Get customer collection
                var col = db.GetCollection<BotConfig>("

[2020-02-08 23:24] JensSchadron commented on #1457
Hi @mbaletic,
Can you show us what the result is of `Server.MapPath("~/db.db")`?
Also, could you provide us with the version of LiteDB you're utilizing?

[2020-02-08 23:32] mbaletic commented on #1457
C:\\Users\\user\\source\\repos\\project\\project\\db.db

Latest version from nuget

[2020-02-08 23:36] christopherpross commented on #967
Hey,
very big sorry for this delay, it was all my fault, I had used a very ineffiziently code to upload.
I close this now.
sorry for that.

[2020-02-08 23:36] #967 closed

[2020-02-09 07:34] nightroman opened #1458 "[BUG] Expression IIF(X, IfTrue, IfFalse) evaluates both IfTrue and IfFalse"
**Version**

LiteDB 5.0.1 and the latest from repo, Windows 10, net45

**Describe the bug**

In the expression `IIF(X, IfTrue, IfFalse)`, both `IfTrue` and `IfFalse` seem to be evaluated.

As a result, evaluation of one of them may fail when `X` is supposed to avoid this evaluation with invalid arguments.

**Code to Reproduce**

[code]

**Expected behavior**

See code comments.

**Screenshots/Stac

[2020-02-09 09:38] demeyera commented on #1430
Is it possible to use this method for _chunks and _files as well?

[2020-02-09 10:08] mbaletic commented on #1457
What's weird is that Db is working in console application but on my MVC app it doesn't.

[2020-02-09 13:43] GitOffice opened #1459 "[QUESTION]"Part URI cannot start with two forward slashes " occurs when v4 to v5"
Install-Package LiteDB -Version 4.1.4 is OK, but it is not for  Version 5.0.1
![73990223-7f175380-4983-11ea-8af2-b2350428e025](https://user-images.githubusercontent.com/1814649/74103197-28796780-4b85-11ea-8a46-ab8d6f19d84b.png)

[2020-02-09 15:26] mbaletic commented on #1457
Help!!!

[2020-02-09 19:31] mbdavid commented on #1430
@demeyera yes, no problem. _chunks and _files are normal collection and can be exported/imported

[2020-02-09 19:52] mbdavid commented on #1458
Hi @nightroman, same problem in AND/OR logical test. Upgrade to use `Expression.Conditional` linq expression. Thanks!

[2020-02-09 19:55] mbdavid commented on #1454
LiteDbExplorer is the best tool for LiteDB, ever. But, current version works to v4 only. New v5 works with SQL syntax to query, insert, update, delete or execute any other commands. I will talk with @julianpaulozzi about his plan with LiteDbExplorer

[2020-02-09 20:31] #1427 closed

[2020-02-09 20:32] #1452 closed

[2020-02-09 20:32] #1458 closed

[2020-02-09 21:04] grammyleung commented on #642
I agree with you.

[2020-02-10 03:58] nightroman opened #1461 "[QUESTION] Do Exists and Count "Need indexes on query expression", as comments tell?"
Do collection methods `Exists` and `Count` "Need indexes on query expression", as comments tell?

XML documentation code comments tell:

`Exists`:

`Count`:

What does "Needs indexes on query expression" mean?
My tests show that indexes are not *required*.
Are these comments out of date perhaps?

[2020-02-10 05:07] v2kiran commented on #888
Hi @nightroman
those are really good numbers :)
Thanks for the tip with the process block, will try that out.

[2020-02-10 11:50] asakl opened #1462 "[QUESTION] disable creation of LiteDB-log"
when I create a database (let's call him "DB"), it's created me a file DB.db and DB-log.db.
how I can create a database without the log file?

the c# code is:
`var db = new LiteDatabase(@"DB.db");`

[2020-02-10 15:14] FuturistiCoder opened #1463 "ILiteEngine injection [QUESTION]"
It seems like we cannot inject a customized ILiteEngine when creating a LiteDatabase in V5.
Can we have this feature?

[2020-02-10 18:19] alemik opened #1464 "[BUG] Exception when rebuild to change password"
LiteDB v5

Hello
If I use this code, after running a rebuild to change password ( from 1234 to 12345) I get this exception: "Ticks must be between DateTime.MinValue.Ticks and DateTime.MaxValue.Ticks". Am I doing something wrong or is it a bug?
The code is pretty much the same as LiteDB.Studio.

    public partial class MainWindow : Window
    {
        public LiteDatabase LiteDatabase { get; set;

[2020-02-10 19:37] mbdavid commented on #1464
Hi @alemik, can you paste your stacktrace so I can track what's going on.

[2020-02-10 19:40] mbdavid commented on #1463
Hi @FuturistiCoder, is possible that feature will be available in next version, or something equivalent.

[2020-02-10 19:42] mbdavid commented on #1462
This temp file are required in LiteDB v5 because it's used as WAL (write ahead log). All databases needs this to implement of ACID. This file are deleted when you close database.

[2020-02-10 19:45] mbdavid commented on #1461
Is this about v4 or v5?

[2020-02-10 19:47] mbdavid commented on #1457
Did you try to put this path fixed in LiteDatabase creation? This folder has permission on IIS?

[2020-02-10 19:48] nightroman commented on #1461
v5 and the current source code (with these doc comment) from master

[2020-02-10 19:49] mbdavid commented on #1459
Is this error occurs only with LiteDB? I try reproduce here but has no problem (and there is no more issues about this).

[2020-02-10 19:50] mbdavid commented on #1461
hummm... so it´s old documentation (required for v4). I will update XML documentation

[2020-02-10 19:55] #1461 closed

[2020-02-10 20:16] JensSchadron commented on #1459
While I can't reproduce this issue myself, I'm going to investigate this a bit more.

[2020-02-10 22:21] JensSchadron commented on #1459
I think I might have a possible solution for this issue.
As per [this response](https://github.com/NuGet/Home/issues/7601#issuecomment-502813859), I might be able to resolve it by leaving the PackagePath attribute for the License file empty in the csproj file.
Another solution would be to give the license file an extension  (.txt or .md) as per [this link](https://github.com/NuGet/Home/wiki/Packag

[2020-02-10 22:42] mbdavid commented on #1459
Wow, @JensSchadron can be right. v5 has update 2 tags: License e Icon as recommended nuget upload package

[2020-02-10 22:43] #1459 closed

[2020-02-10 23:21] JensSchadron commented on #1459
@GitOffice So a new version (5.0.3) will be released somewhere next week as stated in #1466.
Please let us know if the fix I did actually works :) If not, I'll try fixing it the other way. So, best case, you can install LiteDB next week, worst case in 2 weeks from now.

[2020-02-11 15:59] asakl commented on #1462
OK thanks.
but, even when i close my program entirely it's still there...
the file can risk my data? (like, if it's a private info)

[2020-02-11 16:07] GeorgeStorm opened #1467 "DB/Collection breaks after power loss?"
Hi,
We had this issue in the past, and had hoped v5 would solve it, but it appears not, the error is as below:
"The instance of entity type 'Interlock' cannot be tracked because another instance with the same key value for {'Id'} is already being tracked. When attaching existing entities, ensure that only one entity instance with a given key value is attached. Consider using 'DbContextOptionsBuild

[2020-02-11 17:04] mbdavid commented on #1467
Hi @GeorgeStorm, I never see this error message before. It's not internal from LiteDB. Where this classes are from `DbContextOptionsBuilder.EnableSensitiveDataLogging` (is not from LiteDB too).

Are you using some third-party library for cache or mapping?

[2020-02-11 17:05] JensSchadron commented on #1455
Hi @moabtools

I've tried to reproduce your issue, however... I didn't find anything that could be wrong.
You can find the code that I used below (tested against v5.0.2 though) :)

[code]

Inspecting the fruitsalad list gives us 1 Apple and 1 lemon object with the correct properties.
Can you let us know if you still have the same issue on 5.0.2? If not, you can close the issue :)

[2020-02-11 17:15] JensSchadron commented on #1467
If I recall correctly, `DbContextOptionsBuilder` is a class from EntityFramework Core?

[2020-02-11 20:20] nightroman opened #1468 "[QUESTION] Is it safe to derive my type from BsonExpression?"
LiteDB 5.0.2

Fact: The type `LiteDB.BsonExpression` is not sealed.
Question: Is this "accidental" or I may "safely" derive my type from it?

I have a use case for such inheritance in [Ldbc](https://github.com/nightroman/Ldbc), the PowerShell module based on LiteDB.

For the moment I use a not derived wrapper of `BsonExpression`, somewhat more PowerShell friendly. Of course, sooner or later it is

[2020-02-11 20:33] mbaletic commented on #1457
Yes and yes

[2020-02-11 20:34] duduric opened #1469 "[BUG] Always NullReferenceException in FileStorage.Find()"
**Version**
Using version 5.0.2

**Describe the bug**
Find always returns a System.NullReferenceException in any path or database we try. The same code works perfectly and was in production on Version 4.1.4.
We know there are file because Exists() and Download() is working correctly with the same paths

**Code to Reproduce**

        public List<string> GetFilesInPath(string path)
        {

[2020-02-11 20:48] jmr85 opened #1470 "[QUESTION] When installing LiteDB I get an error that the package does not contain assembly references .NETFramework, Version = v4.0"
`Install-Package LiteDB -Version 5.0.2`

When I want to install LiteDB I get a .NETFramework error

Install-Package: The package 'LiteDB 5.0.2' could not be installed. You are trying to install this package in a project that has '.NETFramework, Version = v4.0, Profile = Client'

Install-Package: The package 'LiteDB 5.0.2' could not be installed. You are trying to install this package in a project

[2020-02-11 20:53] duduric commented on #1462
It seems it's only deleted when you call LiteDatabase.Dispose();

[2020-02-11 21:04] JensSchadron commented on #1457
Could you provide us with the stacktrace of the exception?
Also, it might speed things up if we could get some minimal code that easily reproduces your exception as I can't seem to reproduce your issue.

[2020-02-11 22:25] wormen commented on #1047
hi
in current versions has the opportunity to work with NodeJS?

[2020-02-11 22:54] lucwuyts commented on #1047
Did you see this?
https://www.dotnetcurry.com/nodejs/1195/using-edgejs-combine-dotnet-nodejs

[2020-02-12 01:49] scharada commented on #1438
@lbnascimento it looks like i have overseen a detail. my id property setter was internal. i have created a project with the same conditions and it worked. i'll need to verify if this solves the issue in my project . will post the result as soon as i get to it as i need to revert the workaround.

[2020-02-12 05:47] alemik commented on #1464
Everything seems to be working properly today. I'll investigate better. For now, I'm sorry I wasted your time.

[2020-02-12 06:28] GitOffice commented on #1459
Got it.Thanks.

[2020-02-12 08:27] deje07 commented on #1469
FileStorage.FindAll() is also affected...

[2020-02-12 08:44] pwasiewicz opened #1471 "[BUG] Records not keep in sync when using memory stream"
**Version**
5.0,1

**Describe the bug**
I have bunch of unit tests (1000+). When I write unit tests (simplified to show core of code) that uses memory stream:
[code]
The problem is that **sometimes** this code fails (tests are run in a parallel). It seems that Query doesn't see inserted record before. (record is null). I can say it is about 50% of cases.

Maybe I am missing some `Flush` after inse

[2020-02-12 09:21] frankli0324 commented on #960
updates? from 2020

[2020-02-12 16:09] moabtools commented on #1455
Sorry, it was urgent and I temporary moved to Mongo :) So, if you checked it - I think it works now.

[2020-02-12 16:09] #1455 closed

[2020-02-12 16:16] GeorgeStorm commented on #1467
Hi, yes we are using Entity framework.

Upon further inspection, it appears that error is appearing due to the data in the database having been incorrectly modified where some of the information from one row has overwritten some in another row, causing the two rows to contain the same 'Id'.

Prior to the power off the system was running fine, and nothing else was changed in the system.

As a resul

[2020-02-12 16:59] mbdavid commented on #1467
How can you are using EF with LiteDB? There is a connector to do this? Can you post a full example?

[2020-02-12 17:01] mbdavid commented on #1047
At this moment there is no way to work with LiteDB outside .net world. LiteDB is implemented and run over .net only,

[2020-02-12 17:02] mbdavid commented on #1462
You always should call Dispose() on LiteDatabase after use. If not, you will not close file connections

[2020-02-12 17:04] mbdavid commented on #1464
No problems, I will close this issue. If happing again, please reopen or create a new one.

[2020-02-12 17:04] #1464 closed

[2020-02-12 17:10] mbdavid commented on #960
Not yet. But I will add in my 5.1 roadmap to analyze this implementation if is possible to do.

[2020-02-12 17:15] mbdavid commented on #1470
Hi @jmr85, v5 requires NET 4.5+or NETCore 1.1+

If you need run in v4 you should keep in v4.x version

[2020-02-12 17:16] #1470 closed

[2020-02-12 18:27] mbaletic commented on #1457
"   at System.Uri.get_AbsoluteUri()\r\n   at LiteDB.BsonMapper.<>c.<.ctor>b__34_4(Uri uri)\r\n   at LiteDB.BsonMapper.<>c__DisplayClass35_0`1.<RegisterType>b__0(Object o)\r\n   at LiteDB.BsonMapper.Serialize(Type type, Object obj, Int32 depth)\r\n   at LiteDB.BsonMapper.SerializeObject(Type type, Object obj, Int32 depth)\r\n   at LiteDB.BsonMapper.Serialize(Type type, Object obj, Int32 depth)\r\n

[2020-02-12 18:27] mbaletic commented on #1457
"   at System.Uri.get_AbsoluteUri()\r\n   at LiteDB.BsonMapper.<>c.<.ctor>b__34_4(Uri uri)\r\n   at LiteDB.BsonMapper.<>c__DisplayClass35_0`1.<RegisterType>b__0(Object o)\r\n   at LiteDB.BsonMapper.Serialize(Type type, Object obj, Int32 depth)\r\n   at LiteDB.BsonMapper.SerializeObject(Type type, Object obj, Int32 depth)\r\n   at LiteDB.BsonMapper.Serialize(Type type, Object obj, Int32 depth)\r\n

[2020-02-12 18:30] #1457 closed

[2020-02-12 18:34] JensSchadron commented on #1457
@mbaletic does this mean your issue has been resolved?

[2020-02-12 18:49] JensSchadron commented on #1467
@GeorgeStorm Not sure if it's possible, but it might be really useful if you could also attach the database for further inspection 🙂

[2020-02-12 19:20] mbdavid commented on #1469
Hi @duduric,

FileStorage works a bit different in v5. There is no more restriction about `_id` type in `_files` collection. In v4, `_id` is the filename with path. In v5, is any unique _id (with any data type you what, like `string`, `int`, ...). So, the `Find()` method change to implement any type of query over `_files`. You can write like:

`fs.Find("_id LIKE @0", path + "%")`

or

`fs.Find("_i

[2020-02-12 19:20] mbdavid commented on #1469
@deje07, yes, it's a bug. I'm fixing this. For now you can use some like `fs.Find("1 =1")`

[2020-02-12 19:28] mbdavid commented on #1471
Hi @pwasiewicz, there is no need to `Flush` in v5. This automatic execute after insert queue. As your example, you are not sharing MemoryStream across multiples tests (parallel here are using in isolated LiteDatabases and MemoryStream).
I had almost half of my unit tests in LiteDB using MemoryStream too. I will try to reproduce your same example.

[2020-02-12 19:35] duduric commented on #1469
Thanks, we have been able to fix this part of the code

[2020-02-12 19:35] #1469 closed

[2020-02-12 19:57] mbdavid commented on #1468
My quick answer: I never thought about in a class that inherits `BsonExpression`. This class is like `Expression` in LINQ tree. But in LINQ, types of `Expression` are represented using another classes. In `BsonExpression` I simplify this using only `Type`.

I have no plans (yet) to create sub/super classes from `BsonExpression`. I had no needs for that. `BsonExpression` works nice for me now. If y

[2020-02-12 20:06] Lupinho opened #1472 "[BUG] System.InvalidOperationException on insert/query"
LiteDB 5.0.2

Now I get this error:

System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
   at System.ThrowHelper.ThrowInvalidOperationException(ExceptionResource resource)
   at System.Collections.Generic.Dictionary`2.Enumerator.MoveNext()
   at LiteDB.BsonDocument.CopyTo(BsonDocument other)
   at LiteDB.Engine.IndexCost..ctor(CollectionIndex index, B

[2020-02-12 20:22] pwasiewicz commented on #1471
@mbdavid I've tried to replace `MemStream` with ":memory:`. connection string, and problem is gone. Anyway,, when swtiched back to `MemoryStream` it test fails again.

[2020-02-13 08:14] GeorgeStorm commented on #1467
Sorry we're extracting data from LiteDB, and then transferring data to a SQL database on another computer where we're using entity, the error is being fed back as the data in liteDB has broken, therefore causing two rows to have the same id when trying to insert them to the sql database.

[2020-02-13 10:08] GeorgeStorm commented on #1467
I'm guessing the db-log file would have been useful but whilst I saved a copy of the db where the data had been changed incorrectly I didn't save the log file as I'm not used to it having only just switched to v5.

[2020-02-13 14:07] mbdavid commented on #1472
Hi @Lupinho, can you paste your unit test code to check this?

[2020-02-13 14:43] jackkoolage opened #1473 "[BUG] Query.Descending / Query.Ascending"
**Version**
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**
litedb.5.0.0-rc / 7 x32 / 4.5.2

**Describe the bug**
col.Find(Query.All(Query.Ascending), limit:=Limit)
col.Find(Query.All(Query.Descending), limit:=Limit)
both commands gives same results (Ascending)

**Code to Reproduce**
[code]

[2020-02-13 15:24] frankli0324 commented on #960
thanks

[2020-02-13 17:45] Soruk opened #1474 "[QUESTION] Using Memory Stream in v5"
Hi,

With migration to v5 there are some breaking changes (there is no Shrink method, no access to Engine etc) and there is no documentation how to migrate from v4.
In v4, I used MemoryStream to load data from file and pass it to the LiteRepository, and after when I finished working with LiteDB I was saving the MemoryStream to disk as byte array in a file. And afterwards when reloading the MemoryS

[2020-02-13 22:46] asakl commented on #1462
OK, thank you very much!

[2020-02-14 00:26] GitOffice opened #1475 "[QUESTION] How to use paging effectively in V5"
LiteDB is convenient and effective and I can't help but continue using it in the mobile app.
In V4, I have created index and use engine.FindAll to get all results and then page the collection with Linq-to-Object  Skip.

Users have to get the next page with Pull-to-Refresh  because the pagination of search results doesn't show on the mobile screen.

It is the drawback that app will hit the db with

[2020-02-14 08:36] pelhu opened #1476 "[BUG] Findone with predicate return wrong entry if parallel updating is in progress"
**Version**
Litedb v5.0.2 / Windows10 / .NET Core 3.1

**Describe the bug**
If search by indexed field and an updating is in progress in parallel thread a wrong entity is returned.
When index is removed than work properly.

My guess is that the query on the index and the re-creation of that index overlap.

[2020-02-14 11:02] gnimor opened #1477 "[QUESTION] Delete after upgrade to 5.X"
With version 4.X I was able to delete entries with:

col.Delete(Query.EQ("_id", toDelete.Id));

This doesn't work with 5.X. So what is the best approach with 5.X to delete records? I didn't find anything in the documentation?

[2020-02-14 14:34] GW-FUB opened #1478 "Delete all items from collection"
With LiteDB v4 is was used to write `Delete(Query.All())`. This doesn't work with v5 anymore. Also using `DeleteMany(_ => true)` gets me an exception.

How can I delete all entries from a collection?

[2020-02-14 19:26] cjvanwyk3 opened #1479 "[SUGGESTION][BUG] Memory cost of creating database in LiteDb 5 is significant when creating many database files"
**Is your feature request related to a problem? Please describe.**
In LiteDB 4 you can have many databases and not have an issue with memory.  In LiteDb 5 each database has a memory cost. Connecting to 100 databases uses about 800 MB in memory usage.

**Describe the solution you'd like**
It would be nice for LiteDb 5 databases to not use as much memory on creation

**Describe alternatives you've c

[2020-02-14 22:24] JensSchadron commented on #1478
@GW-FUB Not completely sure how it's supposed to be, but this does the job 🙂
[code]

[2020-02-14 22:32] JensSchadron commented on #1477
Hi @gnimor
Here's a sample that (hopefully answers your question.
[code]

As you can see in the sample, you could either delete a specific item by it's Id using the `col.Delete(<id>)` method, or you could use the DeleteMany method which accepts predicates and BSON expressions.

If this answers your question, please close the issue 🙂

[2020-02-15 02:00] Lupinho commented on #1472
At this time I have no unit test for this error. Anyway I can't get around this error in my application and so LiteDB is not useable for me in this state. The situation is the same as in the other error I reported, which was fixed: I bulk-insert many documents while querying at the same collection. I have only two collections, where one is DbRef-ed by the other.
For me the error looks like a Bson-

[2020-02-15 03:35] aktxyz commented on #1295
great !!! how soon is soon :)

[2020-02-15 13:10] mbdavid commented on #1475
Hi @GitOffice, in v5 you can use `Query()` fluent API to do that. v5 has a power query engine that implement some in-database features (not present in v4) like Multiples Where/OrderBy/Skip/Limit/GroupBy/Select... it's much more flexiable than v4

[2020-02-15 13:21] mbdavid commented on #1473
Hi @jackkoolage, thanks! I miss the `_id` parameter when not passed. Fixed and will be avaiable in nuget this next week

[2020-02-15 13:21] #1462 closed

[2020-02-15 13:32] mbdavid commented on #1474
LiteDB v5 works quit different from v4 in this aspect. In v4 you had a single file only (with no temp data). v5 needs temp (log file) to implement WAL. When you initialize a database with MemoryStream, another memory stream are created to store data log (pages changes). This new memory stream contains changes only and when get 1000 pages, this file are copied into original data file. This command

[2020-02-15 14:00] nightroman opened #1481 "[QUESTION] What is the idiomatic way to create an empty collection?"
What is the idiomatic way to create an empty collection?

Maybe I missed some existing API but the only way I know is to add and remove a
dummy document. Is there a better way to create an empty collection?

Use cases? They are rare of course but I am sure there are more than one.

[FarLite]: https://github.com/nightroman/FarLite

I have a scenario in [FarLite], the LiteDB browser in Far Manager:

[2020-02-15 14:05] jackkoolage commented on #1473
thanks
im in love with that db .. keep going

[2020-02-15 14:05] #1473 closed

[2020-02-15 14:18] nightroman commented on #1474
Given I create a database instance A using

[code]

Is that correct that I should not open another database instance B using the same stream until I close A? (Because, my thinking, A and B will create different WAL streams instead of using the same).

[2020-02-15 17:23] Soruk commented on #1474
Hi @mbdavid thanks for the explanation.
With the `Checkpoint()` method, my use case works well again.

[2020-02-15 18:08] JensSchadron commented on #1474
Hi @Soruk , I'm closing this issue as I believe it has been resolved. If it isn't the case, please reopen this issue :slightly_smiling_face:

[2020-02-15 18:08] #1474 closed

[2020-02-15 18:08] Lupinho commented on #1472
Test-wise I build in a retry to BsonDocument.CopyTo; this seemed to work. Synchronizing the access to the Dictionary did nit work on first try and may slow down normal access. But I dont know why there is concurrency on these documents and what is the concept in LiteDB to deal with concurrency.

[2020-02-15 21:41] jackkoolage opened #1482 "[BUG] Query.GTE / Query.GT"
**Version**
litedb.5.0.0-rc / 7 x32 / 4.5.2

**Describe the bug**
Query.GTE/Query.GT return nothing
[size] is a long 1,2,3...10
[code]
i get results: 12345
but with :
[code]
i get nothing as return

[2020-02-15 21:46] mbdavid commented on #1481
Hi @nightroman, today there is no fancy way to do that, there is no `CreateCollection` method or some similar to that.

I will mark your question as suggestion, so I will discuss this with all team.

[2020-02-15 22:15] grammyleung commented on #642
After studying on this, It seems that it was a default setting of MongoDb, as a follower to MongoDb, LiteDb continues the same default setting is quite reasonable.

[2020-02-15 22:23] julianpaulozzi commented on #1454
Thank you for enjoying the [LiteDbExplorer](https://github.com/julianpaulozzi/LiteDbExplorer) project. It took many hours of work to considerably evolve the original project.

Any contribution and/or suggestion is welcome, you can submit suggestions by creating an issue on Github.

Yes, I intend to support version 5, I would just like to do it in the same executable and project.
Follow [Enchanceme

[2020-02-15 22:35] darcome commented on #1454
HI and thanks for the reply! I suppose that v4 will be out of support soon, and therefore even if LiteDbExplorer support only v5 would be ok. BUt that's, of course, is up to you :)
Also because v5 has an option to upgrade a v4 db to v5.

Anyway I hope v5 support for LiteDbExplorer will be available soon :)

Keep up the goo job!

[2020-02-15 22:55] mbdavid commented on #1482
Hi @jackkoolage, I made some unit test but didn't found this bug. Can you paste a more complete example, with data too?

[2020-02-16 04:36] nightroman opened #1483 "[BUG] NullReferenceException on Insert with auto id and BsonDocument with `_id=0`"
NullReferenceException on Insert with auto id and BsonDocument with `_id=0`

**Version**

LiteDB 5.0.2 and the latest from repo, Windows 10, net45

**Describe the bug**

1. Given a `LiteCollection<BsonDocument>` with auto id `Int32`.
1. Insert a `BsonDocument` with `_id = 0`.
1. -> NullReferenceException

**Code to Reproduce**

[code]

**Expected behavior**

This scenario works without exceptions

[2020-02-16 14:57] cs-util commented on #1196
@mbdavid  I saw you removed the v5 label, is there any news why the AOT platforms like WebGL have currently problems with LiteDB?

[2020-02-16 16:38] jackkoolage commented on #1482
after some testing i fount that if i pass wrong datatype to GTE i get nothing .. but for LTE i dont care about the datatype
=====
[code]
= 5 results
[code]
= wrong results but theres a result
[code]
= 5 results
[code]
= nothing

===
another test
[code]

[2020-02-16 22:23] maxkatz6 opened #1484 "[QUESTION] How to filter by referenced collection primary key?"
Let's take next relation
[code]
Which is registered in next way
[code]
On this point I understand, Owner document will contain only id of child document.
But how should I filter Owner documents by Child id?
I can use next code:
[code]
But is it the best way to do filter by referenced document id? Because code above requires Include, when I don't really need child document, except of Id.
Also, how

[2020-02-17 07:30] gnimor commented on #1477
This works as expected

[2020-02-17 07:30] #1477 closed

[2020-02-17 07:35] gnimor opened #1485 "[BUG]"
**Version**
LiteDB 5.0.2

Create a new litedb scope within another throws an SystemIO exception

After ugpgrading to 5.0.2 it seems it is no longer possible to create another LiteDb scope for the same db file within another one.

e.g,

[code]
The result is the following exception:

The process cannot access the file 'C:\XXX\MyData.db' because it is being used by another process.

This worked fine

[2020-02-17 09:01] clement128 commented on #1300
hi @mbdavid  any plan to support async methods?

BTW thanks for the great works

[2020-02-17 10:26] maxbl4 commented on #1374
Upgraded to 5.0.2. The test same test still fails from time to time, but it has different error:
[code]

Otherwise everything works, I have used @lbnascimento comment about pragmas - thanks. What would be great is a way to set default pragmas during starup, and make some way to set them in a type safe, compile time checked way, not with simple strings.

[2020-02-17 10:43] maxbl4 commented on #1374
Looks like the new exception was side effect of version change on first run. Now I see the same error again
[code]

What I should mention, is the nature of my test. Basically it will create file data-001.litedb, put one record there, then open the file again and try to read the record into not compatible object to get an error. My repository code should catch the error, add new sequence number to

[2020-02-17 10:46] maxbl4 commented on #1374
Yes, I have update my test code to also delete litedb log file and now test is green every time. Looks like there should a check, when litedb creates new database file, that there is already a log file and it is has incompatible data

[2020-02-17 12:56] mbdavid commented on #1485
Hi @gnimor, v5 works with 2 different types of connection: `Direct` (default) that locks file and `Shared` that do not lock and do open/close each operation. It's highly recommended use single `LiteDatabase` instance across your threads (can be used as Dependency Injection as Singleton). Take a look on connection string docs:

http://www.litedb.org/docs/connection-string/

[2020-02-17 13:01] mbdavid commented on #1374
Hi @maxbl4, v5-rc datafiles are not compatible with final v5. Datafile structure was changed. You need recreate your database. If you error presist, please open another issue to be better and simple to track.

[2020-02-17 13:07] mbdavid commented on #1484
Hi @maxkatz6, if you don't need to include you can filter by `$id` key. Like this:

[code]

[2020-02-17 13:13] mbdavid commented on #1300
Hi @clement128,

Was not possible to implement in v5 because was pretty complex at the moment. But now, with v5 released It's on plans no v.5.5 (next "major" upgrade)

[2020-02-17 13:18] mbdavid commented on #1196
Hi @cs-util, I remove because `master` branch are current v5 version and all updates will be run over master. You still have problems with LiteDB in unity (final v5 version)? If true, please open an bug issue with an example (I'm not Unity programer - so if you create a simple project in unity with your error will be best). I'm very interested in resolve any Unity compatibility problem

[2020-02-17 13:30] mbdavid commented on #1482
Hi @jackkoolage, It's only about DataTypes. When you compare 2 different data types, values are not converted, only compared Data Tyes.

[code]

So, when you compare `String` with `Int` (no matter with value you are comparing) you have `String > Int`.

In `BsonValue.cs`

[code]

[2020-02-17 13:36] mbdavid commented on #1483
Thanks again @nightroman, this 3th-party fine tests are great for LiteDB

[2020-02-17 13:40] mbdavid commented on #1196
@cs-util, sorry, I read "branch" not "label". But my anwser still same: I remove `v5` label from all issues because I will identify only `v4` because all others must be about `v5`.

[2020-02-17 17:20] #1482 closed

[2020-02-17 18:25] nightroman commented on #1483
I have tried the change. It does not fail anymore, thank you (some workaround in my code will go).

I have some doubts about the details... The test code does not change the `_id` in the input document. So that in the test we may add `doc["_id"].AsInt32.Should().Be(0);` to the end.

But is this "right"? This is not consistent with strongly typed cases where input IDs are updated in "documents".

[2020-02-17 18:49] mbdavid commented on #1483
I assume that if you are using `BsonDocument` as `T` in `GetCollection`, you can omit `_id` in your `BsonDocument` entity (different when you use strong typed class with `int` or `long` id value).

Make sense to you?

[2020-02-17 19:38] nightroman commented on #1483
This explanation makes sense, yes. But note that I cannot "omit `_id` in my
documents" in some scenarios because they are created from strongly typed
instances using the mapper `Serialize`. In theory, my `Ldbc` might want to
propagate these IDs back to input instances (I am not doing this now but...).

There is a bigger problem though, it looks like `_id = 0` is inserted, i.e. this passes:

[code]

[2020-02-17 19:48] nightroman commented on #1483
And another bigger problem.

Let's undo this change and create and run this new test for `InsertBulk`:

[code]

It passes without the fix and fails with the fix applied.
This means:

1. The fix breaks working fine `InsertBulk`.
2. `InsertBulk` (old) updates `_id` in input `BsonDocument` (so for consistency, at least, `Insert` should, too).

[2020-02-17 19:57] maxkatz6 commented on #1484
@mbdavid thanks!
I will try it

[2020-02-17 19:57] #1484 closed

[2020-02-18 03:08] DinoChan commented on #1462
在某些情况下，我们没权限删除目录下的任何文件（GMP或21CRF），这个临时的日志文件会引起某些异常。真的没办法禁止日志文件吗？

[2020-02-18 03:26] yaozhong-OMEC opened #1486 "[QUESTION] Can I use LiteDB V5 do not create or delete log file (GMP or 21crf) ?"
I use LiteDB V5 for data file to store data. In some cases, we do not have permission to delete any files (GMP or 21crf) in the directory. This temporary log file will cause some exceptions. Does it have solution?

[2020-02-18 06:49] HaseebIftikhar5275501 opened #1487 "Lite DB File created in version 4+ not readable in version 5.0.2"
My lite db file created using version 4+ got corrupted. When I open the same file in litedb studio the file opens but file collections are not opening using version 4+. I upgraded the lite db dll to latest version from nuget. Now I am facing LCID error.
Please guide what can I do in this situation.

[2020-02-18 09:04] PeterHagen commented on #1295
Our production site seems to have broken due to this issue. So this update is really welcome!

[2020-02-18 17:09] undergroundwires opened #1488 "[SUGGESTION] Use LiteDB in memory with password"
**Is your feature request related to a problem? Please describe.**
I'd like to use the LiteDB in memory with password protection.

**Describe the solution you'd like**
Add password in constructor that will configure `EngineSettings` with a password.
`new LiteDatabase(Stream stream, BsonMapper mapper = null, string password = null)`

[2020-02-18 17:28] mbdavid commented on #1295
Hi @PeterHagen, it's on 5.1 roadmap :)

[2020-02-18 17:33] mbdavid commented on #1488
Hi @undergroundwires, added in 5.1 roadmap support again to constructor with `ILiteEngine`

[2020-02-18 17:37] mbdavid commented on #1486
You can use in-memory log file. But be careful, if occurs any error during checkpoint process can (and will) corrupt your datafile. At this point, to do this, you must work only with `LiteEngine` class because this option are not available in `LiteDatabase`.

[2020-02-18 17:39] mbdavid commented on #1487
Hi @HaseebIftikhar5275501, LCID error is because you are open v5.0.0-rc in v5 final. You must open your datafile (original) in lastest version of LiteStudio (with lastest version of v5).

[2020-02-19 00:27] Thdm1907 opened #1489 "[BUG] LiteDatabase is not thread safe"
**Version**
LiteDB 5.0.2 with .NET Core 3.1 (don't think this part matters)

**Describe the bug**
Per the suggestion at https://github.com/mbdavid/LiteDB/wiki/Concurrency, I create a single LiteDatabase instance to share with multiple thread. The code snippet inserts a single record then queue a Task to remove the record. Even though the deletion Tasks are running on a separate thread, the Tasks a

[2020-02-19 05:57] vuplea opened #1490 "Task.Run should be used in DiskWriterQueue.cs"
Currently the code uses an overload of `Task.Factory.StartNew` that captures the TaskScheduler on which the constructor is executed. This immediately results in deadlock in single-threaded schedulers as the reader is blocking. Task.Run should be used instead (situation described in https://blog.stephencleary.com/2013/08/startnew-is-dangerous.html)

[2020-02-19 08:13] yaozhong-OMEC commented on #1486
Thanks. Will the option be available in `LiteDatabase` in the future?

[2020-02-19 13:20] mbdavid commented on #1489
Hi @Thdm1907, I just run you code and works as expected: all documents was inserted and collection are empty on LiteStudio.

![concurrency](https://user-images.githubusercontent.com/1137197/74837972-656df880-5301-11ea-9ac0-f8167d5b530e.gif)

ps: (you are looking documentation for v4 - use www.litedb.org for v5 documentation)

[2020-02-19 13:35] mbdavid commented on #1486
Yes, will be part of 5.1 (will be release next month)

[2020-02-19 15:32] Thdm1907 commented on #1489
I'd say the result is mix. I re-run the test code multiple times, there are times when it works fine and there are times when it doesn't work. From my tests, it works 2 out of 10 times. If you re-run the test code multiple times, hopefully you can see it too. If it doesn't, maybe there's some issue with my environment and you can close this issue as not reproducible.

[2020-02-19 16:34] mbdavid commented on #1489
I test again multiple times... and 100% I get same result. But, I made some changes in your code:

- DropCollection just after open database (to ensure there is no previous data)
- Use `_eventProcessingTask.Wait()` insted sleep (to ensure deleted was finish)
- Call `_db.Dispose()` before finish (to ensure checkpoint runs)

Try do this in your environment to check if could be some like this.

About

[2020-02-19 19:47] nightroman commented on #1483
It is labelled "Fixed". I just want to be sure that the recent remarks are taken into account. The fix is not quite right and it also introduces a regression.

[2020-02-19 19:50] mbdavid commented on #1483
I will back into this issue before new release

[2020-02-19 20:32] pablopioli commented on #1489
Well I have found another case, in this case involving files. I have a controller that display images stored in a LiteDb database

        [HttpGet]
        public ActionResult Get([FromRoute] string id)
        {
            var db = _options.Database;

            var file = db.FileStorage.FindById("$/image/" + id);

            if (file == null)
            {
                return NotFound();

[2020-02-19 21:19] Thdm1907 commented on #1489
@mbdavid I see that adding a Dispose call at the end of the program helps and the database is consistent with what I expect. Another way to implement it is to give the Insert and Delete call its own instance of LiteDatabase via the `using `statement like:
[code]
I assume that the Dispose call will make sure the transactions are flushed to the file system and that's why it works for either calling

[2020-02-19 21:19] #1489 closed

[2020-02-20 09:51] seertenedos opened #1492 "[BUG] Nullable type support does not work in V5.0.2 and dotnetcore 3.1 linux docker"
**Version**
LiteDB 5.0.2 running in linux docker using dotnet core 3.1
**Describe the bug**
When using a nullable type like Guid? in dotnet core an error is thown to say "There is no _id field mapped in your type: System.Nullable`1[[System.Guid, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]" In the past we had a similar issue in another app we used wit

[2020-02-20 09:55] seertenedos commented on #1492
sorry my mistake i had an old DbRef registered in the mapper that caused it.

[2020-02-20 09:55] #1492 closed

[2020-02-20 13:13] mbdavid commented on #1489
@pablopioli, can you open another issue about your error. Can be a concurrency problem but are not related with this issue.

[2020-02-20 13:39] mbdavid commented on #1489
Hi @Thdm1907, there is some points here:

Engine contains an async writer queue to write in disk (in async thread) all dirty pages direct to Log file. This process still occurs after user get "Insert OK" (or delete, update...). If you interrupt your program during this async write, this missing pages/transactions will not be write and when open database again you will see "half" operations.

When

[2020-02-20 14:16] mitja-p opened #1493 "MultiKey Index does not work anymore in ver. 5"
LiteDB ver 5.02/Windows 10/.NET Standard 2.0
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**

MultiKey Index does not work anymore. Result set is empty. Even example is not valid anymore:
customers.Query(x => x.Phones.Contains("1"));

I was using it like this:
customers.Find(Query.StartsWith("Phones", "1"))

In version 4 all records with any key starting with 1 have be

[2020-02-20 15:58] gnimor opened #1494 "[BUG] List<T> can not be readed back"
**Version**
LiteDb 5.0.2 (but doesn't work with 4.x either)

I have the following class which will be stored in a db:

[code]

Now I do the following:

[code]
The list seems to be stored in the database (at least I can see it with the LiteDb Studio) but nothing will be returned reading it back. Do I have to do something special when it comes to List<T> items?

[2020-02-20 17:43] mbdavid commented on #1494
Hi, your `OtherData` are readonly property. Mapper can access your private fiels. Try use:

[code]

[2020-02-20 20:42] mbdavid commented on #1493
Hi @mitja-p, I didn't found this bug. I have this unit test for multikey:

https://github.com/mbdavid/LiteDB/blob/master/LiteDB.Tests/Database/MultiKey_Mapper_Tests.cs

There are few differences between v4 to v5, because v5 support `ANY` and `ALL` keywords when working with multi key.

To continue, please create a full example so I can test better if is any syntax bug or some like this.

[2020-02-20 21:15] mitja-p commented on #1493
Ok, I see the problem. In v4 ANY / ALL was not needed. By default ANY was used. In v5 you must specify ANY or ALL or it does not return anything.

Documentation could be better as there are no examples of LIKE operator.

This is otherwise my new code (parses searchText to words and searches word by word using LIKE operator):
[code]

[2020-02-21 00:32] denileo82 opened #1495 "[BUG]"
**Version**
5.0.2

**Describe the bug**
LINQ expressions. Cannot use .Contains anymore. How can I use the LiteDB Query syntax to achieve the same?

**Code to Reproduce**
[code]

#####
If I replace by:
`col.Find(x => Ids.Where(q => q == x.InsurranceId).Count()>0);
`it works

**Expected behavior**
it worked on v4

**Screenshots/Stacktrace**
If applicable, add screenshots/stacktrace

**Additional con

[2020-02-21 03:28] nightroman opened #1496 "[QUESTION] DOCS\BsonDocument - "Keys are case-sensitive" - is this correct?"
[DOCS\BsonDocument](https://www.litedb.org/docs/bsondocument/) says

Is this correct? Tests, e.g. [Case_Insensitive_Tests.cs](https://github.com/mbdavid/LiteDB/blob/master/LiteDB.Tests/Document/Case_Insensitive_Tests.cs), show the opposite.

[2020-02-21 03:52] #1486 closed

[2020-02-21 05:33] nightroman commented on #1468
It turns out it practically is impossible to derive from `BsonExpression` because it provides no public or protected constructors. Thus, see the PR, I suggest making `BsonExpression` explicitly sealed. This will avoid further similar questions and unsuccessful attempts to derive.

[2020-02-21 05:33] #1468 closed

[2020-02-21 09:25] gnimor commented on #1494
OK, this was my fault. My assumption was that if the list already exists the items will be added. I was not aware that after reading from DB the complete list will be replaced. Thanks for pointing me to this...

[2020-02-21 09:25] #1494 closed

[2020-02-21 12:17] GonzoKK commented on #1428
Busy testing v5. Also encountering "process cannot access the file" exception, even with **ConnectionType.Shared**

Worked perfectly for months on 4.1.4...

![image](https://user-images.githubusercontent.com/38913162/75033913-a78b6b80-54b4-11ea-985a-2021fc92d1c6.png)

[2020-02-21 12:48] mbdavid commented on #1496
Keys are not sensetive. I will fix documentation. Thanks

[2020-02-21 12:50] mallaume opened #1498 "It would be great to be able to write SQL query with JOIN between 2 tables !"
**Describe alternatives you've considered**
I tried to use SubQueries with SELECT * FROM A WHERE $.Prop IN (SELECT * FROM B) but I can't make it work either..

**Additional context**
I'm working with SQL queries only, not Linq...

Thanks !

[2020-02-21 12:52] mallaume opened #1499 "How can I write a subquery with IN keyword ?"
Hi,

I'm trying to request with SQL syntax like this :
SELECT * FROM A WHERE $.Prop IN (SELECT $.Id FROM B)
Where tables A and B belong to the same db, but I can't make it to work... Am i missing
something obvious ?

Thanks a lot !

[2020-02-21 12:54] mallaume opened #1500 "Add db.ExecuteScalar(string query)"
It's not something big but I thought it would be nice to have an ExecuteScalar function that returns an object like a SqlCommand would provide..

Thanks !

[2020-02-21 13:39] mbdavid commented on #1495
Hi, can you provide more example? Or a complete one? I made some tests here and had no problems (result was as expected) (see my related commit).

[2020-02-21 13:42] mbdavid commented on #1498
Hi @mallaume, there is no sub-query yet. Also, change `*` to `$` to returns `IEnumerable<BsonDcument>`, not an `BsonArray`

[2020-02-21 13:44] mbdavid commented on #1500
Today, you can run scalar commands using:

`var result = db.Execute("....").Current`

[2020-02-21 13:47] mallaume commented on #1498
Thanks !

[2020-02-21 13:47] mbdavid commented on #1499
Hi @mallaume, you are not missing... sub-query is a missing feature that are on plans. Today you need run 2 querys in this case: first run inner query and get all values and then use as parameter in outer query.

[2020-02-21 13:49] mallaume opened #1501 "Add predicates NOT IN, NOT LIKE, NOT BETWEEN"
NOT is not recognized at the moment as a SQL keyword..

Many thanks

[2020-02-21 13:51] mallaume commented on #1500
Ok that's indeed perfectly fine...

Thanks !

[2020-02-21 14:23] SlaskoCZ opened #1502 "[BUG] function.Invoke in LiteCollection<T>.Find"
**Version**
5.0.2

**Describe the bug**
While trying to upgrade from v4 to v5, i found out that function can no longer be invoked in Find Expression.

**Code to Reproduce**
[code]

**Expected behavior**
Same as in v4 where it worked. Should work same as in v5 alternative:
[code]

**Screenshots/Stacktrace**
[code]

**Additional context**
Can add rest of the code if needed. Bug looks to be easily re

[2020-02-21 15:39] nabeelio commented on #1374
I'm (well, clients) are seeing this intermittently on 5.0.1:

[code]

[2020-02-21 16:27] mbdavid commented on #1374
@nabeelio, could you please open an bug report about this? It's important to know if database was created/populated in v5.01+. If you have a complex system, can you explain me how threads/data are inserted/updates/deleted?

[2020-02-21 16:32] mbdavid commented on #1502
Hi @SlaskoCZ, in v4, when you write an LINQ expressions that can't be converted into database query, LiteDB just execute as LINQ to Object (after result from database). It's just IEnumerable LINQ command.

In v5 (current 5.0.2 version) this feature does not exists. All LINQ expressions must be converted into BsonExpression. When is not possible convert a error message is throw. This will be "fix"

[2020-02-21 16:37] SlaskoCZ commented on #1502
Ok, thank, should i close this, or keep it open as reference for future feature?

[2020-02-21 16:38] nabeelio commented on #1374
@mbdavid Sure, I can do that, I'm trying to see if I get anymore crash reports. Let me try to gather some more information. The DB was created on 5.0.1, AKAIK. I haven't used the beta versions. I'm still trying to replicate it on my side. It is running inside an `async` block, but there is a lock around it.

[2020-02-21 16:40] mbdavid commented on #1493
Query are missing in documentation for v5.... I will add this

In v5.1 `Query` static methods will be marked as obsolete. Prefer write LINQ expressions or `BsonExpression`:

[code]

[2020-02-21 16:42] mbdavid commented on #1374
Hi @nabeelio, that's very important for LiteDB. Any bug that can corrupt database is my TOP priority. If you get again, open that I will take a closer look. Thanks.

[2020-02-21 16:43] mbdavid commented on #1502
I link this issue with my project boarding for v5.1. I will close when finish next version.

[2020-02-21 16:50] nabeelio opened #1503 "[BUG] Intermittent Invalid IndexPage/DataPage buffer on 0"
**Version**
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**
5.0.1. Here's the full crash report for a load, and then a crash report for a save:

LOAD (DataPage error)

[code]

Looks like there were 9+ crashes on this one. The associated code (extra stuff removed).

[code]

Then on saving:

[code]

This save code is:

[code]

I do have this run code, but it's hard to te

[2020-02-21 16:56] mbdavid commented on #1503
And after this error occurs, if you open in LiteDB.Studio and run a simple `SELECT $ FROM collection` you see if you lost any data?

[2020-02-21 16:57] nabeelio commented on #1503
@mbdavid I'm trying to get my hands on the DB files, I will try that out

[2020-02-21 17:16] nabeelio commented on #1503
It doesn't look like any data is lost. I have the db file and the `-log.db` file, if you want to see/examine.

[2020-02-21 17:25] mbdavid commented on #1503
Humm... much better. Maybe was a clean buffer page in a wrong moment. I will review this and add more error detail message so, if occurs again, will be better to track where this buffer came from

[2020-02-21 18:19] nabeelio commented on #1503
Ok great, thanks. I'm updating to 5.0.2 and going to see if that helps the affected client. Is this code-path unique to upsert?

[2020-02-21 18:25] mbdavid commented on #1503
Sorry, I didn't understand this: "Is this code-path unique to upsert?" v5.0.2 is compatible with v5.0.1...

[2020-02-21 18:27] nabeelio commented on #1503
Sorry - I mean these calls:

[code]
Is that only with the upsert? Or would it make the same calls with an `Update` and then `Insert` call? Just trying to think of ways to duplicate or if it will mitigate the problem.

[2020-02-21 18:37] mbdavid commented on #1503
It's not about `Upsert`.  Upsert is only a Update + Insert command. This occurs in adding a new index node (possible for `_id`). Engine try load a page from disk to memory and this page are complete empty (all 8192 zero bytes).

I'm releasing v5.0.3 with more debug message in this error, so you can upgrade direct to 5.0.3 so we can track better.

[2020-02-21 18:50] nabeelio commented on #1503
Sounds good, thanks!

[2020-02-21 19:20] mbdavid commented on #1503
Done. If you could update to v5.0.3 and paste stacktrace in next error will be great. Thanks

[2020-02-21 19:49] nabeelio commented on #1503
Done, I will hopefully hear back soon.

[2020-02-21 20:29] nightroman commented on #1483
@mbdavid v5.0.3 is pushed with this change not finished. There may be problems. I see some in my tests in _Ldbc_.

[2020-02-21 21:53] JensSchadron commented on #1459
@GitOffice 5.0.3 just got released today, could you please let me know if you could install this version?

[2020-02-22 00:14] #1496 closed

[2020-02-22 07:44] GitOffice commented on #1459
Thanks, It works and saves my tons of time.

[2020-02-22 11:50] panthernet opened #1504 "System.IndexOutOfRangeException when trying to open DB with password"
Hi, I'm following the v5 guide but stuck with the System.IndexOutOfRangeException exception when I try to access the database with the password. Here's the code, .NET Core 3.1.

`
                var str = $"Filename={path};Password='{verylongpwd}'";
                using var db = new LiteDatabase(str);
`

The string sample is:
`Filename=C:\Users\yup\AppData\Roaming\corex\storecore.file;Password='

[2020-02-22 12:51] mbdavid commented on #1483
Hi @nightroman, I needed release 5.0.3 because to track an important bug. But let's back to this issue:

About when engine should be use `AutoId`, we have 2 cases:

1) When you have a strong entity collection (that will be converted into `BsonDocument` before insert in database) you always have `_id` field with valid value (at lease if you are not using `Nullable`). In this case, engine needs remo

[2020-02-22 13:10] mbdavid commented on #1504
Hi @panthernet, can you paste your stacktrace?

[2020-02-22 13:19] panthernet commented on #1504
Here you go
[code]

[2020-02-22 13:22] panthernet commented on #1504
And this is for the ticks exception
[code]

[2020-02-22 13:42] nightroman commented on #1483
I have the case 3, a `BsonDocument` collection but I convert from a strong type
using `BsonMapper.Serialize`, then add these documents. So, documents have
existing `_id` values with 0 or nulls.

Before the change `InsertBulk` used to work like I expected. In this scenario it generated new `_id`,
inserted documents with new `_id` and updated `_id` in input documents. As if it were case 1.
`Insert`

[2020-02-22 14:21] nightroman commented on #1483
If you think the new behaviour is how it should be, then I should adapt to the scenario like this:

I have a `BsonDocument` collection with auto id `Int32` and a bunch of
documents with `_id` = 0. I have to remove these `_id`, something that LiteDB
can do easily (and probably used to do for `InsertBulk`). But I cannot because
I do not know if the collection is with auto id or not, this info is not

[2020-02-22 14:31] FDemin commented on #1504
same error here

[2020-02-22 15:12] pablopioli commented on #1489
Yes, sorry, it was late on night and wasn't thinking properly. I'm building a repro app to attach to the issue.

[2020-02-22 17:17] mbdavid commented on #1504
Ok, I found a bug in ConnectionString parser, when finalize with `'`. I'm fixing.... for now, just remove open/close `'`

[2020-02-22 17:18] mbdavid commented on #1483
But in this scenario, why are you not using specific `<T>` to get collection? Or, in this case, can you remove `_id` before send to Insert?

[2020-02-22 17:56] mbdavid commented on #1483
All collection are `AutoId`. Each document are, or not, autoincrement if contains or not an `_id`.

[2020-02-22 22:45] nightroman commented on #1483
My context is `Ldbc`, the PowerShell module, helper for scripts. Long story
short, PowerShell and generics are not friends. Basically everything generic
is not usable in PowerShell. Workarounds are ugly and only advanced users
know them. That is why wrappers like `Ldbc` make sense.

This might be worked around if LiteDB provides a not generic method for getting
a typed collection with non-generic

[2020-02-22 23:08] nightroman commented on #1483
Concrete example:

https://github.com/nightroman/Ldbc/blob/37aaf761eb789dd4dfced03e4dc373deb8204e2d/Tests/Class.test.ps1#L5

Here we get an untyped collection "Log" with auto id `Int32`:

https://github.com/nightroman/Ldbc/blob/37aaf761eb789dd4dfced03e4dc373deb8204e2d/Tests/Class.test.ps1#L28

and then create some class instances and send them to `Add-LiteData $log`.

`Add-LiteData` converts input

[2020-02-23 04:56] GitOffice commented on #1475
Project search function is  a little complex. Does V5 dynamic component query?

[2020-02-23 12:12] nightroman commented on #1483
I pushed Ldbc 0.6.3 with this workaround:

[code]

I call this before every `Insert`, `InsertBulk`, `Upsert` for each input `BsonDocument`.

I do not think it's quite right:

1. It's tedious and maybe slightly hurts performance.
2. I do not (and cannot) take into account collection auto id type, so I have to remove any "default" id.

All in all, this workaround kind of works.
Feel free to close th

[2020-02-23 13:45] GitOffice opened #1505 "Any() are not supported when convert to BsonExpression"
LiteDB 5.0.3 , Windows 8, net46
But failing while converting predicate with Any() to BsonExpression.
[code]
When I type search term "11@33" or "22",  the two above records are what I want.
But the error message is :

My partial code is
[code]
Any help would be appreciated!

[2020-02-23 13:58] nightroman opened #1506 "[SOLVED but...] Query.Limit is ignored by Find(Query)"
UPDATE: The problem seems to be in the unusual API design, see next comments.

**Version**

LiteDB 5.0.3 and the latest from repo, Windows 10, net45

**Describe the bug**

`Query.Limit` is ignored by collection `Find(Query)`.

**Code to Reproduce**

[code]

**Expected behavior**

The above test is expected to pass, `Query.Limit` set to 1 should result in 1 result document, not actual 2.

[2020-02-23 14:06] nightroman commented on #1506
And a side note (let me know if it's worth another issue to open).

From ILSpy, this the code of another `Find(Query, int, int)`:

[code]

This code changes the input `query`. This does not look quite right.
The `query` may be used later in `Find(Query)` with unexpectedly changed `Limit` and `Offset`.

[2020-02-23 19:28] jjxtra opened #1507 "[BUG] InsetBulk fails when Id is pre-populated"
**Version**
5.0.3

**Describe the bug**
When using InsertBulk, a duplicate id error is thrown. All my Id of every object in the list is unique, so this appears to be a bug in LiteDB.

**Code to Reproduce**
- Just create a list of two object with Id field and name field. Set one id to 1, the other to 2. Then get a collection for your object type and attempt to call `InsertBulk` with the list. Do th

[2020-02-23 19:35] jjxtra commented on #1507
This resulted in a log file being left-over from previous run. How do we fully delete a lite-db database file?

[2020-02-23 23:32] JensSchadron commented on #1507
@jjxtra The log file will be deleted if you called .Dispose() on you LiteDatabase instance as it will try to persist all data that's temporary stored in the log file to the databasefile.

[2020-02-23 23:34] JensSchadron commented on #1507
To add a bit more information. The log file that you're seeing is not your typical log file. It's a WAL file that's used for the Atomicity and Durability of the ACID principle. 🙂

[2020-02-24 00:12] jjxtra commented on #1507
Gotcha. So if I kill the debugger or the process crashes, there is a chance of having a WAL file that does not match the db file... maybe they both need a linking guid or something?

[2020-02-24 01:27] yaozhong-OMEC opened #1508 "[QUESTION] Does the power interruption of the execution Rebuild()(V5) or Shrink()(V4) cause the file to be damaged"
I use LiteDB V4 and V5 in some project. I want to know if the database will be damaged due to power failure when I delete records and execute  Rebuild()(V5) or Shrink()(V4). And what if V5 using use in-memory log file?

[2020-02-24 08:50] octum-mf commented on #1416
We are experiencing similar issues currently (v4 and v5)
The cause might be related to that:
https://github.com/dotnet/runtime/issues/26868

[2020-02-24 10:03] josephinenewbie opened #1509 "Invalid LCID code after upgrade from 4.1.4 to 5.0.3"
Got the following error when calling from my C# :
` System.ArgumentException: Invalid LCID code
   at LiteDB.LCID.GetCulture(Int32 lcid)
   at LiteDB.Collation..ctor(Int32 lcid, CompareOptions sortOptions)
   at LiteDB.Engine.EnginePragmas.<.ctor>b__36_7(BufferSlice b)
   at LiteDB.Engine.EnginePragmas..ctor(BufferSlice buffer, HeaderPage headerPage)
   at LiteDB.Engine.HeaderPage.LoadPage()
   at

[2020-02-24 13:04] srcmkr commented on #1280
Update: Will the IncludeAll ever come back? atm it's a blocking feature for us to migrate.

[2020-02-24 19:33] nightroman opened #1510 "[BUG] Rebuild crashes on a particular database and leaves WAL"
Rebuild crashes on a particular database and leaves WAL

**Version**

- LiteDB 5.0.3 and the latest from repo, Windows 10/8.1, net45
- Same with LiteDB.Studio 1.0.1 on invoking REBUILD (and studio kind of crashes on closing)

**Describe the bug**

- Get the problem database file "Programs.LiteDB".
    - I do not want to attach 12Mb zip, also not that public.
    - Please let me know if it is fine

[2020-02-25 11:43] nightroman commented on #1506
Ah, I get it... The two issues are in fact one. `Find` with default skip and limit parameters overrides my `Offset` and `Limit` settings in the passed `query`.

Is this design deliberate and thought through?
If yes, please close the issue.

[2020-02-26 04:40] jjxtra commented on #1507
So I think this is a bug, if a new database is created from scratch (no file previously exists) and there is a matching journal file in the same folder, that journal file should be discarded.

[2020-02-26 07:50] sqlite-me opened #1511 "LiteDatabase.Checkpoint() method causes a deadlock"
**Version**
5.0.3.0/Windows 7/.NET framework 4.5

**Describe the bug**
Affter called ILiteCollection<T>.Insert(),calling LiteDatabase.Checkpoint().LiteDatabase.Checkpoint() method causes a deadlock.

**Code to Reproduce**
            var t = 0;
            while (true)
            {
                if (testDb == null) testDb = new LiteDatabase("datas\\test.ldb");
                for (var i = 0; i

[2020-02-26 09:58] HaseebIftikhar5275501 opened #1512 "Errors faced while using Lite DB in windows service"
**Version**
LiteDB Version = 4.1.4
.Net Framework Version = 4.5

**Describe the bug**
I have a self hosted windows services that exposes a RESTful API for clients to post their data. I am storing that data into LiteDB file as an offline database. In my windows service there is a watcher that constantly checks for internet connectivity and then read the data from LiteDB file and post it to the live

[2020-02-26 12:40] GeorgeStorm opened #1513 "[QUESTION] Changes in v5 relating to the new -log.db file"
Hi,
Having recently upgraded from v4 which was working fine (mostly), now having a new issue where if the system if left for a while (seemingly random length of time from initial testing) we get this error:
"LiteDB.LiteException: Database lock timeout when entering in transaction mode after 00:01:00"

Deleting the -log.db file lets the system carry on.

The system grabs data from the db every minu

[2020-02-26 21:53] denileo82 commented on #1495
Sorry, the DB is too big...but it's very simple.

Create a collection with one _id and another id field, like UserId
[code]

let's say that this collection name is Appointment

[code]

here the result expected is 2 objects. I got none. If I use probably the IN operator via normal query I think it's working, but not otherwise using LINQ.

Thanks,
Deni

[2020-02-26 22:45] denileo82 commented on #1495
Just one note: I'm not sure if this has to do with the conversion from v4 to v5.

[2020-02-26 22:55] denileo82 commented on #1495
[new_sample.zip](https://github.com/mbdavid/LiteDB/files/4258595/new_sample.zip)
I've dropped some collections and part of my problematic collection Appointments. This DB is already converted to v5. Please try to run that query.

[2020-02-27 12:21] lbnascimento commented on #1506
@nightroman, thank you for your question. This behavior is not intended and is fixed in the master branch. It should be present in the next incremental release.

[2020-02-27 12:39] nightroman commented on #1506
Thank you.

[code]

It's still does not look quite right (to me). Because non-default parameters still change the input `query` and if this `query` is used afterwards on it's own this change may be unexpected.

If `Query` have `Offset` and `Limit` then why are these parameters at all? (Thinking out loud...)

[2020-02-27 13:06] lbnascimento commented on #1509
@josephinenewbie, could you provide the datafile you're trying to upgrade?

[2020-02-27 13:48] lbnascimento commented on #1475
@GitOffice, one way to do it would be using the `Query` method in `LiteCollection`.

[code]

The query will only be run when `ToEnumerable` is called, so you can call it multiple times with different limit and offset values.
If there is an index over the select expression, the index will be used and only the desired documents will be accessed (in my example, no select expression is present, which

[2020-02-27 14:13] lbnascimento commented on #1511
@sqlite-me I could not reproduce the issue with the code you provided. Could you provide us more info or perhaps another piece of code that could be used to reproduce the issue?

[2020-02-27 17:23] lbnascimento commented on #1510
@nightroman You can send the datafile to me at lbnascimento@inf.ufrgs.br

[2020-02-27 17:48] lbnascimento commented on #1508
@yaozhong-OMEC Both LiteDB v4 and v5 implement the ACID properties, so the datafile will not be corrupted in case of a power failure. When the datafile is opened, if a log file is found, commited transactions in the log file are written to the datafile and uncommited transactions are discarded.

However, this is **not** the case with in-memory log. In this scenario, power failure in the middle of

[2020-02-27 18:00] nightroman commented on #1510
@lbnascimento Done!

[2020-02-27 18:23] lbnascimento commented on #1505
@GitOffice A Linq-to-BsonExpression for the method `Any()` was created. It is avaliable in the master branch and should be present in the next incremental release. In the meantime, you can use `.Where(x => x.Phones.Count() > 0)`.

[2020-02-27 18:23] #1505 closed

[2020-02-27 18:52] lbnascimento commented on #1495
@denileo82 I ran your example code and it returned 151 documents with `UserId` equal to 11 or 19.

[2020-02-27 19:48] nightroman opened #1517 "[BUG] Apparently invalid expression should fail"
**Version**

LiteDB 5.0.3 and the latest from repo, Windows 10, net45

**Describe the bug**

Run the below code with presumably invalid expression syntax.

**Code to Reproduce**

[code]

**Expected behavior**

The above test should fail with some "invalid syntax", "invalid operator 'FOOBAR'", etc.
But it passes.

[2020-02-27 20:06] lbnascimento commented on #1510
@nightroman Was your datafile upgraded from v4 to v5?

[2020-02-27 20:10] nightroman commented on #1510
@lbnascimento No, I never used v4. I have similar databases produced on other machines (basically dumps of file info from Program Files) and they are rebuilt fine. But this one fails.

[2020-02-27 20:23] nightroman commented on #1510
NB On some of these other files I can see that REBUILD may return negative values. This looks a little strange. But maybe it's OK, I do not know.

[2020-02-27 20:28] nightroman commented on #1510
For a example I have a zip of DB for which several REBUILD in a row produce this results:

    0 8192 8192 -16384

I may send it, too, if needed.

[2020-02-27 20:29] mbdavid commented on #1510
Hi @nightroman, try run with my fixes... I found a bug in rebuild reader file.

[2020-02-27 20:31] nightroman commented on #1510
OK, I will try with the next update.
BTW, the sequence I provided above is not deterministic.

[2020-02-27 20:42] nightroman commented on #1510
@mbdavid It works with the problem db!

Just for info, the series of or repeated Rebuild, produced numbers:
24576 0 8192 8192 -8192
(if it's OK or not it's up to you)

[2020-02-27 22:30] denileo82 commented on #1495
What? Que estranho...que versão vc tá usando?

Obter o BlueMail para Android<http://www.bluemail.me/r?b=15818>
Em 27 de fev de 2020, em 15:52, Leonardo Nascimento <notifications@github.com<mailto:notifications@github.com>> escreveu:

@denileo82<https://github.com/denileo82> I ran your example code and it returned 151 documents with UserId equal to 11 or 19.

—
You are receiving this because you we

[2020-02-28 00:48] #1508 closed

[2020-02-28 08:37] sqlite-me commented on #1511
This is a finished example. I reproduced the problem when I tested it.Let the program run longer, with a certain probability.
**Code**
    class TestData
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }
    class Program
    {
        static void Main(string[] args)
        {
            var testDb = new LiteDatabase("test.ldb");
            var count = 0;

[2020-02-28 09:10] sqlite-me commented on #1511
in class  _"LiteDB.Engine.DiskWriterQueue"_
When method **_Wait()_** executes to **_waiter.Set();_**, and method **_CreateThread()_** executes to **_while(_running)_**.
Next,method **_Wait()_** executes to _**_writing.Wait();_**, and method **_CreateThread()_** executes to **_waiter.Wait()_**, both threads may  wait forever.

[2020-02-28 11:22] AboudaSadok commented on #328
`public LiteDatabase DB { get; set; }
        public List<Configuration> Configurations { get; set; }
        public string myPath = Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location);

        public MyRepo()
        {
            try
            {
                DB = new LiteDatabase("filename = "+@myPath + "\\" + "iksg.db"+ "; upgrade = true");
                if (DB.UserVersion =

[2020-02-28 11:36] AboudaSadok opened #1518 "[I've made many modifications in my Configuration class , how can i make migration automaticly done and how can i solve this problem below]"
in this line i get the exception : "Invalid LCID code"
`DB = new LiteDatabase("filename = "+@myPath + "\\" + "iksg.db"+ "; upgrade = true"); `

[code]

[2020-02-28 12:29] lbnascimento commented on #1518
@AboudaSadok What version of LiteDB are you currently running? From which version are you trying to upgrade your datafile?

[2020-02-28 13:12] AboudaSadok commented on #1518
@lbnascimento  My "LiteDB" Version="5.0.3"

[2020-02-28 13:37] lbnascimento commented on #851
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:37] #851 closed

[2020-02-28 13:37] lbnascimento commented on #683
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:37] #683 closed

[2020-02-28 13:38] lbnascimento commented on #857
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:38] #857 closed

[2020-02-28 13:38] lbnascimento commented on #865
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:38] #865 closed

[2020-02-28 13:38] lbnascimento commented on #792
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:38] #792 closed

[2020-02-28 13:38] lbnascimento commented on #858
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:38] #858 closed

[2020-02-28 13:39] lbnascimento commented on #870
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #870 closed

[2020-02-28 13:39] lbnascimento commented on #872
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #872 closed

[2020-02-28 13:39] lbnascimento commented on #874
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #874 closed

[2020-02-28 13:39] lbnascimento commented on #816
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #816 closed

[2020-02-28 13:39] lbnascimento commented on #876
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #876 closed

[2020-02-28 13:39] lbnascimento commented on #833
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #833 closed

[2020-02-28 13:39] lbnascimento commented on #878
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #878 closed

[2020-02-28 13:39] lbnascimento commented on #886
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #886 closed

[2020-02-28 13:39] lbnascimento commented on #889
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #889 closed

[2020-02-28 13:39] lbnascimento commented on #893
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #893 closed

[2020-02-28 13:39] lbnascimento commented on #863
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:39] #863 closed

[2020-02-28 13:40] lbnascimento commented on #898
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:40] #898 closed

[2020-02-28 13:40] lbnascimento commented on #862
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:40] #862 closed

[2020-02-28 13:40] lbnascimento commented on #901
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:40] #901 closed

[2020-02-28 13:40] lbnascimento commented on #902
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:40] #902 closed

[2020-02-28 13:40] lbnascimento commented on #906
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:40] #906 closed

[2020-02-28 13:40] lbnascimento commented on #918
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:40] #918 closed

[2020-02-28 13:40] lbnascimento commented on #919
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:40] #919 closed

[2020-02-28 13:40] lbnascimento commented on #922
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:40] #922 closed

[2020-02-28 13:40] lbnascimento commented on #932
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:40] #932 closed

[2020-02-28 13:40] lbnascimento commented on #937
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:41] #937 closed

[2020-02-28 13:41] lbnascimento commented on #930
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:41] #930 closed

[2020-02-28 13:41] lbnascimento commented on #962
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:41] #962 closed

[2020-02-28 13:42] lbnascimento commented on #961
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:42] #961 closed

[2020-02-28 13:42] lbnascimento commented on #963
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:42] #963 closed

[2020-02-28 13:42] lbnascimento commented on #964
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:42] #964 closed

[2020-02-28 13:42] lbnascimento commented on #966
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:42] #966 closed

[2020-02-28 13:42] lbnascimento commented on #968
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:42] #968 closed

[2020-02-28 13:42] lbnascimento commented on #971
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:42] #971 closed

[2020-02-28 13:42] lbnascimento commented on #969
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:42] #969 closed

[2020-02-28 13:42] lbnascimento commented on #663
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:42] #663 closed

[2020-02-28 13:42] lbnascimento commented on #974
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:42] #974 closed

[2020-02-28 13:42] lbnascimento commented on #970
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:42] #970 closed

[2020-02-28 13:43] #940 closed

[2020-02-28 13:43] lbnascimento commented on #938
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:43] #938 closed

[2020-02-28 13:43] lbnascimento commented on #942
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:43] #942 closed

[2020-02-28 13:43] lbnascimento commented on #941
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:43] #941 closed

[2020-02-28 13:43] lbnascimento commented on #943
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:43] #943 closed

[2020-02-28 13:43] lbnascimento commented on #934
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:43] #934 closed

[2020-02-28 13:43] lbnascimento commented on #945
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:43] #945 closed

[2020-02-28 13:43] lbnascimento commented on #947
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:43] #947 closed

[2020-02-28 13:43] lbnascimento commented on #925
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:43] #925 closed

[2020-02-28 13:43] lbnascimento commented on #948
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:43] #948 closed

[2020-02-28 13:43] lbnascimento commented on #812
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:43] #812 closed

[2020-02-28 13:44] lbnascimento commented on #950
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:44] #950 closed

[2020-02-28 13:44] lbnascimento commented on #957
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:44] #957 closed

[2020-02-28 13:44] lbnascimento commented on #958
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:44] #958 closed

[2020-02-28 13:45] lbnascimento commented on #983
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:45] #983 closed

[2020-02-28 13:45] lbnascimento commented on #980
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:45] #980 closed

[2020-02-28 13:45] #977 closed

[2020-02-28 13:45] lbnascimento commented on #973
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:45] #973 closed

[2020-02-28 13:45] lbnascimento commented on #992
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:45] #992 closed

[2020-02-28 13:45] lbnascimento commented on #993
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:45] #993 closed

[2020-02-28 13:46] lbnascimento commented on #994
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:46] #994 closed

[2020-02-28 13:46] lbnascimento commented on #986
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:46] #986 closed

[2020-02-28 13:46] lbnascimento commented on #995
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:46] #995 closed

[2020-02-28 13:46] lbnascimento commented on #997
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:46] #997 closed

[2020-02-28 13:46] lbnascimento commented on #989
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:46] #989 closed

[2020-02-28 13:46] lbnascimento commented on #1000
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:46] #1000 closed

[2020-02-28 13:46] lbnascimento commented on #975
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:46] #975 closed

[2020-02-28 13:46] lbnascimento commented on #991
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:46] #991 closed

[2020-02-28 13:47] lbnascimento commented on #1003
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:47] #1003 closed

[2020-02-28 13:47] #750 closed

[2020-02-28 13:47] lbnascimento commented on #1005
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:47] #1005 closed

[2020-02-28 13:48] lbnascimento commented on #1006
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:48] #1006 closed

[2020-02-28 13:48] lbnascimento commented on #1007
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:48] #1007 closed

[2020-02-28 13:48] lbnascimento commented on #1009
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:48] #1009 closed

[2020-02-28 13:48] lbnascimento commented on #1012
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:48] #1012 closed

[2020-02-28 13:48] lbnascimento commented on #1014
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:48] #1014 closed

[2020-02-28 13:48] lbnascimento commented on #1015
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:48] #1015 closed

[2020-02-28 13:48] #733 closed

[2020-02-28 13:48] lbnascimento commented on #637
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:48] #637 closed

[2020-02-28 13:49] lbnascimento commented on #1013
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:49] #1013 closed

[2020-02-28 13:49] lbnascimento commented on #1017
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:49] #1017 closed

[2020-02-28 13:50] #1019 closed

[2020-02-28 13:50] lbnascimento commented on #1020
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:50] #1020 closed

[2020-02-28 13:50] lbnascimento commented on #1021
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:50] #1021 closed

[2020-02-28 13:50] lbnascimento commented on #1026
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:50] #1026 closed

[2020-02-28 13:50] lbnascimento commented on #1028
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:50] #1028 closed

[2020-02-28 13:50] lbnascimento commented on #1029
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:50] #1029 closed

[2020-02-28 13:50] lbnascimento commented on #1033
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:50] #1033 closed

[2020-02-28 13:50] lbnascimento commented on #1024
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:50] #1024 closed

[2020-02-28 13:50] lbnascimento commented on #999
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:50] #999 closed

[2020-02-28 13:51] #1030 closed

[2020-02-28 13:51] lbnascimento commented on #1037
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:51] #1037 closed

[2020-02-28 13:51] lbnascimento commented on #1040
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:51] #1040 closed

[2020-02-28 13:51] #1042 closed

[2020-02-28 13:52] #1044 closed

[2020-02-28 13:52] #1043 closed

[2020-02-28 13:52] lbnascimento commented on #1049
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:52] #1049 closed

[2020-02-28 13:52] lbnascimento commented on #1056
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:52] #1056 closed

[2020-02-28 13:52] lbnascimento commented on #1048
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:52] #1048 closed

[2020-02-28 13:52] lbnascimento commented on #900
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:52] #900 closed

[2020-02-28 13:52] lbnascimento commented on #1050
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:52] #1050 closed

[2020-02-28 13:52] lbnascimento commented on #1058
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:52] #1058 closed

[2020-02-28 13:52] lbnascimento commented on #1022
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:52] #1022 closed

[2020-02-28 13:52] lbnascimento commented on #879
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:52] #879 closed

[2020-02-28 13:53] lbnascimento commented on #1018
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:53] #1018 closed

[2020-02-28 13:53] lbnascimento commented on #1063
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:53] #1063 closed

[2020-02-28 13:53] lbnascimento commented on #1060
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:53] #1060 closed

[2020-02-28 13:54] lbnascimento commented on #1065
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:54] #1065 closed

[2020-02-28 13:54] lbnascimento commented on #1066
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:54] #1066 closed

[2020-02-28 13:54] lbnascimento commented on #643
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:54] #643 closed

[2020-02-28 13:54] lbnascimento commented on #1069
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:54] #1069 closed

[2020-02-28 13:54] lbnascimento commented on #1062
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:54] #1062 closed

[2020-02-28 13:54] lbnascimento commented on #1073
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:54] #1073 closed

[2020-02-28 13:54] lbnascimento commented on #1070
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:54] #1070 closed

[2020-02-28 13:54] lbnascimento commented on #810
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:54] #810 closed

[2020-02-28 13:54] lbnascimento commented on #1074
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:54] #1074 closed

[2020-02-28 13:55] #1071 closed

[2020-02-28 13:55] lbnascimento commented on #741
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:55] #741 closed

[2020-02-28 13:55] lbnascimento commented on #1081
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:55] #1081 closed

[2020-02-28 13:55] lbnascimento commented on #1077
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:55] #1077 closed

[2020-02-28 13:55] lbnascimento commented on #1079
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:55] #1079 closed

[2020-02-28 13:55] lbnascimento commented on #1078
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:55] #1078 closed

[2020-02-28 13:55] lbnascimento commented on #1084
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:55] #1084 closed

[2020-02-28 13:56] lbnascimento commented on #1085
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:56] #1085 closed

[2020-02-28 13:56] lbnascimento commented on #1038
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:56] #1038 closed

[2020-02-28 13:56] lbnascimento commented on #897
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:56] #897 closed

[2020-02-28 13:56] lbnascimento commented on #1094
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:56] #1094 closed

[2020-02-28 13:56] lbnascimento commented on #1090
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:56] #1090 closed

[2020-02-28 13:56] lbnascimento commented on #1095
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:56] #1095 closed

[2020-02-28 13:57] lbnascimento commented on #1098
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:57] #1098 closed

[2020-02-28 13:57] lbnascimento commented on #1105
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:57] #1105 closed

[2020-02-28 13:57] lbnascimento commented on #1111
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:57] #1111 closed

[2020-02-28 13:57] lbnascimento commented on #1110
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:57] #1110 closed

[2020-02-28 13:57] lbnascimento commented on #998
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:57] #998 closed

[2020-02-28 13:57] lbnascimento commented on #1113
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:57] #1113 closed

[2020-02-28 13:57] lbnascimento commented on #1115
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:57] #1115 closed

[2020-02-28 13:58] lbnascimento commented on #1114
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:58] #1114 closed

[2020-02-28 13:58] lbnascimento commented on #1121
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:58] #1121 closed

[2020-02-28 13:58] lbnascimento commented on #1119
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:58] #1119 closed

[2020-02-28 13:58] lbnascimento commented on #1097
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:58] #1097 closed

[2020-02-28 13:58] lbnascimento commented on #1122
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:58] #1122 closed

[2020-02-28 13:58] lbnascimento commented on #1125
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:58] #1125 closed

[2020-02-28 13:59] lbnascimento commented on #1129
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:59] #1129 closed

[2020-02-28 13:59] lbnascimento commented on #1130
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:59] #1130 closed

[2020-02-28 13:59] #1131 closed

[2020-02-28 13:59] lbnascimento commented on #1128
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:59] #1128 closed

[2020-02-28 13:59] lbnascimento commented on #1134
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:59] #1134 closed

[2020-02-28 13:59] lbnascimento commented on #1135
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:59] #1135 closed

[2020-02-28 13:59] lbnascimento commented on #1136
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:59] #1136 closed

[2020-02-28 13:59] lbnascimento commented on #1138
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 13:59] #1138 closed

[2020-02-28 14:00] lbnascimento commented on #1142
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:00] #1142 closed

[2020-02-28 14:00] lbnascimento commented on #1146
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:00] #1146 closed

[2020-02-28 14:00] lbnascimento commented on #1052
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:00] #1052 closed

[2020-02-28 14:00] lbnascimento commented on #739
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:00] #739 closed

[2020-02-28 14:00] lbnascimento commented on #1145
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:00] #1145 closed

[2020-02-28 14:00] lbnascimento commented on #1149
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:00] #1149 closed

[2020-02-28 14:00] lbnascimento commented on #1083
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:00] #1083 closed

[2020-02-28 14:01] lbnascimento commented on #1151
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:01] #1151 closed

[2020-02-28 14:01] lbnascimento commented on #1155
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:01] #1155 closed

[2020-02-28 14:01] lbnascimento commented on #1053
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:01] #1053 closed

[2020-02-28 14:01] lbnascimento commented on #1156
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:01] #1156 closed

[2020-02-28 14:01] lbnascimento commented on #1153
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:01] #1153 closed

[2020-02-28 14:01] lbnascimento commented on #1157
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:01] #1157 closed

[2020-02-28 14:01] lbnascimento commented on #1118
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:01] #1118 closed

[2020-02-28 14:01] lbnascimento commented on #1158
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:01] #1158 closed

[2020-02-28 14:01] lbnascimento commented on #1055
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-28 14:01] #1055 closed

[2020-02-28 14:03] lbnascimento commented on #1518
@AboudaSadok Could you annex your datafile? Or maybe email it to me at lbnascimento@inf.ufrgs.br.

[2020-02-28 15:04] mbdavid commented on #1517
Thanks @nightroman, fixed.

[2020-02-28 15:24] mbdavid commented on #1510
This numbers are reduced bytes. Only first time has a minimal expected. Others are just difference because index use Random levels and can be small difference between many rebuilds.

[2020-02-28 15:35] nightroman commented on #1483
Here is the old possibly related issue https://github.com/mbdavid/LiteDB/issues/1149

OP uses the scenario like mine and gets the same problem (id is not generated).

[2020-02-28 15:56] nightroman commented on #1094
I am second to this. At least it would be useful to know that this is possible and might be eventually expected. /cc @mbdavid

[2020-02-28 16:40] nightroman commented on #1510
Thank you. I close it then. I'll try in the next update anyway.

[2020-02-28 16:40] #1510 closed

[2020-02-28 16:40] mbdavid commented on #1094
For read stream is possible.... but to write stream is not possible (or is hard to do)

[2020-02-28 16:45] nightroman commented on #1094
Even just read stream is better than none!

Think read only LiteDB databases stored as "files" in a sup LiteDB database. I do not have yet practical applications but I might have some in the future.

[2020-02-28 17:23] #1517 closed

[2020-02-28 19:29] nhaberl commented on #1349
So in case of asp.net core app we should handle each LiteDatabase instance as singleton per physical database file?

How would the architecture be when having 1 central db and each for every user ?

[2020-02-29 05:23] nightroman commented on #1081
FYI The suggested method

[code]

works in v5.0.3 but only for not "large" databases. Otherwise you get:

[code]

[2020-02-29 05:45] nightroman commented on #1081
But it is still possible to sum these numbers manually without grouping.

Example, using PowerShell and [Ldbc](https://github.com/nightroman/Ldbc)

[code]

[2020-02-29 09:45] luckymark commented on #1509
I have some problem similarly:
1)C# write to db (Nuget:LiteDb 5.0.0-beta)
2)LiteDbStudio(v.0.5.1.0) to connect  the db is OK
3)LiteDbStudio(v.1.0) to connect  the db, report "Invalid LCID code"

[abc.sdd.zip](https://github.com/mbdavid/LiteDB/files/4270137/abc.sdd.zip)

[2020-02-29 15:53] mbdavid commented on #1081
Hi @nightroman, I think that can be created another $ collection to store this operations: pages free, avaiable pages in IndexPages, in DataPages, grouped by collection.... it's quite simple and will have no problem with big databases

[2020-02-29 15:53] mbdavid commented on #1081
Can be added as a suggestion issue

[2020-02-29 16:13] nightroman commented on #1081
I do not know how many users might be interested. Maybe some more feedback can tell.

I have a question about the matter thought. It looks like total usedBytes +
freeBytes is usually less then the actual file size. Is this expected, normal?
The difference is significant for large files.

Example for one db:

    used: 115345270
    free: 32014222
    file length - (used + free): 3086588 (3mb+)

[2020-02-29 16:37] mbdavid commented on #1081
I will write som "Suggestion Issues" on github for collectect 👍 to check if is a good implementation

[2020-02-29 17:02] mbdavid opened #1519 "[PROPOSE] LiteDB in WebHost + Observables"
Hi guys, this is a propose to new lib that will works with LiteDB - support for host LiteDB over websockets.

### WebSockets

The main idea is host database as a server database but inside in your own web application. API should be like this:

[code]

This will server LiteDB over HTTP and WebSocket API. Will be possible to connect via normal client:

[code]

This websocket remote access will open

[2020-02-29 17:10] mbdavid commented on #1509
Hi @luckymark, LiteStudio 0.5.1 uses LiteDB-rc, where this ir no LCID support.

You need use LiteDBStudio 1.x and Lite v5.0.x - always new versions.... convert your old dabtase using this tools

[2020-02-29 17:39] josephinenewbie commented on #1509
Thank you all.
Finally upgrade the DB with a correct version of LiteDBStudio v1.0.1. (Previously i used the LiteDBStudio exe from source so maybe that's not the correct.

[2020-02-29 17:39] #1509 closed

[2020-02-29 17:40] nightroman opened #1520 "[SUGGESTION] Please make LiteCollection.AutoId public property"
**The problem**

I have a "function" (PowerShell cmdlet, to be precise) with the following input:

- A `LiteCollection<BsonDocument>` opened by a user with some `BsonAutoId` value specified.
- Documents to insert. They are `BsonDocument`s produced from typed data using BsonMapper.Serialize`.

The documents may (and normally do) have their `_id` with default values like
`0`, `ObjectId.Empty`, `Guid

[2020-02-29 17:44] josephinenewbie opened #1521 "[BUG] .Find() shows Object reference not set to an instance of an object."
**Version**
Upgraded to v5.0.3 from v4.1.4

**Describe the bug**
When try to .Find() with query inside, it shows Object reference not set to an instance of an object.

**Code to Reproduce**
[code]

**Expected behavior**
Previously above code works find in v4.1.3.

**Screenshots/Stacktrace**
[code]

Thanks again.

[2020-03-01 01:24] JensSchadron commented on #1521
I stumbled upon this issue myself as well earlier today during the benchmarks. Still looking into it to see what's causing it because creating the BsonExpression manually does seem to work. 🤔

For now, I've pinned the issue down to the Query.Or() BsonExpression, but I'll look into it further tomorrow.

[2020-03-01 13:19] hualiao opened #1523 "[BUG] Update db to v5 unsupport class type BsonId"
**Version**
4.1.4.0
.Net Framework 4.7.2

**Describe the bug**
When I update to v5 encounter an error both in LiteDB studio and connection string with "upgrade=true" .
The error says Invalid index name '_id.TweetId' on collection 'tweet': Use only [a-Z$_]

**Code to Reproduce**

[code]

[2020-03-01 13:20] hualiao opened #1524 "[BUG] Update db to v5 class type BsonId unsupport"
**Version**
4.1.4.0
.Net Framework 4.7.2

**Describe the bug**
When I update to v5 encounter an error both in LiteDB studio and connection string with "upgrade=true" .
The error says Invalid index name '_id.TweetId' on collection 'tweet': Use only [a-Z$_]

**Code to Reproduce**

[code]

[2020-03-01 15:35] #1524 closed

[2020-03-01 15:36] hualiao commented on #1524
duplicate issues

[2020-03-01 22:27] omfgicbf commented on #1013
@lbnascimento how about you leave it open seeing as it's going to be fixed in v4.1.5, which is being released "soon".

[2020-03-01 22:32] omfgicbf commented on #1083
@mbdavid why are all these tickets being closed with no resolution when you said: "v4 will be maintained only for bugs and critical updates". Why push people with established projects to move to a whole new, not backwards compatible version that's only just come out of RC in the last month?

This was a legitimate issue that was (probably) resolved with a recent patch. Summarily closing it whilst p

[2020-03-02 08:55] mitja-p opened #1525 "Index length limit"
It says: _Index values must have less than 512 bytes (after BSON serialization)._

Questions:
I get this exception: LiteDB.LiteException: 'Index key must be less than 255 bytes.' Which is correct?
When index is multikey index, should this limit apply to individual element or whole multikey? Multikey  ['a','b','c'] has length 3 or 1 as each is 1 byte?

[2020-03-02 12:48] lbnascimento commented on #1525
@mitja-p The correct value is 255 (the lenght of the index key must fit in a byte). I will fix the documentation.

Regarding your question, your example `["a", "b", "c"]` takes 32 bytes after BSON serialization. This is because it is stored as the following document: `{"0": "a", "1":"b", "2":"c"}`. Each element takes 9 bytes  (2 bytes for the key string, 2 bytes for the value string (because of th

[2020-03-02 13:44] lbnascimento commented on #1523
@hualiao Are you running the latest version of v5? There was a bug when upgrading indexes with a `.` in the name (see #1447), and it is already fixed.

[2020-03-02 13:45] #1525 closed

[2020-03-02 14:04] #1500 closed

[2020-03-02 14:07] mbdavid commented on #1521
Hi guys, the bug is on `Query.EQ("...", **null**))`. I'm fixing. For now, use `BsonValue.Null`

[2020-03-02 14:09] lbnascimento commented on #1512
@HaseebIftikhar5275501 Could you provide some code to replicate the issues you mentioned? You can provide the datafile too if you feel it's necessary to replicate the issues.

[2020-03-02 14:15] mbdavid commented on #1083
Hi @omfgicbf, v4 will be publish with new patchs and reviews. I just had no time yet for this now. I'm giving more hard work to deliver a better v5. As soon as possible i'm backing to v4 to deliver a new patch fix.

[2020-03-02 14:22] mbdavid commented on #1478
Hi @JensSchadron, I just add support for unary parameter as predicate in LINQ converter.

[2020-03-02 15:55] hualiao commented on #1523
Thanks for your reply. The latest version fix this. Yesterday firstly I use early v5 and LiteDB studio, lately I use latest v5 unfortunately there was another error I thought was the same one. Sorry to waste your time.

[2020-03-02 15:55] #1523 closed

[2020-03-02 17:13] #1475 closed

[2020-03-02 17:36] lbnascimento commented on #1385
@alzaburetz Sorry for the long delay, somehow your issue was missed. Given that you're calling `IncludeAll`, I assume you're using v4.

What exactly are you trying to do? Is `subcategories` supposed to be an array of embedded documents or a reference to another collection? `IncludeAll` is used to resolve references, but I don't see the `[DbRef]` attribute anywhere.

[2020-03-02 17:45] lbnascimento commented on #1383
@matelich Sorry for the delay. While datafile formats are not compatible, LiteDB ships with the ability to read older file formats and upgrade them to the latest format. This has happened for the last few versions of LiteDB and we intend to do the same for future versions.

Worst case scenario, the export to JSON functionality could be used to manually migrate collections.

[2020-03-02 18:21] matelich commented on #1383
@lbnascimento Thanks for getting back to me. I was actually asking about the other direction (old software reading newer databases) which sounds like its definitely not a feature considered valuable (and I don't necessarily think that's a big deal). We'll just make sure to understand long term that this the case and discuss whether we want a JSON import/export feature.

[2020-03-02 18:21] #1383 closed

[2020-03-02 19:22] #1391 closed

[2020-03-02 19:31] lbnascimento commented on #1393
@MHDuke Sorry about the delay. `_type` is used to store the name of the concrete class for each document in a collection. If a type is renamed or deleted, you'll have issues. In such cases, it is recommended to open the collection in an untyped manner and manually changing the `_type` attribute.

In case you're using your project with many different datafiles, you can use the USER_VERSION pragma t

[2020-03-02 21:32] JensSchadron commented on #1478
@mbdavid I tested it and it seems to work indeed. Therefor I'll close this issue.

@GW-FUB Not sure if you're still interested in this, but you can now also pass `_ => true` to the `DeleteMany()` method.

[2020-03-02 21:32] #1478 closed

[2020-03-02 22:15] JensSchadron opened #1527 "[BUG] Using Query.Or() inside .Find() results in NullReference exception"
**Version**
_Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**_
LiteDB build from master (commit 6debdd28dd9822db332a6ffb20f4f2a5bbd58d64)
Windows 10 1909 (build 18363.693)
.NET Core 3.1.102

**Describe the bug**
_A clear and concise description of what the bug is._
Using `Query.Or()` inside `.Find()` results in a NullReference exception.

**Code to Reproduce**
_Write a

[2020-03-02 23:00] omfgicbf commented on #1083
Hi @mbdavid, I appreciate your reply. The issue is not the timeline for a v4 update, nor the focus of effort on v5; both are completely understandable. The point was related to @lbnascimento closing outstanding v4 tickets with:-

The above statement contradicts your position that v4 will continue to be supported for bugs and critical updates.

[2020-03-03 09:29] filipgeens opened #1528 "[QUESTION]"
In version 4.x, I used the function GetIndexes() of the LiteCollection<T> to view the existing indexes. This allowed me to view the existing indexes and drop them automatically if the where absolute in older collections.
But in version 5 this functionality is missing in the ILiteCollection<T>. Is there a way to get the existing indexes (I only need the names of the indexes)?

[2020-03-03 11:50] DotNetAppCompatFeiWang opened #1529 "[BUG]LiteDb doesn't insert data in .NET 5.0.100-preview.1.20125.9"
**Version**
.NET Core 5.0.100-preview.1.20125.9

**Describe the bug**
LiteDb doesn't insert data in .NET 5.0.100-preview.1.20125.9

**Code to Reproduce**
using LiteDB;
using System;
using System.IO;

 public class Author
    {
        public Guid Id { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }

using (var db = new LiteDatabase("myte

[2020-03-03 13:04] nightroman commented on #1520
I can help with the PR and testing, if the suggestion is accepted as such.
Please let me know.

[2020-03-03 13:27] mbdavid commented on #1520
Sure, please make a PR about this that I will merge in master

[2020-03-03 13:34] lbnascimento commented on #1527
@JensSchadron Fixed.

[2020-03-03 13:34] #1527 closed

[2020-03-03 13:50] lbnascimento commented on #1528
@filipgeens You can list indexes by querying the `$indexes` system collection. You can open it as if it were a regular collection: `var col = db.GetCollection("$indexes")`.

Each document returned has the following structure:

[code]

You can use filters too. For example, if you wanted only the indexes for the collection `Customers`, you can use `col.Find("$.collection = 'Customers'")`.

[2020-03-03 13:55] filipgeens commented on #1528
Great! Thx

[2020-03-03 13:56] mbdavid commented on #1511
Hi @sqlite-me, I remove this waits and use a simple task re-creating. Will be avaiable in next minor release

[2020-03-03 14:05] #1528 closed

[2020-03-03 14:40] nightroman commented on #1520
Thank you, done. Looking forward to the updated package!

[2020-03-03 14:40] #1520 closed

[2020-03-03 16:22] JensSchadron commented on #1521
@josephinenewbie, just wanted to let you know that this issue (and the one I referenced #1527 ) will be fixed in the next update and therefore, I'll be closing this ticket.

If you come across a thsis issue after you've installed to new version (when it's available), please open a new issue (or reopen this ticket if you think it's exactly the same) 🙂

[2020-03-03 16:22] #1521 closed

[2020-03-03 18:09] rejemy commented on #1196
I took a shot at porting LiteDB v5 to Unity, and the mapper getter/setter stuff is probably fixable, but I stopped working on it because it seems that in v5, nearly every query runs through C#'s compiled lambda expression code, which will never work with IL2CPP.

If you're interested in using LiteDB under Unity, take a look at the branch of LiteDB v4 that I'm working on. I'm gradually working v5 f

[2020-03-03 20:17] mbdavid commented on #1196
@rejemy I just add in README a link for UltraLiteDB, thanks for this version!

[2020-03-03 23:24] FuturistiCoder commented on #1519
@mbdavid check my repos: [LiteDB.Realtime](https://github.com/FuturistiCoder/LiteDB.Realtime)
I implemented Observables

[2020-03-04 16:04] nh43de commented on #1519
@FuturistiCoder @mbdavid awesome work. I initially started using LiteDb as an alternative to having a Mongo or SQLite store for very simple use cases and self-contained apps. Recently I started thinking about use cases for a real time changefeed system like @FuturistiCoder has done. Databases having such features natively is very common e.g. Cosmos, RethinkDb, Mongo, even MSSQL has them.

In the b

[2020-03-04 16:16] nh43de commented on #1519
If collections in LiteDb implemented something like [IObservableCache](https://github.com/reactiveui/DynamicData/blob/22ee78b648e0c557b710ef21adf0f68074edc087/src/DynamicData/Cache/ObservableCache.cs) from DynamicData, it could then serialize each [Change](https://github.com/reactiveui/DynamicData/blob/22ee78b648e0c557b710ef21adf0f68074edc087/src/DynamicData/Cache/Change.cs) object and push it ove

[2020-03-04 18:04] koddek opened #1532 "[QUESTION] Can't load a document based on a model that has a collection in its constructor."
**Version**
v5.0.3
**Steps To Recreate**
1. use the given code in LinqPad
2. adjust the db paths.
3. uncomment the code to create a person and save it to db.
4. comment the code to create a person
5. now try to load a person using the constructor with the list
6. it throws.
7. comment out that constructor and try to load a person wit the constructor that does not have the list.
8. it successfully

[2020-03-04 19:30] lbnascimento commented on #1529
@DotNetAppCompatFeiWang This bug was fixed in the master and will be present in the next incremental release.

This bug happened because the implementation of `Enum.CompareTo` was recently changed in the CoreCLR. For more info, see #1533 .

[2020-03-04 19:30] #1529 closed

[2020-03-04 22:48] darcome opened #1535 "[QUESTION] Faster filter from the database or use LINQ with data in memory?"
Hi,
I am wondering, it is faster to filter the data at the database level or to use LINQ given that I keep the
 collections from the database already in memory?
Or in other words, is the filtering of collections data in the database faster than an in memory LINQ query?

Thanks in advance!

[2020-03-05 04:10] nightroman commented on #822
I was about to open a bug... but found this and several closed issues with the same explanation "set `TrimWhitespace` to false".

https://github.com/mbdavid/litedb/issues?q=TrimWhitespace

I wonder if anybody ever asked "Why strings are not trimmed?" :)

Is this really true? Maybe, I do not know, but I am surprised then. But it does not trim TEXT.
E.g. I have just tried SQLite ("LiteDB in SQL worl

[2020-03-05 04:24] nightroman commented on #822
Maybe a dedicated poll can help to find out what users want?
(Unless this is the final authors preference which we should respect of course.)

[2020-03-05 08:06] JensSchadron commented on #1535
Hi @darcome,

I believe that it would be much more performant to filter as close to the source as possible. In the case of LINQ, it would need to materialize every object completely before it can even start checking, putting much pressure on the GC. However, I can't prove it with data (yet).

[2020-03-05 08:19] biapar opened #1536 "Sync Data: Is there a mode or support?"
Is there a module  to sync data or a mode to do?
Thanks.

[2020-03-05 08:39] darcome commented on #1535
Hi @JensSchadron

 as I wrote above, I already keep the full collections in memory, therefore LINQ doesn't have to materialise them. In this case, wuold LINQ be faster than LiteDB to query objects?

[2020-03-05 13:41] mbdavid commented on #1519
Hi @nh43de, thanks for this great comments. At the first moment I thought this same question: if your wants server-side database (or cloud database) there are many options (including free options). But there is some differences in my ideia of implementation:

1) There is not separate server application running (like an external .exe) - will run over your existing web app (if the case).
2) You will

[2020-03-05 13:43] mbdavid commented on #1519
@FuturistiCoder, I saw you lib, ver nice, thanks. I will study more your code. But I have one question, As I saw, you are notifying clients before commit, right? and if user run an rollback? I

[2020-03-05 13:54] FuturistiCoder commented on #1519
@mbdavid
from my code
[code]
it will notify only after the commit.

[2020-03-05 14:04] FuturistiCoder commented on #1519
since there is no ILiteEngine injection for now, I cannot adapt my plugin to your latest LiteDB. please considering merge this PR ? #1526 thanks.

[2020-03-05 15:25] bddckr commented on #1519
I wonder if this gives issues, it's doing this in a fire and forget fashion due to the `Task.Run` usage here:

https://github.com/FuturistiCoder/LiteDB.Realtime/blob/9d08769a07abce5419b20b0859c97cbc0890bc55/LiteDB.Realtime/Notifications/NotificationService.cs#L96

https://github.com/FuturistiCoder/LiteDB.Realtime/blob/9d08769a07abce5419b20b0859c97cbc0890bc55/LiteDB.Realtime/Notifications/Notificat

[2020-03-05 16:30] #1393 closed

[2020-03-05 17:01] lbnascimento commented on #1532
@koddek This is not exactly a bug, but a limitation of how the BSON deserialization works. It converts BSON types to equivalent .NET types, however there is no .NET equivalent to a BSON array, so arrays are converted to our `BsonArray` class. You would have to do something like this for your constructor to work:

[code]

We realize this is not ideal and we're thinking of ways to improve it. Also,

[2020-03-05 17:26] lbnascimento commented on #1535
@darcome If you already have the collections in memory **and** there is no collection index that could be used in your query, it should be faster to filter it using LINQ because gain that could be had by filtering closer to the source would not overcome the time loss in access to disk.

However, I have no idea what is faster if the query uses an index. I might run some tests later to see what happ

[2020-03-05 18:17] nh43de commented on #1519
Does that mean LiteDb will have first class support for Observables notifications, like @FuturistiCoder 's lib?

[2020-03-05 18:35] domibies opened #1537 "[BUG] Unstable behaviour when inserting from multiple threads"
Version : LiteDB v5.0.3, tested on both Windows & Macos, both show unstable behaviour, but expose different errors

When inserting (a lot) from different threads, after a while, the operations on the Db lock (timeout after 1:00), mostly on Windows, or crash (null reference exception), mostly on MacOS
(edit : now crashes also on windows, as on Mac OS, see *note below)

I have witnessed the behaviou

[2020-03-05 19:19] darcome commented on #1535
@lbnascimento Thank you very much for your answer!

[2020-03-05 21:16] JensSchadron commented on #1537
@domibies I've just cloned your repo and let it run on my machine as well, and I got the NullReference as well. The main question is now, what exactly is causing it 😓

[2020-03-05 22:36] mbdavid commented on #1519
Hi @FuturistiCoder, I didn't see this part in code. But how did you store documents before notify in commit? In a in-memory list? And if my transaction contains a very large data set (like 100.000 documents)?

@nh43de, yes, the ideia is implement some like @FuturistiCoder did, but inside `LiteEngine` class with support to send this notifications over websocket. I will take a better look into Syste

[2020-03-05 23:43] hillsydev opened #1538 "[BUG] Multi-process application locking database file"
LiteDB 5.0.3, .NET 4.6, Winfows 10 1809 64bit.

We have a single EXE .NET application which can be run as a windows service and as standard UI Winforms application.  The purpose of the application is to run various tasks such as pulling and pushing data from API's and updating SQL server databases.  These tasks are run within a Task thread within the application.  The application contains a 'Setti

[2020-03-06 00:21] FuturistiCoder commented on #1519
@mbdavid
No, I don't store any document. If you updated 100000 document, and you just want to listen to the one document, the notification service will retrieve the document for you from the db.

[2020-03-06 00:29] FuturistiCoder commented on #1519
@mbdavid there will be a performance issue if we want to subscribe to the collection with a huge mount of documents. I think I will add IQueryable filter for collection subscription.

[2020-03-06 00:32] FuturistiCoder commented on #1519
@bddckr I don't want the notification blocks the current thread.

[2020-03-06 05:38] maxkatz6 commented on #1538
Hi @hillsydev
For multiprocess access you need to create connection to your database file with Shared type like below. Or, if you need write access from one process and read access from other, you can leave Direct connection type, which is by default, and make connection readonly where you need it.
[code]

[2020-03-06 08:08] domibies commented on #1537
Ok, try this : set DeleteEveryXSeconds to 10 instead of 3, and then (on windows) you see the behaviour I was first getting. First the inserting  threads block on their db operations (screenshot below), and then they throw on EnterTransaction()

Tried the same on macOS, and after more than 10 minutes, it's still running...

LiteDB.LiteException
  HResult=0x80131500
  Message=Database lock timeout w

[2020-03-06 08:17] domibies commented on #1537
crashed 5 minutes later (null reference exception)

[2020-03-06 08:40] yaozhong-OMEC opened #1539 "[QUESTION] Do aggregate functions not use indexes?"
I use Litedb V5.0.2.

I have a 600+m data file with 20000 rows in it. If only group by is used, the speed is very fast. But if use group by and aggregate functions(e.g. `MAX()`) at the same time, even though create indexes, it becomes slow.

for example:

the SQL like this :  `select {FileName: @key} from table group by FileName` is very fast. It just about 1s.
code like this:
 `col.Query().GroupB

[2020-03-06 12:13] hillsydev commented on #1538
Hi @maxkatz6

Yes, I included the 'shared' switch in the connection string but still getting locks.  I suspect it's my application architecture trying to run the same EXE as a UI and as a service which is causing the lock.

[2020-03-06 17:02] lbnascimento commented on #1539
@yaozhong-OMEC Can you post the execution plan for the queries you provided? (just run them with the keywork `explain` before the SQL command)

[2020-03-06 17:11] lbnascimento commented on #1538
@hillsydev Are both processes running in the same machine?

[2020-03-06 23:12] hillsydev commented on #1538
@lbnascimento yes, it’s a single EXE, with a service process added.  When exe launches in normal mode, the UI appears. When the same exe launches with a command line switch /servicemode it runs as a service. I’ve split the application now so the UI is in one exe and the service runs from another exe. Appears to be stable.

[2020-03-07 18:27] fastlink30 opened #1540 "[BUG] Filestorage Strange behaviour"
5.0.3, Litedb studio 1.0.1

Database imported from vs 4 via (file json),
if i try to get file everytime return null also with
_context.FileStorage.FindAll().ToList() nothing found, but with litedb studio i can see all the 338 files
inside database
![2020-03-07_192543](https://user-images.githubusercontent.com/9497088/76150319-7a8caa80-60a9-11ea-864c-611cabed459d.png)

I have added 1 new file and o

[2020-03-07 18:29] isaacabraham opened #1541 "[BUG] Adding an immutable record to LiteDB gives an NRE"
**Version**: LiteDB 5.0.3, Windows, NetCore3.1

**Describe the bug**
Adding an immutable record to LiteDB gives an NRE, although the document is actually inserted.

**Code to Reproduce**
[code]

**Expected behavior**
The record should be inserted without an exception.

`System.NullReferenceException: Object reference not set to an instance of an object.
   at LiteDB.LiteCollection`1.Insert(T entit

[2020-03-07 19:21] nightroman commented on #1541
FWIW https://github.com/Zaid-Ajaj/LiteDB.FSharp#id-auto-incremented

[2020-03-08 11:52] sanjeevbaral opened #1542 "Querying an array of documents nested within a field"
I am new to LiteDB and have been trying it for a few days and loving it. However, I have run into a problem. I have a collection that contains an array of documents in one of the fields. I am trying to run a query that involves querying a certain field in the nested document array. What is the syntax? From one of the examples given for queries, I tried

var test = collection.Find(Query.EQ("Tumors[

[2020-03-08 13:41] sanjeevbaral commented on #1542
Figured out. I just had to look through questions answered earlier. You may want to update the page that shows query examples. I needed

var test = collection.Find(Query.EQ("Tumors[*].site ALL", "C400"));

[2020-03-08 18:33] fastlink30 commented on #1540
found the stupid issue!
when imported from json the _files collection i have rename as files....
so litedb not found the correct collection name...

[2020-03-08 19:04] LumiProj opened #1543 "Xamarin Forms issues after update"
**Version**
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**
Latest ,
**Describe the bug**
  public LiteDBService()
        {
          var db = new LiteDatabase(DependencyService.Get<IDataBaseAccess>().DatabasePath());
           _collection = db.GetCollection<T>();
        }
    When i upgrade into latest version , I am getting error at the constructor. Might there ar

[2020-03-09 01:07] yaozhong-OMEC commented on #1539
@lbnascimento
The explain for `select {FileName: @key} from table group by FileName` is:
[code]

The `select {FileName: @key,Time: MAX(*.Time)} from table group by FileName` is:
[code]

The `select $.Time from table where FileName = foreachData order by Time desc limit 1` is:
[code]

[2020-03-09 05:39] leung85 opened #1544 "[BUG] Query() Return only 1 record if execute Count() before execute ToList()"
**Version**
5.0.3

**Describe the bug**
Run  _col.Query().ToList() directly will have 20000 records
But return only 1 record if use same query and execute Count(); before execute  ToList();

**Code to Reproduce**
[code]

**Expected behavior**
Return 20000 record

**Additional context**
What i want to do is to get the total count after filtering, and then use Limit(size).Offset(offset).toList(); fo

[2020-03-09 08:23] isaacabraham commented on #1541
Yes, maybe that's all that needs to be done. Note that LiteDB.FSharp is not compatible with v5 of LiteDB cc @Zaid-Ajaj

[2020-03-09 08:26] Zaid-Ajaj commented on #1541
There is already an [opened issue](https://github.com/Zaid-Ajaj/LiteDB.FSharp/issues/45) about updating LiteDB.FSharp to latest LiteDB version. I won't be able to work on it any time soon due to other prioritized projects. Feel free to send PRs for the issue in subject, I will be happy to review them

[2020-03-09 12:36] holyping opened #1545 "[BUG]"
**Version**
5.0.3

**Describe the bug**
BsonExpression parsing error when a const value from IGrouping.Key

**Code to Reproduce**
[code]

**Expected behavior**
to process item.Key as a const, not item and then get property Key

**Additional context**
In code file LinqExpressionVisitor.cs line 122
member protected override Expression VisitMember(MemberExpression node) of class LinqExpressionVisitor

[2020-03-09 15:03] jokker23 opened #1546 "[QUESTION] Object synchronization method was called from an unsynchronized block of code"
I'm getting this error intermittently while running with ConnectionType.Shared and don't with the default.

`System.ApplicationException: Object synchronization method was called from an unsynchronized block of code.

   at System.Threading.Mutex.ReleaseMutex()
   at LiteDB.SharedEngine.CloseDatabase()
   at LiteDB.SharedEngine.Upsert(String collection, IEnumerable`1 docs, BsonAutoId autoId)`

I t

[2020-03-09 15:14] mregni opened #1547 "[BUG] Can't empty collection with DeleteMany()"
**Version**
5.0.3 on .NET CORE 3.1

**Describe the bug**
I'm trying to empty my collection (all data should be removed). When trying to call the DeleteMany() it fails. I get an error (see stacktrace).

**Code to Reproduce**
[code]

**Expected behavior**
Collection should be made empty

**Screenshots/Stacktrace**
[code]

**Additional context**
I also tried it with the following code without any suc

[2020-03-09 15:17] mregni commented on #1547
Looks a lot like #1478, @JensSchadron mentions it should work in the last comment.

[2020-03-09 16:20] holyping opened #1548 "[BUG]Find with enum consts has wrong behavior when BsonMapper.Global.EnumAsInteger = false"
**Version**
5.0.3

**Describe the bug**
When BsonMapper.Global.EnumAsInteger = false, then Find method does wrong behavior.

**Code to Reproduce**
[code]

[2020-03-09 16:40] nh43de commented on #1519
@FuturistiCoder @mbdavid  let me know if you need help - I have been working with Reactive and Observables for a several years now.

[2020-03-09 16:46] #1540 closed

[2020-03-09 17:29] lbnascimento commented on #1542
@sanjeevbaral Query static methods are not recommended anymore, they might be marked as deprecated in a future version.

You could use `collection.Find("Tumors[*].site ALL = 'C400'")` or, if you prefer SQL syntax, `db.Execute("select $ from collection where $.Tumors[*].site ALL = 'C400'")`.

[2020-03-09 17:31] lbnascimento commented on #1543
@LumiProj Could you provide a sample code and maybe the stack trace of the error?

[2020-03-09 17:53] lbnascimento commented on #1545
@holyping The error happens because the Linq-to-BsonExpression converter doesn't know what to do with `item.Key`. A simple workaround for your example would be:

[code]

[2020-03-09 19:05] lbnascimento commented on #1548
@holyping This is not a bug, but a current limitation of the mapper: LINQ expressions are only supported if `EnumAsInteger = true`. I will update the documentation to state this more clearly.

[2020-03-09 19:05] #1548 closed

[2020-03-09 19:38] lbnascimento commented on #1544
@leung85 This issue was fixed in the master branch and will be present in the next incremental release.

[2020-03-09 19:38] #1544 closed

[2020-03-09 21:01] CraigTenn commented on #1543
I also ran into problems with LiteDB 5.0.3 and Xamarin.Forms (4.5) and was also seeing an exception when using LiteDatabase but only on Android.  Only tested briefly but worked on UWP and iOS, like @LumiProj mentioned this exception came from the LiteDatabase ctor.

I saw a similar exception/issue mentioned in #1275

The message was:
Sequence contains no elements

The stacktrace was:
  at System.L

[2020-03-09 23:16] JensSchadron commented on #1547
Hi @mregni,

This has been fixed in commit ed9382cd5a839169bbe636cd0166e45100a7c717, but it isn't available yet in v5.0.3.

[2020-03-09 23:18] #1547 closed

[2020-03-09 23:29] JensSchadron opened #1551 "[BUG] Rebuild() throws System.Threading.SynchronizationLockException"
**Version**
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**
Latest version from master, commit 6c0886ec063f8bd272a91dd87973863e4668550d

**Describe the bug**
_A clear and concise description of what the bug is._
Calling `Rebuild()` on a LiteDatabase instance results in a SynchronizationLockException.

**Code to Reproduce**
_Write a small snippet to isolate your bug and

[2020-03-09 23:30] JensSchadron commented on #1546
@jokker23 Could you please provide us with more information like, which version of LiteDB you're using, OS, net runtime, et cetera 🙂

[2020-03-10 05:22] nightroman opened #1552 "[SUGGESTION] JsonSerializer should write certain Unicode characters without escaping"
**JsonSerializer should write certain Unicode characters without escaping**

The original issue is opened in LiteDB.Studio:
https://github.com/mbdavid/LiteDB.Studio/issues/16

But the problem seems to be in the LiteDB `JsonSerializer` which uses oversimplified escaping approach:
https://github.com/mbdavid/LiteDB/blob/6c0886ec063f8bd272a91dd87973863e4668550d/LiteDB/Document/Json/JsonWriter.cs#L197-

[2020-03-10 07:25] mregni commented on #1547
@JensSchadron, Thanks for the tip!
I think you made a typo there, I presume you mean `collection.DeleteMany("1=1");`

[2020-03-10 11:27] JensSchadron commented on #1547
@mregni My bad, you're right about the typo :sweat_smile:
I'll correct it in my previous response

[2020-03-10 12:40] sanjeevbaral commented on #1542
Thank you! Both worked beautifully!

[2020-03-10 12:40] #1542 closed

[2020-03-10 13:17] jokker23 commented on #1546
Certainly,

LiteDB: v5.0.2
Win10
.NET Core 3.1

Also using
Newtonsoft.Json 12.0.3
RabbitMQ.Client 5.1.1
Microsoft.Extensions.Caching.Memory 3.1.1
Microsoft.Extensions.Configuration.Abstractions 3.1.1
Microsoft.Extensions.Configuration.Json 3.1.1
Microsoft.Extensions.DependencyInjection 3.1.1
Microsoft.Extensions.Logging 3.1.1
Microsoft.Extensions.Logging.Console 3.1.1
NLog.Extensions.Logging 1.6.1

[2020-03-10 13:36] sanjeevbaral opened #1553 "EnsureIndex on a field in child documents"
How do I create an index on a field that exists in the child document. For example, I have Patients collection and each patient has an array of Visit documents. I want to be able to search on a field that belongs to Visit using index. How do I do that? Not sure if I should use EnsureIndex("Visits[*].dateOfVisit")

[2020-03-10 16:34] lbnascimento commented on #1553
@sanjeevbaral Depends on what information you usually filter for in queries. For example, if you frequently search for patients with at least one visit since a specific date, you could run `EnsureIndex("MIN($.Visits[*].dateofVisit)")`. If you do so, a query like `patients.Find("MIN($.Visits[*].dateofVisit) > '2020-01-01'")` will use the index.

[2020-03-10 19:11] lbnascimento commented on #1546
@jokker23 Could you provide a sample code that we may use to replicate the issue?

[2020-03-11 06:49] meteorsnows opened #1555 "[QUESTION] Any API to include data on deployment"
[code]

I wanted to include default data for Customer type while deploying the WPF app. Any API for that?
Id Type
1 Loyal
2 Normal

[2020-03-11 08:23] Delog-ru opened #1556 "[BUG] Freezing in foreach inserting"
**Version**
LiteDB v5.0.3
Windows 10 (1903)
.NET Framework 4.7.2

**Describe the bug**
Infinite freezing occurs in foreach inserting. Sometimes it freezes at the first try, sometimes you have to click button several times before it happens.

**Code to Reproduce**
[code]

**Expected behavior**
No infinite freezing.

**Additional context**
It doesn't freeze if you use InsertBulk() but unfortunately

[2020-03-11 09:45] Enviolet commented on #1275
I ran into the same problem. It only occurs when I create the database completely new (0kB file). The Exception is thrown on ```LiteDatabase db = new LiteDatabase(liteDbPath)```. It can however be opened by the LiteDB Studio.
I solved the problem by simply downgrading to 4.1.4.

[2020-03-11 10:21] nightroman commented on #1506
I think the fix is not quite right, see my comment. Should we reopen the issue? Should I create a new issue? Please let me know.

[2020-03-11 11:08] bluekuen commented on #1275
Yeah I've got the same problem with Xamarin.Forms 4.5.
The App is crashing at this Line:

` var db = new LiteDatabase(dbPath);`

I switched back to 4.1.4.

[2020-03-11 11:10] bluekuen commented on #1543
Yeah I've got the same problem with Xamarin.Forms 4.5.
The App is crashing at this Line:

var db = new LiteDatabase(dbPath);

I switched back to 4.1.4.

[2020-03-11 14:33] atresnjo opened #1557 "[QUESTION] System.NotSupportedException: Any/All requires simple parameter on left side. - Querying nested array, how can I accomplish this?"
LiteDB Version: 5.0.3

Hey guys, thanks for the work on LiteDB ! I am checking out if LiteDB might work for my use case. Thanks for the help!

My entities:

[code]

Basically I want to be able to filter out job entries by tags, title, company and then order by date. Is this possible? What I have right now is:

[code]

Right now I am getting the following exception thrown:

Unhandled exception. Sys

[2020-03-11 18:16] lbnascimento commented on #1557
@atresnjo Currently, the Linq-to-BsonExpression converter only supports simple expressions inside `Any`, i.e. expressions where the left side uses the parameter (it would be really simple to add support for it if Linq had a `In` method, but it doesn't).

It's possible to use SQL syntax, however the result would be an array of `BsonDocument` and the results would have to be manually mapped to the .

[2020-03-11 18:18] lbnascimento commented on #1555
@meteorsnows Sorry, I didn't understand your question. Could you explain what you're trying to do?

[2020-03-11 18:30] lbnascimento commented on #1506
@nightroman Do you have any suggestion on how to properly fix this? I could do something like I did in #1549 , but it's too hacky for me. In my opinion, the Query class should be refactored and made into an immutable class, but it seems too complicated given that it contains BsonExpressions and lists of BsonExpression.

[2020-03-11 18:38] nightroman commented on #1506
I know it's a potentially breaking change (minor) but at the current state of things (still adopting v5) I would remove the method with `Offset` and `Limit` parameters. This resolves the problems. **Users** set `Offset` and `Limit` in the query instance, so that it's their responsibility to set new values if they are using the same instance 2+ times.

[2020-03-11 18:53] nightroman commented on #1506
These parameters are **unexpected** in the method from my point of view, and **inconsistent**, too. Why just them and not others? For example, why `Order` is not added to the same method with default value `1`? And so on. `Find` should take just `Query`. Classic pattern with parameters object which type could be called `FindArgs` (but conveniently called `Query` in our case, the only difference).

[2020-03-12 02:23] weishuo2 opened #1558 "[QUESTION]How to test the performance of dbref？"
I would like to know the difference between using dbref and embedded performance.However, dbref is not used in the existing test data. Is there a standard test dbref data set?

[2020-03-12 02:59] holyping commented on #1545
@lbnascimento I've used the treatment same of yours code, but this would be a lot of trouble when Find with a complex lamba expression. It makes the code very difficult to write, and the code is very unintuitive.
And I checked the source that only handle a few method for ICollection

[2020-03-12 07:01] JensSchadron commented on #1558
Hi @weishuo2, I got asked the same question by a colleague this week. However, I don't know the answer yet, but I'm planning on writing benchmark cases for that as well in the near future. What are you looking for specifically? Insertion timings? Query timings? Maybe even deletion timings?
Which version do you need the timings for? (v4 or v5)

[2020-03-12 07:20] weishuo2 commented on #1558
Hi,JensSchadron.Very happy to receive your reply.
I mainly want to know the query timings of dbref，I want to know the performance impact of dbref compared to embedded in use.Insertion timings and deletion timings are not so important.

[2020-03-12 08:42] atresnjo commented on #1557
@lbnascimento

Okay, that makes sense. Thanks for the help, but using your suggestion I still get an empty collection returned. What am I doing wrong?

[code]

![grafik](https://user-images.githubusercontent.com/41112852/76503076-6f3cd480-6445-11ea-893f-1a4721412b3e.png)

JobEntryModel collection
![grafik](https://user-images.githubusercontent.com/41112852/76503122-87145880-6445-11ea-8872-8ae8b800

[2020-03-12 10:56] Edgaras91 commented on #1054
For anyone googling the title, I had the same error when another NuGet package was using its own LiteDB, and I added this LiteDB in addition to it. In my scenario, it was [Monkey Cache](https://github.com/jamesmontemagno/monkey-cache) package

[2020-03-12 14:03] lbnascimento commented on #1557
@atresnjo The `BsonRef` attribute in Tags is wrong, it should be ` [BsonRef("TagEntryModel")]`

[2020-03-12 14:37] AntonyNET commented on #1462
Hi!
I open DB on my app start and dispose it when app closed.
Sometimes my app crashs and when i start it next time i have no data that i save.
How i can flush changes from log file to main DB? log file is 7GB already

[2020-03-12 14:43] lbnascimento commented on #1557
@atresnjo About the index, in your example you wouldn't be able to do anything relevant with `Tags` because it is a reference to another collection, and you can only index information pertaining to the same collection.

Actually, I think it would be best for the Tags to be store as embedded documents inside every `JobEntryModel`. It's usually better to use embedded documents instead of references

[2020-03-12 14:46] lbnascimento commented on #1462
@AntonyNET Just run a checkpoint operation after opening the datafile (actually, it should automatically run checkpoint when opening a datafile)

[2020-03-12 18:06] eman1986 opened #1559 "[QUESTION] Issue with upgrading to version 5"
Hello,

I'm currently using version 4 of LiteDb on a Xamarin project and I'm looking to upgrade it to version 5 but having an issue where when I read a collection, my objects come back as null.

Here's one such exmaple:

[code]

I did setup a mapper but that didn't seem to help either

[code]

I'm clearly missing something but I'm not exactly sure what.

I appreciate the help.

[2020-03-12 18:40] lbnascimento commented on #1559
@eman1986 The parameters in the constructor annotated by `BsonCtorAttributes` must be of symple types (this is not in the documentation, I'll add it).

Given that all the properties in `UserCache` have public setters, you don't need to use `BsonCtorAttribute` anyway. Just remove this constructor - or, if you need it for something else, remove the attribute and create a parameterless constructor th

[2020-03-12 19:43] lbnascimento commented on #1556
@Delog-ru I could not replicate the issue. I created a forms project and created a button that does exactly what your example does. I presses the button probably hundreds of time and every time the operation eventually ended. I created the project on .NET Framework 4.7.2 using LiteDB v5.0.3 release and I'm running Windows 10 1803.

Is there anything else you could do to help me replicate the issue

[2020-03-12 19:51] #1532 closed

[2020-03-12 19:58] lbnascimento commented on #1551
@JensSchadron Could you test with the current master? The transaction model was entirely rewritten.

[2020-03-12 20:00] lbnascimento commented on #1538
@hillsydev Could you test with the current master? The transaction model was entirely rewritten.

[2020-03-12 20:02] lbnascimento commented on #1546
@jokker23 Could you test with the current master? The transaction model was entirely rewritten.

[2020-03-12 20:03] lbnascimento commented on #1537
@domibies Could you test with the current master? The transaction model was entirely rewritten.

[2020-03-12 20:03] lbnascimento commented on #1513
@GeorgeStorm Could you test with the current master? The transaction model was entirely rewritten.

[2020-03-12 20:05] jokker23 commented on #1546
Yes sorry I will try to accommodate both requests as soon as possible. I'm currently on overload making VPN tunnels for home workers, sorry for the delay.

[2020-03-12 20:28] JensSchadron commented on #1551
I'was following the progression of PR #1560 "live". But was going to close this ticket when it got merged into master.
That being the case, I'll close this ticket as it works just fine now.

[2020-03-12 20:28] #1551 closed

[2020-03-12 21:48] JensSchadron opened #1561 "[BUG] Elevated insertion timings after arbitrary amount of runs."
**Version**
_Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**_
Latest build from master, commit 8bd084b797e8b7d635dad427ecb84ea036e3c6d8 (should match with v5.0.4 code-wise)

**Describe the bug**
_A clear and concise description of what the bug is._
I've noticed highly elevated insertion timings after running the Multithreaded Insertion bechmarks.
Going from 2-3 seconds

[2020-03-12 22:08] JensSchadron commented on #1547
Hi @mregni, just wanted to inform you that v5.0.4 has been released (which includes the fix for your issue)

[2020-03-13 07:10] ambyte opened #1563 "[QUESTION]Index values must have less than 255 bytes after upgrate to v5"
I updates library to version 5.
When I open a database created in version 4 with upgrade=true flag I get an error
"Index key must be less than 255 bytes"
In the documentation is written for v4, "Index values must have at most 512 bytes"
For v5 "Index values must have less than 255 bytes"
I have a lot of clients who will lose data, because it is impossible to update the database
What can be done

[2020-03-13 11:52] domibies commented on #1537
@lbnascimento With the current master it does seem to be stable running for more than 1h almost 25M inserts & deletes from 32 threads.  The 'auto checkpoint' behaviour seems to be gone? If I don't call LiteDataBase.Checkpoint() explicitly the *.db stays small, and the *-log.db keeps growing. Regulary calling CheckPoint() works fine.

![screenshot](https://user-images.githubusercontent.com/8329215/

[2020-03-13 12:17] situssoft opened #1564 "Different behaviour using public setters and BsonCtor"
I have a the following data types:

    public class InnerItem
    {
        public InnerItem(string innerData)
        {
            InnerData = innerData;
        }
        public string InnerData { get; set; }
    }

    public class DataItem
    {
        public DataItem() { }

        public DataItem(string TheData, InnerItem TheItem)
        {
            Id = ObjectId.NewObjectId();

[2020-03-13 12:38] #1537 closed

[2020-03-13 15:24] eman1986 commented on #1559
It wasn't working before I added that as currently with version 4 I didn't have a constructor used.

I added it because I thought I needed it.

[2020-03-13 16:01] meteorsnows commented on #1555
I am trying to include default data for CustomerType Table

Id Type
1 Loyal
2 Normal

[2020-03-13 16:32] josephinenewbie opened #1565 "[BUG] Cannot access a disposed object."
**Version**
Upgrade to v.5.0.4 from v4.1.4

**Bug**
When try to .Find() with query inside, it hits the following error.

**Stacktrace**
[code]
Code to Reproduce
[code]

Againg, previously work fine in v4.1.4 :)

Thanks guys.

[2020-03-13 17:04] lbnascimento commented on #1564
@situssoft The constructor annotated by `BsonCtor` must have only parameters of simple types (this limitation was undocumented until yesterday, so you probably missed it). This is not the case because of the `InnerItem` parameter.

In this case, the mapper tries to use a parameterless constructor, but there is none. Also, mere adding a parameterless constructor won't work with `DataItemBC` because

[2020-03-13 17:21] lbnascimento commented on #1559
@eman1986 If no `BsonCtor` is found by the mapper, it then tries to use a parameterless constructor (or the default constructor, if there is no explicitly defined constructor). This will only work if your properties have public setters.

Your example class has public setters, so it should work with a parameterless/default constructor. In fact, I just tested it and it works fine.

[2020-03-13 17:41] lbnascimento commented on #1555
@meteorsnows There is no specific collection initialization functionality. You would have to do it manually, something like this:

[code]

[2020-03-13 18:05] lbnascimento commented on #1565
@josephinenewbie I tested your example with a datafile upgraded from v4.1.4 to v5.0.4 and it worked fine. Could you maybe send me the datafile you're using?

[2020-03-13 18:37] eman1986 commented on #1559
do I need a mapper for it to work? I didn't have one for v4

[2020-03-13 18:51] lbnascimento commented on #1563
@ambyte Are there any custom indexes in the datafile (that is, an index over a field other than `_id`)?

If the error is happening on a custom index, I might create a way to upgrade the datafile without the indexes, which would circumvent the limitation. However, if the error is happening on an id index, I'm not sure what could be done (and index keys shouldn't be this long anyway, it would hurt p

[2020-03-13 19:08] maxkatz6 commented on #1565
I think, it depends on GetActiveMembers usage, because IEnumerable is lazy and could be used after some internal staff was disposed

[2020-03-13 19:10] lbnascimento commented on #1559
@eman1986 No mapper should be necessary.

[2020-03-13 19:26] seertenedos opened #1566 "[SUGGESTION] Allow the setting of the position on LiteFileStream"
Generally i have found LiteDB to be great i have found the file streams to be a little useless since setting the position in the stream results in a "Not Implemented" exception. It is a similar thing with set length.  I really need to be able to set the position so i can jump around in the file stored there and not need to restart the whole stream open and read to no where till i get to the correc

[2020-03-13 20:01] eman1986 commented on #1559
I tried it again and I'm still seeing my type be null

[2020-03-13 20:09] lbnascimento commented on #1559
@eman1986 Could you send me the datafile you're using?

[2020-03-13 20:29] AtifShahzed commented on #1543
at System.Linq.Enumerable.First[TSource] (System.Collections.Generic.IEnumerable`1[T] source) [0x0000b] in /Library/Frameworks/Xamarin.iOS.framework/Versions/Current/src/Xamarin.iOS/external/corefx/src/System.Linq/src/System/Linq/First.cs:16
  at LiteDB.Engine.LiteEngine..ctor (LiteDB.Engine.EngineSettings settings) [0x00123] in <dd8295e446b24319b0f9b29a4b1e03f0>:0
  at LiteDB.ConnectionString.Cre

[2020-03-13 21:59] eman1986 commented on #1559
I took a little more time debugging the xamarin app, and it seems like there's another process that may be the root cause. I don't think it's anything related to LiteDb itself now.

[2020-03-13 21:59] #1559 closed

[2020-03-13 23:47] AtifShahzed commented on #1543
that's totally disappointment I am 100% they didn't test with the latest version of XF and just release the new version and our all apps are in trouble and they are not taking it seriously.

[2020-03-14 06:14] josephinenewbie commented on #1565
Thanks, here is the data file.
[Data.zip](https://github.com/mbdavid/LiteDB/files/4332338/Data.zip)

@maxkatz6 yes, i am actually thinking is it related to IEnumerable  that trying to load after staff was disposed. :) Anyway lets me also see where the bug is.

[2020-03-14 06:48] josephinenewbie commented on #1565
Yes, just checked there is two issue in my implementation code, although same code is used in LiteDB 4.0.4

1. IEnumeralbe. I better not use it.
2. Probabaly the way I connect the LiteDB. Here:
`
**MemberDataAccess memberDataAccess = new MemberDataAccess(await _databaseAccess.GetLiteDatabaseAsync());**

            try
            {
                memberList = memberDataAccess.GetActiveMembers();

[2020-03-14 07:16] Reetus opened #1568 "[BUG] Log file continously grows in 5.0.4"
5.0.4 Windows 10 .NET Core 3.1

![image](https://user-images.githubusercontent.com/6239195/76677241-ec637780-6606-11ea-8ed1-b0c20712bb64.png)

With my real database with 1.3million records the -log.db was up to 32gb.

[2020-03-14 08:16] Delog-ru commented on #1556
@lbnascimento it's pretty much standard WPF project generated by VS 2019. I tried the new version 5.0.4 you released yesterday and it looks like the problem has gone.

[2020-03-14 08:24] #1556 closed

[2020-03-14 13:09] meteorsnows commented on #1555
Okie, fair enough.
Good enough for me.

[2020-03-14 13:09] #1555 closed

[2020-03-14 13:49] holyping opened #1569 "Make Linq/BsonExpresson constructing more efficient[QUESTION]"
As the current implemention, the build of query such as Query.And/Query.Or is make the child BsonExpression to string, concat "exp1 op exp2", and compiles back to BsonExpression. This may be a bad efficient and may have some risk of security as SQL injection, also as Linq convert to BsonExpression.

I suggest abolishing the current "convert to string-recompile" mechanism, to implement more directl

[2020-03-14 18:21] oleksiivasylenko opened #1570 "Object InnerList auto incremented id"
Hi, please explain how to auto increment sub object ids.

I have two classes(model), and one class for saving data.
[code]
[code]
[code]
So how to auto increment Id's of inner list?
Also I've tried to mark Post.Id with [BsonId] attribute, this doesn't help as well.
LiteDb  v5.0.4

[2020-03-14 22:53] LennardF1989 commented on #1568
I can confirm I've seen this happen too in the latest version from NuGet. Log-File went from a few MB's to almost 5 times the size, after a rebuild file-size was 0 where the DB-File was only a few MB's again.

[2020-03-14 23:07] JensSchadron commented on #1558
@weishuo2 Just wanted to let you know that I started writing benchmark cases as I'm currently in a slight lockdown.
The datagenerator could use some performance improvements, but at least I've one for now 🙂
![afbeelding](https://user-images.githubusercontent.com/10922456/76691987-d7abd180-6650-11ea-802a-0c87b818d728.png)

[2020-03-15 04:15] marekvse commented on #725
This is really terrible. I've spent so much time trying to figure out how to use the single instance from multiple threads. An example would really be helpful. I am forced to use the shared mode since in the exclusive mode I get timeouts after the first write.
Also, there is quite bit of confusion about what the connection string should look like, which is possibly the reason for this not working

[2020-03-15 06:55] hillsydev commented on #1538
Hi @lbnascimento, thank you for doing that re-write on the transaction model.  Unfortunately it hasn't resolved the problem.  I don't think it's a problem with LiteDB, I think it may have something to do with the way Windows handles processes running from the same EXE file because the other day when I found this problem, I tried on SQL server using the same application and it had locks as well.  S

[2020-03-15 08:19] sanjeevbaral commented on #1553
Thanks and if I just wanted to find all visits on day or later than a day I would just use EnsureIndex("Visits[*].dateOfVisit")? The following would use the index?

collection.EnsureIndex("Visits[*].dateOfVisit");
var patients = collection.Find("Visits[*].dateOfVisit ALL = '22020-01-01'");
int count = patients.Count();

[2020-03-15 10:04] sanjeevbaral opened #1571 "startswith query"
Hello,
The following gives me the syntax error - "Unexpected token `startswith` in position 41". I was looking at samples in https://github.com/mbdavid/LiteDB/wiki/Expressions and I see startswith is supported. Is startswith supported or something else is wrong with this query?

IBsonDataReader rdr = db.Execute("select $ from Patients WHERE nameLast startswith  'John'");

I figured I can use LIKE

[2020-03-15 10:53] sanjeevbaral opened #1572 "IN() in SQL"
Hello,

I found that the following executes fine

select $ from Patients WHERE $.Tumors[*].primarySite ALL  IN ('C447')

However, if I add more values to the list like this I get syntax error on the comma separating the values.

select $ from Patients WHERE $.Tumors[*].primarySite ALL  IN ('C447','C500')

What is the correct syntax for specifying a list of values?

[2020-03-15 11:14] papyr commented on #1079
hi any updates

[2020-03-15 14:37] winsonet commented on #955
so, may I know whether has a tool can browse LiteDB on a Mac now?
thanks!

[2020-03-15 16:31] #1565 closed

[2020-03-15 16:33] josephinenewbie commented on #1565
Thank you all. I have rewrite the way on connecting so that it can work well in v.5.0.4

[2020-03-15 17:48] JensSchadron commented on #955
@winsonet I started working on a client somewhere in a august, but due to lack of time, I had to put it on-hold. So for now, there isn't a client for Mac as far as I know.

[2020-03-15 19:35] sanjeevbaral opened #1573 "Filtering on child field using substring"
Hello,

When I execute the following SQL which filters documents on a parent field, the query seems to get the correct result.

select $ from Patients WHERE substring($.nameFirst,0,1) ALL = 'd'

However, when I use the following SQL on a child field using substring I do not get any result.

select $ from Patients WHERE substring($.Tumors[*].dateOfDiagnosis,0,4) ALL = '2018'

What am I doing wrong?

[2020-03-16 06:29] ambyte commented on #1563
Thank you, upgrade=DataOnly solved the problem, the database update goes without errors

[2020-03-16 06:29] #1563 closed

[2020-03-16 10:53] weishuo2 commented on #1558
Nice to hear this news, hope you can inform me on github after you finish.

[2020-03-16 16:21] lbnascimento commented on #1570
@oleksiivasylenko The auto-incremented id only works for the root document. Ids are used as unique identifiers inside a collection, and embedded documents are not stored in a collection of their own, so they don't need an id.

If you really want auto-incrementing id in inner objects, you can either implement it manually or use `BsonRef`

[2020-03-16 16:26] lbnascimento commented on #725
@marekvse If you're sharing a datafile between multiple **processes**, you have to use shared mode. However, direct mode should have no issues in multithreaded mode.

Are you using v5.0.4? There were some issues regarding timeouts in the previous version, but they were fixed in v5.0.4.

Also, keywords in the connection string are case-insensitive. For more info, check [the documentation](https://w

[2020-03-16 16:37] lbnascimento commented on #1571
@sanjeevbaral The documentation in our github wiki is for v4, the updated documentation for v5 is in [our homepage](http://www.litedb.org/).

You should use `db.Execute("select $ from Patients WHERE nameLast like 'John%'");`.

[2020-03-16 16:40] lbnascimento commented on #1572
@sanjeevbaral You should use `select $ from Patients WHERE $.Tumors[*].primarySite ALL IN ['C447','C500']`

[2020-03-16 16:54] lbnascimento commented on #1573
@sanjeevbaral `substring` can only be used with scalar expressions (expressions that evaluate to a single value), and `$.Tumors[*].dateOfDiagnosis` is an enumerable expression (it evaluates to all the dates of diagnosis).

You could use `select $ from Patients WHERE $.Tumors[*].dateOfDiagnosis ALL like '2018%'`.

[2020-03-16 17:17] lbnascimento commented on #1568
@Reetus @LennardF1989 Could you test with the current master?

[2020-03-16 20:20] sanjeevbaral commented on #1572
Thank you!

[2020-03-16 20:20] sanjeevbaral commented on #1573
Thanks!

[2020-03-16 20:21] sanjeevbaral commented on #1571
Thank you!

[2020-03-16 20:21] #1571 closed

[2020-03-16 20:25] lbnascimento commented on #1543
@LumiProj The problem is happening because of the way `DatabasePath()` in `ILiteDbConfiguration` is implemented. A zero-length file is being created if it doesn't exist, and then LiteDB tries to read it as a valid datafile (which it isn't).

We'll probably add a check for zero-length file, but in the meantime, just remove the `if (!File.Exists(path))...`

@bluekuen @AtifShahzed Please check if you

[2020-03-16 20:47] #1573 closed

[2020-03-16 20:47] #1572 closed

[2020-03-17 00:11] FooBartn commented on #1280
@srcmkr have you tried using BsonExpression ?

[2020-03-17 00:25] FooBartn commented on #1280
Actually it looks like Parent.ChildArray[*].ChildArray[*] works

[2020-03-17 00:28] srcmkr commented on #1280
Indeed, the further levels are interesting, but one of the most challenging thing is the abstraction / generalization of the request.
We have too many models to create a separate service for each of them, so we started to use generic T.
Due to this, we can't pass or know the max depth, even ChildArray[*] works great.
Maybe we'll find a way to execute the ChildArray[*] recursivly, but the IncludeAl

[2020-03-17 00:32] FooBartn commented on #1280
Ah, gotcha. Totally understand -- you don't want to have to worry about property types / names. Hm. Well. I bet something could be done with reflection to build the BsonExpressions from property names and whether or not they're array types or not.

Side note: I've noticed you seem to need to include every level:

[code]

[2020-03-17 05:46] KaJIbI4 commented on #1505
same situation with .Equals() ("==" work):
var i = db.GetCollection< ... >( "..." );
var s = i.FindOne( x => x.name.Equals( name ) );

[2020-03-17 12:01] nightroman commented on #1552
Hello. Any thoughts and/or plans on this issue? If it is going to be the long story, "no problem", but then I should probably use Json.NET for the time being... It would be useful to get some feedback for some planning.

[2020-03-17 17:21] lbnascimento commented on #1505
@KaJIbI4 I created a Linq-to-BsonExpression conversion for the method `Equals()` (only for `string`, `DateTime`, `ObjectId`, `Guid` and numerical types). It is avaliable in the master branch and should be present in the next incremental release. In the meantime, you can just use `x => x.Name = name`.

[2020-03-17 18:12] lbnascimento commented on #1552
@nightroman Thank you for your suggestions and contributions to LiteDB. I've implemented your suggestion and it should be present in the next incremental release.

[2020-03-17 18:12] #1552 closed

[2020-03-17 18:21] nightroman commented on #1552
@lbnascimento Many thanks for fixing this. The issue was a real pain!

[2020-03-17 18:22] nightroman commented on #1552
P.S. And thank you for merging my other PR. I am about to submit a new PR fixing serialization of non-generic dictionaries. Now it is easier.

[2020-03-18 00:30] lbnascimento commented on #1548
@holyping This issue was solved in the master branch and should be present in the next incremental release.

[2020-03-18 23:41] PLASMAchicken commented on #1096
This seems to have happened in one of my production environments, I suppose @Szilard95 fix is only to prevent it but not too did the DB after it has happened right?

[2020-03-19 01:08] lbnascimento commented on #1096
@PLASMAchicken Could you open a new issue describing your problem?

[2020-03-19 02:13] josephinenewbie opened #1579 "[QUESTION] How to Backup a LiteDB"
May I know how to backup a LiteDB?
Or 'rollback' to previously commits.
Or use Export json file is the best option?

(Because I am inserting data to LiteDB. But sometimes I just insert some improper JSON...)

Thanks!