[2020-03-19 08:44] alonstar opened #1580 "[QUESTION] Console Application using Shared mode but got file is lock error."
I'm using .NET Framework 4.7.2 and LiteDb 5.0.4, and I have three repository using the same connection string.

I got a file is lock exception when using 5.0.4. (downgrade to 4.1.4 it's ok.)

        public static ConnectionString BuildConnectionString(string fileName)
        {
            var dir = Path.Combine(System.AppDomain.CurrentDomain.BaseDirectory, "Database");
            if (!Directory

[2020-03-19 13:26] lbnascimento commented on #1579
@josephinenewbie There is no way to rollback a commited transaction - however, an uncommited transaction can be manually rolled back and it will be discarded if the datafile is abruptly closed (process crashed, power loss etc.).

Regarding backup, there is no specific functionality for it. Making copies of the datafile should be fine for most purposes.

[2020-03-19 14:48] lbnascimento commented on #1580
@alonstar Are you accessing the same datafile from multiple processes?

[2020-03-19 15:44] nightroman commented on #1580
Is this the reason of the problem, perhaps?

*LiteDB\Engine\Disk\StreamFactory\FileStreamFactory.cs*

[code]

The 3rd parameter is `FileAccess`. When `write` is true then we require `FileAccess.ReadWrite`.

The 4th parameter is `FileShare`. When `write` is true then we only allow `FileShare.Read` for others.

Now, imagine the second process is doing the same shortly after the first. It tries to ge

[2020-03-19 17:06] nightroman commented on #1580
I tried to reproduce the similar (maybe) scenario using [Ldbc](https://github.com/nightroman/Ldbc) and the following PowerShell script:

[code]

**Steps:**

- run one instance of the script in a console
    - it prints "Enter" in order to continue, do not press yet
- run another instance of the script in another console
    - it "hangs" forever, i.e. "Enter" is not printed
- press "Enter" in the f

[2020-03-19 17:22] LumiProj commented on #1543
Thats solved the problem now in new apps it is working fine. I don't know what would happen if existing users gets an update so what would impact on their devices.

Now I am submitting new version of my app and see how it goes.

Thanks

[2020-03-19 17:42] lbnascimento commented on #1580
@alonstar @nightroman Could you test with the latest commit? (it appears to have been a silly copy/paste mistake)

[2020-03-19 17:47] nightroman commented on #1580
@lbnascimento My script works now without unexpected locks. Great!
(as usual, I looking forward for the updated package, please...)

[2020-03-20 01:37] josephinenewbie commented on #1579
@lbnascimento
Thank you so much :) that's reasonable.

[2020-03-20 01:37] #1579 closed

[2020-03-20 12:00] paulgee31 commented on #1512
I'm also experiencing issues (database appears to lock) when running in a windows service. I'll endeavour to reproduce in a standalone example.

[2020-03-20 23:11] Mbogdan95 commented on #1309
I have the same problem as @Sardoan . I have a `public List<KeyValuePair<string,Rectangle>> name` and I can insert and update in the db, but when I read the db i get empty string and empty Rectangle. I am using LiteDB v5.0.4.0

[2020-03-21 07:05] nightroman opened #1583 "[QUESTION] Is BsonDocument(ConcurrentDictionary) redundant?"
There are two `BsonDocument` constructors with dictionaries:

[code]

The code of constructors is semantically the same and removing the first `BsonDocument(ConcurrentDictionary)` does not seem to change anything.

`ConcurrentDictionary<TKey, TValue>` implements `IDictionary<TKey, TValue>` so the second constructor should be enough, in theory.

I wonder why `BsonDocument(ConcurrentDictionary)` exi

[2020-03-21 20:48] Mbogdan95 opened #1584 "[QUESTION] How do I fetch a list of KeyValuePair from db?"
For example I have `List<KeyValuePair<string, Rectangle>> listName` that I can write and update in the db. When I am checking with LiteStudio I can see that the list has been written correctly but when I fetch the list i get the number of elements in the list but the Key and the Value are empty

[2020-03-22 17:02] HippyRock opened #1585 "[BUG]FindById or FindOne returns NULL intermittently when executed from xUnit"
**Version**
Latest build commit: 811e6ad
.NET Core 3.1
Windows 10

**Describe the bug**
FindOne or FindById returns null sometimes although object is explicitly added into collection just before. I noticed it in xUnit tests, each time different test may fail.

**Code to Reproduce**
[code]

3-4 identical tests in 2 two files (it is important as issues happen when you have multiple files, when all t

[2020-03-23 03:42] alonstar commented on #1580
No, I use the same process and multiple threads. The latest commit is work, but I got System.NullReferenceException when inserting data...T_T

	   於 LiteDB.BsonValue.GetHashCode() 於 D:\Projects\LiteDB\LiteDB\Document\BsonValue.cs: 行 561
	   於 System.Collections.Generic.GenericEqualityComparer`1.GetHashCode(T obj)
	   於 System.Linq.Set`1.InternalGetHashCode(TElement value)
	   於 System.Linq.Set`1.F

[2020-03-23 03:49] alonstar commented on #1580
And another, I tried using old db with upgrade, but got  System.MissingMethodException: 找不到方法: 'Void LiteDB.ConnectionString.set_Upgrade(Boolean)'

[2020-03-23 09:41] alonstar opened #1586 "[QUESTION] Method ToUniversalTime() in DateTime are not supported"
I filter data by DateTime.Today.ToUniversalTime(), it's working  on 4.1.4 but not 5.0.4.

Error messaage : Method ToUniversalTime() in DateTime are not supported when convert to BsonExpression (DateTime.Today.ToUniversalTime()).

	db.Query<Order>().Where(p => p.OrderDateUtc > DateTime.Today.ToUniversalTime())

======

	   at LiteDB.LinqExpressionVisitor.VisitMethodCall(MethodCallExpression node)

[2020-03-23 09:59] alonstar commented on #1546
I got the same error, too.

	System.ApplicationException:  Object synchronization method was called from an unsynchronized block of code
	於 System.Threading.Mutex.ReleaseMutex()
	於 LiteDB.SharedEngine.CloseDatabase()
	於 LiteDB.SharedDataReader.Dispose(Boolean disposing)
	於 LiteDB.SharedDataReader.Dispose()
	於 LiteDB.LiteQueryable`1.<ToDocuments>d__26.MoveNext()
	於 System.Linq.Enumerable.WhereSelec

[2020-03-23 13:35] lbnascimento commented on #1586
@alonstar I'm going add the Linq-to-BsonExpression mapping for `ToUniversalTime()` later. In the meantime, you can just store the value in a variable before using it in the query:

[code]

[2020-03-23 13:51] lbnascimento commented on #1546
@alonstar What version are you running?

[2020-03-23 14:12] lbnascimento commented on #1584
@Mbogdan95 Is there any specific reason you're not using `Dictionary<string, Rectangle>`?

[2020-03-23 14:15] lbnascimento commented on #1580
@alonstar I'm going to close this issue, given that the original problem appears to be fixed. Could you open a new issue with more info (such as OS, LiteDB version and NET Framework/Core version) and some code I could use to reproduce this new issue?

[2020-03-23 14:15] #1580 closed

[2020-03-23 14:23] nightroman commented on #1580
@lbnascimento @mbdavid
Any raw estimate of v5.0.5 release date?

[2020-03-23 15:36] alonstar commented on #1546
5.0.4 and .net framework 4.7.2

[2020-03-23 16:53] aelassas opened #1588 "Why the v5 needs 2 files per db?"
Why the v5 needs 2 files per db (*.db and *-log.db)?

The v4 needed only 1 file per db (*.db).

[2020-03-23 17:09] Mbogdan95 commented on #1584
@lbnascimento no particular reason but changing from `List<KeyValuePair<string, Rectangle>>` to `Dictionary<string, Rectangle>` seems to have solved the problem. Thank you for this!

[2020-03-23 17:09] #1584 closed

[2020-03-23 20:41] maxkatz6 commented on #1588
Duplicate of https://github.com/mbdavid/LiteDB/issues/1486 and https://github.com/mbdavid/LiteDB/issues/1462

[2020-03-23 21:24] hopson-2 opened #1589 "[BUG] v5.0.4 ILiteCollection.Find() does not work with enum"
**Version**
5.0.4/Windows 10/net framework 4.7,2

**Describe the bug**
the ILiteCollection.Find() method does not appear to work with enum

**Code to Reproduce**
LINQPad v5.41/C# Program

[code]

**Expected behavior**
collection items with matching enum values should be returned

**Screenshots/Stacktrace**
![image](https://user-images.githubusercontent.com/809920/77364189-6b089500-6d2a-11ea-85cd-f

[2020-03-23 21:35] aelassas commented on #1588
@maxkatz6 Thanks. I figured it out.

[2020-03-23 21:35] #1588 closed

[2020-03-24 07:44] maxkatz6 commented on #1589
Can you test it with latest master?
I think, it could be duplicate of https://github.com/mbdavid/LiteDB/issues/1548.

[2020-03-24 13:15] #1586 closed

[2020-03-25 17:09] lbnascimento commented on #1585
@HippyRock This issue is fixed in the master and will be present in the next incremental release.

[2020-03-25 17:09] #1585 closed

[2020-03-25 17:20] lbnascimento commented on #1589
@hopson-2 I tested your example with master and it works. It was recently fixed and will be present in the next incremental release.

Also, a tip: there's no need to run `EnsureIndex` over the id field, since the index over the id is always created upon the first insertion and it can't be dropped.

[2020-03-25 17:20] #1589 closed

[2020-03-25 17:22] #1570 closed

[2020-03-25 17:23] #1568 closed

[2020-03-25 18:12] hopson-2 commented on #1589
Hello,
Thank you for the update and the tip.

--Glenn

From: Leonardo Nascimento <notifications@github.com>
Sent: Wednesday, March 25, 2020 1:21 PM
To: mbdavid/LiteDB <LiteDB@noreply.github.com>
Cc: Hopson Glenn MTMS <Glenn.Hopson@mt.com>; Mention <mention@noreply.github.com>
Subject: Re: [mbdavid/LiteDB] [BUG] v5.0.4 ILiteCollection.Find() does not work with enum (#1589)

@hopson-2<https://github

[2020-03-26 06:51] pazicb commented on #1519
Hello,
when do you expect the first alpha version of LiteDB for WebSocket to be available?

[2020-03-26 10:10] atresnjo commented on #1557
My bad! Thank you a lot for the help.

[2020-03-26 10:10] #1557 closed

[2020-03-27 04:34] seertenedos opened #1592 "[BUG] Release 5.0.5 is bad - multiple issues with code working on past version"
**Version**
LiteDB 5.0.5 on dotnet core 3.1 windows and linux

**Describe the bug**
null pointers coming from multi different actions inside LiteDB on code thar was working on version 5.0.4. (was having an issue with records not been found sometimes but i think that relates to bug someelse reported)

**Code to Reproduce**
putting lines from my code so may not be perfect but should give rough idea.

[2020-03-27 04:38] seertenedos commented on #1592
here is another example for one with on an insert instead
System.NullReferenceException: Object reference not set to an instance of an object.
   at LiteDB.BsonValue.GetHashCode()
   at System.Linq.Set`1.InternalGetHashCode(TElement value)
   at System.Linq.Set`1.Add(TElement value)
   at System.Linq.Enumerable.DistinctIterator`1.MoveNext()
   at LiteDB.Engine.LiteEngine.InsertDocument(Snapshot sn

[2020-03-27 13:10] ReflexiveCode opened #1593 "Index value maximum length"
_Love_ LiteDB. But why did the maximum index value length shorten in v5 to 255 characters? This means we can't index file paths. We're now jumping through hoops like storing hashes of file names, which slows down our code.

Please, please reconsider extending this length.

[2020-03-27 14:46] koddek opened #1594 "[QUESTION] How do you load a encrypted db from System.IO.Stream?"
First of all, thank you, LiteDB is AWESOME!!

I have a database in a dll stored as an EmbeddedResource. It is encrypted with a password.
How do I load it as a stream and pass it the password?.

If it is a file from disk, I can do this:
[code]
But I want to stream the EmbeddedResource directly without copying it to disk.
[code]

[2020-03-27 15:10] lbnascimento commented on #1594
You can do something like this:
[code]

[2020-03-27 15:11] lbnascimento commented on #1594
@koddek You can do something like this:
[code]

[2020-03-27 16:39] lbnascimento commented on #1592
@seertenedos I found the bug regarding your first example and commited a fix to master. I couldn't reproduce the error in your second example (not even without the fix), but since it seems to be the same error, it probably happened in a property in `VirtualPath` that was not attributed a value and for which existed an index.

[2020-03-27 17:08] nightroman commented on #1593
@mbdavid What was the technical reason for this change? Maybe we can think
together how to find an alternative more practical way.

I agree with OP (and was already caught), in practice it would be very useful
if indexes cope with Windows max path length (260). So that some 520 would the
"minimum reasonable" limit (~2x due to possible non-ascii characters).

[2020-03-27 19:57] seertenedos commented on #1592
Great. You should enable a prerelease that always points to the latest master.  Then people like myself can test fixes etc and some people may run or test versions before release. I would love to test this fix and the other fix in 5.0.5 to see if it fixes some strangeness i have with records coming back on a find on the first call but not the second right after each other in a transaction for the

[2020-03-28 10:10] sanjeevbaral opened #1595 "sql syntax to select columns of child documents"
Hi,

I am trying to write sql to select (project) only certain fields from a nested document in the query result. I tried this for one field and it seemed to work correctly

select Tumors[*].primarySite from Patients

However, when I tried to add one more field from the nested document that field did not get included in the result.

select Tumors[*].primarySite, Tumors[*].grade from Patients

What

[2020-03-28 10:13] sanjeevbaral commented on #1595
select Tumors[*].primarySite, Tumors[*].grade from Patients

[2020-03-28 11:23] sanjeevbaral opened #1596 "update fields in nested documents using SQL syntax"
Hi
When I tried to update a field in the outermost document, the following SQL worked for me.
<div>
UPDATE patients SET nameFirst = UPPER(nameFirst) where $.Tumors[*].grade ALL = '1'
<div>

However, when I tried to update a field in nested documents this is not working. What is the correct syntax?

<div>
UPDATE patients SET Tumors[*].grade = 'x' where $.Tumors[*].grade ALL = '1'
</div>

[2020-03-28 11:30] ReflexiveCode commented on #1593
Actually this is moving from inconvenience to dealbreaker--since we can't index file paths, we can't efficiently sort them. As much as we love LiteDB, we'll have to look for another provider :(.

[2020-03-28 12:14] seertenedos commented on #1592
@lbnascimento i copied the latest master srouce code into my application and i am happy to say that seems to have fixed my bugs from the release and the bug fix in the release itself also fixed the other bug i have been trying to track down in the database.  Can't wait for the release.

[2020-03-28 15:51] nightroman commented on #1593
If the design decision was based on saving storage space (1 byte for length)
then there is a compromise approach, "7 bit encoded int". 0-127 require 1 byte,
this must cover a lot of strings in the world. 128+ require more bytes, yes,
but 2 bytes will cover probably almost all practical cases. Not to mention 3
bytes. If there is no other reasons but saving storage space then please
consider this ap

[2020-03-28 18:50] ADeltsidis commented on #1362
Connecting remotely to LiteDB server is definitely a very important feature.
Any estimation about when it will be implemented?
Looking forward for your answer.

[2020-03-28 20:17] utech626 opened #1597 "[BUG] Empty value in indexed field throws exception"
**Version**
5.05
Framework Version 4.8

**Describe the bug**
When inserting a record with a Empty String in a indexed field and exception is thrown.

**Code to Reproduce**
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

using LiteDB;

namespace LiteDBBug
{
	public class MyRecord
	{
		[BsonId]
		public int Id { get; set; }
		publi

[2020-03-29 01:20] pauloolileal opened #1598 "Working with log"
I tried it as in the issue "https://github.com/mbdavid/LiteDB/issues/776", but the builder no longer accepts the same parameters.

How do I get the Log to work now that it is no longer in the constructor?

https://github.com/mbdavid/LiteDB/blob/648fd5c7a1d39864588f05d2528a8a9ab3b70788/LiteDB/Client/Database/LiteDatabase.cs#L42

[2020-03-29 03:09] lbnascimento commented on #1593
@nightroman @ReflexiveCode This limitation exists because the length of the index value for strings and binary is stored in a byte in v5. We're thinking of ways to increase the limit without changing the datafile - one possibility would be borrowing two bits from the BsonType byte, which only uses values from 0 to 14.

[2020-03-29 06:49] nightroman commented on #1593
This issue is vitally important on choosing a database for an application.

What are the index length limit in other databases? For example in SQLite and
MongoDB, two potential alternatives. I cannot find any information, maybe they
do not have limits at all. Except implied by other limits, like total record
length limit in SQLite, for example.

one possibility would be borrowing two bits from the

[2020-03-29 12:12] devmaestro1 opened #1599 "[QUESTION] v5 Example of how to use custom serializers?"
Hello,  I'm a newbie to LiteDB and currently evaluating it for my purposes.
I've tried to refer to the documentation, however it seems a lot of it is for v4 which is apparently out-of-date?

My question related to whether there is a concrete example of how to perform a customized de/serialization of any object.

My classes will be used by external developers, so I do not wish to decorate classes w

[2020-03-29 17:35] lbnascimento commented on #1593
@nightroman I couldn't find any info regarding SQLite, but MongoDB limits the entire index entry to 1024 bytes and SQL Server limits the index key to 900 and 1700 bytes for clustered and non-clustered indexes respectively.

If the solution I proposed is implemented, it would raise the index key limit to 1023 bytes, which I think is pretty reasonable.

[2020-03-29 17:54] lbnascimento commented on #1599
@devmaestro1 The updated documentation for v5 can be found [in our website](http://www.litedb.org).

You should do something like this:
[code]
This would configure the global mapper to ignore this field upon storage.

The lack of id field shouldn't be a problem. LiteDB will use auto id to store the documents (of type ObjectId by default, but it can be changed to Guid, Int32 or Int64) and the id fi

[2020-03-29 19:25] TigerHix commented on #844
For future references, here is a link.xml that will work for LiteDB 5.0.5.

https://gist.github.com/TigerHix/f270f2dc48222d17419bd46651926679

[2020-03-29 23:47] devmaestro1 commented on #1599
Hi @lbnascimento, Thank you for your quick response.

I've gone through the documentation relating to custom types but still lacking an understanding of how I would implement this while only exposing "standard" attributes to developers who are implementing my interface.

Some related questions:

- Is there some way I can ignore fields with a specific Attribute (such as 'NonSerialized')?
- Is there

[2020-03-30 03:31] seertenedos commented on #1597
that was the cause of my issue and has been fixed but no release made yet.
https://github.com/mbdavid/LiteDB/issues/1592#issue-588880528

[2020-03-30 03:41] seertenedos opened #1600 "[QUESTION] Strange issue records getting damaged"
I am hoping someone can point me in the right direction here and then i will raise it as a bug if it is a bug.

Basically my database is having around 90,000 records over 3 tables and about 20 meg of disk space so nothing huge but there are a lot of actions happening and normally in a transaction over the 3 tables.
Everything will be working fine then all of a sudden i can't get records from one o

[2020-03-30 03:44] seertenedos commented on #1600
sorry i realised I am not on the latest but checkin https://github.com/mbdavid/LiteDB/commit/648fd5c7a1d39864588f05d2528a8a9ab3b70788.

I am going to test with the latest as well

[2020-03-30 04:31] seertenedos commented on #1600
Latest source also has the issue but i now know a little more. It is not all records that are broken just some of them and specifically ones that have values in a property of type "Dictionary<string, Guid>". Hopeing to be able to have some code to duplicate the issues soon

[2020-03-30 05:14] seertenedos commented on #1600
so far i still can duplicate the trigger condition in a development environment. Multi rows in a dictionary did not trigger it and i can see other records are fine.

[2020-03-30 05:52] devmaestro1 commented on #1599
I might have answered at least question 1.  Perhaps this will work to ignore all fields with the "NonSerialized" attribute:
[code]

[2020-03-30 09:11] #1362 closed

[2020-03-30 11:11] jacekard opened #1601 "[QUESTION] AutoId Int32 cast to Boolean?"
Hello, I have a weird issue in my existing .Net Core 2.0 project with LiteDb (version 5.0.5),
I'm getting error while trying to do an Insert operation on document: "Unable to cast object of type 'System.Int32' to type 'System.Boolean'."
StackTrace:  "   at LiteDB.BsonValue.op_Implicit(BsonValue value)\r\n"

This is somehow caused while trying to cast Id property of my POCO class:
[code]
This is my

[2020-03-30 11:59] jacekard commented on #1601
Okay, so I resolved this issue and will explain it for reference. The problem isn't in inserting actually. My function looked like this:
public **bool** Add(EditorDocument testScript)
 {
       return this.liteDb.GetCollection<EditorDocument().Insert(test);
 }
And apparently Insert is returning Id of a new document and I wanted to return bool value (indicating success or not). So this was the issu

[2020-03-30 11:59] #1601 closed

[2020-03-30 16:02] lbnascimento commented on #1599
@devmaestro1  If you want a solution that ignores fields with `NonSerializedAttribute` and works for any type, you could create a custom mapper class that inherits from `BsonMapper` and overrides `GetTypeMembers`:

[code]

LiteDB does not support these features currently, however they could be considered for the future.

You could achieve this with custom serializers and deserializers:

[code]

[2020-03-30 17:19] mbdavid commented on #1519
Hi @pazicb, I was just waiting some feedbacks about websocket implementation to starts this project. How do you want use websocket connection? It's important to us understand how dev will use this.

[2020-03-30 19:11] FuturistiCoder commented on #1519
I think Websocket could be done by `SignalR`. we add `LiteDB` as a service into a `AspNet.Core` server with predefined routes / hubs to supports subcriptions of collections or documents. Authentication/Authorization could be supported by AspNet.Core Authentication/Authorization middleware.

[2020-03-30 19:22] pazicb commented on #1519
Hello,
I use LiteDB together with Remote.Linq for network projects. Both products are excellent.
When I saw your concept with a websocket, it immediately caught my attention. Especially simple to use.  As you describe it is great from my point of view.
I would just recommend compressing the database a lot during transmission.

[2020-03-30 21:04] seertenedos commented on #1600
looks like the database is getting corrupt or damaged so will open a bug

[2020-03-30 21:04] #1600 closed

[2020-03-30 21:13] seertenedos opened #1603 "[BUG] currupt or damaged records version 5.0.5 and newer"
**Version**
Running on linux docker using master version up to commit below as i needed one of the othere fixes.
https://github.com/mbdavid/LiteDB/commit/96e4ee71c0250e1349d13e86730e5d62319f715d

**Describe the bug**
When the database is used i am finding that some of my records are getting damaged. It seems to relate to fields of type Dictionary<string,guid> on the class i am saving but a standar

[2020-03-31 00:36] koddek commented on #1594
Thank you for your help @lbnascimento. It worked.

[2020-03-31 00:36] #1594 closed

[2020-03-31 03:10] RickBradford opened #1604 "[BUG] cycle error with dotnetcore3.0: error NU1108: LiteDB -> LiteDB (>= 5.0.5)."
**Version**
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**

**Describe the bug**
A clear and concise description of what the bug is.

**Code to Reproduce**
Write a small snippet to isolate your bug and could be possible to our team test. **(REQUIRED)**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots/Stacktrace**
If

[2020-03-31 10:36] devmaestro1 commented on #1599
Thank you very much for your response on this.  It has really helped me understand LiteDB a lot better.

[2020-03-31 14:24] lbnascimento commented on #1603
@seertenedos Are you writing from multiple threads? Could you provide the code used for writing and the classes for the other collections? Any other info you could give us to help reproduce the issue?

[2020-03-31 16:13] #1599 closed

[2020-03-31 19:53] lbnascimento commented on #1603
@seertenedos Could you provide us the code you use to access your datafile (or at least the relevant part of it)? You can send it to me privately at lbnascimento@inf.ufrgs.br if you prefer.

[2020-03-31 20:02] seertenedos commented on #1603
@lbnascimento i was goign to send you an invite to bitbucket repo but i think it will be better to just send the classes over email as it is easier to find relivent code.  Yes it is multi threaded.  Email should arrive shortly

[2020-03-31 21:21] pauloolileal commented on #1598
Nobody?

[2020-03-31 23:10] sanjeevbaral commented on #1595
Does anyone know how to do this?

Fyi, I have a collection of patient documents and each patient document has an array of tumor documents.

[2020-04-01 00:06] sanjeevbaral commented on #1595
If this is not currently supported through SQL SELECT, can someone suggest a good way to do it?

[2020-04-01 00:26] sanjeevbaral commented on #1596
If this is not possible through the UPDATE statement, I could first find documents to update, then update tumors associated with each patient document with C# code. I would have loved to have SQL like syntax, however, because I wanted power users to be able to write SQL like syntax themselves to update data.

[2020-04-01 13:42] lbnascimento commented on #1598
Due to issues, the log functionality was removed in v5. It might come back in a future version.

[2020-04-01 16:07] nightroman commented on #1593
I think 1023 will be a practically reasonable limit.

Just for information and for the sake of knowledge:

[This is not the case anymore](https://docs.mongodb.com/manual/reference/limits/):

[2020-04-01 16:12] ReflexiveCode commented on #1593
1023 bytes is very reasonable. It's important to consider non-English characters: 1023 is approximately 511 UTF-16 characters; 127 is cutting it pretty short.

[2020-04-01 18:17] lbnascimento commented on #1603
@seertenedos I made a small multithreaded program that used your Virtual File System (without the real disk IO, of course, only the LiteDB part) and I could not reproduce the issue. I left the program running for  about an hour.

Could you provide more some example on how your VFS is being used when the issue happens? Some sample code would be useful. (Sorry about all the request, but this issue i

[2020-04-01 18:33] pauloolileal commented on #1598
Thanks. Do you know if it is possible to print the "queries" on the console in some other way?

[2020-04-01 18:44] dstahl-axion opened #1606 "[QUESTION] - Recommended way to store a single document?"
Hello, LiteDB Team!

In my lite database I have several collections that each have many documents. This is all fine & good. But, I also wish to have a single document with metadata about my database.

As an example, suppose I had one database per person and in that database I wanted a single document with their Name and Birthday. Those values aren't likely to ever change.

Is there a recommended w

[2020-04-01 19:35] lbnascimento commented on #1598
There is currently no support for logging. If you're up for some modding, in `Utils\Constants.cs` there is a `LOG` method that is currently commented out. You could uncomment it, remove the `Conditional` attribute and change it to `Console.WriteLine` instead of `Debug.WriteLine`, however please note the internal LiteDB logging is very verbose, printing out a lot of low-level stuff.

[2020-04-01 19:45] lbnascimento commented on #1606
@dstahl-axion There is no explicit support for collection metadata in LiteDB. Aside from creating a separate collection, due to the schemaless nature of document-based databases, you could just create a metadata document and insert it into the collection. This would of course require some validation, specially if you're using object mapping.

Perhaps I could provide a better answer if you could ex

[2020-04-01 19:56] jbrabant commented on #1592
Got the same issues, reverted to 5.0.4 and it is working without code change.

[2020-04-01 20:21] nightroman commented on #1606
@dstahl-axion It's an interesting use case, to have the whole database
metadata, just like LiteDB "files" do.

As a workaround, you may use a special collection as a "key-value store" and
store documents like `{_id: <name>; value: <value>}`. This may or may not be
suitable for your scenario.

As far as I now, LiteDB has the only user defined database metadata, the integer
version. If theory, if de

[2020-04-01 20:33] seertenedos commented on #1603
@lbnascimento i can duplicate the issue in my running environment in about 10 minutes but i cant do it in an environment i can debug etc. I am working on a new version without the transactions where i do my own write locking but no read locks unless the read is linked to an update. That was one thing that confused me with the old designed was if the version i read in a transaction locked in the tr

[2020-04-01 20:34] seertenedos commented on #1603
also yes i had the same issue of not being able to duplicate in a dev environment

[2020-04-02 10:31] dstahl-axion commented on #1606
@lbnascimento Thanks for the advice, here's a little more about what I'm doing:

My application runs "Experiments" and an experiment has lots of sequential data about it. So I chose to implement an experiment as a LiteDB with several collections of documents/data. For this, everything has fit very well together.

But, there is metadata about the experiment - who performed it and when, the version

[2020-04-02 13:25] zamis opened #1607 "[BUG] when param in where not constant"
**Version**
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**
5.0.5 on master

**Describe the bug**
A clear and concise description of what the bug is.

when
db.GetCollection<Person>("Person").Find(x => x.Sex == PersonSex.Female);
- is ok

when
var PersonSexFemale = PersonSex.Female;
var p = db.GetCollection<Person>("Person").Find(x => x.Sex == PersonSexFemale);

- Excep

[2020-04-02 13:34] lbnascimento commented on #1592
This issue is already fixed in master and its fix will be present in the next incremental release.

[2020-04-02 13:34] #1592 closed

[2020-04-02 16:58] rfidstammtisch opened #1608 "LazyLoading Issue"
I´ve a question why can´t I use a method from my Class in an Expression?
Thats my example code:

namespace LiteDbTests
{
    public class Test
    {
        public string Value { get => "Test"; }

        public bool Test1() => true;
    }

    class Program
    {
        static void Main(string[] args)
        {
            Test test;
            using (var dbLite = new LiteDatabase($"Filename=D:

[2020-04-02 17:10] lbnascimento commented on #1607
@zamis This issue was fixed in the master and its fix will be present in the next incremental release.

[2020-04-02 17:10] #1607 closed

[2020-04-02 17:34] lbnascimento commented on #1608
@rfidstammtisch Your example doesn't work because LiteDB converts your Linq expression to a `BsonExpression` that is applied to each document when the query is executed. This only works for "known" expressions, like `mystring.ToUpper()` or `Math.Min(num1, num2)`. When the Linq-to-BsonExpression converter finds an unknown expression, it throws. It is important to note that a `BsonExpression` is app

[2020-04-02 18:54] rfidstammtisch commented on #1608
I´ve written a test project which explainse the problem so, its a bit havier than the one before but here it is:

[code]

[2020-04-02 19:03] lbnascimento commented on #1606
@dstahl-axion I second @nightroman's solution of using a metadata collection and inserting each piece of information as a key-value pair. This seems to be a solution that is very easy to use (specially with out `Upsert` method) and also very efficient due to indexing of the id.

Someone in our gitter mentioned something about a time series database (TSDB), is that what you're trying to achieve? Th

[2020-04-02 23:23] pauloolileal commented on #1598
I need to do kind of like the Entity Framework works. All queries executed by him are printed on the console. With Entity I can direct his log to wherever I want and this way I direct to ILogger. I wanted LiteDB to have the same support.

[2020-04-03 01:36] nightroman opened #1610 "[NEW FEATURE BUG] `FindById` and `Find` return null if `_id` is longer than 255 bytes"
## `FindById` and `Find` return null if `_id` is longer than 255 bytes

**Version**

The latest master.

**Describe the bug**

`FindById` and `Find` with equivalent expression return null if `_id` is longer than 255 bytes

**Code to Reproduce**

[code]

**Expected behavior**

The above test should pass. It fails at either of two asserts.

NB The above test works if we use 255 instead of 256.

**No

[2020-04-03 13:17] mwlpeeters commented on #1546
I've the same problem with 5.0.5 on .Net core 3.1 when multiple API calls are trying to connect to the same database.

[2020-04-03 14:17] lbnascimento commented on #1610
@nightroman This issue was fixed in the master branch and its fix will be present in the next incremental release.

[2020-04-03 14:17] #1610 closed

[2020-04-03 14:48] nightroman commented on #1610
Thank you. Please take a look at my comment there, https://github.com/mbdavid/LiteDB/commit/9afda23a01c0489748ae819f66f57a03feb33a05#commitcomment-38261472

[2020-04-03 15:02] nightroman commented on #1610
FYI. There are other issues with long indexes. One is similar to this (still not working even with the fix). Another is with rebuilding failing on a DB with long indexes (error is about duplicated indexes).

I cannot yet build nice reproducible cases.

[2020-04-03 15:52] nightroman commented on #1610
Interesting... It looks like due to this bug which was not yet fixed I now have a DB with duplicated long indexes (ids), kind of corrupted (no problem, it' not production stuff). Maybe other problems are due to these duplicated ids.

[2020-04-03 16:47] nightroman commented on #1610
Yes, this was the case, duplicated ids caused some problems (presumably).
After repairing the database I do not see the mentioned issues.

[2020-04-03 16:54] lbnascimento commented on #1610
@nightroman What do you mean by duplicated indexes?

[2020-04-03 17:12] nightroman commented on #1610
Because of the bug in question (which is fixed now) I managed to produce duplicated indexes in my database. Because `FindById` and `Find` did not find existing indexes and LiteDB added duplicated. That is what happened, I think.

[2020-04-03 17:19] nightroman commented on #1610
In fact I corrupted the database due to this bug. I said "after repairing"... Now I can see that on repairing (clone of all data) I missed some documents. So repair also is not an option in such a case.

Anyway. It was not a production database and it is lost due to this bug. Not a big deal when the bug is fixed.

[2020-04-03 18:40] nightroman opened #1611 "[BUG] NullReferenceException on transaction + update + upsert"
## NullReferenceException on transaction + update + upsert

**Version**

The latest master.

**Describe the bug**

In a new database with a not yet existing collection, combination of transaction, update, and upsert results in NRE.

**Code to Reproduce**

[code]

**Expected behavior**

The test should pass. It fails due to NRE in Upsert.

**Screenshots/Stacktrace**

Fails in

[code]

due to null `

[2020-04-04 14:26] sanjeevbaral opened #1612 "UPDATE SQL Syntax"
Hi

I had submitted a question about a week ago but did not get any response, so trying to ask differently in case I was not clear in that post.

I am trying to let power users of my application write SQL like syntax to update a collection. I can use the UPDATE statement to update any field in the root document easily. However, I have not figured out SQL to update a field in the child documents. I

[2020-04-05 00:02] seertenedos commented on #1603
@lbnascimento by using locks around all my write transactions the issue seems to have gone away. I will update my code to function that way when dealing with LiteDB and it should be fine.

[2020-04-05 09:29] OneCyrus commented on #1501
i have the same issue. we currently use something like this in v4:

`Query.Not(Query.In("myList", "test"))`

but it looks like this is not possible in v5 right now? @mbdavid

[2020-04-05 12:49] MuhKuh7 opened #1613 "[BUG] LINQ !Contains returns no result"
**Version**
5.0.5

**Describe the bug**
The negated LINQ contains does not work

**Code to Reproduce**
This should get me all my objects where StringList does not contain myString
`
results = results.Where(x => !x.StringList.Contains(myString));
`
The resulting collection is empty however.

A workaround is:
`
results = results.Where(x => x.StringList.All(t => t != myString));
`

[2020-04-05 12:50] nightroman opened #1614 "[BUG] Problems on using LiteDatabase with SharedEngine and MemoryStream"
## Problems on using LiteDatabase with SharedEngine and MemoryStream

**Version**

The latest master.

**Describe the bug**

(1) Cannot specify just a memory stream. We have to invent some fake file name.
This is unexpected and error prone, any name will do, not carefully selected
names may clash.

BTW, for a memory stream use of a named mutex might be not quite right. It
should be in-process mute

[2020-04-05 15:55] Delog-ru opened #1615 "[BUG] NullReferenceException on Insert when indexed property is null"
**Version**
LiteDB 5.0.5
.NET Framework 4.7.2
Windows 10 (1903)

**Describe the bug**
NullReferenceException on Insert when indexed property is null.

**Code to Reproduce**
[code]

**Expected behavior**
No NullReferenceException as it was in previous versions of LiteDB

[2020-04-05 21:43] qart2003 opened #1616 "[BUG]"
Hello @mbdavid , I have project with 20 LiteDB dbs 4.1.4 version.
All works fine, were stable and predictable
State:
I convert it to 5.*.* version which download from github cos it convert objects with fields which equal null.
Get:
Code runs with error in FileStreamFactory: the file is using by other thread, but its immposible. I even restarted computer, not only vs. [var stream = new FileStream(_

[2020-04-06 13:47] lbnascimento commented on #1611
This issue has been fixed in the latest master and its fix will be present in the next incremental release.

[2020-04-06 13:47] #1611 closed

[2020-04-06 13:57] nightroman commented on #1611
Great! In spite of the convoluted scenario, the scenario is from real practice.

NB Why not to add the provided test to tests? Tests covering fixed bugs are usually valuable.

[2020-04-06 13:58] lbnascimento commented on #1611
@nightroman Forgot about that, I'll add some tests.

[2020-04-06 14:02] lbnascimento commented on #1611
@nightroman Forgot about that, I'll add your test.

[2020-04-06 14:17] lbnascimento commented on #1615
This issue is already fixed in master (see #1592) and its fix will be present in the next incremental release.

[2020-04-06 14:17] #1615 closed

[2020-04-06 14:19] lbnascimento commented on #1616
@qart2003 Could you provide some sample code showing how you're opening and using your datafiles?

[2020-04-06 15:02] lbnascimento commented on #1614
Problem 1 can be fixed easily (I was thinking of using the hashcode of the `MemoryStream` to name the mutex). However, I could not reproduce problem 2, it works just fine here.

Anyway, I don't think there is much sense in using `SharedEngine` with a `MemoryStream`. `SharedEngine` is meant for multi-process usage, it uses a system-wide mutex to control file access and closes the file/releases the

[2020-04-06 15:14] nightroman commented on #1614
Hmm, maybe... Then what is the recommended scenario for using a memory database from several threads of the same app?

[2020-04-06 15:16] nightroman commented on #1614
Like I said, I think this is wrong to use a named mutex for a memory stream. If I am not mistaken named mutex works for all apps on a machine. This does not make sense for a memory stream in a particular app, each instance uses its own memory steam.

[2020-04-06 15:24] lbnascimento commented on #1612
@sanjeevbaral Sorry about the delay. LiteDB SQL syntax does not currently support updating fields not present in the root document (this is not in the documentation, I'll add it). You would have to store the document you're trying to update, manually change sub-fields and then call update using this new document.

[2020-04-06 15:30] nightroman commented on #1614
Update on the second test `Just_DataStream`. For some reason I cannot reproduce the problem with this 1 thread scenario. Maybe one of the recent changes affected this test.

But I still have the same exception on using the similar scenario from several threads.

I can create a more complex test with 2+ threads. But now I am not sure, you say this is not the "right way". Then what is the "right way

[2020-04-06 15:39] nightroman commented on #1614
Update 2. The original test still fails, just not always. It's some timing issue of something else is unstable.

Can you try the same test in a loop?

[code]

[2020-04-06 15:53] lbnascimento commented on #1614
I tried your loop example and it also worked fine. Not sure what is going on at this point.

Anyway, the recommended way to use a memory database amongst multiple threads would be to create a single instance of  `LiteDatabase` using a `MemoryStream` and sharing this instance of `LiteDatabase` between the threads.

[2020-04-06 17:48] nightroman commented on #1614
A note about potential gotcha with the first issue.
A mutex name is defined as `settings.Filename.ToLower().Sha1()`.
So, for these 4 paths pointing to the same file we get 4 different mutex names:

- `C:\tmp\my.db`
- `C:/tmp/my.db` (different slashes)
- `C:\\tmp\\my.db` (double slashes)
- `.\my.db` (relative path, given the current directory is C:\tmp)
- etc.

The path should be converted to full

[2020-04-06 18:19] lbnascimento commented on #1608
@rfidstammtisch Sorry about the delay. I don't think it is currently possible to use your classes with our `BsonMapper` without some major changes to them. Our mapper is only meant to handle POCO classes, even though it can handle simple cases of inheritance. If you were willing to make major changes to your classes, I could help you if you informed gave some more information on what you're trying

[2020-04-06 19:25] rfidstammtisch commented on #1608
@lbnascimento we can rearchitect the ISaveable interface for sure but the Depth hierarchy unfortunately not. (so to say not that easy) ... if you can provide an idea to save an complex object and to restore it. Please help me.

What we want to archive is, to save many complex objects with unknown inheritance depth and unknown member count.

Another idea was to write POCO's for all classes and save

[2020-04-06 20:44] ahmedflix25 opened #1617 "[QUESTION] LiteDB not ignoring property annotated by NotMappedAttribute"
**Version**
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**
5.0.5/ windows 10 1909/ .net core 3.1
**Describe the bug**
marking property as [NotMapped] do nothing

**Code to Reproduce**
[code]

**Expected behavior**
this property shouldn't be a part from the collection

[2020-04-06 21:16] lbnascimento commented on #1617
@ahmedflix25 LiteDB does not use the `NotMappedAttribute`. If you want to ignore a property, you must annotate it with `BsonIgnoreAttribute`. Alternatively, if you can't or won't add external references to your class, you can use our fluent mapping API.

[code]

[2020-04-06 21:17] ahmedflix25 commented on #1617
ok, thanks

[2020-04-06 21:17] #1617 closed

[2020-04-07 02:06] humhei commented on #1541
Another workaround is to change `int` to `ObjectId` without adding `[<CLIMutable>]` attribute
[code]

[2020-04-07 03:08] nightroman commented on #1546
I can reliably reproduce this exception (not necessarily same issue) with the
following test ran using "Debug test" mode (RMB \ Debug). "Run test" seems to
be usually working. If it is still not reproducible, try to change the number
in `Sleep(50)`.

[code]

[2020-04-07 14:05] zelsius opened #1618 "[BUG] 5.0.5 Shared mode not working in Xamarin iOS"
**Version**
LiteDB: 5.0.5
Project: Xamarin iOS w/MvvmCross
App Solution: Mono Framework MDK 6.10.0.95 (Preview)
Core Solution: .NET Standard 2.0

**Describe the bug**
Trying to initiate a connection to a LiteDatabase, but upon creation, I am thrown an error stating that **Mutex (bool initiallyOwned, string name)** is not supported.

**Code to Reproduce**
[code]

**Expected behavior**
Database crea

[2020-04-07 14:27] lbnascimento commented on #1618
@zelsius Is there a specific reason you're using shared mode in Xamarin? Shared mode is meant for multiprocess usage of the same datafile and, as far as I know, this is not an issue on mobile applications.

[2020-04-07 15:20] lbnascimento commented on #1618
@zelsius Given that Xamarin.iOS does not support named (system-wide) mutex, there's not much we can do regarding Shared mode - other than a complete rewrite. I've added a catch for `NotImplementedException` that throws an exception with a message explaining the limitation. Out documentation will be updated to reflect this limitation.

[2020-04-07 16:29] zelsius commented on #1618
No particular reason for using shared. I just updated from LiteDB v4 and wanted to test the database in Shared mode as this was from what I have understood, the default in v4.

I am currently using Direct mode, and it seems to work pretty well, except an exception from time to time on **ReaderWriterLockSlim.TryEnterReadLockCore** stating that **recursive read lock acquisitions not allowed in this

[2020-04-07 16:50] aelassas opened #1619 "[BUG] System.Globalization.CultureNotFoundException - Invalid culture"
**Version**

LiteDB 5.0.5/Windows 10/.NET framework version 4.6.1

**Describe the bug**

I get the following error when starting LiteDB:

Invalid culture

Exception Info: System.Globalization.CultureNotFoundException
at System.Globalization.CultureInfo..ctor(System.String, Boolean)
at LiteDB.LCID.GetCulture(Int32)
at LiteDB.Collation..ctor(Int32, System.Globalization.CompareOptions)
at LiteDB.Engi

[2020-04-07 16:53] riksking commented on #1597
I got same error NRE.

My case

`public static void WriteToExistDb(IEnumerable<object> chunk, string pathToDb, string tableName)
        {
            using (var testDb = new LiteDatabase(pathToDb))
            {
                var col = testDb.GetCollection<object>(tableName);
                foreach (var o in chunk)
                {
                    col.Insert(o);
                }

[2020-04-07 17:00] riksking commented on #1597
With InsertBulk?I got similar error

 at LiteDB.Engine.LiteEngine.InsertDocument(Snapshot snapshot, BsonDocument doc, BsonAutoId autoId, IndexService indexer, DataService data) in ~\LiteDB-master\LiteDB\Engine\Engine\Insert.cs:line 48
   at LiteDB.Engine.LiteEngine.<>c__DisplayClass7_0.<Insert>b__0(TransactionService transaction) in ~\LiteDB-master\LiteDB\Engine\Engine\Insert.cs:line 33
   at Lite

[2020-04-07 17:19] #1618 closed

[2020-04-07 17:20] lbnascimento commented on #1619
@aelassas Could you provide the datafile you're using? You can annex it here or send it to me at lbnascimento@inf.ufrgs.br

[2020-04-07 17:28] aelassas commented on #1619
@lbnascimento Do you want .db file?

[2020-04-07 17:37] lbnascimento commented on #1619
@aelassas Yes, that would be helpful (this issue is really dependant on the datafile you're using)

[2020-04-07 17:44] aelassas commented on #1619
@lbnascimento I've just sent you an email with the data file in attachments. The object of the email is Wexflow.db.

[2020-04-07 17:54] lbnascimento commented on #1597
@riksking Your issue is very different.

First of all, you're opening your collection with `GetCollection<object>`. While this is technically supported, it is not recommended: the point of `GetCollection<T>` is that you set `T` to the C# class you're trying to store (`Person`, `Customer`, `Account`...) and the mapper converts your class to a `BsonDocument` upon insertion and converts it back to `T

[2020-04-07 17:54] #1597 closed

[2020-04-07 18:19] lbnascimento commented on #1619
@aelassas Your datafile is opening without problems here, and the collation is detected as "fr-MA/IgnoreCase". What connection string are you using?

[2020-04-07 18:21] aelassas commented on #1619
@lbnascimento Here is the connection string:

[code]

[2020-04-07 18:34] riksking opened #1620 "[QUESTION] How can I store an array of strings in this database?"
I don`t wanna create new class to do this.
I need fast way to store and read array of strings and nothing else.

Is there a method to do this?
If not, are there plans to add?

[2020-04-07 18:34] lbnascimento commented on #1619
@aelassas I can't reproduce the issue. I'm running Windows 10, I tested it with the v5.0.5 release and I created a test project running .NET Framework 4.6.1.

The stack trace indicates that the error happened in the `CultureInfo` constructor, maybe somehow your OS can't find the culture `fr-MA`.

[2020-04-07 18:36] aelassas commented on #1619
@lbnascimento Is it possible to set InvariantCulture in the collation or set the collation of the os when the engine starts?

[2020-04-07 18:41] lbnascimento commented on #1619
@aelassas Yes, but you need to be able to open the datafile. Just run:
[code]

[2020-04-07 18:43] aelassas commented on #1619
@lbnascimento I can't open the datafile so that's the problem. The [documentation](https://www.litedb.org/docs/collation/) says that when an unsupported culture is detected, the rebuild defaults to CultureInfo.InvariantCulture. So, why LiteDB is throwing the exception?

[2020-04-07 19:01] lbnascimento commented on #1619
@aelassas This happens on rebuild, but that's what not what happened: this file was created on an environment where "fr-MA" is a valid culture and is being run on an environment that can't find the culture "fr-MA", that's why it's failing. Anyway, I've sent you an email with the datafile rebuilt with `InvariantCulture`.

[2020-04-07 19:06] aelassas commented on #1619
@lbnascimento Is it safe to rebuild the database after opening it like this:

[code]

[2020-04-07 19:09] lbnascimento commented on #1619
@aelassas Yes, I don't see any issues with it.

[2020-04-07 19:15] aelassas commented on #1619
@lbnascimento  All fixed. Thanks!

[2020-04-07 19:15] #1619 closed

[2020-04-07 19:32] lbnascimento commented on #1620
@riksking I took the code you mentioned in #1597 and modified it:

[code]

[2020-04-08 02:31] weishuo2 commented on #1558
I have a few questions about dbref：
1.Why wasn't dbref designed to store the location information of related documents in the beginning？This way you can directly read the target file without querying.
2.Do you think this benchmark is credible：https://github.com/apavlo/py-tpcc？If I change his embedded structure to use dbref to test the performance of dbref，Do you think the result is credible？
Looki

[2020-04-08 05:19] nightroman commented on #1546
Can you repro the problem with the above code? Please let me know. If not then I will continue the search for repro cases. I think problems might be related to https://github.com/mbdavid/LiteDB/issues/1614 which is not well repro, too.

[2020-04-08 05:35] nightroman opened #1621 "[QUESTION] Why is the max index string/binary length 1021, not 1023?"
The latest master supports longer indexes, the maximum length is 1023. This is really great.

But in fact the maximum string (and probably binary) length is 1021 (try and see errors on 1022 or 1023). Why is this?

As far as I understand these two "difference" bytes are data type and length bytes packed together.
And presumably they may encode the length 1023, right? Then why to limit the allowed l

[2020-04-08 06:42] riksking commented on #1620
@lbnascimento Thanks a lot.
It seems to me that it would be nice if it were possible to save primitive types without casting to a type BsonDocument. More precisely, that it should be implemented inside LiteDb.
As for example, this is implemented with an implicit identifier, which is created automatically if it is not in the specified type.

[2020-04-08 08:11] #1620 closed

[2020-04-08 11:22] seertenedos commented on #1603
@lbnascimento i spoke too soon. seems i was not catching all exceptions. Sadly i think i need to look at another DB for now as i keep hitting too many bugs in LiteDb and i am spending more time trying to find them code around them than my actual application. The project is great but there real needs to be a clear difference between the stable releases and the beta ones and really get the fixes rel

[2020-04-08 12:05] mitja-p opened #1622 "dbname-log.db file does not get truncated on Azure"
V5.0.5

It seems that when app is deployed to Azure the mydb-log.db never gets emptied. When I copy same files to local computer log is immediately emptied when db.GetCollection<T>(name).EnsureIndex is called.

[2020-04-08 12:56] mitja-p commented on #1622
Also, is there any way to know which version is stable and functioning? It seems that version 5.0.x are not very stable despite being out of alpha/beta stage.

[2020-04-08 15:04] lbnascimento commented on #1546
@nightroman Yes, I was able to reproduce the problem.

[2020-04-08 15:22] lbnascimento commented on #1621
@nightroman You are correct: in practice, string and binary lengths in index entries are limited to 1021 bytes. I will update the documentation to reflect this limitation.

[2020-04-08 15:33] lbnascimento commented on #1622
@mitja-p If your application is running a lot of operations at the same time, the auto-checkpoint might end up never happening (it only runs when it is able to get exclusive access to the datafile). Try running a manual checkpoint every once in a while.

[2020-04-08 16:19] nightroman commented on #1621
I am still curious why? Two bytes with packed type and length may keep length info up to 1023, right?

[2020-04-08 16:30] nightroman commented on #1621
And there is a bug / inconsistent checks:

In here the key length is limited by 1023:

        public static void WriteIndexKey(this BufferSlice buffer, BsonValue value, int offset)
        {
            ENSURE(value.GetBytesCount(false) <= MAX_INDEX_KEY_LENGTH, "index key must have less than 1023 bytes");

But in these two places it is limited by 1021:

        public void Insert(IEnumerable<KeyV

[2020-04-08 16:33] nightroman commented on #1621
Either the first check should be corrected or the last two. I think it is better to correct the last two checks. I still have no answer why 1021 is the limit, not 1023 (which fits to 2 bytes together with type).

[2020-04-08 16:34] Dhillu commented on #1295
@mbdavid  Any ETA on v5.1 release ?

[2020-04-08 16:38] nightroman commented on #1295
@Dhillu This was already addressed in this release: https://github.com/mbdavid/LiteDB/releases/tag/v5.0.5

The issue may be closed, IMHO. ~16mb is on par with MongoDB, at least.

[2020-04-08 16:54] Dhillu commented on #1295
@nightroman  yeah but still it is throwing this error which is marked as done for the future release v5.1.

[2020-04-08 17:27] nightroman commented on #1295
@Dhillu If your document size is less than ~16mb and it cannot be saved in v5.0.5 then it is probably a bug. You may describe and submit it separately, this may bring some more attention to your issue.

[2020-04-08 17:32] Dhillu commented on #1295
@nightroman  I am getting the same error  #1295

"**LiteDB.LiteException: 'Document size exceed 2037500 limit' in v5**"
Any suggestions on fixing this ?

[2020-04-08 17:38] nightroman commented on #1295
No. If your document is larger than 16mb than maybe (it is up to developers to answer) it is not going to be fixed. Maybe it is the permanent limit. Like in MongoDB.

[2020-04-08 17:44] nightroman commented on #1295
If you get **this** error then you are not using the latest LiteDB v5..0.5 where the limit is increased to about 16mb. What is your LiteDB version?

[2020-04-08 19:19] mitja-p commented on #1622
I tried running this manually on startup. It works fine on local computer. Running same command on Azure websites raises error:
System.UnauthorizedAccessException: Access to the path 'D:\home\AppData\db\files.db' is denied.
   at System.IO.FileStream.FlushOSBuffer()
   at System.IO.FileStream.Flush(Boolean flushToDisk)
   at LiteDB.StreamExtensions.FlushToDisk(Stream stream)
   at LiteDB.Engine.Di

[2020-04-08 19:48] lbnascimento commented on #1622
@mitja-p The `Mode` parameter in the connection string is no longer supported. The datafile is never opened in exclusive mode in v5.

Regarding the `UnauthorizedAccessException`, is it happening consistently?

[2020-04-08 19:50] mitja-p commented on #1622
Yes, it happens consistently. I tried a few times. Including stopping the server. Waiting a minute and then starting in case something would be still locking the file.

[2020-04-08 20:06] lbnascimento commented on #1622
@mitja-p Could you try it without `Mode` and `Upgrade` parameters and post the stack trace again?

[2020-04-08 20:11] mitja-p commented on #1622
I now initialized it with
var db = new LiteDatabase(Filename);
db.Checkpoint();

The exception stack is the same as above.

[2020-04-08 20:17] mitja-p commented on #1622
Also tried rebuild - same thing:
System.UnauthorizedAccessException: Access to the path 'D:\home\AppData\db\files.db' is denied.
   at System.IO.FileStream.FlushOSBuffer()
   at System.IO.FileStream.Flush(Boolean flushToDisk)
   at LiteDB.StreamExtensions.FlushToDisk(Stream stream)
   at LiteDB.Engine.DiskService.Write(IEnumerable`1 pages, FileOrigin origin)
   at LiteDB.Engine.WalIndexService.Che

[2020-04-08 20:26] lbnascimento commented on #1622
@mitja-p Could you try running it with the datafile located elsewhere (maybe on C: drive, if you have access to it)? Given that it runs fine in your local computer, it is probably a permission issue of some sort.

[2020-04-08 20:42] mitja-p commented on #1622
We are talking about Azure web app. D:\home is the only folder you have access to. It could be permission issue or the nature of the storage on Azure as it is not directly disk filesystem.

[2020-04-08 21:56] LennardF1989 opened #1623 "[BUG] DiskService.SetLength causes (random) exception"
We're currently using LiteDb to store about 350k small objects in a Collection. This is inside a .NET Core 3.1 ASP.NET Application.

At random times, but pretty consistently in every run, the following Exception is thrown. Even when the dataset is as small as 5000, to stay under the BulkInsert default Bulk-size.

[code]
Whenever we switch to Shared, the issue obviously goes away because a log-file

[2020-04-09 06:11] maxkatz6 commented on #1503
@mbdavid

In AppCenter I can see some those exceptions, which were added with this issue (InvalidPageType).
Before I had similar stacktraces as @nabeelio has.

Version: 5.0.5
TargetFramework: netstandard1.3, uap10240.

### Exception 1 (On Read)
#### Message:
LiteDB.LiteException: Invalid Collection on 0. Full zero: True. Page Type: Empty. Prev/Next: 0/0. UniqueID: 1. ShareCounter: 1.
#### Stacktra

[2020-04-09 13:45] Dhillu commented on #1295
v5.0.5 @nightroman

[2020-04-09 13:46] qart2003 commented on #1616
Hello. I did it (refactoring and different improves), moved 20+ dbs to v5 (they have smaller size then  in v4) and have new questions:
Is db proccess safe? - No
Is db thread safe? - yes but I worked with v4 in this way:

In DAL
abstract public class BasicArticlesDataMapper
    {
        static protected LiteDB.LiteDatabase d_writer = null;

        public string ConnectionString { get; set; }

[2020-04-09 13:54] nightroman commented on #1295
Then you cannot get the same error. What is your error exactly?
Like I said, describe your case as a new issue, provide the details.
It will be easier for developers (or observers like me) to help you.

[2020-04-09 14:24] lbnascimento commented on #1623
@LennardF1989 I ran your test project and I couldn't reproduce the issue either. There's probably something different in how the real code is using LiteDB - maybe its datafile is in a place that "activates" your anti-virus, while the test project is not.

If there was any way I could run (or at least take a look at) the real code, that could be helpful.

[2020-04-09 14:31] lbnascimento commented on #1616
@qart2003 Could you post the exact error message you're getting and the stack trace? Also, is there any reason for the `BasicArticlesDataMapper` constructor to overwrite `d_writer`, which is a static attribute?

[2020-04-09 16:10] qart2003 commented on #1616
I get no error, but added item is absent
The static is for using in any place ViewSomeItem.cs contain lines SomeItemService someItemService = new SomeItemService(VarStore.fnDbSomeItems); I shoud use the one LiteDatabase object for any collection in current DB (it worked fine for v4), its about unit of work pattern, probably not best implementation but its UOW. I have some dbs for different biz obj

[2020-04-09 16:53] lbnascimento commented on #1616
@qart2003 Could you show me an example of how you're opening collections and making the insertions?

[2020-04-09 16:56] nightroman opened #1624 "[QUESTION] Could you please release the recent fixes and changes?"
Could you please release the recent fixes and changes? v5 is officially not beta but production and every reported bug or issue is a show stopper for some users.

Do not get this as a complain please. The project is amazing and the team response too. Just do not hold the available fixes for long please, if it is technically possible.

If it is not technically possible, could you share your pain po

[2020-04-09 18:32] mbdavid commented on #1624
Hi @nightroman, current version has 14 days and only 47 downloads (in nuget couter)... and we are already working in 5.1 "single datafile" version.

Tomorrow I release next 5.0.6.

[2020-04-09 18:40] nightroman commented on #1624
I think it does not matter how many days passed since the last release or how many downloads happened. If a user reported bug is fixed and tests pass it should be released. What is the reason to hold it?

NB But if we pay attention to these numbers then I find them worrying, 30 days old release has 3,766 download and 14 days release only 47.

[2020-04-09 18:47] nightroman commented on #1624
Also, people keep posting issues about already fixed bugs. The answer "this is already fixed and will be available in the incremental release" is quite frequent.

[2020-04-09 20:58] nabeelio commented on #1503
I haven't gotten any crash reports since the 12th, I'm glad you're seeing something.

[2020-04-09 20:59] nabeelio commented on #1503
Oh, I just saw your PR for the missing `throw`, perhaps that's why

[2020-04-09 22:30] qart2003 commented on #1616
I'm working with LiteDB from V2, when it was without ReaderWriterLockSlim inside.
The Like next code worked fine from v3-v4
I fixed error but dont know why? I just in UI dll create HoroService once and use this object in every place.

namespace JApp.DAL.Horo
{
    abstract public class HoroRepoBasic
    {
        static protected LiteDB.LiteDatabase d_writer = null;

        public string Connecti

[2020-04-09 22:48] LennardF1989 commented on #1623
@lbnascimento I figured it out. Knowing what I know now, it is so obvious...

I noticed that from one commit to another things kept working as it should. So I started going back in time until it broke again. Turns out... sigh... it was my TortoiseGit trying to generate a status icon in Windows Explorer for the file because it got add to the repository.

As soon as I told git to delete the file and

[2020-04-09 22:48] #1623 closed

[2020-04-10 16:02] #1624 closed

[2020-04-11 00:32] sanjeevbaral commented on #1612
Thank you! Since I want the end-user to be able to run the update script I decided to change the document structure so that there are no child documents anymore. This causes duplication of data but that's okay. This is only a smallish temporary database where users import documents and do cleanups. Any plan to support updates on child documents in the future?

[2020-04-11 03:13] sanju-singh commented on #243
@mbdavid , could you please explain the reason behind it?

[2020-04-11 20:08] fu-hsi opened #1625 "How filter result by reference column?"
Hi.
This is not work:

`var result = db.GetCollection<Product>("products").Include(x => x.Category).Find(x => x.Category.Id == 14).ToList();`

I receive empty result.
This work:

`var result = db.GetCollection<Product>("products").Include(x => x.Category).FindAll().Where(x => x.Category.Id == 14).ToList();`

What I am doing wrong? How to filter products by category?
[code]

[2020-04-12 05:59] ajmal-ahmed commented on #1613
this usually happens in LiteDB when you does not assign any value for a field it's considered as null (which in turn is a separate data type) and when you query that field you have to avoid those records.
As of now you might see your code first might work as
`results = results.Where(x => (x.StringList!=null)&&(!x.StringList.Contains(myString)));`

[2020-04-12 17:47] Xandev opened #1626 "[QUESTION] Why can't I use IReadOnlyList<T>?"
Hi, I'm new to LiteDB and I have a question about this chunk of code: https://pastebin.com/SCkQkYzz

Why I need to use writable list type (IList/List) in Point A (line 14) to avoid

that occurs in Point B (line 60)?

If it's trying to add CustomerOrder to list from Customer, then this behaviour is highly unwanted... especially for me :). If yes, then how to avoid that?

[2020-04-13 08:08] sanju-singh opened #1627 "[BUG] Getting SIGSEGV while reading data from Litedb collection simultaneously in multiple threads"
**Version**
LiteDB version: 4.1.4
OS: Android API 27

**Describe the bug**
I am using Litedb v4 in Xamarin, I am creating liteDatabase connection and getting collections inside it once, and passing the collection to multiple threads which perform givenCollection.findALL().ToList() simultaneously. The app crashes sometimes(not always) resulting in SIGSEGV error, I am not getting what is causing thi

[2020-04-13 11:57] cristianoalvesdasilva opened #1628 "[BUG] - NullReferenceException when calling 'Exists' using an enum for predicate filtering."
**First of all, thanks for keeping such a great project as LiteDB!**

Hello,
Yesterday I bumped my LiteDb package from 5.0.4 to 5.0.5 and started getting a NullReferenceException when running an already existing query which used to run just fine.

***Xamarin Forms***

The query is as simple as:
[code]
`TransientRecordStatus` is defined as such:

[code]
We also happen to have a mapper to ensure thi

[2020-04-13 14:09] lbnascimento commented on #1625
@fu-hsi Your first example should be working. Could you provide us the datafile you're using?

[2020-04-13 14:15] fu-hsi commented on #1625
Hi.
Now I use Repository-Pattern because of this, but I will try again and give you more details soon.

[2020-04-13 15:06] lbnascimento commented on #1613
@MuhKuh7 This issue is fixed in master and its fix will be present in the next incremental release.

[2020-04-13 15:06] #1613 closed

[2020-04-13 15:47] lbnascimento commented on #1626
@Xandev Previously, our mapper only knew how to serialize properties of an interface type if the type was exactly `IList`, `ICollection`, `IEnumerable`, `ISet` or `IDictionary`. I fixed it and now it should work for any interface type that implements `IEnumerable`. This fix will be present in the next incremental release.

[2020-04-13 15:47] #1626 closed

[2020-04-13 16:19] fu-hsi commented on #1625
[code]

[code]

Data in database:
[code]
Not works (with Include):
[code]

Works (without Include):
[code]

[2020-04-13 16:30] lbnascimento commented on #1625
@fu-hsi The `Category` data was inserted incorrectly: it was inserted as a subdocument of `Product` instead of a reference to another collection. You should remove this entry, insert the categories in a separate collection (if you haven't already) and then insert the product data again (the existence of `BsonRefAttribute` should be enough for it to be inserted correctly this time).

[2020-04-13 16:31] lbnascimento commented on #1628
@cristianoalvesdasilva This issue is already fixed in our master and its fix will be present in the next incremental release (which should be going live soon).

[2020-04-13 16:31] #1628 closed

[2020-04-13 16:37] fu-hsi commented on #1625
This is only data dump from result variable.
Insert query:

[code]
Data from LiteDB Studio:

[code]

[2020-04-13 21:54] nik-net opened #1630 "[Bug] Exception while de-serializing Uris"
If the stored value in a document is URI, then this code statement throws error (class BsonMapper.cs)

[code]

Modifying this line to

`var k = isKEnum ? Enum.Parse(K, el.Key) : K == typeof(Uri) ? new Uri(el.Key) : Convert.ChangeType(el.Key, K);`

works.

[2020-04-14 08:53] sanju-singh opened #1631 "[QUESTION] Can LiteCollection be used in Concurrency?"
**Code to Reproduce**
[code]

I am getting the collection objection once and passing it to the above method. calling above method multiple times causing the error SIGSEGV.

Wanted to confirm if we support LiteCollection in concurrency?

[2020-04-14 11:39] huanlin commented on #1428
I  encountered the same "process cannot access the file" exception with the following code:

[code]

Am I missing something?

[2020-04-14 11:51] huanlin commented on #1428
FYI, after I upgrade LiteDB from v4 to v5, I encountered the same exception saying "process cannot access the file." Then I added "Connection=Shared" to connection strings, as below:

`var repo = new LiteRepository("Filename=database.db;Connection=Shared");`

The exception was gone now.

[2020-04-14 11:56] GonzoKK commented on #1428
Note that in my case I did try `Connection = ConnectionType.Shared `

Unfortunately the exception stills occurs intermittently :(

[2020-04-14 13:38] lbnascimento commented on #1630
@nik-net This is not a bug in LiteDB, but a limitation in `Convert.ChangeType`: all this method does is try to cast an object to another type, and there is no valid cast from `string` to `Uri` (LiteDB serializes `Uri` as their string representation). It is possible to create a `Uri` from a `string` with the `Uri` constructor, and that is what your second example does, but `ChangeType` is not aware

[2020-04-14 14:23] lbnascimento commented on #1627
@sanju-singh Both `LiteCollection` and `LiteDatabase` are thread-safe in v4 and can be shared between multiple threads. Your problem seems to be a Mono-specific issue - I don't believe it is even possible to get a segmentation fault in managed code.

[2020-04-14 14:23] lbnascimento commented on #1631
@sanju-singh I'm going to close this, since it is a duplicate of #1627. Let's keep all future discussions there.

[2020-04-14 14:23] #1631 closed

[2020-04-14 15:26] #1621 closed

[2020-04-14 15:27] #1614 closed

[2020-04-14 15:57] nightroman opened #1632 "[QUESTION] Getting raw data using Include changed from 5.0.5 to 5.0.7. Is it OK?"
Getting raw data using Include changed from 5.0.5 to 5.0.7. Is it OK?

In the scenario described below result data in 5.0.7 are different from 5.0.5.
I would like to check if the change is intended.

[code]

The above test returns the included document embedded as expected.
But it contains some strange `$id` field in 5.0.7.
In 5.0.5 this field is `_id` (rather expected).
Is this change intended?

[2020-04-14 16:07] lbnascimento commented on #1625
@fu-hsi This issue has been fixed and its fix is already available in version 5.0.7.

[2020-04-14 16:07] #1625 closed

[2020-04-14 16:14] lbnascimento commented on #1632
@nightroman This is intentional. It is intended as a fix to #1625. When querying using Linq, an expression like `col.Find(order => order.Customer.Id == 1)` would be converted to the BsonExpression `$.Customer.$id = 1`, which meant that Linq queries over the id of a referred document would not work if the `Include` had been processed (it would work without the `Include`, though).

The ideal solutio

[2020-04-14 16:17] MuhKuh7 commented on #1613
Tested and works.
Thx for the fast fix!

[2020-04-14 16:17] fu-hsi commented on #1625
Yes, it is OK now, thanks!

[2020-04-14 16:32] nightroman commented on #1632
Thank you. It's a potentially incompatible change for applications. It might be useful to mention this in https://github.com/mbdavid/LiteDB/releases/tag/v5.0.7

[2020-04-14 16:32] #1632 closed

[2020-04-14 16:37] lbnascimento commented on #1632
@nightroman Thanks, added it to the release info.

[2020-04-14 21:13] nik-net commented on #1630
Thank you, yes I understand that this is due to ChangeType's inability to convert a string to it's URI representation. Given this known limitation would you be looking to handle this edge case in the code?

[2020-04-14 23:15] Waxavi commented on #641
Hello, any update on this issue, is there any workaround?

[2020-04-14 23:52] maxkatz6 commented on #1503
@mbdavid @lbnascimento hi!
Maybe you know something about that?

Unfortunately, I can't test it with 5.0.7 in near time.

[2020-04-15 01:45] kampilan opened #1633 "[BUG]Excluding And and Or Expressions"
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**
5.0.7

**Describe the bug**

The code below is missing And and Or

        private string GetOperator(ExpressionType nodeType)
        {
            switch (nodeType)
            {
                case ExpressionType.Add: return " + ";
                case ExpressionType.Multiply: return " * ";
                case Expres

[2020-04-15 08:44] fu-hsi opened #1634 "[BUG] System.Reflection.AmbiguousMatchException after fix #1625"
When I add new product, listing the products generate Exception:
`An` unhandled exception of type 'System.Reflection.AmbiguousMatchException' occurred in mscorlib.dll

For sure, I removed all records before:
[code]

First exception I was received after product update.

List:
[code]

[2020-04-15 09:12] fu-hsi commented on #1634
I found the line, that generate Exception in Product class:

[code]

[2020-04-15 12:14] FDemin commented on #1386
having a property name `Id` works when incrementing
however, having a different property name (`ID`, <Model Name>ID), even having a `[BsonId]` attribute, increment doesn't work

[2020-04-15 13:47] lbnascimento commented on #1630
@nik-net Sorry, for whatever reason I didn't realize the `DeserializeDictionary` was in our BsonMapper, I thought it was some code of yours. I'll add your fix.

[2020-04-15 14:02] #1630 closed

[2020-04-15 14:25] lbnascimento commented on #1386
@FDemin Auto-id only supports types `Int32`, `Int64`, `ObjectId` and `Guid`. In fact, the BSON spec doesn't even support `UInt64` as a valid type for an element in a BSON (our serializer converts it to `Int64`).

[2020-04-15 14:43] lbnascimento commented on #1633
@kampilan Done. It will be present in the next incremental release.

[2020-04-15 14:43] #1633 closed

[2020-04-15 17:34] EeveeWhitefire commented on #1505
same issue for a List object's `Exists`, and in general the new updates removed any way to use external methods for the predicate and it's really annoying

[2020-04-15 18:41] lbnascimento commented on #1505
@EeveeWhitefire LiteDB v4 allowed for any Linq expression to be used as predicate, however when it found an expression that couldn't be converted to `BsonExpression`, it would store it and run with Linq-to-object after retrieval (it was equivalent to `col.FindAll().Where(predicate)`). This feature was removed in v5 due to performance concerns.

[2020-04-15 19:31] nightroman commented on #1633
@kampilan I am curious, why is this needed in practice? (Not criticizing in any way, just want to learn)

[2020-04-15 19:34] nightroman commented on #1633
@lbnascimento Do we or will we have the same form in LiteDB string expressions?

[2020-04-15 19:53] lbnascimento commented on #1633
@lbnascimento While it could be done, I'm not sure there's any point to it.

[2020-04-15 19:55] henon commented on #982
I needed to store arbitrary JObjects in a LiteDB so I wrote extension methods for conversion:

[code]

[2020-04-15 19:57] kampilan commented on #1633
It's needed because it is in fact a legitimate  expression.  Like me, most people use Expression.And and Expression.Or. Technically one should use AndAlso and OrElse. I have in fact changed my implementation to use AndAlso and OrElse. It is more correct to do so. But And and Or  still need to be supported in this use-case because they are perfectly valid.

[2020-04-15 20:04] lbnascimento commented on #1633
@kampilan I think @nightroman was talking about having actual non-short-circuit operators in BsonExpressions, which I don't think is useful. The solution that you proposed in your first post (and which was implemented, by the way) merely maps `&` to `AND` and `|` to `OR`, which are then executed as short-circuit operators.

[2020-04-15 20:05] nightroman commented on #1633
I am confused by the example `X == 0 & Y == 1` and the tests following the change:

[code]

`|` and `&` are not Boolean operators at all. What are these tests doing and checking is not clear.

[2020-04-15 20:11] nightroman commented on #1633
These are **bitwise** AND and OR operators. They operate on integers and return integers. Why in the above cases they are treated as Boolean operators is not clear. Technically, translation to string expressions is even wrong. Maybe I miss something simple.

[2020-04-15 20:14] lbnascimento commented on #1633
@nightroman They are overloaded operators: between two integers, they act as bitwise and/or; between two bools, they act as non-short-circuit logic operators. Check the [official C# documentation](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/boolean-logical-operators#logical-and-operator-).

[2020-04-15 20:18] nightroman commented on #1633
Ah, I see now. Yes, learned something new! TBH, never used & and | as Booleans for many years :)

[2020-04-15 20:25] kampilan commented on #1633
lbnascimento sorry 2 discussions going on at the same time. I agree unneeded,

nightroman I also learned something new. In my opinion poor naming and documentation on MS part.

[2020-04-16 16:43] lbnascimento commented on #1634
@fu-hsi `NameValueCollection` does not implement `IEnumerable<KeyValuePair<TKey, TValue>>` or anything similar, which means our mapper does not serialize it correctly (it only serializes the keys). So, unless you really need to work with duplicate keys, I suggest you stick to `Dictionary<string, string>`.

I may add a fix for this later, it isn't very difficult, but I'll have to explicitly test fo

[2020-04-16 17:02] fu-hsi commented on #1634
As I mentioned, I will use Dictionary<string, string>, but if NameValueCollection doesn't work, maybe it is better to remove them from BsonMapper table https://github.com/mbdavid/LiteDB/wiki/Object-Mapping? Maybe I misinterpreted it, if so, sorry for the confusion. It's not important to me, I will use Dictionary.

[2020-04-16 17:12] lbnascimento commented on #1634
@fu-hsi Just a tip: the documentation in our wiki is for LiteDB v4. For v5 docs, check [our web page](http://www.litedb.org/). But you are correct, I will remove the class from our documentation.

[2020-04-16 17:12] #1634 closed

[2020-04-16 19:07] praiakov opened #1635 "[QUESTION] How to configure app.config file"
How to set server's address into app config file ?

My app config file:

<configuration>
  <connectionStrings>
    <add name="LiteDB" connectionString="Filename=\\xx.xx.xxx.xx\App\AppDB.db;Password=xxx" />
  </connectionStrings>
</configuration>

It's occurred "Access Denied"

LiteDB 4.1.4

[2020-04-17 10:21] adli89 opened #1636 "[Bug] Query() using Linq doesn't work, but similar generated BsonExpression does"
LiteDb Version: 5.0.7
OS: Android 9
Platform: Xamarin Forms 4.5.0.530, .NET Standard 2.1

`IEnumerable<T>.Contains(T)` method doesn't work when combined with `||` operator when doing `Query()`.

I'm querying my database using Linq, and unexpectedly it returns 0 result (`filterText` is one of elements in `Barcodes` in my test data). When I try the same equivalent BsonExpression, I do get results. B

[2020-04-17 11:00] huyhu opened #1637 "[BUG] FindById throws SynchronizationLockException: The read lock is being released without being held."
**Version**
5.0.5

**Describe the bug**
FindById sporadically throws System.Threading.SynchronizationLockException: "The read lock is being released without being held."

**Code to Reproduce**
Here how I use FindById -it is hard to reproduce the issue though
[code]

**Expected behavior**
No exceptions.

**Screenshots/Stacktrace**
    "ClassName": "System.Threading.SynchronizationLockException",

[2020-04-17 11:18] mdmoura opened #1638 "[QUESTION] Many to Many relation in LiteDB. Is it possible or use other approach?"
Using LiteDB I have the following Pocos:

[code]

Each Post can have many Tags and each Tag can be used in many Posts.

Is it possible to create a Many to Many relation in LiteDB?

My idea would be create a new POCO named PostTag:

[code]

And then update the Post and Tag Pocos to the following:

[code]

I am not sure if this makes sense. Should I simply use the following?

[code]

And what if I n

[2020-04-17 11:45] Lupinho commented on #1472
I could not reproduce the original exception with the current release (5.0.5). But: now I get the same error on disposing:
`System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
   at System.ThrowHelper.ThrowInvalidOperationException(ExceptionResource resource)
   at System.Collections.Generic.Dictionary`2.ValueCollection.Enumerator.MoveNext()
   at Syst

[2020-04-17 12:22] huyhu commented on #1637
@mbdavid I have the fix for this issue, but I cannot publish my branch. Could you give me the permissions to do so?

[2020-04-17 14:04] lbnascimento commented on #1636
@adli89 This issue has been fixed in the latest master and its fix will be present in the next incremental release.

[2020-04-17 14:04] #1636 closed

[2020-04-17 14:37] lbnascimento commented on #1637
@huyhu Can't you make a pull request?

[2020-04-17 15:07] lbnascimento commented on #1638
@mdmoura I recommend storing each class in its collection and a list of tags as `BsonRef` in every post.

[code]

This would allow you to efficiently list all posts, list all ags and list all tags in a Post. If you wanted to list all Posts with a specific tag, you could just get the id of the tag you're searching and do something like `postsCollection.Find(x => x.Tags.Count(x => x.Id == myTag) > 0

[2020-04-17 15:08] lbnascimento commented on #1472
@Lupinho v5.0.7 was released earlier this week, could you test with it?

[2020-04-17 15:12] huyhu commented on #1637
remote: Permission to mbdavid/LiteDB.git denied to huyhu.
fatal: unable to access 'https://github.com/mbdavid/LiteDB.git/': The requested URL returned error: 403

[2020-04-17 15:15] lbnascimento commented on #1637
@huyhu You should create a fork of LiteDB, make your changes there and then submit a pull request.

[2020-04-17 17:23] mdmoura opened #1640 "[QUESTION] Find if database exists and seed data after being created"
When using the following:

    using(var db = new LiteDatabase(@"MyData.db"))
    }

LiteDB creates a new database if it does not exist.

Is there a way to determine if a database exists or not? Or if it is empty?

I would like to seed the database with data but only after its creation.

[2020-04-17 18:08] lbnascimento commented on #1640
@mdmoura I think something like this would work for you:
[code]

[2020-04-17 18:15] mdmoura commented on #1640
@lbnascimento I have been reading your docs and I found different information.

For example, in [here](https://dev.listera.top/docs/litedb/LiteDB-v1/#updating-database-version) there is an OnVersionUpdate method and a version can be included in the connection string.

But in source code and in [here](http://www.litedb.org/docs/connection-string/) there is no such option.

I am trying the following

[2020-04-17 19:47] lbnascimento commented on #1640
@mdmoura Regarding the documentation you linked, that's for v1, a very old version. Other than that, your solution seems good to me.

[2020-04-17 20:26] #1640 closed

[2020-04-18 00:40] mdmoura commented on #1638
@lbnascimento I tried the following but got really strange results:

            BsonMapper mapper = BsonMapper.Global;

            mapper.Entity<Post>().DbRef(x => x.Tags, "tags");

            List<Post> model = new List<Post> {
              new Post {
                Title = "First Post",
                Slug = "first-post",
                Topics = new List<Topic> {
                  new Tag

[2020-04-18 06:47] abrca opened #1641 "[QUESTION] DeleteMany()"
LiteDB 5.0.7

I have an untyped collection, e.g. var col = db.GetCollection("customer");
and I have a List<ObjectId> with ObjectId's to delete.
I do it with foreach (...) col.Delete(id)

How can I do it with DeleteMany()?

[2020-04-18 12:32] huyhu commented on #1637
@lbnascimento Could you please review the pull request?

[2020-04-18 18:06] mdmoura commented on #1638
@lbnascimento I also tried the following:

    posts.Include(x => x.Tags).Find(x => x.Tags.Select(x => x.Slug).Any(x => x == "book"));

And this returns an empty list ...

I think something might be wrong when using filters with child collections. No?

[2020-04-18 18:26] mdmoura commented on #1638
@lbnascimento The following query returns the one post, as expected, that contaoins  a Tag with slug book:

           var a = lessons.Include(x => x.Topics).FindAll()
                        .Where(x => x.Topics.Count(x => x.Slug == "book") > 0)
                        .ToList();

The following return all record like it wasn't filtered.

           var b= lessons.Include(x => x.Topics)

[2020-04-18 20:26] maxkatz6 commented on #1641
Code below should work, but I didn't test it.
[code]

[2020-04-18 21:23] Lupinho commented on #1472
If tested with 5.0.7 also. The problem seems to be provocated on my side: I think I did queries in parallel when disposing the Database. Decide, if the exception above is fine in this case; I would rather have seen something like a message "rejected query on a data base while disposing" or similar...

[2020-04-18 22:35] zmira commented on #1638
@mdmoura `a` will apply an in-memory filter, after retrieving all items from `litedb`, whereas `b` will attempt to apply the filter while retrieving the desired items from `litedb`.

Have you tried the below?
[code]

[2020-04-18 23:42] zmira commented on #1638
apparently I spoke too soon... look like my suggestion above only works on version 5.0.4!

[2020-04-19 02:44] zmira opened #1642 "[BUG] no results are being returned when filtering a nested array by an indexed property"
**Version**
5.0.7

**Describe the bug**
no results are being returned when filtering a nested array by an indexed property.
when applying the same filter without having the same property indexed, the expected result is returned:
[code]
on version 5.0.4 this does not happen!

**Code to Reproduce**
https://gist.github.com/zmira/92a7ddf248a73b70791da33c0db65426

**Expected behavior**
results should b

[2020-04-20 06:16] hvson opened #1643 "[QUESTION]"
I'm a newbie in LiteDB. I make an asp.net mvc project to interact with a LiteDB file. All function is ok, but the data only save in DB-log.db file. DB.db file don't change.
 Please help me how to commit data from log file to main db file.
 Thanks!

[2020-04-20 07:55] pejtersen opened #1644 "[BUG] Query.Or very slow"
**Version**
5.0.7 (Windows 10, .NET Core 2.2)

**Describe the bug**
Performance degradation between 4.1.4 and 5.0.7. `Query.Or` is now much slower.

**Code to Reproduce**
[code]

[2020-04-20 10:28] CKoewing opened #1645 "[QUESTION] How do I convert a LiteDB entry that was not created based on a class into an Object when reading it?"
The collection I want to read looks like this (it is Serilog entry using the LiteDB Sink):

![image](https://s12.directupload.net/images/200420/tioiddu9.png)

So I created the following class...
[code]

... but when I try to read the data ...

[code]

...I always get the following error: **Specified cast is not valid**.

What's the mistake? The class seems to fit.

[2020-04-20 14:24] lbnascimento commented on #1638
@mdmoura Regarding `a`, what I believe is happening is that you're using autoid for tags (by not setting an Id value for your tags, LiteDB creates one automatically upon insertion) and it doesn't know that the "Europe" tag in the first post and the "Europe" tag in the same post are actually the same, and ends up inserting it twice. Try creating the tags beforehand and attributing them to each post

[2020-04-20 15:02] lbnascimento commented on #1642
@zmira You cannot create an index over a field in a `BsonRef` document (other than `$id`). References are only resolved upon retrieval, and you can only create indexes over values that are acutally stored in the collection.

This expression worked in v5.0.4 because that version didn't use indexes for `ANY` queries.

[2020-04-20 15:06] lbnascimento commented on #1643
@hvson While auto-checkpoint is supposed to run eventually (by default, every time the log file reaches 8MB), it might not happen if your application is always using the datafile.

Try running a `db.Checkpoint()` every once in a while.

[2020-04-20 15:17] lbnascimento commented on #1645
@CKoewing I believe you're getting this error because `_t` was stored as string. Try changing your property to string.

[2020-04-20 15:55] CKoewing commented on #1645
@lbnascimento You're killing me! I wasted so much time not noticing. You're my hero of the day! 😃 Thanks! 👍

[2020-04-20 15:55] #1645 closed

[2020-04-21 00:44] hvson commented on #1643
Thanks @lbnascimento. That's solve my problem. Thank a lot!

[2020-04-21 07:51] mvdzwaan opened #1646 "In memory database with encryption, persisting to file system"
I want to use LiteDB to create an in-memory database with encryption and once it has been build I want to persist it to disk.

If I use a memorystream to persist it, I cannot specify a password.
If I use :memory: to create it, I cannot persist it.

Any hints on how to do this ?

[2020-04-21 09:50] mvdzwaan opened #1647 "[BUG] Performance difference for same code"
**Version**
.NET 4.8.  Lite DB 5.0.7  running on IIS/ASP.NET

**Describe the bug**
Unexplainable performance difference

**Code to Reproduce**

[code]
**Expected behavior**
I run this on development machine (virtualized, 4 core, E3-1270, with 20Gb RAM 9Gb free). It executes in 2.5 seconds

I run this on production machine (bare metal, dual cpu E5620, 8 core, 64Gb of which 26Gb free). It executes i

[2020-04-21 12:39] mitja-p commented on #1622
Can we expect any progress on this? When log file gets to around 10Mb the database stops working.

[2020-04-21 18:37] zmira commented on #1642
oh. ok. hadn't realized that. thanks for the clarification.
will remove the index on the field of the referenced document.
will close the issue.

[2020-04-21 18:37] #1642 closed

[2020-04-21 19:05] zmira opened #1648 "[BUG] results are being returned when filtering a nested array with a non-existent value when using LINQ Count"
**Version**
5.0.7

**Describe the bug**
results are being returned when filtering a nested array with a non-existent value, when using `LINQ Count`.
when using an expression no results are returned, as expected.
[code]

**Code to Reproduce**
https://gist.github.com/zmira/6ff5434b602d675d2d749a085617000f

**Expected behavior**
if no values match, no results should be returned

[2020-04-21 21:41] TheAb03 opened #1649 "[QUESTION] Update record without overwriting unspecified fields"
Let's say I have a `Person` object:

[code]

This object is stored in a LiteDB collection. If I call `Update` on this object with the following:
[code]
`"name"` will be overridden back to null.
Is there any way to bypass this, or will I have to do it manually?

[2020-04-22 05:35] #1647 closed

[2020-04-22 08:10] Xandev opened #1650 "[BUG] Byte array and query"
**Version**
LiteDB 5.0.7
Windows 10
.NET Core 3.1

**Describe the bug**
Using Query() from Collection and Contains() of byte array in Where() returns wrong results.
Code below clearly shows the problem.

**Code to Reproduce**
https://pastebin.com/ea6xAAdF

**Additional context**
Using something other than byte array in Where() works perfectly for example array of ints, lists etc.

[2020-04-22 09:47] kfirp-bs opened #1651 "[BUG] Find all related orders of a customer returns empty"
**Version**
LiteDb 5.0.7
OSX Catalina 10.15.4
dotnet 3.1.102

**Describe the bug**
Finding customer's order returns zero results when using lambda expression.
Digging into this deep I could see that the BsonMapper is not resolving the expression correctly

**Code to Reproduce**
[code]

**Is it related to BsonMapper ? **
[code]
Returns ($.Customer._id=@p0)
Should it return ($.Customer.$id=@p0) ? Or

[2020-04-22 13:56] lbnascimento commented on #1648
@zmira Could you try with the latest master? I believe it is fixed.

[2020-04-22 14:06] kfirp-bs commented on #1651
Update:
It seems that since 5.0.7 this is reproduced constantly,
In previous versions, it reproduced sporadically 🤷🏼‍♀️

[2020-04-22 14:57] mitja-p commented on #1622
I have made a very simple reproducible example (fails on Azure only):

[code]

(1) No database file present yet: database is created and everything works fine. Only files.db exists when operation ends.
(2) Running again reports:
Access to the path 'D:\\home\\test\\files.db' is denied.
at System.IO.FileStream.FlushOSBuffer()\r\n
at System.IO.FileStream.Flush(Boolean flushToDisk)\r\n
at LiteDB.Strea

[2020-04-22 15:33] lbnascimento commented on #1651
@kfirp-bs This issue has been fixed in the latest master and its fix will be present in the next incremental release.

[2020-04-22 15:33] #1651 closed

[2020-04-22 15:57] lbnascimento commented on #1649
@TheAb03 If you class has an id (as it should, because the resulting document will have an id anyway) and you're willing to use SQL syntax, you could do something like `db.Execute($"update collection set age = 15 where _id = {myid}")`.

[2020-04-22 17:53] #1643 closed

[2020-04-22 18:06] lbnascimento commented on #1646
@mvdzwaan Something like this should work:
[code]

[2020-04-22 18:44] lbnascimento commented on #1622
@mitja-p Could you provide us your VM specification so we could reproduce it? Anything that helps us to create a VM identical to yours is helpful.

[2020-04-22 18:56] mvdzwaan commented on #1646
thanks

[2020-04-22 18:56] #1646 closed

[2020-04-22 19:25] lbnascimento commented on #1650
@Xandev This happens because `byte[]` is implicitly converted to a `BsonValue` of type `Binary`, which completely breaks the comparison - this doesn't happen with `int[]` or `short[]` because they are converted to a `BsonArray` containing the ids as ints.

I'm not sure there's anything that could be done regarding this - I couldn't think of anything, at least.

[2020-04-22 19:25] okarpov commented on #1428
still the same issue with 5.0.7

[2020-04-22 21:23] mitja-p commented on #1622
Yes, of course. I am using an App service on F1(Free) plan. It is an ASP.NET Core 2.1 app with latest LiteDB version. Do you need anything else?

[2020-04-22 23:45] maxkatz6 commented on #1503
Same error with 5.0.7:

LiteDB.LiteException: Invalid Collection on 0. Full zero: True. Page Type: Empty. Prev/Next: 0/0. UniqueID: 4. ShareCounter: 1.
[code]

[2020-04-23 14:39] zmira commented on #1648
with `master` it is good. thanks.

[2020-04-23 14:39] #1648 closed

[2020-04-23 14:40] lbnascimento commented on #1650
@Xandev I found a simple way to make your example work. A lambda expression like `c => ids.Contains(c.Id)` becomes `ITEMS(@p0) ANY = $._id` when converted to a `BsonExpression`, so the solution was to make the `ITEMS` method return every byte in the `byte[]` cast to `int`.

This fix will be present in the next incremental release.

[2020-04-23 14:40] #1650 closed

[2020-04-24 08:06] NikasZalias opened #1652 "[BUG] v4 version NullReferenceException on GetById() method."
**Version**
4.1.4

**Describe the bug**
Calling GetById() method sometimes throw NullReferenceException.

**Code to Reproduce**
`
_db = new LiteDatabase($"Filename={FILENAME}");
  _db.GetCollection("NAME").FindById(ID);
`

**Expected behavior**
Not to crash.

**Screenshots/Stacktrace**

at LiteDB.LiteEngine..ctor(IDiskService disk, string password, Nullable<T> timeout, int cacheSize, Logger log, b

[2020-04-24 09:16] holyping commented on #1644
Or and And operation, it will compiles whole expression to string, concat them with and/or and recompiles them from string to expression object, that's the reason it runs so slow.

[2020-04-24 14:06] lbnascimento commented on #1652
@NikasZalias Any other info to help reproduce the bug, like platform, datafile being used and queries being used?

[2020-04-24 14:21] NikasZalias commented on #1652
@lbnascimento The platform is **.NET Framework 4.6.1**. I don't have the data file that the user has used and no queries been made. It's just this line that breaks... Also, OS that has a crash is **Windows NT 6.2.#.#**. I wish I could have more data, but that's it...

[2020-04-24 19:45] henon commented on #1622
I have the same problem with exactly the same circumstances. After removing the call to Checkpoint the db seems to work but despite the documentation saying it is threadsafe I had to lock every access to the db or I would get corrupt collections all the time.

[2020-04-24 19:48] henon commented on #1622
by the way @mitja-p, I have been running a lite db v4.1.4 on azure free plan for years without issues, so downgrading might be a workaround.

[2020-04-24 19:54] henon commented on #1622
I have more info concerning this same error. Even calling Dispose() on LiteDb in app shutdown can result in an UnauthorizedAccessException

[code]

[2020-04-24 20:02] henon commented on #1603
@seertenedos you could try version 4.1.4, I am using it for a long time without any problems

[2020-04-24 20:04] henon commented on #1603
I second that. Also got corrupted collections until I started locking rigorously in v5.0.7

[2020-04-24 20:10] henon opened #1653 "[BUG] corrupted collections on azure web app"
**Version**
v5.0.7

**Describe the bug**
A specific collection gets corrupted and trying to access it throws this:

********************************************************************************
LiteException: "Invalid Collection on 0. Full zero: True. Page Type: Empty. Prev/Next: 0/0. UniqueID: 84. ShareCounter: 1. "
------------------------------------------------------------------------------

[2020-04-24 22:42] jaimin-p opened #1654 "[QUESTION] Include Functionality For Nested Object , like v4 Includeall ?"
I am stuck on finding solution for below query. using litedb v5

Query : db.GetCollection<PurchaseOrder().Include(x=>x.OrderItems)

Here are my both class :
public class PurchaseOrder
    {
        public int Id { get; set; }
        public DateTime DatePurchased { get; set; }
        public List<OrderDetail> OrderItems { get; set; }
        public string Note { get; set; }
    }

  public class O

[2020-04-25 15:20] ranjanpr opened #1655 "[QUESTION] How to properly delete file from filestorage so that db size also reduces?"
Currently when i delete file stored in filestorage, the size of db file does not reduce. I use code as below for
[code]

Now the issue is when i see the objects and associated file in LiteDB studio it is gone. But after closing the application the db size remains as it was with file before. Am i missing something?

[2020-04-25 22:12] zmira commented on #1654
assuming `OrderItems` and `Model` are `BsonRef`ed, have you tried `db.GetCollection<PurchaseOrder().Include(x=>x.OrderItems).Include(x => x.OrderItems.Model)`?

[2020-04-25 22:16] jaimin-p commented on #1654
i am not getting  Include(x => x.OrderItems.Model)
As OrderItems is list..its showing me all functions related to List e.g. Add ,FirstOrDefault

I tried Include(x => x.OrderItems.FirstOrDefault().Model) but it only fetches the value for first item and not all.

[2020-04-25 22:19] zmira commented on #1655
have you tried rebuilding the database, using `flowDB.Rebuild();` before returning?

[2020-04-25 22:47] zmira commented on #1654
totally missed the fact that `OrderItems` was a list and that, probably `OrderItems` isn´t `BsonRef`ed 🙄

assuming only `Model` is declared as `BsonRef`, how about
`db.GetCollection<PurchaseOrder>().Include("$.OrderItems[*].Model");`?

[2020-04-26 00:09] jaimin-p commented on #1654
Thanks !! It works.
Is there any way to define IncludeAll  ? without explicitly specifying each dbRef ?

[2020-04-26 19:04] nabeelio commented on #1503
I'm seeing this, but strangely it didn't come through AppCenter:

[code]

[2020-04-27 04:24] ranjanpr commented on #1655
Thanks @zmira . It worked after adding `flowDB.Rebuild();` as you said before returning.

[2020-04-27 04:24] #1655 closed

[2020-04-27 09:00] mitja-p commented on #1622
Thanks! I am downgrading for now.

[2020-04-27 12:48] DanTwomey opened #1656 "[QUESTION] LiteDB 5 System.IO.IOException: The process cannot access the file because it is being used by another process"
We currently have a client application which consists of a Windows Service and a WPF application, both utilising LiteDB and targeting .Net Framework 4.8.

The windows service runs under the local system account and the WPF app runs under the user's account.

We made the choice to upgrade from 4.1.4 to 5.0.7 in the hopes that concurrency was better supported.

Both WPF app and win service access th

[2020-04-27 13:48] lbnascimento commented on #1656
@DanTwomey Could you try with the latest master?

[2020-04-27 14:45] DanTwomey commented on #1656
@lbnascimento This seems to have worked, don't seem to be getting the exceptions any more but will keep an eye out.

Do you have an ETA on a NuGet release?
If not I assume this is stable enough to go into production?

[2020-04-27 17:31] lbnascimento commented on #1656
@DanTwomey Next incremental release should be out soon, no ETA though. However, if you check the commits since the latest release, most of them are fixes for specific issues in the mapper. No internal changes to the engine were made (other than the fix for this issue, which was very simple).

[2020-04-27 19:12] prafinski opened #1658 "[BUG] Access to the path 'xxx.Mutex' is denied."
**Version**
Windows Server / Windows 10 / LiteDB 5.0.7 from NuGet

**Describe the bug**
Access to the path '426A3A7DF4D3C22E07885822D797639FA2DEEBB4.Mutex' is denied. When using same LiteDB file with two diffrent apps. One is IIS application, one is windows service. They are using diffrent users. I think problem is read/write permissions or some ACL.

I found that it can be resolved with SecurityI

[2020-04-27 19:15] lbnascimento commented on #1658
@prafinski Could you try with the latest master? Coincidently, I added the `Global\` to the mutex name earlier today.

[2020-04-27 19:22] prafinski commented on #1658
@lbnascimento sure we will try and give a feedback soon

[2020-04-27 21:57] jonlipsky opened #1659 "[QUESTION] How to create a query/expression with a NOT clause"
In LiteDB v4 you could construct a query (using the API) like the following:

`
var query = Query.Not(someOtherQuery);
`

In LiteDB v5 that option no longer exists.  Is there a method that I am missing that replaces that functionality?  I would have expected to see something like this:

`
var bsonExpression = Query.Not(someOtherBsonExpression);
`

[2020-04-27 23:41] lbnascimento commented on #1659
@jonlipsky There's no explicit `NOT` operator currently. You could do something like this:

[code]

It's a bit convoluted, but it works perfectly.

[2020-04-28 09:10] prafinski commented on #1658
@lbnascimento we checked and it dosn't resolve problem. You can easly reproduce it with Lite.Studio. When opened with some file (as your user - admin), application like IIS Website cannot open database (diffrent user). It does work with console app as it would run as your user - admin also.

I've change code and make it work even for production server with IIS + Windows service + Lite.Studio:

[co

[2020-04-28 09:15] prafinski commented on #1658
Maybe you can implement option to set MutexSecurity for users who want to do it? as an **EngineSettings.MutexSecurity** ?

[2020-04-28 09:17] DanTwomey commented on #1656
@lbnascimento

I seem to still be getting System IO Exceptions with the latest Master, If the WIndows Service is running and accessing the database first and then the WPF app launches and attempts to use the database I get a System IO Exception.

If I launch the WPF app first, then start the service, I don't get any exceptions and I can continue to close and re-launch the WPF app with no issues.

[2020-04-28 09:27] DanTwomey commented on #1656
Some more info that could be useful:

If I run the WPF App as Administrator (Right click -> Run As Administrator) there are no exceptions from the WPF App, without elevation, I get the exceptions straight away.

[2020-04-28 11:48] nathanjeynes commented on #1658
This is similar to another issue #1656 and fixed our issue.

Using @prafinski solution we wrapped the following code to only implement on NETFRAMEWORK

[code]

You also need

[code]

Can this potentially be considered and added to the master?

[2020-04-28 12:47] jonlipsky commented on #1659
That worked great.  Thanks!

[2020-04-28 12:47] #1659 closed

[2020-04-28 13:33] lbnascimento commented on #1658
I committed @nathanjeynes's suggestion to the master. I believe it should work now.

[2020-04-28 13:33] lbnascimento commented on #1656
@DanTwomey Could you test with the latest master? I made some changes, I believe it is working now.

[2020-04-29 09:14] davynys opened #1660 "[BUG] No backwards compatibility - updating from 4.1.4 to 5.0.7 - complete breakdown"
**5.0.7**
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**

**Describe the bug**
A very standard sample project (the simplest ToDo-list) works perfectly using 4.1.4, as soon as I update to 5.0.7 the project doesn't build (issues with ICollection, lambda expressions, ...) and once those are corrected (or removed from the code), the code doesn't execute. Meaning it can no

[2020-04-29 09:29] davynys commented on #1660
I managed to resolve some issues now:
- flag Upgrade = true in connection string
- use ICollection instead

[2020-04-29 09:29] #1660 closed

[2020-04-29 10:39] DanTwomey commented on #1656
@lbnascimento

The changes seem to have fixed the issue with the Mutex being used by both applications, both are now able to read and write to the database, however we are now randomly getting this exception:

[code]

Once this exception happens in the service, the WPF app will infinitely wait on the first collection.FindOne() and never continue until the service has been restarted.

Unfortunately

[2020-04-29 16:06] lbnascimento commented on #1656
@DanTwomey I made a commit that should fix the AbandonedMutexException problem, try it and see if it works for you. I'm going to close this issue, since the original issue was solved. If the problem persists if you have another problem, please open another issue.

[2020-04-29 16:06] #1656 closed

[2020-04-30 02:48] cekaynet opened #1661 "CheckName IsWord() when upgrading from v4 to v5"
.NET 4.7, LiteDB v5

I have a v4 DB and when upgrading to v5 I get the exception InvalidCollectionName "Use only [a-Z$_]" in

        public static void CheckName(string name, HeaderPage header)
        {
            if (Encoding.UTF8.GetByteCount(name) > header.GetAvaiableCollectionSpace()) throw LiteException.InvalidCollectionName(name, "There is no space in header this collection name");

[2020-04-30 14:35] bluekuen opened #1662 "[QUESTION] Migration Problem - finding invalid cast"
Hello,

i have a problem with migrating to a newer version.
I added a few fields to my data model and now get an InvalidCastException:

`
04-30 16:01:38.240 F/egg.mybusinessapp( 1851): runtime.cc:638] JNI DETECTED ERROR IN APPLICATION: JNI NewString called with pending exception android.runtime.JavaProxyThrowable: System.InvalidCastException: Specified cast is not valid.
04-30 16:01:38.240 F/egg.m

[2020-04-30 14:39] lbnascimento commented on #1662
@bluekuen Could you provide your data class?

[2020-04-30 14:47] bluekuen commented on #1662
yes, here it is:

` public class BleDevice : Device
    {
        #region Characteristics
        public static Guid SERVICE_ID = new Guid("0783b03e-8535-b5a0-7140-a304d2495cb7");

        public static Guid CHARACTERISTIC_NOTIFY_ID = new Guid("0783b03e-8535-b5a0-7140-a304d2495cb8");

        public static Guid CHARACTERISTIC_WRITE_ID = new Guid("0783b03e-8535-b5a0-7140-a304d2495cba");

        pu

[2020-04-30 15:11] lbnascimento commented on #1662
@bluekuen Just looking at it, I don't see anything particularly wrong.
You mentioned you recently added some fields to the model, what are those fields?

I want to run an example that uses your class, but for that I'll need the base class and all other classes used (you can remove methods if you want, leaving only attributes and properties).

[2020-04-30 15:18] bluekuen commented on #1662
I'm sorry i just got problems with my chef as i'm not allowed to publish that code.
If there would be a method to get the exact property which fails to cast, that would be great.
I just checked which properties are new and it were these here:

 public byte[] StatisticFileData { get; set; }
        public string[] MetaDataStatisticFile { get; set; }
        public byte[] StatisticDeviceData { get;

[2020-04-30 15:25] bluekuen commented on #1662
Is it possible to remove a custom type registration? I just need for the migration and then want to go back to the standard.

[2020-04-30 15:30] lbnascimento commented on #1662
@bluekuen I would suggest including the LiteDB source code in your project and adding a break point to the `DeserializeObject` method in `BsonMapper.Serialize.cs`.

Regarding custom serialization, it is not currently possible to remove it once added. What are you trying to accomplish?

[2020-04-30 15:44] bluekuen commented on #1662
I try to find the property which can't be deserialized with a custom deserializer.

[2020-04-30 15:46] bluekuen commented on #1662
I will try including the source code, thanks for the help. I will try on Monday again! Thanks again for the help!

[2020-05-01 08:26] CristianT opened #1663 "[QUESTION] Performance analysis vs SQLite"
Hi,

I'm trying to decide which local, file based data base to use in my application and I wanted to have some performance metrics?

Is there any article regarding that?

My application is primarily going to insert data and I will retrieve the data later and whitout time constrains, this is why I wrote a very simple metric comparison using prometheus and grafana and the results are a bit suspiciou

[2020-05-01 14:00] HankG commented on #1663
Is the SaveChanges in the for loop the same as the behavior in LiteDB or is it on close that the final LiteDB writes are happening?

[2020-05-01 14:16] DanTwomey opened #1664 "[QUESTION] Upgrade v4 to v5 Issue"
After using the latest master to build LiteDB for the issues that were fixed in the last commit we have come across a big problem. (This would also appear to happen with the latest stable NuGet release)

We have an upgrade section to take our app's previous v4 database to v5 by calling:

[code]

This runs successfully and the application restarts, however from this point forward, access to the dat

[2020-05-01 14:35] CristianT commented on #1663
It is a good question but I also monitor the file size and it grows linearly, and the program memory doesn't increase, so my assumption is that the data is written in the SaveChanges

[2020-05-01 14:44] mikhail-khalizev commented on #122
Unfortunately, this solution is not very convenient in practice. In particular, now I have a need to save in DB json which I receive from the server as a string. And now, unexpectedly, I began to get a `System.OverflowException`.

It would be much better if the already built-in `JsonSerializer` could automatically use `int64` if the value does not fit in `int32`. And `double` if the value does not

[2020-05-01 14:53] HankG commented on #1663
I will admit that I've found SQLite very slow on individual commits so have to throw it into batch mode for stuff like that.

[2020-05-01 20:08] nabeelio commented on #1503
I'm getting it on this file, trying to read the settings table. Loading it in the GUI shows the error.

[settings.zip](https://github.com/mbdavid/LiteDB/files/4566116/settings.zip)

[2020-05-02 06:30] nant1086 opened #1665 "[BUG] drop collection and REBUILD corrupts the file"
**Version:** litedb-ce-v5.0.7 / LiteDB Studio 1.0.2.0 / Windows 10 / Net Core 3

**Describe the bug**
First of all, I think this project is amazing!, after some toying with it, I found a scenario which throws an error and I wasn't able to access the database anymore

**Steps to reproduce**
1.  Open the file with `ConnectionType.Shared`,
1.  Insert rows to 1 single collection, there is one single c

[2020-05-02 19:44] FrancescaY opened #1666 "Selection a random document from a collection"
Hello,
I am quite new to LiteDB, but my first impression is enthusiastic. I am trying to investigate its capabilities, which is not always easy, since the documentation is still somewhat sparse.
My first issue is as follows: I need to select random elements from a collection, how can I do it? The Query class does not seem to provide for such a possibility, is there any (in SQLite I would use ORDER

[2020-05-03 19:31] maxkatz6 opened #1667 "[SUGGESTION] Use new Source Generators for mapping and expression trees"
**Is your feature request related to a problem? Please describe.**
LiteDB heavily uses reflection to allow us to use developer friendly mapping and linq-to-litedb expressions conversion. But it adds performance impact and issues with AOT (iOS, Unity).

**Describe the solution you'd like**
For future versions should be considered Source Generators feature as opt-in way to generate code instead of r

[2020-05-04 09:19] Sn3b commented on #1546
Any updates? Having the same issue :(

[2020-05-04 11:16] qart2003 commented on #1616
Hello @lbnascimento, my website is dad from time to time and I can get error. But I can see what after error when I need to restart site. In App I created singleton ArticleService which use ArticleDataMapper and even Article.db has just the one collection. What do I wrong? Ram is enough on server, free space too. Just 1.5k users/day - not pop site. (5.05 version, not 5.07)

From Global
The process

[2020-05-04 13:03] ChrisCross67 opened #1668 "[BUG] Upgrade V4 to V5 does not keep the UserVersion from V4"
I was using a file build with the version 4.1.0 of LiteDB, when I upgrade the file to V5, the UserVersion does not keep the value of the previous version...

The UserVersion on V4 was 4 and on the V5 0.
I was expecting the UserVersion from the V4 would be the same for the V5 once upgraded.

Could you please fix it?

[2020-05-04 13:38] lbnascimento commented on #1664
@DanTwomey Have you tried running Checkpoint manually?

[2020-05-04 13:45] amirbenun opened #1669 "[BUG] Enumerable.Contains() cannot be combined with other filter"
**Version**
LiteDb 5.0.7
OSX Catalina 10.15.4
dotnet 3.1.102

**Describe the bug**
The first test, `FilterContains`, filters only by Enumerable.Contains condition and it works as expected.
Next, the test `FilterContainsAndInt` combines Enumerable.Contains with some other (true) condition. Now it fails to find relevant records.

**Code to Reproduce**
[code]

**Expected behavior**
Both tests should

[2020-05-04 16:55] lbnascimento commented on #1666
@FrancescaY There's no specific funcionality for querying a random document. You could do something like this:

[code]

[2020-05-04 18:00] lbnascimento commented on #1664
@DanTwomey I found the issue: the auto-checkpoint was disabled during upgrade and was not re-enabled, which meant that the changes in the log file would only be commited to the datafile when `Checkpoint` was manually called.

I made a commit that fixes this issue, and a release should be out soon, but in the meantime you can just run `db.Pragma("CHECKPOINT", 1000)` once for every affected datafile

[2020-05-04 18:00] #1664 closed

[2020-05-04 18:29] lbnascimento commented on #1668
@ChrisCross67 This issue is fixed in the latest master and its fix will be present in the next incremental release.

[2020-05-04 18:29] #1668 closed

[2020-05-04 18:36] lbnascimento commented on #1669
@amirbenun Could you test with the latest master? I believe it is fixed.

[2020-05-04 18:46] FrancescaY commented on #1666
Thanks a lot Leonardo, this is really easy. Best, Francesca.

[2020-05-04 19:11] #1666 closed

[2020-05-04 19:55] idaviddesmet commented on #1543
I experienced this same issue when passing the db path to the `LiteDatabase` ctor on an Azure Web App Service, for me the solution was to remove the zero-length db and perform a Find so it created the db again.

[2020-05-05 05:11] seertenedos commented on #1603
@henon I am thinking of coming back to litedb and using version v4.1.4 like you recommend. Since the doco is for the newer version now i was wondering for the older version did you need to do any locking yourself or the database managed it fine on its own. In my use case i have multiple threads reading and writing. about 2 times the readers to writers. Also if you needed to do manual locking did y

[2020-05-05 06:13] henon commented on #1603
@seertenedos: in my v4.1.4 use case I did no locking whatsoever! Now with v5.0.7 just to be sure I just locked everything, even the DB-connection. That removed all issues for me, no more corruptions since (on Azure, with local tests I never had any problems).

I suggest you write a test program that reads and writes the hell out of the DB from multiple threads. Then you can see the difference of n

[2020-05-05 13:44] lbnascimento commented on #1616
@qart2003 Are you by any chance accessing the same datafile from different processes? If that is the case, you must use Shared mode.

Are you using an Azure web app? We've had similar issues with Azure recently, but I haven't been able to reproduce them.

[2020-05-05 15:51] lbnascimento commented on #1665
@nant1086 This issue has been fixed in the master and its fix will be present in the next incremental release;

[2020-05-05 15:52] lbnascimento commented on #1665
@nant1086 This issue has been fixed in the master and its fix will be present in the next incremental release.

[2020-05-05 15:52] #1665 closed

[2020-05-05 15:54] #1658 closed

[2020-05-05 16:46] Thomas-6freedom opened #1670 "[QUESTION] How to properly work with JSONString"
Hello.

I have a JSON of a class and I want to save it into the database.
What I am currently doing

    var database = new new LiteDatabase("demo.db");
    string JSON = "{"foo":"bar", "fooInt" : 2}";
    BsonValue bson = JsonSerializer.Deserialize(JSON);
    MyClass myObj = BsonMapper.Global.Deserialize<MyClass>(bson);
    using (database)
    {
        var myClassCollection = database.GetCollec

[2020-05-05 17:24] lbnascimento commented on #1670
@Thomas-6freedom If you don't need to work with a class and just want to insert the JSON in a collection, you can use untyped collections:

[code]

[2020-05-05 18:07] qart2003 commented on #1616
@lbnascimento , I dont use azure or different processes and have the one server. In UI App (JApp.UI) I created singleton ArticleService (JApp.SL.dll) which use ArticleDataMapper (JApp.DAL.dll) and even Article.db has just the one collection. Add info: static protected LiteDB.LiteDatabase d_writer = null;
And in constructor:
        ConnectionString = CStr;
        if (d_writer == null)

[2020-05-05 18:31] lbnascimento commented on #1616
@qart2003 It's possible the server process is being closes without properly disposing the `LiteDatabase`. Try add a `using` block or, if not possible, adding a `finally` block that calls `LiteDatabase.Dispose()`.

Also, it's possible that some external process, like an anti-virus, is locking the file (one user reported that TortoiseGit was locking his datafile).

[2020-05-05 23:42] qart2003 commented on #1616
I cant do dispose, I handly copy site to server, server has not antivirus or any other external process, exclude probably I dont know about hosting provider processes which it runs on my vps.
I will try to find desision

[2020-05-06 07:43] amirbenun commented on #1669
Yes it was fixed on master, thank you.

[2020-05-06 07:43] #1669 closed

[2020-05-06 17:56] kfirp-bs opened #1671 "[QUESTION] Where I can see next version release timeline?"
There's a bug fix I'm waiting for, and I was wondering if there is an estimated timetable for next bug fixes version

Of course I'll be more than happy to assist in anyway to push the next release sooner :)

[2020-05-07 00:19] maxkatz6 commented on #1671
Agree. In past LiteDB's developers said, that bugfixes arrives with next planned release. And LiteDB doesn't have nightly builds.
So, if every release is planned, shouldn't information about date be available for library users?
Thanks.

[2020-05-07 01:26] humhei commented on #1541
A issue is the record type using `ObjectId` is that will not support `comparision`
![image](https://user-images.githubusercontent.com/25994449/81244356-c83f7800-9044-11ea-999e-eb790a273f09.png)

[2020-05-07 02:46] cekaynet commented on #1661
Thank you for your answer. Seems in Transact SQL names are not allowed to start with a digit, therefore it might be good practice to change the collection names anyway.

[2020-05-07 14:16] lbnascimento commented on #1541
@humhei This happens because `ObjectId` implements `IComparable<ObjectId>`, but not `IComparable` (an oversight, I believe). Try using `Guid` as Id, it should work.

[2020-05-07 22:19] lilasquared opened #1673 "[QUESTION] Nested Document DBRef"
Is it possible to define a DBRef on a nested property of a document?

ex:
[code]
I'm wanting the Ref property to be a DBRef.  When trying to do this with the fluent mapper:
[code]
I get an error that `Parameter Member "Sub.Ref" not found in type "Document"`.

[2020-05-08 01:41] lbnascimento commented on #1673
@lilasquared This is not supported. The Id field must always be in the "top-level" object - either explicitly or through inheritance.

Maybe I could help you further if you explained what you're trying to achieve.

[2020-05-08 02:21] lilasquared commented on #1673
I figured as much.  I am trying to persist a linked list / tree type structure which is very nested but also referencing entities that exist in a different collection.  Not sure how to persist it with LiteDB yet.  Might need to break out the components into other entities.

[2020-05-08 14:29] ssteiner opened #1674 "[QUESTION] POCO classes having a Guid Id"
Most of the data I'm dealing with has a Guid as unique identifier. When I'm trying to add an object that has a property called Id of type System.Guid to LiteDB I'm stopped by

Is there any way to get this done? I can't change the object model.

[2020-05-08 16:07] lbnascimento commented on #1674
@ssteiner Could you post more info about the object you're trying to store? `Guid` is supported natively by LiteDB, there shouldn't be any issues.

[2020-05-08 16:19] bennettn404 opened #1675 "[BUG] Dictionaries in entity models are serialized incorrectly, causing InvalidCastException on deserialization"
**Version**
LiteDB: 5.0.7
Microsoft.AspNetCore.App: 2.1.1
Microsoft.NETCore.App: 2.1

**Describe the bug**
Dictionaries always seem to be serialized as Dictionary<string, object>.
Dictionaries with generic types <Object1, Object2> are converted to <string, Object2> via Object1.ToString
When deserializing from database, InvalidCastException is thrown when converting from string to Object1.

**Code

[2020-05-08 16:50] ssteiner commented on #1674
Here's the object I'm trying to store

`public class PluginConfiguration
    {
        public Guid Id { get; set; }

        public string Name { get; set; }

        public SpecialConfiguration SpecialConfig { get; set; }

    }

    public class SpecialConfiguration
    {
        public string Value1 { get; set; }

        public string Value2 { get; set; }
    }`

[2020-05-08 17:04] lbnascimento commented on #1674
@ssteiner This class is perfectly fine, I just tested it and it works fine. Could you show me how you're opening the datafile, the collection and inserting the object?

[2020-05-08 17:09] ssteiner commented on #1674
@lbnascimento sure thing - here's how I'm trying to insert. Note I commented out the EnsureIndex because I first though maybe that's what's tripping it up, but it happens either way.

[code]

[2020-05-08 17:16] lbnascimento commented on #1675
@bennettn404 The LiteDB documentation states that "For `IDictionary<K, T>`, `K` key must be `String` or a simple type (convertible using `Convert.ToString(..)`)". So this is technically not an issue, but a documented limitation.

We may consider ways to improve this part of our serialization, however I'm not sure what could be done (if you have any ideas, please let us know).

[2020-05-08 17:22] lbnascimento commented on #1674
@ssteiner The error is happening because you're attributing the result of the `Insert` to an `int`. `Insert` returns the Id of the inserted document, which is a `Guid` in your case.

[2020-05-08 17:46] ssteiner commented on #1674
@lbnascimento : Ahh, I see. While I have you, do I need the EnsureIndex in this case or is it automatically indexed on Id?

[2020-05-08 17:52] lbnascimento commented on #1674
@ssteiner It is not needed, the Id field is always indexed.

[2020-05-08 18:00] lilasquared commented on #1673
I think i'm getting there by flattening out the structure a bit, closing this.

[2020-05-08 18:00] #1673 closed

[2020-05-08 21:08] seertenedos opened #1676 "[SUGGESTION] Online Backup"
**Is your feature request related to a problem? Please describe.**
I have been trying to backup a LiteDB database while it is running and realised it is not possible because of locking on the file. Is it possible to add a method to perform a backup even when the DB is online. I want this as i have a long running process and want to use a timer to backup my database every hour without shutting the

[2020-05-09 20:22] seertenedos opened #1677 "[BUG] Filter on multi fields only applies first filter"
**Version**
Windows 10 & LiteDB 5.0.7

**Describe the bug**
Using the query below where Status is an enum and LastModified is a date the results coming back from the collection are of the correct status but fail the date check part. The && means they should have to mach both conditions.
_mappings.Find(x => x.Status == status && x.LastModified <= maxLastModified).ToList();

BsonMapper.Global.EnumAs

[2020-05-10 00:26] #1674 closed

[2020-05-10 00:27] lbnascimento commented on #1677
@seertenedos Could you test with the latest master?

[2020-05-10 02:29] seertenedos commented on #1677
If it has a NuGet anywhere that I can pull then yea if not it is a bit
harder as I need to pull the whole source into my project, make it build in
my dotnet core project and change all my references to project references.
It is a pain.

On Sun, 10 May 2020, 10:27 am Leonardo Nascimento, <notifications@github.com>
wrote:

[2020-05-10 03:03] seertenedos commented on #1677
Can the build system be configured to auto build master and publish them as a pre-release so the builds are easy to access or even put them on a different nuget feed somewhere if that is not an option?

[2020-05-10 07:27] JoshuaC01 opened #1678 "[BUG]"
I'm using:
     .Net Core 3.1
     Windows
     LiteDB 5.07
     AspNet.WebApi.Cor 5.2.7

I get an error sometimes when querying a collection with some filters. Ive included the error message below.

**Code to Reproduce**
[code]

Heres the error message
```An item with the same key has already been added. Key: Boolean Contains[Int32](System.Collections.Generic.IEnumerable`1[System.Int32], Int32)``

[2020-05-10 12:08] kakone opened #1679 "[BUG] UserVersion is lost when migrating"
**Version**
5.0.7

**Describe the bug**
UserVersion is lost when we upgrade from version 4 to 5.

**Code to Reproduce**
After call LiteEngine.Upgrade method, the LiteDatabase.UserVersion go back to 0.

**Expected behavior**
UserVersion should be kept when migrating to version 5.

[2020-05-10 15:16] temnava commented on #1679
I think this is it: https://github.com/mbdavid/LiteDB/issues/1668

[2020-05-10 17:17] #1679 closed

[2020-05-11 13:48] lbnascimento commented on #1678
@JoshuaC01 Could you test with the latest master?

[2020-05-11 22:14] biapar commented on #1275
Also 5.0.7

[2020-05-12 09:24] mwkldeveloper opened #1680 "[QUESTION] Will the database often corrupted after bulk insert data"
db version 5.0.7
Raspberry pi raspbian
.net core 3.1

When i try insert a record it throw:

LiteDB.LiteException: Invalid Index on 203. Full zero: False. Page Type: Empty. Prev/Next: 4294967295/442. UniqueID: 4. ShareCounter: -1.

[2020-05-12 11:56] mikhail-khalizev opened #1681 "[BUG] Multiple call of GetPlan method throw exeption"
**Version**
5.0.7

**Describe the bug**
Multiple call of `GetPlan` method throw `LiteDB.LiteException : Maximum number of transactions reached`

**Code to Reproduce**
[code]

**Expected behavior**
No exception thrown.

[2020-05-12 13:26] GW-FUB commented on #1680
I got the same problem. I'm inserting some hundreds of datasets into the database and call DeleteAll() & Insert() when reloading.

The first time inserting into the empty database works great. Also reading. But when updating or sometimes also reading data the database gets corrupted. This happens in an unregular pattern (at least I haven't found any so far).

Here is one of my exceptions:

[code]

[2020-05-12 13:55] lbnascimento commented on #1681
@mikhail-khalizev This issue has been fixed in master and its fix will be present in the next incremental release.

[2020-05-12 13:55] #1681 closed

[2020-05-12 14:24] lbnascimento commented on #1275
@VasenevEA @Enviolet @bluekuen @biapar This error is probably happening because LiteDB is trying to open a zero-byte file (which is obviously not a valid datafile). We'll release a fix for this eventually, but in the meantime just make sure the file you're trying to open is a valid datafile (and not a zero-byte file).

[2020-05-12 14:36] 9ee1 opened #1682 "[BUG] LiteDB Does Not Properly Handle an AbandonedMutexException"
**Version**
LiteDB => 5.0.5
OS => Windows 10
.NET => .NET Core 3.1

**Describe the bug**
If a database is opened and the process crashes or is forcefully terminated (through no fault of LiteDB), the Mutax held by LiteDB is not properly released. The next time the process is launched, the database cannot be opened because LiteDB does not properly handle an `AbandonedMutexException`.

[code]

**Code

[2020-05-12 14:48] lbnascimento commented on #1682
@9ee1 Could you try with the latest master?

[2020-05-12 22:38] 9ee1 commented on #1682
Thanks for the quick response @lbnascimento. I tried latest master and it seems to have resolved the problem. Will there be a new Nuget package with this soon?

[2020-05-13 05:22] bluekuen commented on #1275
yeah that was the problem, i fixed it by deleting the file creation:

[code]
Many thanks for your help!
kind regards, bluekuen

[2020-05-13 13:30] temnava commented on #1546
Is there any progress regarding this issue or at least an idea what is causing the issue?
I'm getting this issue a lot and it is breaking the application. I will need to look for alternatives as soon as possible if this can't be fixed so if you can please tell me what is the situation.
Thank you

[2020-05-13 15:10] lbnascimento commented on #1546
@jokker23 @alonstar @mwlpeeters @nightroman @Sn3b @temnava
What happens is the following: `Mutex` keeps track of which thread holds the lock and only allows that specific thread to release the lock. Releasing the lock from a different thread would not be an issue in our case, since we only use `Mutex` for process synchronization - thread synchronization is done with other mecanisms. However, `Mute

[2020-05-13 15:29] temnava commented on #1546
Hello, than you very much for a fast response and this great library.
Can you provide the code somewhere for the solution with Semaphore implementation so that I can use it untill the 5.1 is released?
Btw is there any ETA for 5.1 and will this issues be possible in that new implementation?
Regards

[2020-05-13 16:07] lbnascimento commented on #1546
@temnava Here's a pastebin with the code that uses `Semaphore`: [https://pastebin.com/yAmzvrWY](https://pastebin.com/yAmzvrWY). Just replace the entire `SharedEngine.cs` with this code.

[2020-05-13 16:12] #1678 closed

[2020-05-13 16:19] lbnascimento commented on #1682
@9ee1 v5.0.8 is out.

[2020-05-13 16:19] #1682 closed

[2020-05-13 16:22] Sn3b commented on #1546
@lbnascimento
From the front end I had 2 calls that called different methods in a controller, 1 to add an item and 1 to update another one.
In the end I just merged my 2 calls into 1 and created a new method in my controller so that the operations didn't happen simutanously.

[2020-05-13 18:02] matelich opened #1683 "[QUESTION] How to store via object"
Using 5.0.8

Porting some XML serialization code for a class which holds essentially a dictionary of objects (though the objects are wrapped in a class). It currently stores a type for every value which isn't a string and uses that during deserialization. I wasn't clear if there was a built-in way to do this in LiteDB.

I'm currently writing a custom mapper for this and going to follow the same sc

[2020-05-13 18:19] lbnascimento commented on #1683
@matelich Could you provide more info on what you're trying to do? Some examples of your XML serialization code would be nice.

[2020-05-13 19:18] matelich commented on #1683
Naturally, I discovered BsonMapper.ToDocument and ToObject about 10 minutes after posting. I think they will do the job.

Thanks, @lbnascimento!

[2020-05-13 19:18] #1683 closed

[2020-05-13 20:17] mikhail-khalizev opened #1684 "[BUG] Comparison with index not processed correctly"
**Version**
5.0.8

**Describe the bug**
Hi.

Or I made some stupid mistake in my code and don’t understand it. Or, a comparison condition with an index is not processed correctly.

Take a look at the test below: it adds 10 elements, and then all the elements from the collection are queried in different ways. The first two tests are successful. And the last 2 for some reason fail.

**Code to Reprod

[2020-05-13 21:45] mikhail-khalizev opened #1685 "[BUG] GetPlan of empty collection throw exception"
**Version**
5.0.8

**Describe the bug**
`GetPlan` method of empty collection throw System.InvalidOperationException : Sequence contains no elements.

**Code to Reproduce**
[code]

**Expected behavior**
Exception is not thrown.

[2020-05-14 08:44] tbkvamme opened #1686 "[SUGGESTION] Support DateTimeOffset"
**Is your feature request related to a problem? Please describe.**
I need to store an event with a timestamp and when I later read it, I need to know two tings; the UTC time of the event and the offset (local time when the event occured). The local time will change, because this event occurs on a ship sailing internationally. The event could be arrival at a port.

**Describe the solution you'd lik

[2020-05-14 13:26] okarpov commented on #1428
using `new LiteDB.LiteDatabase("Filename=HDDSLite.db; Upgrade=true; Connection=shared")`
all the time still throws "The process cannot access the file '...' because it is being used by another process"

will try without the ` Upgrade=true;`

using on windows server 2016 under IIS + ASP.NET MVC 5 in asynchronouse and sync+async requests

[2020-05-14 13:54] lbnascimento commented on #1685
@mikhail-khalizev This issue has been fixed in master and its fix will be present in the next incremental release.

[2020-05-14 13:54] #1685 closed

[2020-05-14 15:25] lbnascimento commented on #1686
@tbkvamme You could use a custom serializer:

[code]

[2020-05-14 15:35] JensSchadron commented on #1686
@lbnascimento Using a custom serializer/deserializer breaks queries that compare against a specific datetimeoffset though.

[2020-05-14 16:01] lbnascimento commented on #1686
@lbnascimento I don't see why this would be the case. I just tested it and it works as intended.

[2020-05-14 16:01] lbnascimento commented on #1686
@JensSchadron I don't see why this would be the case. I just tested it and it works as intended.

[2020-05-14 16:35] lbnascimento commented on #1684
@mikhail-khalizev This issue has been fixed in master and its fix will be present in the next incremental release.

In the meantime, make sure the indexed field is always on the left part of the expression (e.g.: `x.Id >= firstId` instead of `firstId <= x.Id)`.

[2020-05-14 16:35] #1684 closed

[2020-05-14 17:26] JensSchadron commented on #1686
I don't know the exact case in which it occuered (and my statement was based on the old v4 version), but it's quite possible that this isn't the case anymore on v5.

[2020-05-15 05:05] tbkvamme commented on #1686
@lbnascimento Thank you, I've tested it and it works as expected, also in regards to query/sort on the DateTimeOffset field as @JensSchadron was worried about.

With that in place, if I want to get the benefit of indexes on DateTimeOffset fields, I think I would have to index on the BsonDocument field name (DateTimeTicks), and then do my queries/sorting on that?

[2020-05-15 08:03] 9ee1 commented on #1682
Thanks a lot @lbnascimento.

[2020-05-15 14:06] lbnascimento commented on #1686
@tbkvamme I'd like to propose this slightly modified code:

[code]

By using the field names "DateTime" and "Offset", you can create and use indexes with Linq expressions (using "DateTimeTicks" and "OffsetTicks", you would only be able to make queries that use the index by using BsonExpressions).

The only caveat is that this new code uses the native `DateTime` serialization, which loses some prec

[2020-05-15 15:15] tingyus995 opened #1687 "[QUESTION] Weird behavior when performing multiple upserts in a for loop"
[code]

I don't understand the reason why I need to add ``Thread.Sleep(10)`` or ``MessageBox.Show()`` for it to properly remove all workTime in each employees, considering ``Upsert()`` is a synchronous function and will only return when the database is updated.

If there's no ``Thread.Sleep(10);``, it sometimes only clear part of workTime in each employees, and rarely clear all workTime in each em

[2020-05-15 17:23] lbnascimento commented on #1687
@tingyus995 I ran some tests and could not reproduce the issue. Could you provide more info (like LiteDB version, platform/framework and OS) and the datafile you're using?

[2020-05-15 21:54] mahermali opened #1688 "Memory Leak Problem?"
**Version**
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**
LiteDB Version: 5.0.8
OS: 	Ubuntu 18.04.4 LTS and It happened on Windows Server 2012

**Describe the bug**
I use LiteDB as a cache mechanism in batch processing job.
We run the service as cronjob in openshift.
After doing the update we realized the service started to crash and the performance is degrading.
I s

[2020-05-16 01:56] mahermali commented on #1688
To add more information, I believe there is a static dictionary in LiteDB source code:

` private static ConcurrentDictionary<string, BsonExpressionScalarDelegate> _cacheScalar = new ConcurrentDictionary<string, BsonExpressionScalarDelegate>();`

This dictionary is used to cache the compiled BsonExpression:
[code]

As a speculation, my code above is calling this internal function, and it makes sen

[2020-05-16 02:43] tingyus995 commented on #1687
After some more testing and reading documentation, I found that I forgot to call ``LiteDatabase.Dispose()`` throughout my app.

Thus, the changes aren't flushed to the disk after multiple upserts (operations).

However, if there's only one operation (e.g. one upsert, one insert) the changes seem to be immediately written to the disk. That's the reason why I ignore ``LiteDatabase.Dispose()`` until

[2020-05-16 02:44] #1687 closed

[2020-05-16 03:12] mahermali commented on #1688
In case someone is looking for the same issue:
I had to change the Queries to use Lambda expressions, so instead of:

` var materials = storageService.Materials.Find(Query.EQ("RecordId", RecordId)).ToList();`

I've used
` var materials = storageService.Materials.Find(i=>i.RecordId==RecordId).ToList();`

Which solves the issue of memory leak.

[2020-05-16 03:13] #1688 closed

[2020-05-16 21:42] sanjeevbaral opened #1689 "Iterating over query result"
Hi,

I am executing SQL and iterating over result set with data reader. I am finding that if SQL returns more than 45,000 matches the loop still stops at 45,000. Is there a limit to how many results can be returned? Can I increase the limit?

                   IBsonDataReader rdr = db.Execute(sql);
                    int i = 0;

                    while (rdr.Read())
                    {

[2020-05-16 22:39] enghch opened #1690 "[BUG] UWP Release Mode calling EnsureIndex throws"
**Version**
Which LiteDB version/OS/.NET framework version are you using. **(REQUIRED)**
LiteDB 5.0.7 and 5.0.8 / Windows 10 Version 10.0.18363 Build 18363 / .NET Core UWP
UWP x86 Release mode

**Describe the bug**
Creating and saving to the LiteDB database works great in my app when compiled for x86 Debug mode. But when I change it to a Release build I get this error when call EnsureIndex:

[code

[2020-05-16 22:48] sanjeevbaral commented on #1689
Never mind! The database had gotten somehow corrupted. I dropped and re-built collection and now the count looks good. Not sure what caused it to get corrupted.

[2020-05-17 09:34] mikhail-khalizev opened #1691 "[BUG] Auto id produce duplicate value"
**Version**
5.0.8

**Describe the bug**
Just look to code below - when I open db second time and delete last item in collection, id of newly added item became last deleted item id.

**Code to Reproduce**
[code]

**Expected behavior**
I expected that id of newly added item is absolute new (never used any time before).

I.e. `Id` of `m1` and `m2` should be differs.

[2020-05-18 07:49] tbkvamme commented on #1686
Thanks for taking your time to help me out 😄

I tried your modified code with this program:

[code]

The commented lines are there, because I'm getting an exception on deserialization.

I can see that the data inputted to the database is this:

![image](https://user-images.githubusercontent.com/404164/82185885-3825ec00-98ea-11ea-8fe2-89540c857235.png)

I guess, this is because I'm on UTC +2 locall

[2020-05-18 14:01] lbnascimento commented on #1691
@mikhail-khalizev When Using `Int32` or `Int64` as auto-id, LiteDB will always use the next available value. If you really need for your objects to have an unique id, consider using `Guid` or `ObjectId` as id.

[2020-05-18 14:28] lbnascimento commented on #1690
@enghch Could you provide the datafile you're using?

[2020-05-18 14:44] enghch commented on #1690
Sure! Here it is zipped up. The log file is zero bytes.

[movie.lite-log.zip](https://github.com/mbdavid/LiteDB/files/4644791/movie.lite-log.zip)

[2020-05-18 15:52] dxmann commented on #1042
Same problem: I use the database encapsulated in a class: an ObservableCollection exposes data.

[code]
[code]

The error appairs when:

1. I open the app: this class is created in the xamarin forms app constructor
2. I press the back button on Android and my app goes in background
3. I recall my app from the background selecting it from recent apps: when a new LiteDatabase instance is created I h

[2020-05-18 16:01] lbnascimento commented on #1690
@enghch I could not reproduce the issue with a Windows .NET Core app (and I don't have the UWP modules installed currently), but I suspect it has something to do with that zero-byte log file. Try deleting it and see what happens - or even better, create a new instance of `LiteDatabase` with `using`.

[2020-05-18 16:09] mikhail-khalizev commented on #1691
Okay

[2020-05-18 16:09] #1691 closed

[2020-05-18 17:03] lbnascimento commented on #1042
@dxmann Try making some code that disposes the database when your app goes to the background and opens it again when it comes back to foreground (I believe you can do it by overriding `OnSleep` and `OnResume`).

[2020-05-18 23:54] enghch commented on #1690
@lbnascimento I tried deleting that zero-byte log file but the error still occurs.

I also tried modifying the code to use a using statement like this:

[code]

But still the same error happens.

[2020-05-19 07:38] dxmann commented on #1042
I tried opening the db in OnStart and OnResume and closing it in OnSleep. It works but it not so elegant compared to the first implementation: I have to instantiate the db and the observable collection directly in the forms app.

Ciao :)

[2020-05-19 13:37] lbnascimento commented on #1690
@enghch Does the error happen when you try to create an index on a collection that doesn't exist yet? If you remove that `EnsureIndex`, does everything else work correctly?

[2020-05-20 13:09] pankaj-nikam opened #1692 "[SUGGESTION] I wish to have a feature for handling LiteDb with Isolated Storage"
**Is your feature request related to a problem? Please describe.**
I wish to store some information where I believe `IsolatedStorage` is the best candidate. The dotnet API does not provide a full path for the `IsolatedStorage` file where we can pass it to LiteDb to store the database (with reflection its possible, however it is a hack and not a perfect solution I believe).

**Describe the solution

[2020-05-20 14:21] lbnascimento commented on #1689
@sanjeevbaral I'm going to close this issue, if you get corruption again please open another issue.

[2020-05-20 14:21] #1689 closed

[2020-05-20 14:22] lbnascimento commented on #1680
@mwkldeveloper @GW-FUB Could you provide your datafiles?

[2020-05-20 14:22] #1677 closed

[2020-05-20 14:22] #1675 closed

[2020-05-20 14:24] #1661 closed

[2020-05-20 14:45] #1670 closed

[2020-05-20 14:46] #1649 closed

[2020-05-20 14:48] GW-FUB commented on #1680
@lbnascimento Unfortunately not. I made a downgrade to v4 and all of the old files are gone now.

[2020-05-21 10:00] quicksln commented on #1692
Hi

I think it is already possible with ```IsolatedStorageFileStream``` and ```LiteDatabase``` constructor overload type ```ILiteEngine``` implementation.

I was able to ready LiteDB instance from isolate storage and read / insert documents. Below I’m attaching sample code that I think can be enhanced for your needs.

[code]

Let me know if this is works for you.

Regards
Piotr

[2020-05-21 14:35] lbnascimento commented on #1692
@quicksln Your basic idea is good, but your solution lacks some things, like a log stream (if you don't have a `FileStream` as log stream, there will be data loss in case of a crash). Here's my proposed solution:

[code]

@pankaj-nikam

[2020-05-21 14:55] pankaj-nikam commented on #1692
Thank you @quicksln and @lbnascimento :)
The solutions do seem promising. I am wondering if it is good enough to be a feature itself in the package?
Users may find it helpful if it supports isolated storage out of the box.
What do you think?

[2020-05-21 15:36] quicksln commented on #1692
@lbnascimento good point with adding log file stream, @pankaj-nikam  hope you find this useful.

Defiantly it's good candidate for extension method inside individual project :)

Regards
Piotr

[2020-05-21 16:43] pankaj-nikam commented on #1692
Agree with you @quicksln. Its good to make an extension method.

[2020-05-21 20:50] matelich commented on #919
Thanks all for the approximate code, this seems to be working for me put all together.
[code]
I'd love to see some list of common mappings people have made.

[2020-05-22 21:44] Hidend opened #1693 "Question with an association"
LiteDB:
I'm creating Models and storing them on Database using this:
[code]
I can just store one ItemModel on a ShopModel, and a ShopModel can have many ItemModel, so I have a List of ItemModel on ShopModel
ShopModel Class:
[code]
StoreModel in Database (Table is called StoreModel):
<https://i.imgur.com/VlJkdpt.png>
ItemModel in Database (Table is called ItemModel):
<https://i.imgur.com/2y7QBlt.pn

[2020-05-22 22:33] zmira commented on #1693
when you are reading `StoreModel` from the database are you including the referenced `ItemModel`?
e.g.
[code]

[2020-05-22 23:18] Hidend commented on #1693
@zmira No, but I tried to do it with Include and it doesn't work too.

[code]

[2020-05-22 23:42] Hidend commented on #1693
It is because of what @zmira , thank you! Is there any way to just include all associations by default or do I have to specify each one of them in Include (In the case I had more than one association)

[2020-05-22 23:44] zmira commented on #1693
great! unfortunately, you have to specify each one of the includes.

[2020-05-23 00:09] enghch commented on #1690
If I remove the EnsureIndex, things work until I make the first write to the DB .Then it fails the same way.

Interestingly, if I create a brand new database then EnsureInex actually works. But then it fails on the first write with the same error. "'Invalid Collection on 0. Full zero: True. Page Type: Empty. Prev/Next: 0/0. UniqueID: 58. ShareCounter: -1. '"

[2020-05-23 04:26] okarpov commented on #1428
still throws exception but another one (was fine on V4).
configuration is the following:
- Windows Service uses the db file
- IIS ASP.NET MVC uses the same db file

[code]

[2020-05-23 13:40] idchlife opened #1694 "[QUESTION] how to use backed up file saved and downloaded from remote server? LiteDB sees backup as empty database"
Hello! Could you possibly tell me, what am I doing wrong?

I'm copying database file (not stopping database or something when doing it, but no background operations though) and sending it to the server. There I save stream to local file.

Then I download this backup file and replace current database file with it.
For some reason database appears to be empty. No record at all from backup file!

May

[2020-05-24 10:50] idchlife commented on #1694
Nvm.

Uisng in Xamarin.
People looking for solution to properly backup, here is recipe:

To make backup:
1) Stop the database. (dbInstance.Dispose() + dbInstance = null)
2) Copy file wherever you want.
3) Start the database again (just reinit like you are doing first time)

To restore from backup:
1) Stop the database
2) Replace current database file with backup file
3) Start the database again

D

[2020-05-24 10:50] #1694 closed

[2020-05-24 13:57] mikhail-khalizev opened #1695 "[BUG] Get items by ids from ICollection failed"
**Version**
5.0.8

**Describe the bug**
Get items by ids from ```ICollection``` throw exception:
`System.ArgumentOutOfRangeException : Specified argument was out of the range of valid values. (Parameter 'index')
`

**Code to Reproduce**
[code]

**Expected behavior**
No exception throw. Test passed.

**Screenshots/Stacktrace**
[code]

[2020-05-24 15:13] #1693 closed

[2020-05-25 00:41] undergroundwires commented on #1488
Thanks @mbdavid ! Smart way to solve it.

[2020-05-25 00:41] #1488 closed

[2020-05-25 13:32] lbnascimento commented on #1428
@okarpov Could you try with v5.0.8? There were changes to the mutex access.

[2020-05-25 14:48] lbnascimento commented on #1695
@mikhail-khalizev This issue has been fixed in the master and its fix will be present in the next incremental relaese.

[2020-05-25 14:48] #1695 closed

[2020-05-25 15:41] okarpov commented on #1428
seems fine

will give it a little bit more time to test

thx!

[2020-05-26 13:53] lbnascimento commented on #1692
@quicksln It's a possibility, but I'd have to think of a better way to integrate this feature in LiteDB. Maybe adding a log stream parameter in the constructor would be good enough (and it would also be very flexible).

[2020-05-27 02:57] Fungusware commented on #1295
"LiteDB.LiteException: 'Document size exceed 2037500 limit' in v5"

Is occurring in 5.0.8 Is there any way to open the DB once this limit is hit.

[2020-05-27 09:08] quicksln commented on #1692
@lbnascimento Agree that could be more helpful and complete solution. What I would like to avoid is to introduce new Ctor. Taking you suggestion I think good candidate for extension is :
[code]
to replace it with
[code]
@lbnascimento let me know what you think, I'll create PR to implement this.

[2020-05-27 12:20] MidasLamb commented on #1546
So if i got this correct, there is a problem with concurrent access when multiple threads do operations on the database, because the the mutex must be released by the thread which took the lock, and the lock is opened when the count is 1 and closed when it goes back to 0, meaning the "last" thread active closes it.

So imo the mutex is useless, as it doesn't make the application threadsafe. Curren

[2020-05-27 13:02] abrca opened #1696 "[QUESTION] EnsureIndex on empty collection"
Is it OK to call EnsureIndex on empty collection - at database creation time, to register index fields, or there must be at least one data entry in collection?

[2020-05-27 13:48] lbnascimento commented on #1295
@Fungusware I'm not sure how you're getting this error in v5.0.8, since the document size limit was increased from 2MB to 16MB in v5.0.5. Are you sure you're running v5.0.8?

[2020-05-27 14:02] lbnascimento commented on #1696
@abrca It is perfectly fine to call `EnsureIndex` for a possibly non-existent collection, it will be created if it doesn't exist.

[2020-05-27 14:03] lbnascimento commented on #1546
@MidasLamb `Mutex` is only used in the `SharedEngine`, for synchronization between processes. The `LiteEngine` uses lock statements for thread synchronization.

The `SharedEngine` will be reworked for future versions and will no longer use `Mutex`.

[2020-05-27 14:10] MidasLamb commented on #1546
@lbnascimento I noticed that when I was creating a PR. Do you have an ETA for this change? Currently we're just surrounding all the accesses with a lock statement to prevent the error from being thrown.

[2020-05-27 14:32] lbnascimento commented on #1692
@quicksln Yes, somethink like that would be fine. And, if possible, please make some tests for it, just to make sure everything is working as expected (you can use `TempStream`).

[2020-05-28 00:22] Fungusware commented on #1295
Fair call, the error my users were getting was the 2Mb limit, in my testing it was the 16Mb

The issue though is that we cannot upgrade to v5 as many of the existing v4 databases have these large documents in. Is 5.1 removing the limit?

[2020-05-28 12:52] abrca commented on #1696
Thank you

[2020-05-28 12:52] #1696 closed

[2020-05-28 13:24] lbnascimento commented on #1295
@Fungusware The limit was raised to 16MB in v5.0.5 and is currently on par with other document-oriented databases like MongoDB. Using documents even larger than that would severely hurt performance.

[2020-05-29 06:56] rhaluf opened #1697 "[BUG] Collections by type do not account for interface inheritance"
**Version**
.net core 3.1 / LiteDb 5.08

**Describe the bug**
When creating a collection for type "ISomeSpecificType" that inherits from "IEntity" the properties of IEntity are not considered for ID auto increment.

**Code to Reproduce**
[code]

TEntity here is IRollVariable

[code]

Auto increment with the insert is not working. It is however working if I define the Id Property in IRollVariable

[2020-05-29 07:39] rhaluf commented on #1697
Ah never mind, I read up about interface inheritance and your behavior is correct. If I want the expected behavior I have to use the implementation and cannot use the interface.

[2020-05-29 07:39] #1697 closed

[2020-05-29 10:49] dxmann opened #1698 "[QUESTION] three-levels tree"
Hello!!
I'm working with data structured in three levels
[code]

__Question 1__: res will include all A and their children B... but how to include C too (they are contained in B.Cs) ?
__Question 2__: if I use a configuration like Nodes and Archs, stored in 2 different collections, is it possible to investigate the graph in depth for n levels?

Thank you very much in advice ;)
bye!!!

[2020-05-29 11:04] dxmann commented on #1698
Again:
if I add to the code

[code]

b and c are both empty... Why?

[2020-05-29 14:11] lbnascimento commented on #1698
@dxmann `DbRef` and `Include` are used to define and resolve references, but they do not automatically insert referenced documents in their collections, you must do it manually.

Also, given that you used the collection name parameter in the `DbRef` call, you should also use it in the `GetCollection` call.

[2020-05-29 14:28] dxmann commented on #1698
So if I have my three levels tree should I insert manually any item for any level?

[2020-05-29 15:18] lbnascimento commented on #1698
@dxmann Yes, you must manually insert all referenced documents.

It is possible to navigate through the documents, but you'll need to use [Bson Expressions](http://www.litedb.org/docs/expressions/). Here's an example:

[code]

[2020-05-29 15:33] dxmann commented on #1698
Ok, Thank you very much!! :)

[2020-05-29 15:33] #1698 closed

[2020-05-29 16:45] ordinaryorange opened #1699 "[QUESTION] Confusion with BsonCtorAttribute"
The [documentation](https://www.litedb.org/docs/object-mapping/) in respect of the `BsonCtorAttribute` says..

So I was expecting the following code to work
[code]

But `doc` is always `null`
I can get simple types to work, just not the former.
What am I missing ?

[2020-05-29 17:27] lbnascimento commented on #1699
@ordinaryorange This feature works by trying to match fields in the document with parameters in the constructor annotated by `BsonCtor`. For example, if your constructor has the signature `public Foo(int id, string name)` and your document has fields `_id` and `Name`, the value of these fields will be matched with the corresponding parameter in the constructor call (name matching is case-insensiti

[2020-05-30 01:55] ordinaryorange commented on #1699
So the documentation appears to be incorrect then ?
In the quoted sentence I provided, _"BsonDocument and BsonArray"_ should be deleted therefore ?

[2020-05-30 09:45] Chris7918 opened #1700 "[BUG] - CryptographicException creating DB with password"
**Version**
LiteDB v5.08 - .NET Framework v4.5

**Describe the bug**
When creating a DB with password, a CryptographicException occurs. If no password is supplied DB is created and data saved.

**Code to Reproduce**
[code]

**Expected behavior**
Save collection occurs and DB is encrypted with password.

**Screenshots/Stacktrace**
Test Name:	SaveData
Test FullName:	Component.OfflineData.Tests.LiteD

[2020-05-30 17:00] mikhail-khalizev opened #1701 "[BUG] System.IndexOutOfRangeException in GetCollectionIndexesSlots()"
**Version**
5.0.8

**Describe the bug**
I started getting the `IndexOutOfRangeException` exception when updating a document in the database.

**Code to Reproduce**
[code]

[app.db.zip](https://github.com/mbdavid/LiteDB/files/4706085/app.db.zip)

**Expected behavior**
No exception throw.

[2020-05-31 12:45] amur0501 opened #1702 "[QUESTION] Issue with Litedb.BSONID"
I'm getting an error saying: LiteDB.LiteException: 'It's not possible to use AutoId=Int32 because 'Messages' collection contains not only numbers in _id index'

My Messages collection:
namespace messages.Repository
{
    public class Message
    {
        [LiteDB.BsonId]
        public int ChannelID { get; set; }

        public int User { get; set; }

        public DateTime Date { get; set; }

[2020-05-31 13:26] #1702 closed

[2020-06-01 13:58] lbnascimento commented on #1699
@ordinaryorange You can use `BsonDocument` and `BsonArray` to populate lists and sub-objects. Example:

[code]

[2020-06-01 14:20] lbnascimento commented on #1700
@Chris7918 I'm trying to work out exactly why this is happening, but a simple workaround would be to remove the `InitialSize` option.

[2020-06-01 15:36] Chris7918 commented on #1700
Hi,

I've stripped my connection string back to just filename and password, and I'm still getting the same exception, but now in a different place.

private ConnectionString SetConnectionString()
        {
            try
            {
                this.connString = new ConnectionString();
                this.connString.Filename = $"{this.dbPath}{this.dbName}.db";
                this.connStri

[2020-06-01 15:47] lbnascimento commented on #1700
@Chris7918 Could you send me your datafile?

[2020-06-01 18:16] lbnascimento commented on #1701
@mikhail-khalizev This issue has been fixed in master and its fix will be present in the next incremental release.

[2020-06-01 18:16] #1701 closed

[2020-06-01 20:59] Scantraxx123 opened #1704 "[QUESTION] Multiple Includes of generic classes"
Hi!
I have a implemenation for a generic base class for my objects with LiteDB functions. It works wonderful but my problem is that I need to include DBRefs.
The problem there is that I only know the fields while runtime in the LiteDB functions like Find() or FindAll(). So my question is, if its possible to include multiple fields in one include statement?

I found only this in the docs
![image](h

[2020-06-02 05:38] TigerHix commented on #1643
This should be in the documentation. Suffered a lot of strange data loss and just knew this was the cause.

[2020-06-02 06:41] mefateah commented on #1637
Looks like I had the same issue with FindAll method

[2020-06-02 09:51] Chris7918 commented on #1700
Here's the db file.

Thanks,
Chris

[test.zip](https://github.com/mbdavid/LiteDB/files/4716289/test.zip)

[2020-06-02 13:59] lbnascimento commented on #1704
@Scantraxx123 In v5, due to changes in how includes are resolved, they must be added individually, like `col = col.Include("$.Customer").Include("$.Products[*]")`.

[2020-06-02 14:16] lbnascimento commented on #1700
@Chris7918 I need to know the password too

[2020-06-02 14:34] Scantraxx123 commented on #1704
Should it be possible to include a list of strings in a loop on a collection? I testet it yesterday and it didn't gave me a good result. But I have some ideas to test something later.

[2020-06-02 14:40] lbnascimento commented on #1704
@Scantraxx123 Yes, it should work:
[code]
Please note that every `Include` call returns a new instance of `ILiteCollection<T>`.

[2020-06-02 14:43] Chris7918 commented on #1700
Password is "7XUK#KLM3JHU(DX<7XUK#KLM3JHU(DX<"

[2020-06-02 14:56] OneCyrus commented on #1627
litedb v4 is not thread safe. i made a PR to fix this issue but it's not merged yet. @lbnascimento any chance to get this released?

https://github.com/mbdavid/LiteDB/pull/1609

[2020-06-02 18:06] lbnascimento commented on #1700
@Chris7918 You're trying to read the encrypted file you created with `InitialSize`, which is now an invalid file due to its size. Just create another file without the `InitialSize` option and it should work out fine. A validation was commited to our master to prevent `InitialSize` from being used with encrypted datafiles.

[2020-06-02 20:42] #1704 closed

[2020-06-03 07:41] Chris7918 commented on #1700
That worked, thanks for the support.

[2020-06-03 07:41] #1700 closed

[2020-06-04 00:49] jjxtra commented on #1680
Do you get this error on Ubuntu or Windows?

[2020-06-04 04:01] mwkldeveloper commented on #1680
After upgrade LiteDb to v5.0.8, the problem seems fixed.

[2020-06-04 04:30] mwkldeveloper opened #1705 "[QUESTION] How to store/retrieve datetime with DateTimeKind.Unspecified (without LOCAL <-> UTC convert) only?"
LiteDb version : v5.0.8

There is an offset between Insert and Retrieve .
All DateTime values converts to UTC before store and converts back to local on retrieve.

In LiteDb Studio:
![image](https://user-images.githubusercontent.com/8042599/83714490-80b90580-a65d-11ea-88a0-41cb7e6b3812.png)

![image](https://user-images.githubusercontent.com/8042599/83714475-7860ca80-a65d-11ea-9667-b783b1682fa0.pn

[2020-06-04 13:57] lbnascimento commented on #1705
@mwkldeveloper If you set the `UTC_DATE` pragma in your datafile to `true` (`db.Pragma("UTC_DATE", true);`), all dates will be retrieved with `DateTimeKind.Utc` – so the retrieved value might not be exactly the same than the value that was stored, but at least it'll be deserialized the same in every time zone. If you really need to retrieve dates exactly as they were stored, you should use a custo

[2020-06-04 16:02] mikhail-khalizev opened #1706 "[SUGGESTION] Improve query optimization"
**Version**
5.0.8

**Describe the bug**
It's not really bug. But suggestion for query optimization.
In code below I start 2 equivalent queries. In first condition is `Where(x => x.Id >= low && x.Id <= high)`. In second condition flips: `Where(x => x.Id <= high && x.Id >= low)`.

But time of execution those queries differ in 2 times!

**Code to Reproduce**
[code]

**Expected behavior**
I expect tha

[2020-06-04 17:22] lbnascimento commented on #1706
@mikhail-khalizev In LiteDB, only one index can be used per query. All other filter expressions are evaluated after the results are retrieved, even if the expression uses indexes fields. If there are multiple clauses eligible for indexed search, the query execution pipeline tries to select the one that will give the best performance. In this scenario, it probably evaluates both clauses equally, an

[2020-06-04 17:35] eschlot opened #1707 "[BUG] "Access to the path 'xxx.Mutex' is denied ." is still present."
**Version**
LiteDB 5.0.8 on Windows 10 .NETCore.UniversalWindowsPlatfrom v6.2.10

**Describe the bug**
Connection String "Connection=Shared" creates an

System.UnauthorizedAccessException: "Access to the path 'Global\B6D440A8AE428F3AA71B8602C73A7D4BE8C92A7A.Mutex' is denied."

The same code runs without problems in case of direct mode. But this causes problem with my design in other places.

**Cod

[2020-06-04 18:00] lbnascimento commented on #1707
@eschlot The way we resolved this issue requires `MutexAccessRule`, which is only available in our .NET Framework target (even though .NET Core supports it, we don't target it directly, we target .NET Standard, which does not support it). I'm not sure what could be done, other than completely reworking the Shared mode (which is being done already).

[2020-06-04 18:55] mikhail-khalizev commented on #1706
Wow. Then I suggest make optimization - if LiteDb meets `Where(x => x.Id >= low && x.Id <= high)` it replace it to `between`.

[2020-06-04 19:38] mikhail-khalizev commented on #1706
Also it possible optimize

`Where(x => x.Id > low && x.Id < high)`

 as

 (`$._id between @0 and @1` and `$._id > low` and `$._id < high`).

[2020-06-04 20:30] eschlot commented on #1707
Hello Leonardo,

thank You for the information.
I would suggest to document that the current shared mode is not functional in .NETCore. That could help people to identify the problem early.
Any idea when the rework of the shared mode will be available?

[2020-06-04 20:42] eschlot opened #1708 "[BUG] Query API is inconsistent for Query.All()"
**Version**
LiteDB 5.0.8

**Describe the bug**
The Query - API returns BsonExpression for nearly all operations. Only for the Query.All() method the result type is Query.

This breaks any general approach in user applications.

**Expected behavior**
Query.All() should return type BsonExpression.

**Additional context**
In a GUI editor for Queries the Query API is the key class. To have a consisten

[2020-06-05 07:38] mwkldeveloper commented on #1705
@lbnascimento Thanks for your suggestion.
In my case, actually need store as DateTimeKind.Unspecified,
So my partner and i ( one in Tokyo and one in HK )can see the same value in LiteDb Studio/ C# program , also can do Query have same result

From LiteDb Studio (Text)
![image](https://user-images.githubusercontent.com/8042599/83847076-32c7fe80-a73e-11ea-8b17-ac848be9c146.png)
![image](https://user

[2020-06-05 18:32] mikhail-khalizev opened #1709 "[BUG] 'System.IO.IOException: Sharing violation on path' on Android"
**Version**
5.0.8

**Describe the bug**
When application runs on Android (Xamarin), exception `System.IO.IOException: Sharing violation on path` always occurs in `LiteDatabase` constructor.

**Code to Reproduce**
[code]

**Expected behavior**
No exceptions.

**Screenshots/Stacktrace**
[code]

**Additional context**
I did a little investigation and maybe found a reason. The exception is thrown when

[2020-06-05 18:54] mikhail-khalizev commented on #1709
Video of exception from google play: https://yadi.sk/d/TXI4ZGcOCVu_nA

[2020-06-05 22:26] mikhail-khalizev commented on #1709
Sorry, seems it's my error. For some reason I initialize Database twice.

[2020-06-05 22:26] #1709 closed

[2020-06-06 16:44] jez9999 commented on #1275
"Fix this eventually"?  I just came across this problem and it seems like it should be a relatively simply fix to check for a zero byte file and act accordingly.  It's something people are quite likely to do when creating a new DB so I think you guys should fix it ASAP.

[2020-06-06 17:11] jez9999 opened #1710 "[QUESTION] Getting existing object's BSON ID?"
I can't seem to find any way to get the BSON ID of an existing object in a collection, if I didn't capture it at the time I called `.Insert()`.  Can I do this?  Being able to get existing object's BSON ID would seem to be pretty important given that the BSON ID is required in various places for things like `Upsert()`.

[2020-06-06 17:18] jez9999 commented on #1710
Found out how - use the non-generic `db.GetCollection("...")` and you can examing the BsonDocument along with its ID.

[2020-06-06 17:18] #1710 closed

[2020-06-07 04:34] a-a-k opened #1711 "[QUESTION] Is it possible to use LiteDB for Identity purposes?"
I mean using LiteDB instead of classic mechanism with relational DbContext. Any examples if exist?

[2020-06-07 13:51] Shad0w1990 commented on #1043
YOU can use Query<Entity>().where(x=>x.yourGuid==id)

[2020-06-07 16:28] jez9999 commented on #1686
I don't understand why DateTimeOffsets aren't simply stored as an ISO8601-formatted string that includes the offset, eg. 2020-06-07T15:21:25+02:00

Would be very straightforward to serialize/deserialize.

[2020-06-07 21:46] eschlot opened #1712 "[QUESTION] LiteDB usage from Parallel.ForEach causes LockRecursionException. How to handle?"
I am doing write accesses to one collection within a Parallel.ForEach loop. In some cases this causes LockRecursionExceptions.

At the code position in the LiteDB I see that the corresponding lock is configured in such a way that this behavior is expected:

    private readonly ReaderWriterLockSlim _transaction = new ReaderWriterLockSlim(LockRecursionPolicy.NoRecursion);

At the moment I work arou

[2020-06-07 22:11] tbkvamme commented on #1686
I think the issue is with querying and comparing time. Storing the utc ticks, it is easy. But it becomes harder when you need to parse the iso date string.
Maybe there's other reasons too, but thats the one on top of my mind :smile:

[2020-06-07 22:27] ruslanmogilevskiy opened #1713 "[QUESTION] Apply change scripts for new version of my app"
Hi,

_Preconditions_: full .NET 4.6+, asp.net webapi app.
Does anyone know a library or an existing code that will run a bunch of my sql scripts upon the application new version deploy (on-demand run) to migrate or update the existing collections\rows after application new version release?

My situation: an app is living and creating the collections and data inside of them. Then I release a new ve

[2020-06-08 07:46] loebi-ch commented on #1096
Same problem here with newest LiteDB version 5.0.8

[2020-06-08 10:14] frogcrush opened #1714 "[SUGGESTION] BsonDiscriminator and requesting instances of defined type"
**Is your feature request related to a problem? Please describe.**
Currently I'm trying to develop an application that uses abstract classes in its POCOs. For example, you would have an abstract class Animal, and the classes Dog and Cat would inherit from Animal.

Currently, I cannot find a way to do something like follows:

[code]

Allows storing items. However,

[code]
Does not work, as it retur

[2020-06-08 15:01] lbnascimento commented on #1705
@lbnascimento LiteDB internally uses BSON (a subset of it, actually), and the BSON specification states that datetime must be stored as the miliseconds since the Unix epoch, which means all dates are stored in UTC. This means that all local datetimes must be converted to UTC before storage, and they may be converted back to local time or returned as `DateTimeKind.Utc` upon retrieval.

This also me

[2020-06-08 15:04] lbnascimento commented on #1711
@a-a-k Sorry, I didn't understand your question. Could you explain it further?

[2020-06-08 15:28] lbnascimento commented on #1713
@ruslanmogilevskiy There is a `UserVersion` field in the LiteDB datafile header that can be used for this purpose. It is set to 0 when the datafile is created. You could do something like this at the beginning of your code:

[code]

[2020-06-08 15:37] lbnascimento commented on #1096
@loebi-ch Could you open a new issue describing your problem? Please include your datafile too, if possible.

[2020-06-08 15:49] lbnascimento commented on #1712
@eschlot I could not reproduce the issue. And I'm not sure why it's happening in the first place, given that LiteDB does not use recursive locks.

[2020-06-08 16:06] loebi-ch commented on #1096
@lbnascimento I write you here, because I think it's not reasonable to open a new issue since the title of the issue describes exactly my problem and the issue is still marked as "Open".

After restarting my application, I cannot read the Collection "Computer" anymore. It gives me the error "BSON type not supported".

Here is my corrupted [LiteDB file](http://www.slyweb.ch/files/letec-deploy.db).

[2020-06-08 16:18] captmomo commented on #1711
Something like this? https://github.com/fabian-blum/AspNetCore.Identity.LiteDB

[2020-06-08 16:22] quicksln commented on #1711
Hi @a-a-k and @lbnascimento
If your meant Microsoft AspNetCore Identity, then yes - it is possible.
Could you please check following project, I'm working on:

https://github.com/quicksln/LiteDB.Identity
https://www.nuget.org/packages/LiteDB.Identity/

There is also sample with base implementation with Default Identity UI.
In near future, I hope to post more advanced scenario for ASP.NET Core 3.1 I

[2020-06-08 18:10] lbnascimento commented on #1714
@frogcrush You should have no issues creating a collection of `Animal`s and inserting instances of `Cat` and `Dog` in it, LiteDB will deserialize the objects to their correct types. There is no specific functionality for filtering the objects by type, but you can easily do it with Linq after retrieval.

[2020-06-08 18:24] lbnascimento commented on #1686
@jez9999 This is definitely a possibility. I believe serializing the DateTime and the Offset as long would have better performance, but the string approach should work just the same.

[2020-06-08 21:04] eschlot commented on #1712
The problem seem to be (at least from my investigation) that Parallel.ForEach somehow manages to call more than one method of LiteDB from one thread. And due to the fact that LiteDB is not expecting this (what is clear from the type of lock that is used in the LiteDB code) the exception happens and gets up to the user code.

- maybe Windows is somehow using one thread at one point in time for more

[2020-06-08 21:20] ruslanmogilevskiy commented on #1713
@lbnascimento ,

Thanks, didn't know about it. But my first goal is to find an existing solution for this that covers my needs.

[2020-06-08 23:57] frogcrush commented on #1714
Would filtering objects by type with Linq not have a performance penalty though?

If so, would there be less penalty using an SQL statement to limit based on the _type column that is generated?

[2020-06-09 04:49] #1705 closed

[2020-06-09 13:41] lbnascimento commented on #1712
@eschlot I couldn't reproduce the issue so I can't test it, but I'm pretty sure it is safe to simply retry the operations that failed, due to write-ahead logging.

[2020-06-09 13:59] lbnascimento commented on #1714
@frogcrush Yes, it should be faster to filter over the `_type` field, however this field is not always present. It is only present when the type of a object being inserted is different from the type argument for the collection (which will always be the case in your example, given that `Animal` is an abstract class). And this consistency is only kept if the collection is always opened with a type a

[2020-06-09 17:00] a-a-k commented on #1711
@quicksln thank you! This is what I asking for. I have a most primitive scenario - small web app with a few users and two roles.

[2020-06-09 17:00] #1711 closed

[2020-06-09 20:34] mikhail-khalizev opened #1715 "[BUG] Query.And produce incorrect query."
**Version**
5.0.8

**Describe the bug**
`Query.And` produce incorrect query. See code below.

**Code to Reproduce**
[code]

**Expected behavior**
Test passed.

[2020-06-09 23:41] oleg-chibikov opened #1716 "[QUESTION] LiteDb v5 Query Api Group By Issue"
Hi!
I am trying to execute a LiteDB (v5) query but facing the problem with Group By.

I am building my expression in C# like that:
var r1 = collection.Query()
		        .GroupBy("Age")
		        .Select("{Key: @Key,Max: Max(Id)}").
		        ToArray();
Here I want to get the maximum Id of the person in each age group.

It results in the following SQL:

SELECT {Key:@Key,Max:MAX($.Id)}
FROM Person
G

[2020-06-10 06:25] tbkvamme commented on #1686
@jez9999 @lbnascimento
I did consider that, but I dropped it since I expected trouble with queries and comparisons with time.

For instance, if I wanted to query and then sort on Timestamp (as a string) to get the earliest event fulfilling the query:

[code]

I imagine that wouldn't work very well, because of how string comparison works:

[code]

Which gives the output:
[code]

I could parse the s

[2020-06-10 11:01] SKProCH opened #1717 "[QUESTION] How to see how much space a particular collection takes?"
How to see how much space a particular collection takes? And what is the place occupied in general, if it is not a collection.

[2020-06-11 02:13] oleg-chibikov commented on #1716
Thank you! It works.

[2020-06-11 02:13] #1716 closed

[2020-06-11 05:55] SKProCH commented on #1717
Thanks

[2020-06-11 05:55] #1717 closed

[2020-06-11 07:55] Tviljan opened #1718 "[BUG] FindById different result on different OS (MacOS vs Windows)"
**Version**

LiteDb 5.0.8.
Windows 10, dotnet 3.1.301
MacOS Catalina 10.5.5, dotnet 3.1.300

**Describe the bug**

db.FindById does not work on previously created database when running on MacOS.
Same database file works on Windows machine.

If we run rebuild then it also works on MacOs.

**Code to Reproduce**

https://github.com/Tviljan/LiteDb_Bug_repro

**Expected behavior**

db.FindById should f

[2020-06-11 10:58] oskarskog commented on #1718
Tried to debug a bit and see where I'd end up. `IndexService.Find` seems to return null before rebuilding the database when trying to find the node using `FindById`. After rebuilding it finds the node.

[2020-06-13 12:45] SKProCH opened #1719 "[QUESTION] Database file size reduction"
I would like to know all the available methods for reducing the size of database files, without data loss.

One of them, it seems to me, would be the ability to disable Extended JSON.
![image](https://user-images.githubusercontent.com/29896317/84568987-ed35b200-ad8b-11ea-9c03-dcddced061c6.png)

Yes, it helps to store data more reliably, but my classes do not change, and if I change them, I will ma

[2020-06-13 16:10] #1680 closed

[2020-06-15 13:24] lbnascimento commented on #1719
@SKProCH The term "extended JSON" refers merely to the notation that LiteDB uses to represent certain BSON types when converted to JSON, given that BSON is a superset of JSON. This has no impact in the storage size.

If you really need to reduce datafile size, your best option would be to rebuild the datafile frequently.

[2020-06-15 19:23] SKProCH commented on #1719
Ok i got you, thanks

[2020-06-15 19:23] #1719 closed

[2020-06-16 01:52] xdmushui commented on #1297
Can you provide a performance report?

[2020-06-16 14:28] #1699 closed

[2020-06-17 07:40] nikun5 commented on #1503
seeing the same issue: "Invalid Index on 0. Full zero: True. Page Type: Empty. Prev/Next: 0/0. UniqueID: 2. ShareCounter: 10. "
Any ideas?

[2020-06-17 13:33] fcabralj opened #1720 "Object synchronization method was called from an unsynchronized block of code"
Hi,

I have a Parallel.ForEachLoop which iterates thought a datatable, format the POCO the class and insert it into liteDB. However I'm receiving this exception:

_Object synchronization method was called from an unsynchronized block of code._

 at System.Threading.Mutex.ReleaseMutex()\r\n   at LiteDB.SharedEngine.CloseDatabase()\r\n   at LiteDB.SharedEngine.Insert(String collection, IEnumerable`1

[2020-06-17 16:27] lbnascimento commented on #1718
@Tviljan I managed to reproduce this issue on Windows. There seems to be some sort of inconsistency in the index (missing index node, I believe). Rebuild the datafile recreates the index, fixing the issue.

[2020-06-18 10:27] animha opened #1721 "[QUESTION]"
Hello,
I'm developing an application in Xamarin.Forms and I started using LiteDb in substitution to SqlLite, and I really love it!

There is still something that is not clear to me when we speak about thread-safe.

As suggested I'm using a unique static instance of DbLite in my application for all requests.

I have the main thread that presents the interface where the user can Insert and Update it

[2020-06-18 13:32] animha commented on #1721
I had some more investigation and it seems to me that this could be a bug.
The problem always happens when i call the Exists method in the collection:

Message":"Recursive read lock acquisitions not allowed in this mode
StackTraceString":"  at System.Threading.ReaderWriterLockSlim.TryEnterReadLockCore (System.Threading.ReaderWriterLockSlim+TimeoutTracker timeout) [0x0005a] in /Users/builder/jenkin

[2020-06-18 14:10] fcabralj commented on #1720
No problems anymore as I'm opening the connection when inserting.

[2020-06-18 14:10] #1720 closed

[2020-06-18 15:20] lbnascimento commented on #1721
@animha There was an issue (#1712) opened recently regarding the same problem. I have not been able to reproduce the issue, and I don't know why it's happening. It should not happen, given that LiteDB does not use recursive locks.

I believe the author of that issue worked around the problem by retrying whenever an operation threw a `LockRecursionException`.

[2020-06-18 15:36] animha commented on #1721
I tried to create a basic application with several timers that do cross-thread operations on the same DB, like I do in my real application. I was not able to reproduce the issue in Windows Forms.
I suppose it is somehow linked to Xamarin.Forms platform, or maybe even an Android specific issue...

[2020-06-19 12:47] Tviljan commented on #1718
Strange because on Windows machine it worked and on mac it did not. Rebuilding fixes the issue, but is that the final solution to this? Seems a bit wierd that this problem is dependent on OS.

Any idea what could cause this kind of issue?

[2020-06-19 13:45] lbnascimento commented on #1718
@Tviljan I was able to reproduce the issue on Windows running both .NET Core and .NET Framework. And after some debugging, I confirmed what @oskarskog said: the method that finds the `IndexNode` by id returns `null` before rebuilding and returns the correct node after rebuilding. This suggests some form of corruption to the index, and it's really hard to figure out why.

[2020-06-19 20:16] toochevere commented on #1546
What is the recommended work around?  Like @MidasLamb I multiple processes could potentially access the same db (although in my case, it secondary processes would only touch it for a moment).  This bug is stopping me cold right now.

(appreciate all the work, LiteDb is awesome).

[2020-06-20 17:36] Stillfreeusername opened #1722 "[BUG]"
**Version**
5.08

**Describe the bug**
ILiteCollection<T>.Upsert(T) fails if Android app is closed (removed from the recent apps screen). Some upsert sometimes gets eventually saved to disc, but most often the previous version of the record/document will be read at app start.
LiteDatabase.Checkpoint(); helps as a workaround.

Othervise nice lib ;)

[2020-06-20 19:44] yebafan commented on #1603
Having the same issue since I've upgraded to v5. Similarly to the OP, it seems to be related to a Dictionary<string, BsonDocument> property (in C# it's a Dictionary<ulong, class>, but the ulong seems to get serialized as a plain string). I suspect this, because it only happens to this specific collection.

Some of the documents in this collection are getting randomly corrupted, which prevents them

[2020-06-20 20:23] Fanom2813 opened #1723 "Error while installing LiteDB v5 in Vs2015"
Hello,  I'm new to liteDB and o tried to install it on visual studio 2015 but am getting an error " failed to add reference to 'System.Runtime'. Please make sure that it is in the Global Assembly Cache. "
When I downgrade to 4x it installs successfully can anyone help me to fix that thank you

[2020-06-21 03:37] TRYGISER commented on #1723
Install-Package System.Runtime -Version 4.3.1

[2020-06-21 03:39] TRYGISER commented on #1723
System.Runtime package is a part of dotnet standard but not in dotnetFrameWork 4.6.you can install it with package manager cli.

[2020-06-21 03:39] TRYGISER commented on #1723
Install-Package System.Runtime -Version 4.3.1

[2020-06-21 07:55] Fanom2813 commented on #1723
At first I had installed it but I had the save message that's because vs did not add System.Runtime In my references so I had To do it manually  and it worked out

Thank you

[2020-06-22 07:53] alex-fomin commented on #1504
Got the same error:
[code]

My DB does not have any passwords set.

[2020-06-22 13:45] lbnascimento commented on #1722
@Stillfreeusername What's probably happening is that the app is being closed before the Upsert transaction is completely finished, so all the data written to the log file is discarded the next time.

The ideal solution would be to call `Dispose()` from an app shutdown event in Android, but I'm not sure if that's even possible. Calling `Checkpoint()` after every operation definitely works, but it's

[2020-06-22 13:47] #1723 closed

[2020-06-22 13:59] lbnascimento commented on #1504
@alex-fomin Could you provide your datafile and the connection string you're using?

[2020-06-23 10:36] tualatin commented on #1637
Here the same, FindAll throws a SynchronizationLockException, but only, when I start my app without Visual Studio and I attach the debugger to my app. When I start my app with Visual Studio, all works fine.

[2020-06-23 17:24] jez9999 opened #1728 "[QUESTION] Best practice for lifetime of LiteDatabase?"
The docs on the website give an example of creating `LiteDatabase` in a `using` block:

`using(var db = new LiteDatabase(@"C:\Temp\MyData.db")) { ... }`

But in our application, we're going to be using `LiteDatabase` in lots of different places.  Is it best practice for us to create just one instance of `LiteDatabase` and get that instance from a service that has lifetime scope over our applicatio

[2020-06-24 14:55] lbnascimento commented on #1728
@jez9999 If keeping the file locked indefinitely is not an issue for you, then it should be fine keeping a live instance of `LiteDatabase` throughout the life cycle of your application. Making sure it is disposed on shutdown is good practice, but technically not necessary. If you're dealing with large amounts of data and experience performance loss or large log files, just run a checkpoint every o

[2020-06-24 21:20] Niku1985 opened #1729 "Lite DB V4 to V5 Upgrade Documentation"
Please share the documentation on Lite DB V4 to V5.

[2020-06-25 10:30] jez9999 opened #1730 "[QUESTION] Does LiteDB 5 actually support transactions?"
The discussion [here](https://github.com/mbdavid/LiteDB/issues/791) would seem to suggest a re-introduction of transactions was being planned for LiteDB 5, and indeed `db.BeginTrans()` does exist, yet that issue is still open; so does LiteDB 5 now support transactions or not?

[2020-06-25 12:14] jez9999 opened #1731 "[QUESTION] Sharing the database between processes on Android?"
We need to share a LiteDB database between 2 processes on Android, but if we try to use `Connection = ConnectionType.Shared`, we get the error "Shared mode is not supported in platforms that do not implement named mutex".  SQLite allows multiple processes to share a single-file DB on Android so it's obviously possible... why can't LiteDB do it?

[2020-06-25 13:23] #791 closed

[2020-06-25 13:23] lbnascimento commented on #1730
@jez9999 Transactions are supported in LiteDB v5.

[2020-06-25 13:23] #1730 closed

[2020-06-25 13:26] lbnascimento commented on #1731
@jez9999 Shared mode currently uses a system-wide mutex to control file access. If the platform doesn't implement system-wide mutex, there's not much that can be currently done. However, the shared mode will be completely reworked for the next major release, and a version that uses lock files is currently in testing.

[2020-06-25 13:38] lbnascimento commented on #1729
@Niku1985 Do you mean documentation on upgrading a LiteDB v4 datafile to v5? There's not much to it, all you need to do is set `Upgrade` to `true` in the connection string and the datafile should be upgraded automatically. For more info, check out our [Connection String documentation](http://www.litedb.org/docs/connection-string/).

[2020-06-26 07:37] JoshuaWegener opened #1732 "[QUESTION] Automatically Insert new Entities"
I am having some trouble to understand what is possible and what isn't with LiteDB. We are saving some entities in our database that have references of other entities. For example:

public class InvoiceLine : IEquatable<InvoiceLine>
{
    [BsonRef("BillingAccount")] public BillingAccount Account { get; private set; }

[BsonRef("Employee")] public Employee Employee { get; private set; }

public Amo

[2020-06-26 13:59] alex-fomin commented on #1504
The datafile is pretty big (73Mb): https://www.dropbox.com/s/5agkno8ikr2mb2t/ProcessingQueue.db?dl=0
Connection string is just "ProcessingQueue.db"

[2020-06-26 14:50] lbnascimento commented on #1504
@alex-fomin The file you sent appears to be a SQLite datafile.

[2020-06-26 15:16] lbnascimento commented on #1732
@JoshuaWegener The `BsonRef` attribute is only used to create references upon storage and resolve references upon retrieval. Insertions and updates to the referenced collection still have to be done manually.

[2020-06-26 18:30] jsinsel opened #1733 "[BUG]"
**Version**
5.08

**Describe the bug**
I recently upgraded to 5.0.8 from version 4.1.4.  Using the FileStorage.Find method crashes with guids in the path.  I was able to do this in 4.1.4.  I didn't notice anything in the documentation on v5 FileStorage that would prevent this.

**Code to Reproduce**
            var connectionString = new ConnectionString
            {
                Filename = "t

[2020-06-26 19:29] lbnascimento commented on #1733
@jsinsel There's an inconsistency in `FileStorage.Find(string)` between v4 and v5. I'll work on a fix, but in the meantime, using `fs.Find(x => x.Id.StartsWith(path))` is a simple workaround.

[2020-06-27 01:02] jsinsel commented on #1733
That workaround keeps me moving, thanks!

[2020-06-27 18:31] luismiguelbarruco opened #1734 "[QUESTION] How to use fluent mapper to ignore properties from a complex object?"
I'm trying to use fluent mapper to ignore some properties from a comples object, but when the application try to map object, a exception is throwing. It's possible to ignore a properties from a complex object?
![error](https://user-images.githubusercontent.com/61190302/85929411-de222a00-b88a-11ea-813b-1640f7f05099.png)

[2020-06-29 13:18] lbnascimento commented on #1734
@luismiguelbarruco You should run the fluent mapper commands over the `Versao` class (or whatever it's called):

`mapper.Entity<Versao>().Ignore(v => v.DiretorioRelease).Ignore(V => v.DiretorioTeste);`

[2020-06-29 13:53] #1732 closed

[2020-06-29 13:54] #1731 closed

[2020-06-29 18:41] duduric opened #1735 "[BUG] DBs with empty password parameter in the connection string still gets encrypted"
**Version**
5.0.8

**Describe the bug**
DBs with empty password in the connection string still gets encrypted somehow. We are only able to access it again if we keep the empty parameter in the connection string, but we are not able to open the files in LiteDB Studio since we can't give an empty password.

**Code to Reproduce**
Example connection string
Connection=shared;Password=;InitialSize=0;Rea

[2020-06-30 14:22] lbnascimento commented on #1735
@duduric This issue has been fixed in the master and its fix will be present in the next incremental release.

[2020-06-30 14:22] #1735 closed

[2020-06-30 19:12] duduric commented on #1735
@lbnascimento is there an easy way to batch decrypt all our affected files? I assume they would stop working in the new version.

[2020-06-30 19:40] lbnascimento commented on #1735
@duduric Just run `db.Rebuild(new RebuildOptions { Password = null });`, this should decrypt the file.

[2020-06-30 23:40] 9ee1 opened #1736 "[BUG]"
**Version**
LiteDB => 5.0.8
OS => Windows 10
.NET => .NET Core 3.1

**Describe the bug**
Creating an encrypted database, using a password in the connection string, does not flush data to disk if the number of documents that is written is minimal. For example, if you attempt to commit a single document, sometimes it will flush it to disk and sometimes it won't. If you attempt to commit 1000 documen

[2020-07-01 13:51] lbnascimento commented on #1736
@9ee1 I couldn't reproduce the issue. I don't know if this has anything to do with this problem, but I believe you're using the return value of `LiteCollection<T>.Insert(T)` incorrectly: this method returns the Id of the inserted value, and apparently you assume that it returns the number of inserted documents.

[2020-07-01 15:05] 9ee1 commented on #1736
Thanks for your response @lbnascimento. You're right my code sample is inaccurate. I can update it. But the behavior is there. I verified manually by opening up the DB in LiteDB Studio and there is no data there even after the API indicates the document was committed. It is sporadic so it does not happen on every commit.

Let me know if you need me to provide an updated code sample.

[2020-07-01 15:21] Yaniv-Y opened #1737 "Id by another class"
Dear LiteDB team

I am trying to create, like mentioned in [this comment](https://github.com/mbdavid/LiteDB/issues/741#issuecomment-333200925), a new class for my Id.

[code]

I get the next exception in versions 4.x:

I get the next exception in versions 5.x:

Many thanks for help.
Many thanks for your feature.

Yaniv

[2020-07-01 15:32] lbnascimento commented on #1736
@9ee1 Yes, an updated code sample would be appreciated. I tried running your example dozens of times, both in debug and release mode, checking the datafile with LiteDB Studio every time and could not reproduce the issue once.

[2020-07-01 15:35] lbnascimento commented on #1737
@Yaniv-Y If you want to use a custom class as your document id, you'll have to manually set its value for every document to be inserted. The Auto Id feature only works for types `ObjectId`, `Guid`, `Int32` and `Int64`.

[2020-07-01 17:21] ju2pom opened #1738 "[V4] Prevent a field from being updated with Upsert ?"
Hi,
When adding a new document I always use **Upsert** because I don't know if it's already in the db and I don't want to check for each document if it exists or not because I can add tens of thousand documents in a batch.
My document has a "Date Added" property which tells when the document has been added to the database.

My problem is that this property gets updated every time when it should st

[2020-07-01 18:54] 9ee1 commented on #1736
@lbnascimento - I did a little more testing and it seems the problem occurs only under this scenario:

1. Create a custom mapper
2. Create a LiteDatabase/LiteRepository - Either one works, it won't matter. Specify a connection string with a password for encryption. Assign the aforementioned mapper
3. Create a second  LiteDatabase/LiteRepository - Assign the aforementioned mapper
4. Apply the same

[2020-07-01 18:56] lbnascimento commented on #1738
@ju2pom There's currently no way to make `Update` or `Upsert` ignore certain fields when updating. They always replace the entire document.

A feature like this is being considered for future versions.

[2020-07-01 19:24] Yaniv-Y commented on #1737
Thanks for reply. Is there a way to get a new int id without iterating the entire collection?

[2020-07-01 20:07] lbnascimento commented on #1737
@Yaniv-Y Yes, just make sure that the `Id` field in your class is of type `Int32` and open your collection like this: `var col = db.GetCollection<MyClass>("CollectionName", BsonAutoId.Int32)`. This way, every inserted document will get a new id automatically.

[2020-07-01 20:17] eschlot opened #1739 "[QUESTION] How to use the GROUP BY with HAVING in LiteDB v5"
I want to do a database request using GROUP BY clause like follows:

`SELECT $, SHA, count(*) c FROM picturedata GROUP BY SHA HAVING @c > 1;`

The result is "no result" even though I have datasets which have the same String for the attribute SHA.
The desired output is an array of all objects in the picturedata collection having a value for SHA that is repeated.

I am not able to figure out from an

[2020-07-02 03:37] NongBenz opened #1740 "[BUG] v4 -> v5 Upgrade LiteDB.LiteException: Cannot insert duplicate key in unique index '_id'"
**Version**
Latest Master branch 5.0.8 (abe624)

**Describe the bug**
Trying to Upgrade v4 DB to v5 (loading with Connection String: "Upgrade=true;")
V4 Database hosted on Google Drive (25MB):
https://drive.google.com/file/d/13kP-boXDHsfJ9WP6IBx-LMpFdPUv7zMk/view?usp=sharing

Get Exception on new LiteDatabase(connectionString);
```LiteDB.LiteException: Cannot insert duplicate key in unique index '

[2020-07-02 06:14] Dyaminigo opened #1741 "[QUESTION] A few questions on the LiteEngine and LiteDatabase classes"
I recently upgraded LiteDB to version 5 and I had some questions that I couldn’t find answers to.
1. What kind of LiteEngine class appeared in version 5 and how does it differ from the standard LiteDatabase class?
2. In version 4, I very often used the ability to set indexes when initializing the database, but in version 5 I found such an opportunity only in the LiteEngine class. I would very much