[2019-08-05 10:50] mbdavid commented on #1061
Hi @kosorin, try new in v5, please. Also, I made support for `HasValue` and `Value` properties.

[2019-08-05 10:54] mbdavid commented on #910
Hi @GitOffice, not yet, but are on plans to be implemented a simple full text search in v5

[2019-08-05 19:41] #1234 closed

[2019-08-06 14:23] kumaramc opened #1272 "LiteDB Size error more than 11.1GB size"
We are getting error - Message = "The requested operation could not be completed due to a file system limitation\r\n" when using litedb to insert data to collection after 11.1GB. The complete stack trace below :-

StackTrace = "   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)\r\n   at System.IO.FileStream.SetLengthCore(Int64 value)\r\n   at System.IO.FileStream.SetLength(I

[2019-08-06 14:47] abrca opened #1273 "Encryption problem"
In version 4+ encrypted database looks like:

![image](https://user-images.githubusercontent.com/20093250/62549656-530b0080-b882-11e9-93e4-7923e2408998.png)

but in 5.0.0-alpha:

![image](https://user-images.githubusercontent.com/20093250/62549733-6fa73880-b882-11e9-8271-a9a532e1e58b.png)

looks not very random, from address 0000006040 and down...

[2019-08-06 14:53] abrca commented on #1273
BTW, how can I _**check**_ if specified by the user password is valid to open existing database?
Open database, try to read, and catch "wrong password" exception -- is the only way?

[2019-08-06 23:10] kosorin opened #1274 "Index and SerializeNullValues"
Following query returns empty list of active items if items are inserted with `SerializeNullValues = false`.

[code]
[code]
[code]
Once I set `SerializeNullValues` and insert new items I can query these new items.

Is it desired behavior?

[2019-08-07 07:17] JensSchadron commented on #955
I'm thinking of porting the current LiteDB Studio to mac, but it might take quite some time.

[2019-08-07 08:16] GitOffice commented on #910
It is official feature to expect. Thanks.

[2019-08-07 08:16] #910 closed

[2019-08-07 11:47] VasenevEA opened #1275 "Sequence contains no elements at 5.0.0-alpha"
Every operation with collection throw System.InvalidOperationException.

Framework: Xamarin.Forms
Platform:  Android OS
Library Version: 5.0.0-alpha

Code to reproduce:

[code]
Also **Insert**, **Delete**, **Find** will throw
System.InvalidOperationException: Sequence contains no elements
StackTrace:
[code]

[2019-08-07 17:25] JensSchadron commented on #1274
Hey @kosorin, could you let us know which version of LiteDB you're currently using? (v5 alpha, v4 or older)

[2019-08-07 18:09] kosorin commented on #1274
Latest 4.1.4

[2019-08-08 14:39] git-net opened #1277 "LiteRepository failed but LiteRepository.Database success?"
netcore 2  consoleapp nuget 4.1.4

[code]
here TestObj
[code]

[2019-08-08 14:46] git-net commented on #1277
errors
Object reference not set to an instance of an object.
   at LiteDB.BsonMapper.ToDocument[T](T entity)
   at LiteDB.LiteCollection`1.<GetBsonDocs>d__38.MoveNext()
   at LiteDB.LiteEngine.<>c__DisplayClass33_0.<Upsert>b__0(CollectionPage col)
   at LiteDB.LiteEngine.Transaction[T](String collection, Boolean addIfNotExists, Func`2 action)
   at LiteDB.LiteCollection`1.Upsert(T document)
   at

[2019-08-08 15:05] git-net commented on #1277
I know .
repo apis has two  Upsert
bool Upsert<T>(T entity, string collectionName = null)
int Upsert<T>(IEnumerable<T> entities, string collectionName = null)
so need repo.Upsert<T>(d);
close .but this not a good api

[2019-08-08 15:05] #1277 closed

[2019-08-09 20:34] JensSchadron opened #1278 "LiteDB.Studio doesn't have a mac variant"
Like the title already states, LiteDB doesn't have a mac os variant.
That being said, I'll use this "issue" to keep track of the progress (until a PR has been created) as I'll develop a mac variant using Xamarin.Mac (and maybe an UWP version later on)

[2019-08-09 20:45] JensSchadron commented on #955
See issue #1278

[2019-08-11 13:14] JensSchadron commented on #1269
Hi @bolner, just wanted to let you know that it will be possible in a future release of v5. Functionality has been added in commit d65b888a69c6dd6112df1d6644f0fa080711229b (pushed about 20 mins ago) and will be available in the next release of v5.

Therefor, I'll be closing the issue if you don't mind. Feel free to re-open the issue if you feel like it's still needed.

[2019-08-11 13:14] #1269 closed

[2019-08-12 04:28] lxman opened #1279 "Trying Studio"
Attempting to start LiteDB Studio fails and the following information is produced in the windows event log:

[code]

[2019-08-12 11:42] srcmkr opened #1280 "Will nested Includes or IncludeAll() be re-included in v5?"
Hey Mauricio,

I was wondering, if there will be a re-include of the IncludeAll() like in v4? (or even better a nested Include w/ or w/o circular references)

Thanks for your awesome work!

[2019-08-12 13:41] elyoh commented on #1273
I think this is because the AES encryption has been set to use [ECB mode](https://github.com/mbdavid/LiteDB/blob/10a8dfb1824e147a4525d90d6a606bf07df6ad46/LiteDB/Engine/Disk/Streams/AesStream.cs#L67-L69) rather than the default of CBC mode.  ECB mode [is most certainly **insecure** for this purpose](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.ciphermode), given the like

[2019-08-12 14:02] abrca commented on #1273
Very interesting, thank you!

[2019-08-12 20:06] mbdavid commented on #1273
Hi @elyoh, thanks for this great explanation. I will review encryption process before release final version. If you want contribute if any code will be a pleasure. Encryption is quite hard for non-specialists.
I changed to ECB because I getting problems with CryptoStream when reading/writing 8192 bytes blocks (PAGE_SIZE). When I changed to ECB, everything works as expected.

[2019-08-13 13:54] alemik opened #1282 "[question] [bug] which simbol to use for naming reserved collections in my application?"
Hi,
Collection name starting with "_" is used to naming reserved collection inside LiteDB engine.

[bug]
If i create a collection named "$col" directly, i recieve an exeption: "invalid format "$col".
But if, for example, i create a collection named "col" and i rename it as "$col", everything works fine. Is this a bug?

[question]
Now i know that can be used only letters, numbers and _
Which starti

[2019-08-13 15:01] masterchen opened #1283 "can i binding query result to winform gridview"
Thanks this lite databse ,can i binding query result  to winform gridview , is there has an example ?

[2019-08-13 17:44] mbdavid commented on #1282
Hi @alemik, are you using v4 or v5? There are some difference in versions.

I found a bug (in v5) in this nameing checking - will fix

[2019-08-13 20:48] mbdavid commented on #1282
Here v5 name validation:

- Names should be a word: `[a-z]_$` (case insensitive)
- Names should not starts with `$` (reserved for system collections)

System collection are "virtual collections", is not concrete data (like `$transactions` returns all open transactions) or "functions" (like `$file_csv('c:\temp\data.csv')` to read data from CSV file as a collection)

Collections that starts with `_`

[2019-08-13 20:52] mbdavid commented on #1279
Hi @lxman, try run LiteDB.Studio.exe with LiteDB.dll in same directory. There is no ILMerge yet.

[2019-08-14 03:48] lxman commented on #1279
Ok, that did the trick. Got another issue, but I'll open a separate ticket for that.

[2019-08-14 03:48] #1279 closed

[2019-08-14 03:52] #1047 closed

[2019-08-14 06:54] alemik commented on #1282
Thanks @mbdavid
I'm still using V4 and waiting for V5 stable release.
For now i will use _ with care.

[2019-08-14 06:54] #1282 closed

[2019-08-14 13:12] stephenhauck opened #1284 "Coming from Siaqodb to LiteDB - DbRef question"
I am a little confused about exactly when BSON attributes are required and such.

I am looking at https://github.com/mbdavid/LiteDB/wiki/DbRef

It indicates that if I want "customers" in a separate file I must include the annotation
`[BsonRef("customers")] // where "customers" are Customer collection name
  public Customer Customer { get; set; }`

Is there a way to configure this to be the case fo

[2019-08-14 16:24] lxman opened #1285 "Am I setting up DBRef incorrectly? v5.0.0-alpha"
This is the code snippet that I am focusing on:
[code]
A bit of explanation to help understand:

I am starting with a text file which has rows of data. Each row has Area Code, City, County, State, etc. There are repeats in all of the columns, so once I draw the original data in, I do a Select().Distinct() on each column to get the distinct values from each column.
I then create separate LiteCollec

[2019-08-15 00:54] mrscript21 opened #1286 "Could you tell us when can we get a stable V5 version of LiteDB?"

[2019-08-15 10:56] stephenhauck opened #1287 "Guid without a hyphen on insert ?"
I have a class like so ...
`    public class Customer
    {
        public Customer()
        {
            CustomerServiceLocations = new List<ServiceLocation>();
        }

        public Guid CustomerID { get; set; }
        public string CustomerName { get; set; }
        [BsonRef("customerservicelocations")]
        public List<ServiceLocation> CustomerServiceLocations { get; set; }
    }`

w

[2019-08-15 14:07] lxman opened #1288 "Invalid BSON data type 'Null' on field '_id'"
Working with 4.1.4 here, I have a POCO defined as:
[code]

But whenever I create the DB, get the collection and try to insert a new one, I am getting this error. However, I found that if I change all of the internals to public, this works.

Just something to know, that internal properties won't work with LiteDB?

[2019-08-15 14:11] mbdavid commented on #1284
Hi @stephenhauck, LiteDB implements same conecpt of DbRef as MongoDB. DbRef are just a new object with 2 parameters: `{ $ref:"collection-name-referece", $id: cross-object-id }`

If you want that all sub documents must be a reference, maybe you should review conecpts about DocumentStore database. DbRef should be avoid as much as possible.

I always recommend this "Data Modeling" section on MongoDB

[2019-08-15 14:16] mbdavid commented on #1287
`Guid` are stored as `byte[16]` as BSON specifications. It's recommend you not convert to string, keeping `Guid` data type all the time. In JSON (string), `Guid` are represent as a sub-document:

`{ "_id": { "$guid": "2cb54392-e882-49d7-8452-42ca527b6a38" } }`

[2019-08-15 14:25] stephenhauck commented on #1287
ok, thanks

[2019-08-15 14:29] mbdavid commented on #1285
Hi @lxman

If I understand, you are getting this error here (it's commented on unit test)

https://github.com/mbdavid/LiteDB/blob/master/LiteDB.Tests/Database/DbRef_Include_Tests.cs#L154

It's a bug in v5 yet... v4 implementation are not good and I want write a better solution. Will be fixed until final release.

[2019-08-15 14:31] #1287 closed

[2019-08-15 14:34] mbdavid commented on #1288
By default only public member are converted to document. But you can set `BsonMapper.Global.IncludeNonPublic = true`

[2019-08-15 14:38] mbdavid commented on #1286
Hi @mrscript21, there is no fixed date yet. I released alpa version and have plans to release beta before september. Then, I will wait for community do more tests in real-life and get some feedbacks before stable version. This may occurs in 2 or 3 months

[2019-08-15 14:41] lxman commented on #1288
Ah, ok, didn't realize that! Thanks!

[2019-08-15 14:41] #1288 closed

[2019-08-15 16:10] stephenhauck commented on #1284
I have seen that before.
I simply wanted to know if there were global settings / an option to make it behave the way I would like it to in this specific conversion by default without the extra annotations.

[2019-08-15 19:03] stephenhauck commented on #1286
@mrscript21 , as I am new to LiteDB and coming from another object database can you tell me what features in version 5 you are looking forward to the most so that I can keep them in mind as compared with the current release I am working with ?

[2019-08-15 22:03] stephenhauck opened #1289 "Inserting into a referenced document ...."
I have a couple of classes ..
![image](https://user-images.githubusercontent.com/12648793/63129696-3e1b2500-bf86-11e9-9165-293fae4ae709.png)
and
![image](https://user-images.githubusercontent.com/12648793/63129717-4bd0aa80-bf86-11e9-8fd6-05fcd363b0f0.png)

In my code I insert some data, then find the row then try to add an element to the list and when I update it the data is stored in the Customer

[2019-08-16 03:45] lxman commented on #1285
Okay, thank you for that.

FYI I am getting around it for now by retrieving each of the individual collections, querying out the references and reconstructing a POCO with that information.

Do you want me to leave this open, or close it?

[2019-08-16 08:28] kosorin commented on #1289
If you look closely at the array you can see something like this:
`[ { $ref: 'svcloc', $key: '1234' } ]`
So you actually didn't insert ServiceLocation to the database.
You must insert ServiceLocation separately
`svclocCollection.Insert(tempServiceLocation);`

[2019-08-16 10:24] stephenhauck commented on #1289
ok, that worked..... I expected it to add it for me ....
Thanks for the info!

[2019-08-16 10:24] #1289 closed

[2019-08-16 11:09] AnnKorepanova opened #1291 "LiteDb collection returns invalid data when searching by id"
I try to find entity by its id in liteDb. But the wrong entity returns as a result (with another id). It's reproduced only on one entity for one client (other clients works good).

I use LiteDB 4.1.2.0 in my program, also I tried to find the entity in LiteDBViewer (4.1.0.0).

[code]

I expect that liteDb will return entity with my id (9fe943d3-97d4-4301-8279-eca89b4209ee), but the actual output en

[2019-08-16 13:23] mbdavid commented on #1285
Hi Ixman, I will close this because already in my "Project" todo items. Thanks!

[2019-08-16 13:23] #1285 closed

[2019-08-16 13:26] mbdavid commented on #1291
Hi @AnnKorepanova, I never get this problem before. Can you send me your data file to debug this case? You can send me in private to my email if you prefer.

[2019-08-16 15:25] AnnKorepanova commented on #1291
Hello, I prefer to send db file in private.

[2019-08-16 15:26] AnnKorepanova commented on #1291
Hi! It would be better to send you the db privately. How can I do it?

[2019-08-16 16:26] mbdavid commented on #1291
you can send me a twitter DM @mbdavid

[2019-08-16 16:43] AnnKorepanova commented on #1291
Ok, I sent it (from @SychevaAnn).

[2019-08-17 08:17] masterchen commented on #1283
Well let me answer my questionse,

            using (var db = new LiteDatabase(connectionString))
            {
                // Get a collection (or create, if not exits)
                var col = db.GetCollection<T>("filterword"); // here T is your entity
                var docs = col.FindAll();
                griveViewHandle =  docs.ToList();

               }

[2019-08-17 08:17] #1283 closed

[2019-08-17 13:59] mrscript21 commented on #1286
@mbdavid, First of all, thanks for the answer. That could help me for coming schedule how to adopt V5 of LiteDB.

[2019-08-17 14:07] mrscript21 commented on #1286
Hi @stephenhauck.
Well, I am also new to LiteDB but as I found this repo and LiteDB, I was happy to wish to try it.
I could say what I liked from LiteDB.
First is .NET based and even adopted .NET Core newest APIs set such.
Second is just single .dll file to offer db features much attractive point too.
Third as I think, in many cases, local db, and lightweight db such features need to be considered

[2019-08-18 01:00] AliNazar1991 commented on #1154
Im facing this issue as well, is this planned to be fixed in upcoming versions?

[2019-08-19 10:57] mbdavid commented on #1154
Hi guys, this was complete re-write in v5. Can you test your code using current master branch version?

[2019-08-19 11:31] NidhiBisht commented on #641
<img width="314" alt="ScreenShot003" src="https://user-images.githubusercontent.com/7630374/63262111-c0675a00-c2a2-11e9-8abe-5e08db00e19e.png">

[2019-08-19 12:52] mbdavid commented on #1291
Hi @AnnKorepanova, in this collection you have a duplicate _id key `2aba5886-ca30-4d67-9cf8-558441ef5eb6`. But I don't know how you do this!! There is a validation on insert command to prevent duplicate keys. Do you have any idea how this could be?

[2019-08-19 13:37] sunaccess opened #1292 "How to add date condition in SQL command"
_SELECT $ FROM ScanList where ScanTime>'{"$date":"2019-07-27T14:20:42.9310000Z"}';_
and
_SELECT $ FROM ScanList where ScanTime>"2019-07-27T14:20:42.9310000Z";_
and
_SELECT $ FROM ScanList;_

**Is the same query result**

![err](https://user-images.githubusercontent.com/4462119/63269144-41851800-c2c8-11e9-9195-1ae24bd86509.jpg)

[2019-08-19 13:54] mbdavid commented on #1292
Try convert DATE function

[code]

[2019-08-19 14:09] #1292 closed

[2019-08-19 14:12] #1139 closed

[2019-08-19 17:31] AliNazar1991 commented on #1154
@mbdavid i have tested to create my database using the v5 alpha version, but im getting LiteDB.LiteException:"Document size exceed 2037500 limit", i have not seen this exception in the 4.1.4 version of LiteDB, and i have built my database several times with the 4.1.4 version. how can i overcome this size limitation? if i can get over this issue i can test the concurrency problem..

[2019-08-19 17:44] pie-flavor commented on #1224
If I had to guess, it'd be because `ulong.MaxValue` > `long.MaxValue`, so `double` can fit all values of `ulong` whereas `long` can't.

[2019-08-19 17:47] mbdavid commented on #1154
Hi @AliNazar1991, v5 implement a storage layer with a limit of 250 data pages for 1 single document (250 * 8149 bytes per page) =~ 2Mb each document (after serialize with BSON). If you need bigger documents you will need use FileStorage to store this document as file

[2019-08-19 18:15] AliNazar1991 commented on #1154
@mbdavid this is sadly a huge blocker for me..

[2019-08-20 09:53] AnnKorepanova commented on #1291
Hi, @mbdavid! No, I don't, if only multithreading, but this's a first and only time I see such a problem. But even if there are 2 records with dubllicate ids, why the search returns an entry with a different id?

[2019-08-20 10:25] mbdavid commented on #1291
I don't know why are returning different document _id. I guess IndexKey (in index page) contains one guid but the linked document field contains another document _id guid. This means there is no duplicate key in index, but are duplicate key in _id fields. Do you use `Upsert` or `Update` command in your application?

[2019-08-20 10:49] AnnKorepanova commented on #1291
Insert and Update, not Upsert.

[2019-08-20 12:10] arrteamgun commented on #1186
@mbdavid
Can we please have some kind of simple solution for that in 5.0.0?

We have pretty the same issue
When you have a chain of instances like:
A -> B -> C -> D (-> is a foreign key)
We'd like to get some A instances using foreign key and D instance in condition. But we can't even use C instance. It's a crucial moment I beleive.

[2019-08-20 12:16] arrteamgun opened #1293 "Can't reopen DB file"
Steps to reproduce:
1. Close DB
2. Open DB

Expected result:
It opens correctly

Actual result:
[Trace.txt](https://github.com/mbdavid/LiteDB/files/3520517/Trace.txt)

Environment: MacOS
using this parameter because of environment:
connectionString = new ConnectionString(path) { Mode = FileMode.Exclusive };

[2019-08-20 13:08] JensSchadron commented on #1293
Hi @arrteamgun ,

Quick question, I noticed that you were using LiteDB usig Xamarin.iOS. Which version of iOS is it being used on?
Also, are you using v4.1.4 or the v5 alpha release?

[2019-08-20 13:12] JensSchadron commented on #1286
v5 also has a more visually appealing tooling called LiteDB.Studio. It's currently only available for Windows, but I'm working on a Mac version as well.

[2019-08-20 13:48] arrteamgun commented on #1293
We're using Xamarin.Forms with iPhone simulator and it's supporting iOS versions started from 5.0
DB version: 4.1.4

Thank your for the response!

[2019-08-20 14:05] Lonli-Lokli commented on #678
Hello everyone, is there any progress?

[2019-08-20 17:53] mbdavid commented on #1186
In v5 you can query as expected. v5 contains a query engine that will made include before run filter. You can try in SQL like:

[code]

(using EXPAIN you will see how engine will resolve your query - remove EXPLAIN to run)

[2019-08-21 13:01] krenukumar opened #1294 "System.NotSupportedException"
We are using LiteRepository . It is working fine until update to 5.0.0-alpha.
Updated the calls according to the new implementation.
But failing while converting predicate to BsonExpression.

Stack:

System.NotSupportedException: 'Method Contains(Func<T,TResult>) in Enumerable are not supported when convert to BsonExpression (value(Agner.Helpers.CallDataHelper+<>c__DisplayClass1_0).allstocks.Selec

[2019-08-21 14:24] tom-richtr opened #1295 "LiteDB.LiteException: 'Document size exceed 2037500 limit' in v5"
There is currently a limit on document size. Would it be possible to disable or change it? It is better to keep the size of documents as small as possible but in our scenario we have bigger documents which are not changed or read so much.
This was already addressed in issue #645 and the restriction was not enforced.  Is it possible to keep it same in v5 or set the limit by user settings?

[2019-08-21 18:43] mbdavid commented on #1295
Hi @tom-richtr, you are the second one who talk about this. Current v5 version has a complete different way to store pages and now I need control document segments. I implement a single byte to control this segments (0-255). Each page contains 8159 free bytes... so, why is limited in 2Mb document.

I will think about in use 2 bytes to to this (and extend to 500mb document size)... let's me check i

[2019-08-21 19:01] mbdavid commented on #1294
Hi @krenukumar, can you test with current master branch? I fix Contains method, must be fixed for your case. Will be released in next beta version

[2019-08-24 17:16] #1031 closed

[2019-08-25 07:48] FuJianR opened #1297 "LiteDB on azure page blob storage: LiteDB.AzureBlob"
I have just created a library to use azure page blob as storage backend.
https://github.com/FuJianR/LiteDB.AzureBlob
Looking for suggestions.

[2019-08-25 09:36] cs-util commented on #1196
Just ran into the same problem, from the StackTrace it looks like the "BsonMapper_BuildEntityMapper" is calling a CreateGenericGetter method and somewhere there crashes:
[code]

[2019-08-26 11:30] vickyrathee opened #1298 "JObject and JArray not inserted in Database"
When I use the `mapper.ToDocument()`, it doesn't map the JObject and JArray to insert in Database. I see #197 where you suggested to use the RegisterType but can't find any actual implementation in code. Any suggestion, how can register JObject and JArray in my code to insert their values

[code]

[2019-08-26 21:41] pvanroos opened #1300 "Why no async methods?"
Why not implement async Task in the read and writes?  e.g. InsertAsync() or FindByIdAsync()

BTW, love the package!  👍

[2019-08-27 08:47] rduin opened #1301 "outmemoryexception updating file"
Hello, i use this simple code in litedb v4.1.4

-----------------------------
string dbFile = Path.Combine(backupDir, DBFILENAME);

using (var db = new LiteDatabase(dbFile))
  {
                    db.FileStorage.Upload(filename, file);
  }
-----------------------------

the file alreay exists, it throws an outmemoryexception

  à System.Linq.Buffer`1..ctor(IEnumerable`1 source)
   à System.Linq.E

[2019-08-27 10:05] Jack85 commented on #1295
Wasnt the document size unlimited in v4?

[2019-08-27 11:26] christophedemez opened #1302 "Support of "List<string>" , save supported, read unsupported"
Hi,

We have the following class :

public class MyTest
{
  [JsonProperty("myvalues")]
  public List<string> MyValues{ get; set; } = new List<string>();
}

If I insert some documents in the db, it works.. I can see them in 'studio', but when I read them back, the 'MyValues' is empty !

Do you know how to fix this ?

Thanks

[2019-08-27 12:07] rduin commented on #1301
Can the Database be corrupted?

i have this behaviour on a customer database. If i delete the databasefile et recreate it , it works.

the out memory exception is caught but a nullreferenceexception is throwed as the GC do is work

![image](https://user-images.githubusercontent.com/16098762/63769760-dd6be080-c8d3-11e9-92e0-b4a847ed5b28.png)

[2019-08-27 17:50] Jack85 commented on #1295
I think it would be cool in v5 also.
To have it limitless and possibly work with chunks, to be backwatds compatible..

[2019-08-28 14:03] rduin commented on #1301
at this time,  wasn't able to reproduce this error from en empty Database.

the context is:

i just upload some crypted xml file in the filestorage, the files are often updated (several times each minutes). The update is sequential in a dedicated thread. No other use. It's a first step trying to use litedb storage

I have a small DB (~3,5M) containing around 30 entries files. I get the tag 4.1.4 f

[2019-08-28 15:52] vickyrathee commented on #1298
@mbdavid Any suggestion? I can't find any reference in this repo as well on SO to serialize/deserialize JObject/JArray into BsonDocument to insert in LiteDB

[2019-08-29 13:06] nwestfall opened #1304 "Recovery Release"
More a comment/question than an issue.

There are lot of issues with recommendation to use the `Recovery` function in `LiteEngine`.  However, after spending way too much time trying to find it, I release it's only in code and not in nuget, so I can't use it in my projects.  Do you have plans to make a new nuget with this feature?

[2019-08-30 00:11] reader-man opened #1305 "General Interfaces for LiteDatabase + LiteCollection<T>"
Hi,
Thanks for the great project, and i began using your db, with v5 beta in my project.

But i noticed that there is no interfaces for:
* LiteDatabase
* LiteCollection<T>

That uses general and standard .net classes/interfaces, so we can make one library that initialize your db, and then return the general ILiteCollection<T>, with no need to reference your nuget to all other projects in the solut

[2019-08-30 00:52] reader-man commented on #1305
**Here are the two general interfaces:**

[code]
**and:**

[code]

**then the first class will be a container for the LiteDB class:**

[code]
**and the following will encapsulate the LiteCollection<T>:**

[code]

[2019-08-31 20:51] Jarusss opened #1306 "Date filter"
Hi all,
`{"_id":{"$guid":"0009f958-f0f6-4884-a230-7e2d01c15b23"},"RemovedProducts":[],"OrderNumber":64,"RemoveReasonId":0,"Total":{"$numberDecimal":"13"},"Created":{"$date":"2018-10-13T10:17:35.2340000Z"},"Type":"Table","Pager":"3","WaiterId":7180,"Status":"Closed","Send":true}`
I have lots of data in collection with different dates. Is there any option to using LiteDB.Shell:
- Delete those, where

[2019-09-01 10:11] cardosso commented on #805
Hi @mbdavid

Just noticed that you recently released an alpha version of v5, congratulations on reaching the alpha milestone! I suppose v5 should solve my performance sorting issues since it supports in-memory sorting right?

If that's the case I'm looking forward to test it, although seems I won't be able to test it on my real life scenario yet because due to the dynamic nature of my queries I ma

[2019-09-01 16:53] lxman opened #1307 "Database creation 5.0.0-alpha"
I am attempting to use a pattern in my program of using a single class per database for a data access layer. The basic pattern of the classes is illustrated with the following:
[code]
When I need to access the database, it is via a using statement like so:
[code]
My issue is occurring when the physical file does not exist on the disk. The instantiation procedure is a bit unclear to me. I had thoug

[2019-09-01 18:50] chinookproject opened #1308 "How to filter using SQL syntax"
Hi there, I have a quick question.

I'm trying out the new v5-aplha version. From what I understand this should support a new SQL-like query syntax? But the documentation it still a bit scarce about this.

Is it possible to use a SQL-like query from code? For exmaple, something like:

[code]

Thanks in advance.

[2019-09-01 22:16] lxman commented on #1307
Ah, okay, found the issue. I am still a bit puzzled about the best way to overcome this, however.

I was calling my constructor like this:
[code]
As I am only reading a value out of the database, this seemed perfectly okay. However, if the physical file on disk does not exist yet, `LiteDB` fails when creating the file, due to the readonly setting.
For the time being, I have modified my constructor

[2019-09-03 08:10] Sardoan opened #1309 "Cannot fetch KeyValuePairs"
I have the property `public List<KeyValuePair<string, string>> Languages { get; set; }`
I can insert and update it, but when I fetch the dataset I get a key value pair with null as key and as value. Seems like a bug to me.

[2019-09-03 17:46] mbdavid commented on #805
Hi Cardoso, v5 still in alpha (will be beta soon) and will support PredicateBuilder on next release.
V5 support native sort, select, group by and include operations also a Sql language for queries

[2019-09-04 01:38] cardosso commented on #805
Thank you for your reply, I eagerly await for the next release then so I can test it and compare the performance against my current implementation using v4.

[2019-09-04 03:40] dustinlacewell commented on #681
So do ulongs work in 2019?

[2019-09-04 08:57] SlowLogicBoy opened #1311 "Get CreationTime from ObjectId in sql"
`OID_CreationTime(OBJECTID())` Something like that?

[2019-09-04 09:13] vickyrathee opened #1312 "LiteDB Studio takes forever to connect 2gb data file"
I have 2 gb of Data file and LiteDb Studio takes forever to connect. I guess it's trying to read all the collection/documents in memory for something while connection because the memory usage just keeps increasing in task manager.

I am closing it now after 3 minutes.

![image](https://user-images.githubusercontent.com/6106479/64241849-17676300-cf22-11e9-9512-6db1993815c9.png)

[2019-09-05 10:55] tom-richtr opened #1313 "Abstract ref list property"
I tried to add List of abstract items as refs to another collection but I got error that the items cannot be deserialized into its abstract ancestor. I tried it in v4 and v5 as well.
One solution could be to change the BsonMapper RegisterDbRefList to include _type property in serialization/deserialization if the type of the item is different than the type of the list items. Otherwise it would be n

[2019-09-05 11:59] ViceIce commented on #712
I'm interested in using utc too. `LiteEngine` has a parameter for utc, but `LiteDatabase` has not.

Can we add this parameter for consistency?

[2019-09-05 13:33] tom-richtr commented on #1313
I have found the proposed solution(s) in opened PR https://github.com/mbdavid/LiteDB/pull/951

[2019-09-05 19:57] JensSchadron commented on #1308
Hi @chinookproject,

I'm glad to inform you that you were really close to it.
The code you need to is something like this (which gives you a list of BsonDocuments).
[code]

Please note though that you will still need to do the conversion from BsonDocuments to actual class objects yourself (unless there's some way I don't know about yet).

[2019-09-05 20:13] JensSchadron commented on #1302
Hi @christophedemez,
First of all, thanks for the bug report.

A few questions
- Which version of LiteDB are you using?
- Is it possible to use generics for that List?
- Have you tried initializing the List using a default ctor?

[2019-09-05 20:26] JensSchadron commented on #1308
Hi @chinookproject

[2019-09-05 20:26] #1308 closed

[2019-09-05 20:28] JensSchadron commented on #1286
I'm going to close this "issue" to make sure we don't lose sight of older reported issues 🙂

[2019-09-05 20:28] #1286 closed

[2019-09-08 10:05] hesamfaraji commented on #641
i have the same issue in version 4.1.4.0
stack trace:

[InvalidCastException: Unable to cast object of type 'LiteDB.HeaderPage' to type 'LiteDB.CollectionPage'.]
   LiteDB.PageService.GetPage(UInt32 pageID) +226
   LiteDB.CollectionService.Get(String name) +96
   LiteDB.LiteEngine.GetCollectionPage(String name, Boolean addIfNotExits) +37
   LiteDB.<Find>d__9.MoveNext() +261
   LiteDB.<Find>d__13.M

[2019-09-10 06:41] SlowLogicBoy commented on #1313
As a workaround you can write your own mapping:
[code]

[2019-09-10 08:30] tom-richtr commented on #1313
Property _type is serialized correctly in its own collection, the problem here is that the property of array with this refs does not have the information about the target type and it tries to deserialize every item of the array into its abstract ancestor which leads into the exception.

[2019-09-10 08:49] a44281071 commented on #1174
litedb collection do not support 'interface'/'abstract class'

[2019-09-11 17:47] mbdavid commented on #1312
Hi @vickyrathee, yes, there is no memory managment in LiteDB Studio if you query big documents (limit only in 1000 document, but if each document are too big LiteDB Studio will crash).

I will implement some memory limit result according document size. Will add this issue in my project

[2019-09-11 17:54] mbdavid commented on #1311
Hi @SlowLogicBoy, there is no way to get this in current, but I will implement this method (make all sense in ObjectID data type). Thanks for your contribution.

[2019-09-11 21:21] drewid opened #1314 "How to set the value of an Id that is ObjectId"
How to set the value of an Id that is ObjectId so that the document can be retrieved.

I have the ObjectId value in string format but nothing I try will make it an ObjectId value that will return a valid document from the collection.

Int worked just fine as an Id field but I prefer ObjectId.

LiteDB doesn't have a Parse method for ObjectId
And when I try to use the new LiteDB.ObjectId(value) meth

[2019-09-11 21:24] JensSchadron commented on #1314
Hi @drewid,

Could you please let us know whether you're working with version v4 or with v5 alpha build?

[2019-09-11 21:36] drewid commented on #1314
v4 - didn't realize there is a v5 alpha

[2019-09-11 22:02] JensSchadron commented on #1314
Could you provide us with a code snippet showing us how you're trying to query?
Please also include a way you're initializing the objects before inserting 🙂

[2019-09-11 22:08] JensSchadron commented on #1309
Hi @Sardoan,

My guess is that you've tried this on v4? I think the version v4 has an issues instantiating structs as their ctors often have one or more parameters. This is supposed to be fixed in the upcoming v5 build.

[2019-09-11 22:09] drewid commented on #1314
Insert isn't the problem, it is retrieval. FindById doesn't seem to work when you provide an ObjectId.

The following code won't return a document.  thisid is a string representation of the ObjectId value.

return collection.FindById(new LiteDB.ObjectId(thisid));

When trying to then query based off of the ObjectId format of that string value it won't find it.  I know the value is correct because

[2019-09-11 22:23] JensSchadron commented on #1314
Hi @drewid,

Given the following code, I can't reproduce your issue so I'm guessing that the issue might be somewhere else in your code
[code]

[2019-09-11 22:46] drewid commented on #1314
I'll check and verify, but all I'm doing is filling the new ObjectId with the String.  Will verify

[2019-09-11 22:48] drewid commented on #1314
**"Initializes a new instance of the ObjectId class from hex string"**

That just means a string that has valid hex values, correct?  Such as a ObjectId that was converted to a string.

The weird thing is that I can go from ObjectId to string, but not back to ObjectId.  Will run your test

[2019-09-11 22:55] JensSchadron commented on #1314
Following code illustrates that it is possible to go back and forth between string hex ids and ObjectIds.
[code]

[2019-09-12 03:09] drewid commented on #1314
In process of digging back in.

It's not a matter of string value and ObjectId.ToString() being the same but matching ObjectIds where a new ObjectID(stringvalue) = existing ObjectId value of the Id in the document.

[2019-09-12 03:22] drewid commented on #1314
Hmm - the following won't return a document - even though I know it's there and got the value from a FindAll() query.

[code]

[2019-09-12 12:27] sekulicb opened #1315 "NullReferenceException on newly created collection"
Hi. I noticed that when you call GetCollection method for some entity, and if that collection does not exist, it should create a new one.  However if you call Count() down the line to check are there any elements at all, LiteDb throws NullReferenceException. This is the part of stack trace:

   at LiteDB.StreamExtensions.<>c__DisplayClass4_0.<TryLock>b__0()
   at LiteDB.FileHelper.TryExec(Action a

[2019-09-13 17:33] mbdavid commented on #1312
If you are just open a old database, this long time was to convert into new version. Use around 1Gb is default (has some variables can be drop this size but will take long time to process).

Maybe a better user message or upgrade progress bar can help in this case.

[2019-09-14 00:45] drewid commented on #1314
Feeling sad... :( very promising setup but can't get it to retrieve by values - int, objectid, doesn't seem to matter.

[2019-09-14 19:29] #1307 closed

[2019-09-16 05:49] Pokis commented on #1046
Facing this issue as well.
We are using encryption, no concurrency, about 50k rows (but inserting only one by one in small operations). We use only inserts.
This happens when application using the DB crashes, it sometimes corrupts the DB.

[2019-09-16 06:09] tom-richtr commented on #1313
class Program
	{
		static void Main()
		{
			using (var db = new LiteDatabase(@"data.db"))
			{
				var projectsCollection = db.GetCollection<Project>("projects");
				var itemsCollection = db.GetCollection<ItemBase>("items");

				var itemA = new ItemA { Name = "Item A1", DetailsA = "Details A1" };
				itemsCollection.Insert(itemA);
				var itemB = new ItemB { Name = "Item B1", DetailsB = "Detail

[2019-09-16 14:38] mbdavid commented on #1314
Hi @drewid, can you send me a copy of this database? So I can test here.

[2019-09-16 20:00] mbdavid commented on #1313
Hi @tom-richtr, thanks for your code. I implement in v5 support for this cases. Take a look on master branch

[2019-09-16 22:50] mbdavid commented on #1198
Hi guys, at this moment I have no plans to support EntityFramework on LiteDB because there is no time for all. Maybe in future when has more people in this project :)

[2019-09-17 04:56] ViceIce commented on #712
I know the connection string constructor, but i would like to reuse my `LiteEngine` instance.

Most of my solution uses generic configuration based documents, but for some parts i would like to use the strong typed `LiteDatabase` and `LiteCollection`. So for concurrency it would be more performant to reuse the `LiteEngine`.

So my current workaround would be to create the `LiteCollection` directly

[2019-09-18 06:37] akaylh opened #1316 "LiteDB.Studio to .net core 3(winform)"

[2019-09-19 09:36] closetao opened #1317 "FileStorage.Exists Throw Exception when the sequence is null"
my code:

Exception：
The sequence does not contain any elements

it should check if the sequence is null firstly, then call built-in method "exists".

[2019-09-19 17:01] mbdavid commented on #1317
Hi @closetao, thanks for reporting! The problem was not specific with FileStorage but with non-existing collection with aggregate expression. It's fixed in master branch.

[2019-09-19 18:17] dfarrNTST commented on #1317
@mbdavid Can you please publish a release with the current v5 pre-release code with this fix in it?

[2019-09-19 20:06] marcbarry opened #1319 "LiteDB.LiteException: 'Cannot insert duplicate key in unique index '_id'. The duplicate value is '290'.'"
I'm reporting this without a full understanding of the sequence of events which led to this condition so that it is captured. If it happens again I will back-fill with further detail.

The situation I encountered today with LiteDB (version 4.1.4) was inserting a record without setting the value of the Id field into a _specific_ document collection started failing.

The code path for this insert ha

[2019-09-20 06:10] akaylh opened #1320 "Query not working in v5"
[code]

[2019-09-22 15:33] Tirraon opened #1321 "Return NetStandard 1.3 support"
As described in https://docs.microsoft.com/en-us/dotnet/standard/net-standard NS2.0 is supported only by newer platforms versions. But in real world there are cases, when our applications have to support out of dated platfroms and we can't easelly use NS2.0 libralies.
In my case, I support UWP 14393.0, which allows to use only NS1.4 or lower.

[2019-09-22 16:39] sharkAndshark opened #1323 "spatial index support"
wodule it add spatial index support in future.by the way ,thanks litedb ,i have useed it in my project :)

[2019-09-23 06:23] 1996v opened #1324 "Is there any difference in design or performance compared to Siaqodb?"
I learned about a database of the same type, Siaqodb, which is unfortunately not open source.

I wonder if there is a comparison between litedb and Siaqodb in terms of performance or other functions?

[2019-09-23 14:55] seriouz opened #1325 "How to set the password?"
How is it possible to set a password or don't even use a password. Or how is it possible to disable the encryption?

[code]

Didn't work.

[2019-09-23 16:12] mbdavid commented on #1320
Hi @akaylh, thanks. There is a bug in this `Query.And` and I will fix it. `Query` static methods now can be changed by `BsonExpression` string constructor:

[code]

[2019-09-23 16:41] mbdavid commented on #1325
You should set Password = null to not use password.

Current version support encryption data file only at creation time.

[2019-09-24 22:31] Tirraon opened #1326 "Ctor parameter is not filled, when it was mapped with custom name (like "_id")"
Hi!
It seems like CreateInstance factory is initialized after Entity<>() was called, but before any field mapping was set - [BsonMapper.cs#L316](https://github.com/mbdavid/LiteDB/blob/master/LiteDB/Client/Mapper/BsonMapper.cs#L316). That's why CreateInstance doesn't respect 'Key' field from repro, since in BsonDocument it was stored as "_id".

Note: [BsonId] on Key field works fine. Can be used as

[2019-09-25 12:36] alb3ric commented on #1051
Hello,

Is it plan to fix this issue or is there any workaround?

Thanks in advance!

Regards,

[2019-09-25 19:07] mbdavid commented on #1326
Hi @Tirraon, thanks for this! I fixed in current master branch and will be available in beta version (next week).

[2019-09-25 19:50] mbdavid commented on #1051
Hi guys,

I just fix v5 version to support Enum (and Enum nullable) as Integer value to support correct LINQ expressions (in LINQ, Enum as identified only as Integer value).

Take a look on this examples of how data is converted (only for v5)

LiteDB.Tests/Mapper/Enum_Tests.cs

[2019-09-26 09:59] alb3ric commented on #1051
Hello!

Great news! I'm going to take a look at it :)

Thanks

[2019-09-26 15:16] Pokis commented on #1319
Has this issue quite some times. I believe for our users it sometimes happens when they are writing something to the liteDB and the application crashes.
I recently had an issue, where liteDB had last item with index 5524, and was giving exception on same insert, that item 5524 already exists (well yes, yes it does indeed). Deleting this row "revived" the db, and it started working again. It seems

[2019-09-26 16:59] mbdavid commented on #1319
Hi guys, thanks for this feedback. Anyone can send me (in private) your database so I can checks whats going on? v4 persist last sequence using an attribute in Collection Page - but v5 works only with virtual sequence, getting highest value from collection.

[2019-09-26 17:02] Pokis commented on #1319
We are using v4. Sorry, I cannot share, I have only our user database which contains sensitive data that I am not allowed to share ;/.

[2019-09-26 17:05] mbdavid commented on #1319
So, if you are using v4, try insert manual highest value into your collection

[2019-09-26 17:07] Pokis commented on #1319
fixed mine by deleting and storing the same (latest) row again. Read on some other posts that other fixed exactly with the way you said.

[2019-09-27 10:26] marcbarry commented on #1319
Same for me @mbdavid - I cannot share the database, but I also did not keep a copy of the faulted version. Version 5 sounds like a good approach compared to version 4, however I'm sure there are trade offs which I don't appreciate.

What do you propose as a fix @mbdavid? The highest version I can see on nuget is 4.1.4.

Also, thank you so much for this fantastic project!

[2019-09-30 13:09] mbdavid commented on #1319
Hi @marcbarry, I have plans to release a new v4.1.5 with some fixes, but only after release v5 (I have lots of code/documentation to do).

[2019-09-30 13:12] sureshk1985 opened #1327 "What is the DB size we can manage"
We are trying to develop a platform what is the data size it can support.

[2019-09-30 13:16] mbdavid commented on #1327
Hi @sureshk1985, did you want to know if there is any database file size limit?

[2019-09-30 13:18] sureshk1985 commented on #1327
yes, we need to know how good the database is, size and how many requests it can handle at a time.

[2019-09-30 13:24] mbdavid commented on #1327
Are you want to use for mobile (Xamarin), games (Unity), desktop apps ou web apps? For windows or other platforms?

[2019-09-30 13:26] marcbarry commented on #1319
Understood. Thanks @mbdavid, will look forward to it

[2019-09-30 14:04] mbdavid commented on #1327
Well, in this case:

- LiteDB has no file size limit, you can grow as large as you want... there is only file system limit (beleave, it's huge).
- About request: the main ideia here is re-use same instance across your web app. In web case you can use IoC with singleton pattern. LiteDB support multi threads.
- Current v5 version support, by default, 100 concurrent transactions... it's a fixed value

[2019-09-30 21:32] Bobisback opened #1328 "Question: Is it possible to save nested objects as embedded documents?"
So given these objects:

[code]

When I save Order with a customer and product list I expect it to treat these objects as embedded documents. But when I get out the order Customer and Products are null. Any idea what I am doing wrong?

I am doing no references and there is only one collection, that is the order collection.

Thanks,
Bob

[2019-10-01 13:28] mbdavid commented on #1328
Hi bob, can you paste your `Save` operation, so I can examine how are insert this documents.

[2019-10-01 13:30] Bobisback commented on #1328
Just using the normal insert command with nothing special, I was thinking the last night that this could be the issue. Do not have the code in front of me but it is something like below.

configurations.Insert(configFIle);

[2019-10-01 13:54] mbdavid commented on #1328
how did you populate your `configFile` variable? You must have some like this:

[code]

[2019-10-01 13:59] MestreDosMagros opened #1329 "Exception: Datafile is not a LiteDB database."
I think i found one of the reasons for the error: LiteDB.LiteException: Datafile is not a LiteDB database.

As i saw on other issues referecing this problem, is the database file that become kinda corrupt, but only when the system tryes to read, on the studio everything goes fine.

Im implementing the LiteDB in a very small project (.net core 2.2 console app as a windows service) and im using it j

[2019-10-01 14:10] mbdavid commented on #1329
Hello @MestreDosMagros (kkkk, nick muito engraçado!!)

I will try to reproduce this steps to check this. v5 use lock FileOpen concepts to not allow 2 process open same database at same time (only if both are using Mode=Shared). Are you using Mode=Embeded?

[2019-10-01 14:51] mbdavid commented on #1328
Hi, yes, of course, in this case you must have some like this:

[code]

This code should works.

[2019-10-01 15:26] Bobisback commented on #1328
Teehee, I had fields instead of getters and setters in my config file.... whoops. You can close this cheers!

[2019-10-01 17:21] mbdavid commented on #1328
No problems...

You can use Fields too, but you must define `BsonMapper.Global.IncludeFields = true`

[2019-10-01 17:21] #1328 closed

[2019-10-01 17:50] Jokder opened #1330 "will litedb v5 support query Thenby in the future?"
hello david
Just i used collection.Query().OrderBy(),but i found there's no Thenby supported now,My application target machine has poor memory,so i really like love now litedb can use linq OrderBy on disk,I hope litedb will support Thenby,thanks for your time.

[2019-10-01 21:00] dburner opened #1331 "[Wiki] Document size limit in documentation is wrong?"
In the wiki on file storage it says

Is this true? From my testing in version 4, you can insert a document with byte[] larger than 100MB.

[2019-10-02 01:04] lazlo-bonin commented on #787
I get the same issue as above.

[2019-10-02 01:14] lazlo-bonin opened #1332 "ArgumentNullException in default example"
Just started testing out LiteDB and I can't get the basic example working without any change.

I already had to add Mode=Exclusive to the connection string to get it working on OSX.

Now I get a ANE a few lines later.

LiteDB v.4.1.4 installed from NuGet.
OSX 10.14.5 Mojave.

Full error:

[code]

Full Code:

[code]

[2019-10-02 01:17] lazlo-bonin commented on #1332
Just tested on v5 alpha 2, I get this error instead:

[code]

[2019-10-02 17:58] MestreDosMagros commented on #1329
kkkk Valeu!

I'm using shared mode, but the problem exists even when i got just my console app running after i open the db file externally.

For example, my service created a database an run ok, then i make a copy of that db file, and open one copy externally on the studio, with that file i get the error running the app, when i swap the file and use the one i dont opened externally it runs fine.

[2019-10-02 18:23] mbdavid commented on #1332
try fix your connection string with:

    using (var db = new LiteDatabase(@"fiename=MyData.db; Mode=Exclusive"))

[2019-10-03 00:07] lazlo-bonin opened #1333 "Custom String Query"
Is there a way to create a custom string query?

I have a custom search engine that needs to return results based on initials, for code completion.

For example, "CWL" should match "Console Write Line".

Looking at the query class a bit, I see that it expects a BsonExpression and I don't see a way to extend it. Is there a way to do this?

[2019-10-03 13:44] mbdavid commented on #1333
Hi, is your source string inside a long memo text? Or is just a single word field?

It’s possible to create a new propriety (get only) that return this initial letters? (Or return an array of string)

In this case you can create index on this result and query over it.

Yes, BsonExpressions are best solution for this case, but current version has no support for user-defined methods

[2019-10-03 13:53] lazlo-bonin commented on #1333
Hi,

It's a short text field, but the initial approach wouldn't work. I simplified the requirement a bit, but basically I need to implement a fuzzy search engine, so for example "Conwli" should also match "Console Write Line".

My last resort would be loading the entire string-to-ID collection in memory and performing the search there, but it woul defeat the purpose of a database to begin with!

[2019-10-03 13:55] mbdavid commented on #1330
Hi, for my first release there is no plans yet for ThenBy. If you have all fields in same order, you can sort a new array:

.OrderBy(“[Name,Age]”)

[2019-10-03 13:58] mbdavid commented on #1331
Hi, I’m v4 document has no limit size. Keep under 1mb is a recommendation... I will check why this not updated. In v5 yes, document has limit size: 2mb

Thanks!

[2019-10-03 19:55] dburner commented on #1331
Just as a feedback I really love using **LiteDb** as some http response cache under different collections.
[code]

Using the v4 FileStorage is a little bit trickier since it does not offer the generic of a custom file type and storing under different folder has to be done by altering the id (right now I'm just using the raw url as the id).

[2019-10-04 09:34] Tirraon commented on #1326
@mbdavid
Thanks! I will merge it to my fork and check on this weekend.
I will close issue after.

[2019-10-05 02:00] mbdavid commented on #1333
Your case is almost a Full Text Search using custom analyzer and tokenizer. Did you already use Lucene.net? Lucine implement this full search very well and already exist plugin to store Lucene index data into LiteDB

[2019-10-05 16:18] #1326 closed

[2019-10-06 11:36] sureshk1985 commented on #1327
Ok, Let we test how LiteDB can support our Applicaiton.

Thank you for your timely response.
Regards
Sureshkumar, K

[2019-10-06 11:36] #1327 closed

[2019-10-06 20:28] #926 closed

[2019-10-07 15:25] Asyvix commented on #1321
.net standard 2.0 has included many api. and v5 need that api probably.

[2019-10-08 02:45] rmszc81 opened #1334 "Question - Immutable models"
Hi @mbdavid! (and @everyone)

Long time no see you. how's it going? I hope that everything is fine there in brazil. I'm still in vietnam, maybe when I go brazil see my family I can go there to have a coffee with you, 🍡

Anyway, today I have another interesting question: **How does LiteDB behave with Immutable models? Is it possible to implement?**

Documentation for older versions says: **"must be

[2019-10-08 09:25] andrewvk commented on #1300
https://github.com/rsdn/CodeJam/blob/master/CodeJam.Main/Threading/AsyncLock.cs
You may copy source code to your project.

[2019-10-08 13:18] Tirraon commented on #1321
@Asyvix
See comment from PR https://github.com/mbdavid/LiteDB/pull/1322#issuecomment-534181447
"The main reason to use v2.0 is not valid anymore: FileStream#Lock|Unlock (used in LiteDB v4)."

[2019-10-08 18:50] mbdavid commented on #1334
Hi @rmszc81, nice to see you here again! You are very welcome here for a coffee and code!

Documentation are not done yet for v5, but new version support ctor with parameters - so you can run immutable classes. Take a look on this unit tests:

https://github.com/mbdavid/LiteDB/blob/master/LiteDB.Tests/Mapper/CustomMappingCtor_Tests.cs

Here's how `BsonMapper` decide for which ctor will be used:

h

[2019-10-08 20:12] EnzoSipitria commented on #464
Hi @tombly, I have the same issue as you, you figured out a solution or workaround for this?
maybe performing a shrink operation on the database.
this happens to me after deleting all documents from a collection, this leads to fail any insert update or find over the collection. the case use is nearly the same as you showed in the comment.

Additionally i left some corrupted database files for @mbd

[2019-10-10 08:57] b-mi opened #1335 "How to get column list and its types"
I create web api (asp.net) / web app (angular) for managing dblite database.

I work with collection by getting collection by its name. (Database.GetCollection(name))

How to get column list and column types of collection?

[2019-10-10 11:33] PathogenDavid commented on #927
This is a fairly old issue, but I ran into it and looked into it a bit.

This is caused by recursive/mutually recursive references. `BsonMapper.RegisterDbRefItem` and `RegisterDbRefList` rely on [getting the entity mapper for the referenced type](https://github.com/mbdavid/LiteDB/blob/d4025ff1f8fad618cce201a66bf69ca64d1f7d04/LiteDB/Client/Mapper/BsonMapper.cs#L429). This is done when the field is

[2019-10-10 12:39] vshapenko opened #1336 "v5 questions"
Hello! I am writing litedb wrapper for f#, and have some questions about upcoming v5 version of litedb.
1. Is BsonValue.RawValue intentionally made internal? If so, is there a way to get raw value now?. I am badly need this for enum case.
2. Same question for BsonValue(object). This was very handy in some cases.

[2019-10-10 13:20] kuiperzone opened #1337 "Clarification for v5 - single process only?"
The v5 blurb says this:

###
What was dropped?
Single process only - optimized for multi thread (open file as exclusive mode)
###

It is a tad confusing, though I suspect that you mean that the file will be locked in the future and can be accessed by a single process only. Can you confirm?

If so, will it be possible for different class instances of LiteDatabase running in the same process to acce

[2019-10-11 12:54] mbdavid commented on #1337
Hi @kuiperzone,

Now, when your first `LiteEngine` instance open data file, this open occurs as exclusive write. No others can open same datafile. This exclusive locks was nedded to support WAL index implementation. Of course, this single LiteEngine support multiple threads access (and are optimized for that).

If you need open same datafile from many different processes (like open in shell + open

[2019-10-11 13:00] mbdavid commented on #1336
Hi @vshapenko, both changes was made to remove from user pottencial bad-use of `BsonDocument`.

But if you need it in F# conversion, it's possible change this or maybe create another class like `BsonValueWrapper` that contains access to this RawValue and implement ctor for Object

[2019-10-11 15:57] FICTURE7 opened #1338 "BsonMapper.ToDocument<T>() can throw NullReferenceException"
`BsonMapper.ToDocument<T>(object)` will throw a `NullReferenceException` when mapping an object which cannot be mapped to a `BsonDocument`, e.g: an array. However the non-generic version `BsonMapper.ToDocument(object)` will not throw, but return null instead.

Repro:
[code]

[2019-10-11 16:31] vshapenko commented on #1336
Sounds like a good idea.

пт, 11 окт. 2019 г., 16:01 Mauricio David <notifications@github.com>:

[2019-10-11 17:05] FICTURE7 opened #1340 "Add ISet<T> to BsonMapper"
It would be nice if `BsonMapper` supported `ISet<T>` by default.

[2019-10-13 08:17] kuiperzone commented on #1337
Thanks for the reply David. First of all, let me say that I can understand why you have made locking exclusive and I think it's probably the right choice for LiteDB.

However, your answer doesn't quite answer my question. If I were to write:

var ldb1 = new LiteDatabase("FileName= C:/temp/file");
var ldb2 = new LiteDatabase("FileName= C:/temp/file");

I'm guessing the second one will fail because

[2019-10-14 16:52] mbdavid commented on #1337
Hi @kuiperzone, yes, your ldb2 will fail because ldb1 open datafile in exclusive mode. In this case, you need a Singleton pattern do always reuse same ldb1 instance.

[2019-10-14 18:30] kuiperzone commented on #1337
Thanks and all the best with V5.

[2019-10-15 13:05] #1337 closed

[2019-10-15 15:12] vshapenko opened #1342 "v5 transactional behavior"
Testing v5 , i have discovered a strange behavior vs v4. On v4, i did not needed to invoke Complete to write changes to db. On v5 it looks like i should do this(else i am getting log-db file, which consists of all my changes, main file remains empty). Is there a way to change this behavior?

[2019-10-15 19:21] Dhuel opened #1343 "Ends With Query or alternative"
Hello,

I am trying to Query the database and search for a dynamic field.
I have gone through the available queries in the list below but the existing Queries do not support "ends with". Is there another way to do this?

https://github.com/mbdavid/LiteDB/wiki/Queries

An example of what I am trying to do is as follows. the resulting query would return all values that have the item status column en

[2019-10-15 19:53] mbdavid commented on #1342
Hi @vshapenko, v5 works with log file to track changes. So, any commited changes (and during big transactions also use) log file. There are some moments that database copy this log into original datafile:

- when Dispose database engine
- when call "Checkpoint"
- when log file reach 1000 pages (1000 * 8192 = 8MB)

[2019-10-15 19:56] mbdavid commented on #1343
Hi @Dhuel, v4 has no support for EndsWith... but you can use "Query.Contains" (to use index) and than implement again EndsWith in resultset.

If you try v5 this already implemented with LIKE expression: `Name LIKE '%David'`

[2019-10-15 19:58] #1338 closed

[2019-10-16 08:01] FICTURE7 commented on #1340
I may have improperly described the issue - Currently `BsonMapper` does not fully support `ISet<T>`. It will properly serialize the `ISet<T>` object to a `BsonValue`, however when deserializing the `BsonValue` to an `ISet<T>` it will fail to do so and throw a `LiteException` with error code 202 because it cannot find a valid constructor for `ISet<T>` since it is an interface.

Repro:
[code]
So ple

[2019-10-16 13:19] #1340 closed

[2019-10-16 14:55] ailyan opened #1344 "duplicated key randomly pop"
Hello,

First thank you for your work, I really enjoy using LiteDB.
Though I encountered an issue with file storage.
First time posting an issue so I don't really know how to insert code that is visually nice. I tried the insert code feature but the preview is not showing something beautiful.

I have an app on Xamarin that run on UWP and Android, the issue happen on both.
The latest version I coul

[2019-10-16 19:23] Dhuel commented on #1343
Could you provide an example of how that would look using Query.Contains please?

[2019-10-16 20:11] Dhuel commented on #1343
Hi @mbdavid Query.COntains will not work for the application because it is a dynamically changing query which may be executed in an AND query as well as host several ends with queries within it.

I installed the version 5 beta but all the preivous queries which I had, are now throwing errors and required a change to BSON expressions. Even after this change, I am getting the following exception "Fi

[2019-10-16 21:09] mregni opened #1345 "Strange memory usage"
Hi,

I'm working on a project and switch from SQLite to LiteDB and I love your project!

I do have a question about memory usage. It seems that when I query some data (database itself is 7Mb, 1100 documents) it does seems to take a lot of memory.

Here is my code I'm using for this test to make sure it wasn't something else in my program.

[code]

The result in my console is 20 (as expected) but i

[2019-10-18 22:42] CarvalhoWesley opened #1346 "#suge"

[2019-10-18 23:04] CarvalhoWesley opened #1347 "v5 Query.Contains() [sugestion]"
Hello,

I'm trying to query a string column, but I need it to return all records in the table if the description is empty. Analyzing the code I realized that the method "Query.Contains (field, value)", returns an exception because the parameter "Value cannot be empty or null".

My suggestion would be to leave the Code like this:

`public static BsonExpression Contains(string field, string value)`

[2019-10-18 23:18] #1346 closed

[2019-10-19 06:29] bigworld12 opened #1348 "ILiteQueryable<T> should be able to convert to System.Linq.IQueryable<T>"
this should be helpful when using the repository pattern in this package
https://github.com/matthewschrager/Repository
my suggestion is to have something like this
[code]

[2019-10-19 23:41] kuiperzone opened #1349 "Another question about v5 concurrency?"
I seem to recall seeing in the description that there are no read-locks in V5.

Does this mean that it will be possible to safely have one writer and one or more readers concurrently accessing the same DB?

Thanks

[2019-10-20 00:07] PassiveModding opened #1350 "DateTime as dictionary key not serialized correctly."
https://github.com/mbdavid/LiteDB/blob/f568f133077dc24d2b74fb7b23f1bf64e042706d/LiteDB/Client/Mapper/BsonMapper.Deserialize.cs#L252

[code]

It appears when using a datetime as a key for a dictionary stored the parser does not convert it into a litedb format but rather leaves it as a string

[2019-10-20 00:15] PassiveModding commented on #1350
I suppose the root of the issue is in the https://github.com/mbdavid/LiteDB/blob/0412d11ed9492bd0e442db3e18b195b164bf5ca9/LiteDB/Client/Mapper/BsonMapper.Serialize.cs#L159 method then as it just sets the 'index' of the value to be `key.ToString()`.

[2019-10-20 13:26] jeshwel opened #1352 "[Question] : Better approach for creating index when using repository pattern?"
Hi,

I am performing an Upsert operation using the Repository pattern, is there a better approach for creating indexes then the one given below (_may be using the fluent API?_)
[code]

[2019-10-20 14:41] tombly commented on #464
Hi @EnzoSipitria,

We haven't been able to figure out what causes this, but at least in our case if we shrink the database in the exception handler then it starts working again.

[2019-10-20 17:07] FICTURE7 commented on #1345
#1351 might fix this.

I suspect that `PageBuffer` objects are surviving for longer than they should and since they maintain a reference to a possibly large `byte[]`, it too will survive for longer than it should as well. Therefore this causes that `byte[]` to remain uncollected after at least 1 garbage collections after it is has been marked for collection.

So if you did:
[code]
Not a lot of mem

[2019-10-21 03:25] PassiveModding commented on #960
Any updates on this?

[2019-10-21 05:06] PassiveModding commented on #546
Might be better to rename this issue to something like "InvalidCastException for DeserializeDictionary when Key is of non primitive or string type"

[2019-10-21 06:32] PassiveModding commented on #546
as a side note, you could just serialize the key
https://github.com/mbdavid/LiteDB/blob/0412d11ed9492bd0e442db3e18b195b164bf5ca9/LiteDB/Client/Mapper/BsonMapper.Serialize.cs#L167
with something such as
`o[this.Serialize(key.GetType(), key).ToString()] = this.Serialize(type, value, depth);`

and then handle the deserialization of keys somehow here
https://github.com/mbdavid/LiteDB/blob/f568f133077d

[2019-10-21 06:33] PassiveModding commented on #1350
Basically  a dupe of https://github.com/mbdavid/LiteDB/issues/546

[2019-10-21 06:33] #1350 closed

[2019-10-21 06:57] mregni commented on #1345
Thanks for the tip! It looks like it fixes most of the memory usage indeed as you can see in the screenshot. Going to try this in my real code as well but I think it will fix my issue with higher document count as well. Thanks!

![image](https://user-images.githubusercontent.com/22617019/67182819-42c5e480-f3e0-11e9-9811-21507a28ef34.png)

[2019-10-22 13:19] mbdavid commented on #1350
Hi @PassiveModding, I think if this `key.ToString()` contains a special format for `DateTime` (like ISO-8601) will be possible to revert from string to datetime.

[2019-10-22 21:10] kuiperzone commented on #1349
Just to add a little information to my question, under the V5 description, it says:

"No lock for reader"

But, as you have confirmed, the file will be opened in exclusive mode. Does this apply to when a file is open in "ReadOnly" mode?

[2019-10-23 00:15] PassiveModding commented on #1350
@mbdavid thanks, yes that would work. Are there any plans to have a generic method of serializing classes to work as keys by any chance?

[2019-10-23 02:52] kuiperzone commented on #1349
Also, in the v5 connection string the Mode seems to be one of Shared or Embedded.

What will Shared do? And what's the difference?

Cheers

[2019-10-23 10:10] bluekuen opened #1353 "[Question] Datastore changed"
Hello,

i need help with migration. I had a list of devices with parameters saved in LiteDB.
No my Parameter class changed and a variable in the class is now string instead of guid.
My problem is, i don't know how to tell the deserializer that the it's an old object with guid
instead of string.
I get the following exception when reading the items with the old guid variable:

10-23 11:34:38.819 I/M

[2019-10-23 12:44] mbdavid commented on #1349
Hi @kuiperzone,

v5 works with snapshots - this means writer transaction has an insolated data map during writing. Read threads still reading old data until writer transaction commit. In v4, when writer transaction starts, no ones can read anymore.

Datafile are open with a single writer and many readers (stream pool). But only 1 writer is possible.

Embedded more are default mode: only 1 instance

[2019-10-23 12:48] mbdavid commented on #1353
Hi @bluekuen, in this case, you will need create a small code to convert GUID to String and you can keep "UserVersion" to detect your database version. Use generic BsonDocument to read document

[code]

[2019-10-23 12:51] mbdavid commented on #1350
In dictionary, keys must be a `String` type because are serialized as JSON document (each Key will be converted into a Field, and fields must be a string).

[2019-10-23 13:02] mbdavid commented on #1352
Hi @jeshwel, there is not other way to create indexes in Repository class.... I will think about adding this... thanks!

[2019-10-23 13:46] bluekuen commented on #1353
Thank you for the fast reply! Really appreciate it!
The problem is, i get the collection via _collection = db.GetCollection<T>();
where T is of type Device and the device has many parameters which are nested to up to
four hierarchies and i can't go through all plain and switch the Unit of the parameter.
That's why i want to make it generic like in your example. Is there a way to do so?

[2019-10-23 13:55] mbdavid commented on #1353
But when you call `_db.GetCollection()` with no `T` you call using `BsonDocument` (native type used to store documents - any class are converted into `BsonDocument`). Should be possible navigate into this document in any level.

[2019-10-23 14:02] bluekuen commented on #1353
but i have to deliver a parameter name in GetCollection(string name) and i don't have that name because i qualify it with T.
[code]

[2019-10-23 14:07] mbdavid commented on #1353
When you do not define collection name, default name is `Type.Name`. So try:

`db.GetCollection("Device")`

[2019-10-23 14:23] bluekuen commented on #1353
Ok, that worked, thank you! But i need to get a field inside a class which is inside a List of that class which is not mapped as an Entity.
So i have a Entity Device which has a DeviceMenu and inside that DeviceMenu there are two Lists
        public List<DeviceParameterItem> Parameters { get; set; }
        //
        // Summary:
        //     All submenus below this menu item
        public Lis

[2019-10-23 16:28] mbdavid commented on #1353
You can write custom serialize/deserialize funtions for special types. Take a look on how classes like `Uri` was made:

[code]

This method are avaiable at `BsonMapper.Global`

[2019-10-23 17:47] kuiperzone commented on #1349
I guess I'm confused because you are thinking of concurrency in terms of threads calling on the same LiteDatabase instance, whereas I am thinking of "many readers" in terms of different processes and/or different instances of LiteDatabase.

However, I think I understand -- there is to be no concurrency other than that of threads (given that there does not seem to be a "ReadOnly" mode in v5).

Agai

[2019-10-23 17:54] kuiperzone commented on #1349
Will Embedded mode mean that when reading a file, access will be faster provided there is no other thread writing?

Presumably, it will still possible have different instances of "LiteDatabase" accessing different database files in different threads?

[2019-10-23 18:16] mbdavid commented on #1349
Hi @kuiperzone, sorry for confusion. It's so native to me that I forgot that's not to easy :)

Let's me try again:

Embeded Mode (default) - Only a single instance of LiteEngine (or LiteDatabase|LiteRepository). Over this single instance you can run multiple threads.
- You can read N concurrent read transactions (one transaction PER thread). There is not lock for read operations. If needed, LiteDB

[2019-10-23 19:15] mbdavid commented on #1349
Yes, per datafile! Each instance contains its own cache. There is no static singleton.

[2019-10-23 19:19] kuiperzone commented on #1349
Brilliant. :)

[2019-10-24 12:31] bluekuen commented on #1353
Can i say if a property is of a special class that i want it to be saved in a seperate collection?

[2019-10-24 13:02] bluekuen commented on #1353
I'm gonna go for that way. Is it possible just to classify the deserializer?

[2019-10-24 14:45] vickyrathee commented on #910
@mbdavid  Does v5 has full text search now?

[2019-10-25 10:17] jeshwel commented on #1352
Thanks @mbdavid , if you can add this as an attribute like [BsonRef] or as part of the Fluent mapper Api it would be cool :)

[2019-10-25 10:31] Tirraon commented on #1321
PR was merged

[2019-10-25 10:31] #1321 closed

[2019-10-26 05:56] kuiperzone opened #1354 "LiteDB vs MongoDB - Some Performance Results"
I note the slightly out of data performance results of LiteDB vs SQLLite (link below). I've been working with both LiteDB and MongoDB recently and have produced some performance tests for my own purposes. I thought it would be interesting to share some of them.

[https://github.com/mbdavid/LiteDB-Perf](url https://github.com/mbdavid/LiteDB-Perf)

Now, I can't claim my test are definitive in any wa

[2019-10-28 05:44] alifpay opened #1355 "Problem with insert and update"
We are using v4, have issues with litedb in insert and update.
How to check logs of litedb, why insert and update is failed? how to check dirty records?

Please help !!

[2019-10-28 11:16] dmariogatto commented on #1245
I've been doing some troubleshooting around what causes the DB to get into this inconsistent state. I found something odd, which I hope will be helpful.

In Xamarin if I spin up multiple threads and have them all access the DB at the same time (reads & writes) then corruption is almost immediate (InvalidCastExceptions). However, the exact same code in a .NET Core console app and the database remai

[2019-10-28 15:53] DannyCKing opened #1356 "[v 4.1.4] Timeout.DataBase is locked for more than 00:01:00."
This has been really killing an application I've created using LiteDB.  I've seen others with this issue - but their solutions don't seem related to what I am doing.

See below for a stack trace.  When this happens we are pounding the database fairly hard(dozens of times per second possibly) with the below code:

Any guidance is appreciated. This is really causing some headaches right now.

[code]

[2019-10-28 17:09] DannyCKing commented on #1356
Possible update:

My best theory is that Windows Defender(or some other anti virus software) is scanning my database file every once in awhile.

When I manually start a scan in Windows Defender of the folder containing my database file - I can replicate this fairly easily.

I am probably going to close this - but hope it helps someone else seeing this issue.

[2019-10-28 17:09] #1356 closed

[2019-10-28 21:32] dfrencham commented on #1329
I'm having the same issue. I am using the latest 4.x version of LiteDB in my project, and the latest LiteDB Studio exe from github.

[2019-10-29 18:33] maurocristy87 commented on #1329
Same here

[2019-10-29 19:52] CoralSeaGit commented on #1329
Same here, exact same.

[2019-10-30 09:25] gjl8820 opened #1357 "how can i use when TEntity Get(TKey id)"
when i use     v5.0
 public TEntity Get(TKey id)
  {
       return _collection.FindById(new BsonValue(id));
  }
it is wrong and  show can not  convert  Tkey to int,
in 4.0 it is OK

[2019-10-30 13:01] mbdavid commented on #1357
v5 removes ctor `new BsonValue(object value)`.

You can use: `BsonMapper.Global.Serialize(id)`

[2019-10-30 13:33] #1357 closed

[2019-11-04 05:06] zmrhi opened #1358 "v5 DeleteMany(x=> ids.Contains(x.Id))"
Hello,

I'm trying to delete many records like this:

var ids = new int[] {1,2,3};
col.DeleteMany(x=> ids.Contains(x.Id))

Result only deleted id=1 record.

[2019-11-04 16:53] mbdavid commented on #1358
Hi @zmrhi, thanks. I fixed this in master branch

[2019-11-04 17:18] zmrhi commented on #1358
Thanks!

[2019-11-05 03:02] zmrhi commented on #1358
Another bug when I trying to like this:

var list = new List<int>() { 1, 2, 3 };
col.DeleteMany(x=> list.Contains(x.Id))

Then throw an exception of type 'System.ArgumentOutOfRangeException'

[2019-11-05 03:03] zmrhi commented on #1358
Hi @mbdavid Another bug when I trying to like this:

var list = new List() { 1, 2, 3 };
col.DeleteMany(x=> list.Contains(x.Id))

Then throw an exception of type 'System.ArgumentOutOfRangeException'

[2019-11-05 19:15] TristanCharron opened #1359 "Performance question : Operations using BsonValue as parameter"
Hi,

I am currently using LiteDB for my project since yesterday and I was wondering :
LiteCollection.Delete(BsonValue id)
LiteCollection.Min();
LiteCollection.Update(BsonValue id);

Are those functions  using a KeyPair Value association within the document with the Bson Value , considered as an O(1) operation or it has to search through all documents like a query function O(number of elements in t

[2019-11-06 19:14] mbdavid commented on #1358
Hi @zmrhi, it's a complete different bug :smile:

Now, it's about how `List<T>` are converted into `BsonExpression`. Just fix it. Thanks!

[2019-11-07 11:12] mbdavid commented on #1359
Hi @TristanCharron,

All this 3 operations (Delete, Min and Update) use `_id` index to find you document. So, we are consuming here O(1). LiteDB use SkipList index, so for 100.000 you will have only 6 or 8 "jumps" to find you document.

Yes, you can use FileStorage for any size of document. LiteDB slipts you file into "chunks", so there no problem with big files. Of course, you are storing all fil

[2019-11-07 11:37] gnamse commented on #808
@mbdavid
Any update on this or do you know of an alternative implementation?

[2019-11-07 12:49] mbdavid commented on #808
Hi @gnamse, no update yet. LiteDB still just a database, not an ORM. To implement this, LiteDB must track objects to detect changes (insert/update/deletes).

I think this feature can be implemented in repository pattern layer.... or in an EF implementation.

[2019-11-09 20:41] GreemDev commented on #1224
@mbdavid Any info on this? I currently can't use LiteDB in my project because of InvalidCastExceptions.

[2019-11-10 05:50] SKProCH opened #1360 "NRE upon attempt upsert value in string collection."
Why does the following code lead to an error?
[code]
Error:
[code]
What am I doing wrong?

[2019-11-11 14:09] botne opened #1361 "OS file fragmentation"
Hi!
Love LiteDB!

It seems that database files gets very fragmented over time.
I guess this is because the file is grown every time a new pages is added.

Does anyone have ideas how to increment the files size in %?
(making large files allocate larger chunks)

Br,
Frank

[2019-11-11 18:24] TheBottleCyber opened #1362 "Is there any way to make a remote database?"
Wanted to know if there are plans to add the use of a remote LiteDB server
I see it this way: `using(var db = new LiteRemoteDatabase(ip, port, password, dbName))`

If not, please advise how to do it better using the current version
Thanks for the answer

[2019-11-12 11:46] mbdavid commented on #1224
Hi guys, I will take a look on this.

[2019-11-12 11:48] mbdavid commented on #1360
Hi, `String` is not a valid entity class for this. You can't convert `String` into `BsonDocument`. In this case, you must change to very simple class like this:

[code]

[2019-11-12 11:55] mbdavid commented on #1361
There is no default extend segment size. Only when you create database.

I have not tests about this, but I think (in v5 only) you can just extend using `SetLength` method from `FileStream`.

But, I like the idea to extend segment sizes.... maybe this can be a configuration in LiteEngine.

ps: I want invite you to anwser my survey form to understand how devs are using LiteDB, so it's easy to me un

[2019-11-12 12:06] mbdavid commented on #1362
YES !!! There is real plans to implement LiteDB Server mode. This release will be next implementation after deliver v5 stable. And API will be better: will use same `LiteDatabase` class (just another constructor and new connection string parameters).  The main idea is that you can switch from embedded database to server database just changing connection string.

LiteDB Server will be a .NET core c

[2019-11-12 12:28] botne commented on #1361
Hi @mbdavid,
Thanks for the swift reply!

Already using the setting to make the initial database larger.
Good to know that I am not in the dark on an existing option.

Cool if LiteEngine whould have a setting for size when extending.
The most "set and forget" would be to do it in % of the existing size, but also good just to be able to set a fixed number. Could always detect a large database and i

[2019-11-12 13:54] yotzer opened #1363 "System.ArgumentNullException: Value cannot be null. col.Find(x => x.Name.StartsWith(""));"
Hello,
if I try to find a String with `col.Find(x => x.Property.StartsWith("");` there pops up a `ArgumentNullExeption`.

My whole code is:

[code]

[2019-11-12 14:09] #1360 closed

[2019-11-12 14:29] mbdavid commented on #1363
Are you using v4 or v5?

[2019-11-12 14:37] yotzer commented on #1363
4.1.4
If I download the project and make a reference inside my solution, everything works.
But if I use the nuget, the exception is thrown.

[2019-11-12 14:39] mbdavid commented on #1363
did you download from master branch? it's v5

[2019-11-12 14:42] yotzer commented on #1363
Yes, from master.
Let me check with v4...

[2019-11-12 14:44] yotzer commented on #1363
![grafik](https://user-images.githubusercontent.com/36042222/68681150-2b06f980-0563-11ea-9ce3-86bc707725d7.png)

with v4-branch its the same. See image.

I will check if I can use v5 instead.
When will v5 be stable? And what about the docs?

Thanks for your great work!!!

[2019-11-13 14:57] biapar commented on #1329
+1

[2019-11-14 04:33] cacaxiq opened #1364 "Banco de dados salvando BsonDocumentos trocados"
Ola mbdavid,

Venho utilizando o LiteDB com frequência e encontrei o seguinte erro na ultima versao:
Tenho duas entidades "Tarefa" e "Usuario". O aplicativo realiza constantes actualizações na base de dados com dados vindo dos serviços. Após algum tempo funcionando o LiteDB salva um objeto "Tarefa" como "Usuario" e qdo eu recupero o "Usuario" da base de dados dispara o erro de 'Invalid Cast'.

Alg

[2019-11-14 10:19] #1363 closed

[2019-11-14 14:39] mbdavid commented on #1364
Oi @cacaxiq, isto é em relação a versão 4.x? Ou está usando a versão v5 beta? Tens como enviar o print do stacktrace?

[2019-11-15 01:58] southernwind opened #1365 "Thrown NullReferenceException by Query().Where(x => Array.Empty<T>().Contains(x.xx)) in v5"
Hi,

The following code throws an exception.
Is this a known issue?

[code]

[2019-11-15 10:46] Tviljan commented on #1099
Seems to be still an issue with v5

[2019-11-17 13:28] #1358 closed

[2019-11-18 16:53] johna1203 commented on #691
I will comment here because the error is similar.

I am using the LiteDB 5.0.0-alpha2 and, I get the error below using multithread, could someone guide me how can I solve this?
"The process cannot access the file 'C:\Test-log.db' because it is being used by another process."

Thanks,

[2019-11-19 07:43] Tviljan commented on #1099
Here is a simple way to make the error happen

`

    using System;
    using LiteDB;
    using System.Collections.Generic;
    using System.Linq;
    using System.Threading;
    using System.Globalization;

    public class DataItem

    {

        public string Id { get; set; }
        public string Name { get; set; }
    }

    class Program
    {
        private static Random random = new Rand

[2019-11-19 13:28] vshapenko opened #1366 "Custom mapper in v5"
Looks like custom mapper cannot be used anymore in v5. At least after upgrading from v4 my own mapper stopped working at all. I am developing on f# and badly need custom mapping (or native fsharp types support). For example, i do have types without default constructor. But now it looks like that my custom mapper completely ignored.

[2019-11-20 07:03] GreemDev commented on #1224
Just if you're interested, [this is the exception I'm getting.](https://img.greemdev.net/aivIVaHdad/VsDebugConsole_2019-11-20_00-56-40.png)
Int32 must be used internally, as I do not use Int32 anywhere for my database, only UInt64.
In any event, there's the stacktrace. I honestly have no idea why this is happening, it never did before.

[2019-11-21 11:23] rahulsahay19 opened #1367 "Docker support with LiteDb"
Hi Team,

Wanted to check whether I can install lite db in docker image alongwith asp.net core. If so, can you provide few examples or samples which I can refer. I tried finding documents around but didn't fine. This is meant for developers machine.

Thanks,
Rahul

[2019-11-21 14:14] alemik opened #1368 "Mapping POCO class with Dictionary<string,class> V4"
Hello
If i try to automapping  a Dictionary<string, myclass> contained in another Dictionary <string,myclass2>  i get a System.IndexOutOfRange error in BsonMapper.Serialize.

            var customer = new Customer();
            var d = BsonMapper.Global.ToDocument(customer);

    public class Customer
        {
            [BsonId]
            public Guid Id { get; set; }
            public stri

[2019-11-21 14:22] rahulsahay19 commented on #956
Hi, looks like in your case atleast your code is working with lite db when you are working with containers. In my container, I already have all required project dlls and lite db dlls. But, lite db doesn't get connected. However, when I run the docker from visual studio then same docker file works. Can you help me with this?

Thanks

[2019-11-22 09:53] Pokis commented on #1329
We get it without even using studio. In very rare cases Store seems to fail, and after few failures to insert data, it starts to receive the error.

[2019-11-23 07:10] GreemDev commented on #1367
Well...LiteDB isn't a server. It's a file, managed by *your* code. There shouldn't be an issue with running it in Docker.

[2019-11-23 07:15] rahulsahay19 commented on #1367
Yeah thanks for the response. Figured out this.

[2019-11-23 07:15] #1367 closed

[2019-11-24 22:05] stigzler opened #1369 "Problem retrieving .net System.Drawing.Color from LiteDB"
Hi,

LiteDB seems to be having problems retrieving these values. Extract of my poco class:

[code]
If I explore the LiteDB - the color values all seem stored correctly:

![litedb1](https://user-images.githubusercontent.com/4856029/69502274-657a7a00-0f05-11ea-968b-775bcf8c1937.png)

However, when I retrieve from LiteDB, all other values are retrieved correctly, apart from the color object (which se

[2019-11-24 22:23] Tirraon commented on #1369
@stigzler
You should try to register Color as custom type:
https://github.com/mbdavid/LiteDB/wiki/Object-Mapping#register-a-custom-type

[2019-11-24 23:59] nh43de commented on #1369
Have a feeling this is related to/duplicate of #1157

[2019-11-25 04:43] itn3000 opened #1370 "IOException occured when running transaction concurrently(v5)"
# Overview

when testing litedb-5-beta with concurrent transaction, System.IO.IOException was occured.

# Environment

* dotnet-sdk-3.0
* TargetFramework: netcoreapp3.0

# Steps to reproduce

1. create dotnet console project with TargetFramework=netcoreapp3.0
2. run following program
[code]

# Expected result

the litedb database file named "manythread.db" which has 10000 records.

# Actual result

[2019-11-25 05:26] alifpay commented on #1355
After investigating the causes of insert and update failures on old computers and old hard drives, if there are too many entries in the litedb document (more than 5 KB), and this document fails. is there any way to catch why fails?

[2019-11-25 05:36] alifpay commented on #1370
Litedb has problems Thread-safe in v4, concurrently insert fails when we are using in threads.

[2019-11-25 15:31] petermicuch commented on #1087
This also appears for me. LitghDB file that is copied during docker build to /app/myfile.db can be used without any issues (I use that as default if not DB file exists). But as soon as I use volume mounted folder /app/data and copy DB file there to get that file persisted, I get the same exception as Jaben. First I though this might be because file owner is wrong. So I set attributes of the file a

[2019-11-25 18:37] oholsen commented on #822
I agree with the above: it is better to optimize when one knows it is safer, rather to enable the expected.

[2019-11-25 20:15] stigzler commented on #1369
@Tirraon - thanks - I'll check this out, but to also address @nh43de 's point - it's puzzling because native LiteDB appears to Serialise drawing.color perfectly fine (if you see the db browser image at the top of this post). So just curios about why it doesn't deserialize them as well?

Your suggestion is a good backup though, @Tirraon - however - I'm interested in @mbdavid 's view on this too.

[2019-11-26 14:02] Pokis opened #1371 "Question: V5 Estimated release date, again"
Hey,
I appreciate the amazing work David and others are doing towards this project. We love LiteDB very much.
We are currently using V4 extensively in production, we use bare minimum, single tread, few tables, but important data. And we are facing a critical bug on "This is not LiteDB file" error that sometimes pop-up in production and corrupt data of an user. (we have thousands of users per week

[2019-11-26 16:39] #804 closed

[2019-11-27 01:53] gjl8820 opened #1372 "LiteDatabase not Dispose in V5"
hi, first l  like it  and use ,tks!
when i use  ioc  liteDatabase  not  Dispose   when i open two sample windwosApp, ".log.db" is hold
this problem  in V5  but when use using() it is ok.
when i use V4 it is ok

` public class LiteDBRepositoryBase<TEntity, TKey, IDbContext> : Repository<TEntity, TKey>, IRepository<TEntity, TKey, IDbContext>,
     where TEntity : IEntity<TKey>, new()
     where TKey

[2019-11-27 02:43] GitOffice commented on #1371
I can't  wait for LiteDB V5 with built-in OrderBy feature and  full-text search referred to [this thread](https://github.com/mbdavid/LiteDB/issues/910#issuecomment-365960703) . Migrating data in production from LiteDB V4 to Lucene.Net is a high cost.

[2019-11-28 08:14] maxbl4 opened #1373 "V5 beta fail to serialize double on ARM CPU"
Hi, I observe the following error in logs of my app:
[code]
It happens everytime on types with non default double values. Here's the definition of the type:
[code]
If the Rps value is zero, the object would serialize and deserialize without problems.
Unfortunately, I can't create a minimal reproduction yet. A simple to save and load one item is not failing. So probably particular value makes the d

[2019-11-28 11:26] maxbl4 commented on #1373
Issue is harder to track than I excepted.
If you just login to an ARM machine (orange PI Prime with Armbian Buster with Linux 5.3.9-sunxi64) download and build the project it will work fine. I tried my own small test app and also ran LiteDB tests there.
But when I build docker image on my Windows AMD64 machine and then use that image on Orange PI I get the error.
This is the build image that repro

[2019-11-28 12:07] maxbl4 commented on #1373
More tests show, that difference is in the build process. Looks like dotnet creates different binaries while building on x86 and arm platforms

[2019-11-28 16:47] maxbl4 commented on #1373
I see several workarounds:
1. Create a build farm and performa ARM builds on native hardware. Which is slow and requires separate hardware
2. Use Decimal instead of Double. That works
3. Just use Int32 - for my project that is fine

[2019-11-29 06:12] NongBenz opened #1374 "v5 Beta - LiteException: Invalid DataPage buffer on 0"
Great work on v5 but after a while got this during a routine Upsert call for saving player data and not sure what to look for.

One thing I noticed is that FindByID(x) doesn't seem to work when you have a ulong (SteamID) as the BSON Id. Though FindOne(x => x.ID == steamID)) works fine. Database stores it as Int64 but might be casting to something weird in FindByID. We're switching to string IDs to

[2019-11-30 17:40] soundarmoorthy opened #1375 "I have the same problem and I think I know where the problem lies."
I have the same problem and I think I know where the problem lies.
If a collection name exceeds 30 positions, it fails!

Could you please increase the limit of the name, or at least generate some kind of error...

_Originally posted by @ftamminga in https://github.com/mbdavid/LiteDB/issues/554#issuecomment-310664772_

This works like charm. Never thought this could be the issue.

[2019-12-01 14:45] UserR00T opened #1376 "v5 Beta - NotSupportedException: Dictionary.ContainsKey()"
Hi David,
Amazing work thus far on LiteDB V5.  We recently decided to switch from V4 to V5 for our project (see #1374 ) and ran into another issue.

[code]

This happens because we try to use `.ContainsKey` on a `Dictonary<string, object>`.

[The line that caused the exception.](https://github.com/BPEssentials/Core/blob/06f2a5a2aeba85b993bc19167bac61bb59f65a56/src/BPEssentials/CooldownHandler.cs#L

[2019-12-01 16:46] Tirraon opened #1377 "v5 Beta - Exception when combine Enumerable with Async/Await"
Hi!

After some experiments with IAsyncEnumerable I found this issue and decided to investigate it more. Surprisingly same exception is thrown with simple IEnumerable and async inside foreach.

Minimal repro:
[code]

Exception details
[code]

Version: v5-beta from latest master.
LiteDB TargetFramework: both netstandard1.3 and netstandard2.0
App TargetFramework: both UWP and NetCore3.0

Note: after

[2019-12-01 16:56] Tirraon commented on #1377
Workaround - materialize IEnumerable before async/await usage.
But it doesn't help in cases, when I don't want to read too much from collection.

[2019-12-01 18:02] cs-util commented on #1196
@mbdavid any hints if this is on some sort of roadmap to make LiteDB more compatible with Unity and WebGL builds?

[2019-12-02 08:45] AngelMunoz commented on #1035
Hello there, I don't speak Portuguese but from what I pick up from the bits of the conversation (I speak Spanish)
LiteDB is unlikely to work on WASM based projects (blazor, uno wasm) since LiteDB needs to write to disk (which is unavailable in websites). LiteDB, however should be able to work just fine on a asp.net core project (the server side) as long as the server application has access to the

[2019-12-02 21:18] HankG opened #1378 "UPDATE/SET Query corrupting database"
I saw this behavior while writing a tutorial built against v5. I imported the JSON at the below link into a new LiteDB:
https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json

I then perform the following update query:

[code]

After that operations which hit the end of the collection or traverse the year field causes problems. For example, trying to sort SELECT results on

[2019-12-03 12:06] mbdavid commented on #1196
Hi @cs-util, I will take a look on this problem in v5 build.

[2019-12-03 12:13] mbdavid commented on #1375
Hi @soundarmoorthy, this was changed in v5. There is no more collection name limit... and all possible errors in collection creation has better messages:

        public static void CheckName(string name, HeaderPage header)
        {
            if (Encoding.UTF8.GetByteCount(name) > header.GetAvaiableCollectionSpace()) throw LiteException.InvalidCollectionName(name, "There is no space in header t

[2019-12-03 16:12] yoshisman8 opened #1379 "Using a remote file as your connection string"
Is there any ways to have a litedb database connection be a remote file? i'm migrating a project from SQLServer to liteDB so I can store complex objects and one thing I do want to keep is the ability to have the databse remain in the cloud and not have to manually sync a local database file between my dev pc and my server.

Is there a way to setup some sort of remote file (FTP? SMB?) so I can ensu

[2019-12-04 14:36] #1378 closed

[2019-12-05 11:00] podkolzzzin opened #1380 "System.OverflowException"
I face this problem in v4.1.4
I executed dozens of updates it works ok. But after restarting app it faces this exception.
I have just executed FindAll().ToList();

System.OverflowException: 'Arithmetic operation resulted in an overflow.'

[2019-12-08 10:29] FAAAAT commented on #1329
+1

[2019-12-08 19:08] stigzler commented on #1369
@mbdavid - hi - any ideas on this issue? I'm at a position where I need to start considering whether I take a workaround route via custom object or use LiteDB's inbuilt object parsing. I'd much rather use the latter!

[2019-12-09 07:39] b-mi commented on #1335
Was my question somehow unapropriate?

[2019-12-09 20:12] matelich opened #1382 "Obtaining index values in v5"
Hi, just getting started with LiteDB, trying out v5 beta.

If I have a collection of objects with an index on `Name`, how do I get all the `Name`s from the database, rather than all the objects?

Also, do you think v5 will be done within 4 months? Trying to decide if I'm ok to start out on v5 based on the timeline for my project.

Thanks!

[2019-12-09 20:25] matelich commented on #1382
Guess this is a duplicate of #269 except the fix referenced there no longer seems to exist.

[2019-12-09 20:50] mbdavid commented on #1382
Hi @matelich, in v5 you can run this query:

`SELECT name FROM customer`

If you have index index `name` field, your query will be run only over index. You can see here (lookup loader uses only index key):

(select with no index)
![image](https://user-images.githubusercontent.com/1137197/70471344-b9f82a80-1aab-11ea-9bc9-251818973011.png)

(after create index)
![image](https://user-images.githubuse

[2019-12-09 21:56] matelich commented on #1382
Excellent, looks like I'd wrap that in a db.Execute().

Thanks for the quick response and the progress on a new version, @mbdavid!

[2019-12-09 21:56] #1382 closed

[2019-12-10 13:53] mbdavid commented on #1335
Hi @b-mi, there is no unappropriate question... sometimes I can't answer questions because there are too much... or because I'm woring in another project..

About your question:

Document database collection has no defined schema (as like a relation database). So, you can't check this columns until you get a document and get fields. In this case, try get first document in your collection (use `Bso

[2019-12-10 16:34] mbdavid commented on #1369
Hi @stigzler, fields like `R`, `G`, `B` in `Color` are readonly and can't be setted when deserialize. In this case, the best way is register a custom type;

[2019-12-10 19:01] b-mi commented on #1335
So problem if collection is empty.

[2019-12-10 19:40] stigzler commented on #1369
@mbdavid - thanks for the reply. I do appreciate it as I'd imagine you get many requests whilst also developing this fine library.

OK - I'll have a look into custom types

[2019-12-10 23:38] matelich opened #1383 "Forward compatibility"
One of the requirements for the application I'm looking at using LiteDb on is forward compatibility. I'm curious is you have any policies about that.

If I ship v5 for example, will I likely be stuck on v5 forever? Or would you expect a v5 client to be able to read a database created by software using v7?

[2019-12-11 08:50] itschrono commented on #1161
Hello,

Same for me !
Very important feature. (Does not need sharding just pure copy/paste replication).
I guess we could develop a middleware for this but...
Looking for an alternative library right now but with no success.

Any hint ?

Thanks.

Best Regards.
Antoine

[2019-12-11 20:04] HankG commented on #1335
If the collection is empty it has no fields/columns so code trying to visualize/process that would have to handle that condition.

[2019-12-12 08:23] afzalarahim opened #1384 "GetCollection crashes with custom Id mapping"
GetCollection<T> api throws exception when the class has two ID properties like 'TempId' and ,Id' and TempId is mapped as Id using Fluent API.

`public class BaseClass
    {
        public long TempId { get; set; }
    }
    public class TestClass : BaseClass
    {
        public long Id { get; set; }

        public string Name { get; set; }
    }`

`               var mapper = BsonMapper.Global;

[2019-12-12 14:47] alzaburetz opened #1385 "Embedded object deserializes with 'id' property from JSON and doesn't get written"
I am trying to write list of categories, each of them contains list of subcategories.
Newtonsoft Deserializes json corectly, but subcategories are always don't contain elements

[code]

My Generic method looks like
[code]
Then I try to get an item and subcategories.Count == 0

[2019-12-13 20:51] mbdavid commented on #1335
If you have no documents, you can read from your POCO class (using Reflection or converting into BsonDocument)

[code]

[2019-12-13 20:57] b-mi commented on #1335
Thanks for informations.

[2019-12-14 11:34] bkavuncu commented on #1329
+1 Opening db file with LiteDB Studio, app that created data file cannot open it again even when disconnected.

[2019-12-16 02:01] FDemin opened #1386 "ID does not increment when inserting"
[code]

using `ulong` as datatype for ID does not increment, and results with an exception.

[2019-12-16 02:21] Tirraon commented on #1386
Can you provide some sample? Minimal code to run and reproduce the issue.

[2019-12-16 18:27] afzalarahim commented on #1384
Any solution or suggestions?

[2019-12-18 11:13] Fangh opened #1387 "How to explore a v4 database ?"
Hello.

I did not find in the wiki how to explore my database ? I use Visual Studio code and I get used to the plugin Azure Cosmos DB which let you explore a MongoDB database.

I know there is DBLite Studio for v5. I tried to use it for v4 but it corrupted my DB so I think it's because it's only for v5.

TL;Dr Is there some command line or GUI plugin to explore the .db ?

Thank you.

[2019-12-18 11:27] Fangh commented on #1064
I also need multidimensional array and I don't have any clue how to create my own mapping rule :<

if @daredevil-1982 has an idea ?

[2019-12-19 05:49] JasonSpeak opened #1388 "Why the upsert api is not in the documentation？"
Our team is using LiteDB in one of our product, and we fond the problem that the Upsert function returns false when we upsert a existing data.
Then we search the wiki but don't find any explanation about this api.
After searched issues, we known that  "false" means update and "true" means insert.
So could you add explanation of each api in the wiki? Such as the meanings of  input data and the outp

[2019-12-19 05:49] JasonSpeak commented on #1388
@mbdavid

[2019-12-24 21:26] D008i3F3rKIn opened #1389 "Timeout and error handling"
Just started using LiteDB and it looks like what I need for my application. I normally like to test things using worst case scenarios to see what happens. I need to host the database file on a network share on a virtual server with the app on a local workstation. To test what happens if the server is not available I pause the VM to see the results. I appears that using FileStorage.OpenRead() does

[2019-12-25 17:43] webteamby commented on #1374
Got the same issue after sequence upsert operations and db file has been grown till 50Gb
**~ERROR~ LiteDB.LiteException: Invalid DataPage buffer on 0
   at LiteDB.Engine.DataPage..ctor(PageBuffer buffer)
   at LiteDB.Engine.BasePage.ReadPage[T](PageBuffer buffer)
   at LiteDB.Engine.Snapshot.ReadPage[T](UInt32 pageID)
   at LiteDB.Engine.Snapshot.GetPage[T](UInt32 pageID)
   at LiteDB.Engine.DataS

[2019-12-27 06:59] Lovecxgood opened #1390 "LiteDB connect the dbfile error on macos xcode"
hi！I found a  url exception  when connect the dbfile on macos xcode platform
this is the code I used in my programe with unity ,it works fine on windows but on macos it throw an
 NSErrorFailingURLStringKey exception
 `LiteEngine  GameDB = new LiteEngine(@Application.persistentDataPath + "/UB_Game.db");`

the error stack as below  the connection url become an http  protocol,
Did I make a mistake so

[2019-12-27 16:50] luckymark opened #1391 "some questions about the Probability of SkipList"
Do you test another probability value (such as 1/4 rather than 1/2) for SkipList?

In this paper : [https://epaperpress.com/sortsearch/download/skiplist.pdf](https://epaperpress.com/sortsearch/download/skiplist.pdf) , William Pugh suggest:

1/2) slightly improves the constant factors of the speed of the
algorithms as well. I suggest that a value of 1/4 be used for p
unless the variability of runni

[2019-12-27 19:46] webteamby opened #1392 "System.NotImplementedException: The method or operation is not implemented"
Got this error in v.5.0.0-beta
System.NotImplementedException: The method or operation is not implemented.
   at LiteDB.BufferSliceExtensions.ReadIndexKey(BufferSlice buffer, Int32 offset)
   at LiteDB.Engine.IndexNode..ctor(IndexPage page, Byte index, BufferSlice segment)
   at LiteDB.Engine.IndexService.AddNode(CollectionIndex index, BsonValue key, PageAddress dataBlock, Byte level, IndexNode la

[2019-12-29 07:31] webteamby commented on #1392
**System.NotImplementedException: The method or operation is not implemented.**
   at LiteDB.BufferSliceExtensions.ReadIndexKey(BufferSlice buffer, Int32 offset)
   at LiteDB.Engine.IndexNode..ctor(IndexPage page, Byte index, BufferSlice segment)
   at LiteDB.Engine.IndexService.Find(CollectionIndex index, BsonValue value, Boolean sibling, Int32 order)
   at LiteDB.Engine.IndexEquals.Execute(Index

[2020-01-01 12:02] MHDuke opened #1393 "question: how does litedb project to the right sub types?"
first of all thank you for the great library.
I have a dbLite collection of ITimeFramePolicy, i populate it with several different sub type instances. when i query that collection how does it project back to the correct types!

[code]
as you can see I added the `string Type{ get; }` there, but ended up not using it! how do you do it? :)

[2020-01-02 06:02] #1390 closed

[2020-01-02 06:02] Lovecxgood commented on #1390
close~

[2020-01-02 15:02] vijaypatil44u opened #1395 "Concurrency Implementation with Hangfire"
We are having problems with accessing the LiteDB database with Hangfire implementation. We are using Hangfire.LiteDB (0.3.0) and looks like for concurrent access database is getting locked, which results in crashing the Hangfire jobs.

I am referring your  documentation [here  ](https://github.com/mbdavid/LiteDB/wiki/Concurrency) and thread safe implementation is something what i am looking for.

[2020-01-03 01:19] diegolbrito commented on #1395
I have the same problem

[2020-01-03 18:37] mbdavid commented on #1374
Hi @webteamby, your example can be reproduced? I'm fixing some bugs and this bug could be in this fix pack

[2020-01-03 20:20] mbdavid commented on #1395
Hi guys, there are 2 types of concurrency control in LiteDB v4:

- Across multiple threads: lock are controlled by `ReaderWriterLockSlim` class (from .NET Threading)
- Across multiple process: using `FileStream.Lock` and `Unlock`

But I don't how Hangfire implements LiteDB access. Do you have any error log to check?

[2020-01-04 14:16] diegolbrito commented on #1395
@mbdavid yes, it follows:
`2020-01-04 07:20:55 -03:00 ERR] Unable to clean up locks on the resource 'HangFire:locks:schedulepoller'. LiteDB.LiteException: Timeout. Database is locked for more than 00:10:00.
   em LiteDB.LockService.Write()
   em LiteDB.LiteEngine.Transaction[T](String collection, Boolean addIfNotExists, Func`2 action)
   em LiteDB.LiteEngine.Delete(String collection, Query query)

[2020-01-05 09:44] fastlink30 opened #1397 "v5beta: exception with grpc"
blazor, net core 3.1, litedb 5.0beta

when server start streaming data (enumerable) to client give error

if i use vs 5.0alpha2 not happen

sorry but at the moment i can't show the exception, anyway i see from the exception that litedb close the reader and the database, but after the program throw exception, seems that happen when some concurrent query must be elaborate, my main page have 2 compon

[2020-01-07 12:39] mbdavid commented on #1395
LiteDB timeout occurs when you have a thread that writes on database and keeps open more than 1 minute... while another thread are trying to read (or write too) database. Looks an `IEnumerable` fetch that are taking too long time or are not disposing correctly

[2020-01-07 13:00] mincasoft commented on #978
In current version 5.0.0-beta, there are only 2 modes:
- **Embedded**
- Shared

Can you explain what is embedded mode?

[2020-01-07 21:25] #1304 closed

[2020-01-07 23:53] bergi9 commented on #612
I agree with him about the wiki. I was confused why I get empty objects.

[2020-01-08 07:40] bergi9 opened #1398 "Delete doesn't accept <T> document"
`Insert`, `Update` and `Upsert` accepts `<T>`'s and evaluate itself for the `_id` but `Delete` doesn't have any API for `T` on v5 yet.
I'm currently using it as workaround `collection.Delete(database.Mapper.Serialize(keySelectorFunc(item)))`.
`keySelectorFunc` is `Func<object, T>` which picks the BsonId member.

I was trying use extension method for `LiteCollection<T>` like
[code]
but is not possi

[2020-01-08 10:57] Tumist76 opened #1399 "Corrupted database, error when trying to read one of the tables"
I have a database with 4 tables. When my app is trying to read one of the tables, it throws the exception. I tried to open my DB with LiteDB.Studio (version with LiteDB 4) and it opens everything flawlessly. Studio rewrites my DB file, i feed it to my app and get an error that it's not a proper DB file. What am I doing wrong. How can I restore my DB?

**Table reading exception log:**

[code]

[2020-01-08 11:45] nidhi-bisht opened #1400 "Unable to cast object of type 'LiteDB.EmptyPage' to type 'LiteDB.DataPage'"
Download URL DB : [http://fujifilm.bytechdemo.com/CDB_DB.zip](http://fujifilm.bytechdemo.com/CDB_DB.zip)
DB PASSWORD : $cdb&admin12
Corrupted Table : CDB_INVENTORY

Question 1). How to compress the file (remove the logs created internally in the Lite DB). This DB is having only a single table but it is showing 50 MB of Size.

Question 2). CDB_INVENTORY table is corrupted.
a). Can I know the possib

[2020-01-08 11:53] ahmetmeral commented on #1374
Hi @mbdavid
I caught a similar mistake. Log in attachment file
[data-log.zip](https://github.com/mbdavid/LiteDB/files/4035105/data-log.zip)

[2020-01-08 14:21] mbdavid commented on #1374
Hi, there was a bug page addresses that I fix in current master branch. Can you test again if will occurs again (need re-create your database because I change data file structure to fix this)

[2020-01-08 14:43] mbdavid commented on #1398
Hi, I exposed `EntityMapper` inside LiteCollection, so now you can access, inside your collection, how this was mapping when here is _id field.

[code]

[2020-01-08 15:04] mbdavid commented on #978
Hi @mincasoft,

Exclusive = Embedded

The name changed... and still not official yet. v5 will be released with support for multiple ways to connect to your datafile

[2020-01-09 06:56] kube1206 opened #1401 "Query.in"

[2020-01-09 07:11] Jacko1394 commented on #1262
I am wondering this also

[2020-01-09 11:30] diegolbrito commented on #1395
Okay, thanks for the help. For now I solved the problem by isolating hangFire server in another database.

[2020-01-09 13:03] mbdavid commented on #1262
Hi guys, current master branch version are doing "auto-checkpoint" when log file gets 1000 pages.

This will be available in next beta version.

[2020-01-09 13:07] mbdavid commented on #1393
Are you storing this 2 types in different collections? How did you get `GetCollection`?

If you use `GetCollection<ITimeFramePolicy>` to use same collection for both types, each document will contains `_type` to store concrete class

[2020-01-09 17:54] bergi9 commented on #1398
Thank you.
I would add an API of delete as same way as update, upsert and insert. `collection.Delete(item)` Then we do not need to add method extension on it.
I'll look forward on it when it got released.

[2020-01-09 18:10] MHDuke commented on #1393
i actually store them in single collection. i decided to add the `string Type` property, and later on try to figure out will i cast back to concrete types, just to find out it is working out of the box. so i came here to appreciate the smooth experience. thank you :+1: and to learn how did you do it.

[2020-01-10 13:42] praiakov commented on #1329
+1

[2020-01-10 16:45] freever commented on #805
Hi @mbdavid,

Is there any documentation yet for v5?

I am interested to use the "native sort" capabilities you mentioned and I am using the v5 -beta

[2020-01-10 16:47] mbdavid commented on #805
@freever, not yet... I'm writing this right now.... You can check `ILiteQueryable` api for now.

[2020-01-10 17:06] freever commented on #805
Thanks, it looks fantastic!

[2020-01-12 19:16] soundarmoorthy commented on #1375
Awesome !, Thanks @mbdavid.

[2020-01-12 19:16] #1375 closed

[2020-01-13 09:44] mincasoft commented on #1370
Same problems. In v5 too

[2020-01-13 14:46] mbdavid commented on #1370
Hi guys, thanks for this report. Sounds problem is in datafile initialization that are not concurrent support. Just create new LiteDatabase do not open/create your datafile. If you create your database before, there is no problem:

[code]

I will try fix this now.

[2020-01-13 14:56] mbdavid commented on #1370
Ok, done. I fix Lazy initialize to thread safe. Thanks again guys

[2020-01-15 12:07] kekekeks commented on #982
It should be possible to implement JSON.NET's JsonReader/JsonWriter classes on top of BsonDocument. The problem is that I don't see any way to replace the mapping entirely, only per-type.

[2020-01-16 18:26] maxbl4 commented on #1374
This test https://github.com/maxbl4/RaceLogic/blob/1e29a4ce5f3b127cbe328a195db56bab525aaa7b/Tests/CheckpointService/Storage/StorageServiceTests.cs#L181
has about 20% chance to reproduce this bug, just run it several times, or the whole test class

[2020-01-16 18:27] maxbl4 commented on #1374
Can you create a new release with this fix, like 5.0.1-alpha ?

[2020-01-17 03:13] itn3000 commented on #1370
test in my env(win8.1-x64, netcoreapp3.0, git rev=`3a109c3519c2e2987f52831ffc2ed9ff8e55df11`), IOException is no longer occured, thank you for fixing.

[2020-01-17 03:22] mincasoft commented on #1370
@mbdavid when there is a patch release on nuget?

[2020-01-18 16:39] eldiablox commented on #549
I have a 2.5gb db file that i can't seem to access with LiteDbExplorer or LiteDbViewer -- any workarounds?  to my knowledge, the file is not corrupt.

[2020-01-18 18:28] isaacabraham opened #1405 "Question: Can you perform an update without loading the entire document first"
Does LiteDB support update of a document (including potentially adding fields) to a document without loading the entire document into memory first?

I had a look at the documentation and tried performing two updates on the same document (with different shapes) in the same collection but the behaviour seems to be "last one wins".

Thanks

[2020-01-19 08:03] kube1206 opened #1406 "v4.1.4 Datafile is not a LiteDB database."
dear mbdavid,
when I open the lite database with the litedb studio.exe,and closed it,it happend when I am running the project.
detail:
GetLatestBlockAsyncTest
   源: LiteDbStoreTest.cs 行 201
   持续时间: 81 毫秒

  消息:
    LiteDB.LiteException : Datafile is not a LiteDB database.
  堆栈跟踪:
    HeaderPage.ReadContent(ByteReader reader)
    BasePage.ReadPage(Byte[] buffer)
    LiteEngine.ctor(IDiskService di

[2020-01-19 13:20] JensSchadron commented on #1399
This is sadly an issue regarding an edge case which we don't know how to reproduce (yet), but we hope to have it solved with the rewrite of LiteDB in the upcoming v5. However, there's a static recovery method available in the source code which you can give a try (It's in the v4 branch).

[2020-01-19 13:25] JensSchadron commented on #1406
Hi @kube1206

LiteDB Studio is program written for LiteDB v5 and it converts old databases to a newer format when opening. The problem that you stumbled upon is that v4.1.4 doesn't know how to read the new dataformat.

[2020-01-19 13:28] JensSchadron commented on #1401
@kube1206 Just having a title doesn't help answering your question so I guess this issue was made by accident. If that wasn't the case, please fill in the description as well and re-open this ticket.

[2020-01-19 13:28] #1401 closed

[2020-01-20 21:03] Craftplacer opened #1407 "System.ArgumentOutOfRangeException: 'Positive number required. (Parameter 'culture')'"
I have LiteDB 5.0.0-rc on .NET Core 3.0 crashing when using LiteDatabase.GetCollection<>().FindById(string) with following stack trace:
[code]

This issue did not occur before upgrading LiteDB to 5.0.0.

[2020-01-20 21:08] mbdavid commented on #1407
Hi, are you using datafile created by alpha/beta version? If true, RC (and final release) will be not compatible because datafile was changed (file structure was changed to fix a critical bug)

[2020-01-20 21:10] Craftplacer commented on #1407
Could be the case, I recently reinstalled Visual Studio and restored and upgraded packages first, it seems like I have to start off clean then.

[2020-01-21 13:24] 3HMonkey opened #1408 "Exception: Unable to cast object while getting collections"
Hi guys,

I am really new to this database but I also really like it so far. BTW while implementing LiteDB to our project, the following issue came up.

Lets say we have a struct called Point2D. It has some internal variables which doesn't matter here, but also 2 public variables called "X" and "Y". We are using no ID here because we cannot change the struct (third-party). => Auto-ID

Something li

[2020-01-21 17:53] jjallen37 opened #1409 "Order on Multiple Fields"
I am trying to set up a query in v5 Beta, but am running into an issue when trying to order on multiple fields, which does not appear to be supported at the moment. I receive the error message "ORDER BY already defined in this query builder". I was hoping to use a syntax similar to Linq's OrderBy/ThenBy. Is this something that LiteDB would be able to support?

What I Attempted:
![image](https://us

[2020-01-21 18:06] jjallen37 commented on #1409
Assuming this was not something that would be quickly available in LiteDB, I've been trying some other approaches to sort things without pulling too much into memory. We're updating to v5 because the addition of "Select" has drastically improved our performance on more complicated objects. I think I can accomplish what I want if I get the sorted list of id's then use that to query my data, but I d

[2020-01-21 18:22] lbnascimento commented on #1408
Hello!

There was an issue when dealing with structs, which was fixed in the last commit. Also, your struct uses attributes instead of properties, and the fluent mapper only maps properties by default. You can override this behavior with the command

[code]

[2020-01-21 18:36] 3HMonkey commented on #1408
@mbdavid Is this already available on nuget? Or do I need to compile it myself? BTW thank you really much.

[2020-01-21 18:56] mbdavid commented on #1408
Hi @3HMonkey, no, only in master branch. My idea is release next nuget only in jan/31 with final v5 release.

[2020-01-21 18:58] lbnascimento commented on #1409
Hello!

Unfortunately multi-field sorting is not supported yet (it is a planned feature for LiteDb v5.1). A multi-field sorting could be achieved by using an array or document containing the fields as the sorting expression, however this would only work if all the fields were to be sorted in the same order (ascending or descending).

Joins are not avaliable in LiteDB. If memory usage is a concern,

[2020-01-21 19:09] 3HMonkey commented on #1408
Great, glad to hear that. I gonna implement it in other classes meanwhile until the release. And again, good job with this DB.

[2020-01-22 13:15] lbnascimento commented on #1405
Hello!

LiteDB v5 RC currently supports it with the SQL syntax:

[code]

In the v5 release, it will also be possible to update only certain fields with the `collection.UpdateMany` method.

[2020-01-22 13:43] isaacabraham commented on #1405
Great. I'll have an eye out for that then. Thanks!

[2020-01-22 13:43] #1405 closed

[2020-01-22 18:12] JensSchadron commented on #1408
Given that the issue has already been resolved in the master branch and it will be released in the next NuGet release, I'll close the ticket. Feel free to reopen the ticket if you still have question regarding this ticket. 🙂

[2020-01-22 18:12] #1408 closed

[2020-01-22 18:40] JensSchadron commented on #1400
Hi @nidhi-bisht.

I'll try to answer your question as much as possible, but please keep in mind that I'm only a collaborator in the project and don't know all details just yet.

Question 1:
There's supposed to be a shrink method which should be able to remove empty pages.

Question 2:
a) There's an edge case which we haven't been able to reproduce consistently. But I think that it can happen when

[2020-01-22 19:06] henzard commented on #1388
Yes why is Upsert returning False on Update. We need docs

[2020-01-22 19:10] henzard opened #1410 "Upsert Returns False on Update"
Var _collection.Upsert(newItem) returns true, _collection.Upsert(item) doing a update returns false
I am expecting a false on no action

[2020-01-22 19:42] lbnascimento commented on #1410
Hello!

Upsert returns true if it performs an insertion and false if it performs an update.

The documentation is being reviewed for v5.

[2020-01-22 20:28] JensSchadron commented on #1400
Also want to add that the sparkling new LiteDB v5, of which the RC is currently available, aims to fix those edge cases. However, it can't fully recover databases which have gone haywire.

[2020-01-22 20:33] JensSchadron commented on #1406
I'm going to close this ticket as I think this answers your question. If you aren't satisfied with the answer, feel free to re-open this ticket.

[2020-01-22 20:33] #1406 closed

[2020-01-22 20:43] JensSchadron commented on #1051
I'm closing this issue as it has been marked as `fixed`

[2020-01-22 20:43] #1051 closed

[2020-01-22 21:25] JensSchadron commented on #1371
@Pokis Not sure if it will still be in time, but the v5 release date is currently pinned at the 31st of January. Anyways, I'll be closing this ticket as I'm trying to clean up the issue tracker so we can keep a better overview of what's still relevant and whatnot :)

[2020-01-22 21:25] #1371 closed

[2020-01-22 21:35] JensSchadron commented on #1397
@fastlink30 Could you try it again with the latest version of LiteDB (v5-RC)

[2020-01-23 11:34] Moxine opened #1411 "File lock by another process"
We are facing a problem with litedb which locks the file when it is created and prevents other processes from opening it. Can you help us.

[2020-01-23 13:39] jjallen37 commented on #1409
@lbnascimento Thanks for the quick reply! I was able to get things working via the second implementation, where I iterated through the list of ids and queried for each one. This is currently fast enough to meet my needs, but I haven't done extensive testing for performance it.
![image](https://user-images.githubusercontent.com/2042622/72989215-da5e1900-3dbb-11ea-8ab4-c5ddf9ce1b7f.png)

As a genera

[2020-01-23 18:29] lbnascimento commented on #1411
Hello!
Could you give us more info about what you're trying to accomplish?

[2020-01-23 18:33] lbnascimento commented on #1409
@jjallen37 You are correct, _some_ performance loss is to be expected, however querying by id should be fast enough for most usages.

[2020-01-23 22:17] JensSchadron commented on #1387
Hi @Fangh,
Your database wasn't really corrupted, but rather "upgraded" to the new datafile format for the v5 of LiteDB. However, the v4 doesn't know how to read the file, therefor indicating it like it had been corrupted.

The [v4 release on github](https://github.com/mbdavid/LiteDB/releases/tag/v4.1.4) also contained a shell application which could be used to explore your database.
If you like g

[2020-01-23 22:17] #1387 closed

[2020-01-23 22:20] JensSchadron commented on #1411
@Moxine Could you also please provide us some more details, like which version of LiteDB that you're using and such? This could also help us labeling this ticket with the correct tags :)

[2020-01-23 22:23] JensSchadron commented on #1392
Hi @webteamby ,

Thanks for reporting both exceptions.
I don't know if you had a way to reproduce those errors, but if so, could you please try doing it again using the latest v5 RC? Thanks in advance.

[2020-01-23 22:27] JensSchadron commented on #1391
Hi @luckymark

I started adding a BenchmarkDotNet project last night. When I've progressed a bit further with the initial setup, we can possibly add some benchmarks to see the difference between the different probability values.

[2020-01-23 22:32] JensSchadron commented on #1410
Marked this ticket as duplicate as this "issue" is a duplicate of #1388. To keep the issue tracker a bit more manageable, I'll be closing this ticket.

[2020-01-23 22:32] #1410 closed

[2020-01-23 22:34] JensSchadron commented on #1388
The documentation is currently being reviewed and updated by @lbnascimento (and others?) so it should be better in the (near) future.

[2020-01-23 22:36] JensSchadron commented on #1386
@FDemin Can you also provide us with some extra information like which version of LiteDB that you're using and which OS that you're trying to run it on?

[2020-01-23 22:40] JensSchadron commented on #1372
Hi @gjl8820,
Many changes have been done since you created this issue, could you please verify if your issue still occurs on the latest v5 version? Keep in mind that the datastructure for older v5 database is incompatible with the latest version so you might need to recreate your database if that's the case.

[2020-01-23 22:44] JensSchadron commented on #1374
@maxbl4 A new version has been created in the meantime (the RC), could you try and see if your issue still in there? Please keep in mind that the datafile format is incompatible due to the change the David spoke of.
You can close this ticket if your issue has been resolved :)

[2020-01-24 07:24] AlexeyBoiko opened #1412 "Thread safe, use in web site"
Hello,
Could you please show example of using liteDB in web site with single site instance.

As I understand it is not possible to use liteDB single file from two different processes (for example two consoles).

Is it possible to use liteDB in one process (web site) with many threads, have I to somehow register it as single instance?

[2020-01-24 11:04] Moxine commented on #1411
We have 2 working environments, unitary and acceptance. When using a static with LiteDatabase in the unit environment everything works fine, but once in the acceptance environment the file is locked and no more process can open it.
We are using version 4.1.4.
Do you have any idea what would cause the file to lock?

[2020-01-24 12:24] lbnascimento commented on #1411
Try opening the database with the following connection string:
[code]

It should look something like this:

[code]

[2020-01-24 13:04] JensSchadron commented on #1412
Could you give us some more information, like which version you are using (or want to use), is it in the front-end (blazer maybe?) or in the back-end and other information that might give us a bit more context of your situation.

[2020-01-24 14:56] DavidSanschagrin opened #1414 "'FileMode' does not contain definition for 'Shared'"
Good day!

We have a compilation error when trying to compile in Release:
"'FileMode' does not contain definition for 'Shared'"

When I look at the source code, I see that there is a conditionnal compilation with "HAVE_LOCK".

    public enum FileMode
    {
#if HAVE_LOCK
        Shared,
#endif
        Exclusive,
        ReadOnly
    }

To fix the situation, do we simply have to add the conditionna

[2020-01-24 15:53] maxbl4 commented on #1374
@JensSchadron Hello, updated to 5.0-rc, now it is even worse :( Not only the original error is still reproducible, but for some reason support for ConnectionString.UtcDate was dropped. This breaks many of my tests and logic of application

[2020-01-24 17:31] lbnascimento commented on #1414
In LiteDB v4, the method `FileStream.Lock` is used to lock the file when it is being written to. However, NET Standard 1.3 does not implement the method, so the Shared mode is not available for NET Standard 1.3.

LiteDB v5 works around this issue by opening a FileStream for an operation and immediately closing it when the operation is done.

[2020-01-24 17:37] DavidSanschagrin commented on #1414
We found our problem. It was just a case of lost compilation parameters. It works now.

[2020-01-24 17:37] #1414 closed

[2020-01-24 20:04] Tirraon commented on #1374
@maxbl4
UtcDate was moved to pragmas.

[2020-01-24 20:18] AlexeyBoiko commented on #1412
I plan to use last version. In. .net core mvc site on a backend. I afraid many simultaneous requests can lead to locks.

[2020-01-25 09:12] fastlink30 commented on #1397
hi, i tryed with v5-rc, also updating the grpc library, error remain

[2020-01-25 19:46] gfs opened #1416 "Concurrency issue while Querying"
In LiteDB 5 it appears you cannot use the result of a query as an Enumerable to pass to Parallel.Foreach if you are performing additional query operations on the database inside of the Parallel.Foreach loop.

The error message received is "System.InvalidOperationException: 'Collection was modified; enumeration operation may not execute.'" this is thrown on `var exists = col.Exists(x => x.IdentityH

[2020-01-26 03:07] gfs commented on #1416
This same code works on LiteDB 4.1.4.

[2020-01-26 03:08] gfs commented on #1416
I also noticed that support for nested queries seems to have been dropped in v5.  Is is planned to bring that back?

For example:

`col.Find(x => x.RunId == secondRunId && !col.Exists(y => y.RunId == firstRunId && y.IdentityHash == x.IdentityHash));`

 is accepted as valid valid on LiteDB 4.1.4 but not on LiteDB 5-rc.

This is another query I'd like to be able to run:

`col.Find(x => x.RunId == fi

[2020-01-26 03:28] gfs commented on #1400
Can confirm it also can occur if you've disabled journaling and shutdown an application during an InsertBulk.

[2020-01-26 16:29] mbdavid commented on #1416
Hi @gfs, I fix some dispose query pipe and try to simulate your example. Please, try with current master branch. If not works, please, write an unit test so I can debug whats going on.

About nested queries: this feature in v4 is executed as LINQ Objects, not using engine . In v4, when you write a LINQ expression that are not parsed into index-value query, LiteDB just execute all records and run y

[2020-01-26 16:43] gfs commented on #1416
The master branch seems to be tracking 4.x series, which branch should I use to get the v5 with the patch?

Thanks, that helps clarify (and explain why that query is pretty slow).  Unfortunately the Find().Where() syntax is significantly slower than the equivalent SQL query so support for true nested queries would be amazing.

[2020-01-26 17:40] JensSchadron commented on #1416
@mbdavid I'll also try to reproduce the issue as it seems my benchmarks stumbled upon the same issue during the load tests. I'll come back to this again in an hour (or 2).

[2020-01-26 17:41] mbdavid commented on #1416
Master branch contains v5 version only.... v4 are in v4 branch. How did you get v4 in master?

[2020-01-26 17:42] mbdavid commented on #1416
@gfs, nested queries will be on our roadmap!

[2020-01-26 17:50] gfs commented on #1416
Configuration error on my part.  I'm testing it properly now.

[2020-01-26 18:02] gfs commented on #1416
Current master branch appears to have fixed the issue.  Thanks!

[2020-01-26 18:03] JensSchadron commented on #1416
@mbdavid Seems like there's still a threading issue (possibly another one?), pushed my branch with the benchmark so you can see it for yourself (The command to run the benchmark is in the Program.cs file in the LiteDB.Benchmarks project). I'll also send you the log of my run that I've right now.

[2020-01-26 18:09] gfs commented on #1416
False alarm.  Now I get

[2020-01-27 10:01] VistianOpenSource commented on #1334
Hi, following up on this, it would appear that the non-parameterless constructor is only selected if all of the properties are 'built in' to the mapper e.g. not another type which you have in your project which you are also serialising. Is this correct?

[2020-01-27 11:19] mbdavid commented on #1416
@JensSchadron, this log error looks like in `BsonDocument` concurrent access:

[code]

@gfs, can you paste your stacktrace to check?

[2020-01-27 11:23] mbdavid commented on #1416
@gfs, about nest queries, I forgot that I implement `$query` function as experimental subquery: You can pass as collection input another query. It's experimental and will be replaced in future for correct syntax:

`SELECT $ FROM $query('SELECT name, age FROM customer WHERE curstomerId > 100') WHERE age > 100`

[2020-01-27 17:58] gfs commented on #1416
---> System.InvalidOperationException: Operations that change non-concurrent collections must have exclusive access. A concurrent update was performed on this collection and corrupted its state. The collection's state is no longer correct.
    at System.Collections.Generic.Dictionary`2.FindEntry(TKey key)
    at System.Collections.Generic.Dictionary`2.TryGetValue(TKey key, TValue& value)
    at Li

[2020-01-27 23:20] #678 closed

[2020-01-28 09:08] QusayAbbas commented on #801
just change the property name id in your class Query to other name e.g. Query_Id and will work

[2020-01-28 11:46] darcome commented on #984
Hi,

I agree with @Aranir . It would be great if for v5 there would be an option to set if we want enum to be saved as string or int.

In my opinion int is better, because most of the time I change the name of the enum value, for better readability of the code, rather than the value.

Thanks in advance

[2020-01-28 12:39] lbnascimento commented on #984
@darcome This feature is avaliable in LiteDB v5. If you're using the global mapper, you can configure it to treat enums as ints with the following command:

[code]

[2020-01-28 12:43] darcome commented on #984
@lbnascimento Thank you very much for your answer! This is great!

[2020-01-28 13:47] darcome opened #1417 "How to save base version of objects in collections."
Hi all,
Here is an example of what I have in code and what I'd like to happen:
I have the following property in my object:

public List<Animal> Animals {get;set;} = new List<Animal> ();

and then the following objects get added to it:

Animals.Add (new Dog ());
Animals.Add (new Cat ());

In the database, the objects of the list are saved as Dog and Cat objects, with their properties.

How can I ge

[2020-01-28 14:21] lbnascimento commented on #1417
@darcome I'm assuming that `Cat` and `Dog` are subtypes of `Animal`.

In this situation, I don't understand what's the issue with storing the objects with their real types. For all intents and purposes, every instance of `Cat` and `Dog` is an instance of `Animal` and can be used anywhere an instance of `Animal` is expected. You can always cast it to `Animal` if you really want to treat it as an in

[2020-01-28 14:29] darcome commented on #1417
After your answer, I began to think about my code and probably I asked the question because I am still too used to RDBMS and it's difficult to think in terms of NoSQL.

Thank you very much!

I'll close this issue!

[2020-01-28 14:29] #1417 closed

[2020-01-28 16:26] mabezat opened #1418 "disable Id auto order when id is string"
Hi David, Hi everyone,
Thanks for this amazing framework , i have a problem i don't know if there is solution for it or no,
I have a collection named Products with a product_Id as a string , whenever i insert a new product , there is an auto order , i hope the image explains this more.
![screentemp](https://user-images.githubusercontent.com/4215602/73283274-29101680-41f3-11ea-953f-f6126554ed08.png

[2020-01-28 17:17] lbnascimento commented on #1418
@mabezat Which version of LiteDB are you using?

[2020-01-28 17:24] mabezat commented on #1418
I am using version 4

[2020-01-28 17:50] lbnascimento commented on #1418
You can simulate this behavior on retrieval ordering the results by the length of the field and then by the value.

[code]

[2020-01-28 18:09] mabezat commented on #1418
@lbnascimento  thanks bro , that helped a lot , this is what i needed

`var orderedCollection = col.FindAll().OrderBy(x => x.Product_Id.Length).ThenBy(x => x.Product_Id).Last<Product>().Product_Id;`

[2020-01-28 18:09] #1418 closed

[2020-01-28 22:00] JensSchadron commented on #984
@darcome Can we assume that your questions have been answered? If so, could you please close the ticket because it's hard to keep track of relevant issues if the answered ones stay open ;)

[2020-01-28 22:13] #984 closed

[2020-01-28 22:26] JensSchadron commented on #1373
Hi @maxbl4, first of all, sorry for the late response. However, I'm glad you were able to find possible workarounds for your issue. I, myself, don't have enough knowledge about building on ARM devices, but the second workaround is kinda a headscratcher for me as to why it would work with decimals, but not with doubles.

[2020-01-28 22:28] JensSchadron commented on #1373
But as far as I've read the entire issue log, I don't think the core issue lies within our library and therefor I'll be closing this issue. I also want to point out that there's a new version of LiteDB available in the meantime (v5 RC) so you might want to check that out as well, but keep in mind that the dataformat is incompatible with the one used in the beta, so you'll need to recreate your dat

[2020-01-28 22:31] JensSchadron commented on #1369
Given that this issue has been answered, I'll be closing the ticket. Feel free to reopen the ticket if you think that your question hasn't been fully resolved.

[2020-01-28 22:31] #1369 closed

[2020-01-29 21:20] #1320 closed

[2020-01-30 00:27] JensSchadron commented on #1407
@Craftplacer I think that this "issue" is resolved then? If so, could you please close this ticket as I'm trying to tidy up the issue tracker to make it more manageable :)

[2020-01-30 04:25] #1407 closed

[2020-01-30 06:39] Tirraon opened #1419 "[v5-rc] Query.In with search by BsonValue does not work"
With latest NuGet package and latest master I have noticed, that DeleteMany does not work anymore, when I try to filter ids by guid array. After some research, I have found, that problem is in Query.In.
It seems like it doesn't return any result, when I try to filter by Guid.

Minimal repro
[code]

Workaround - use expressions
[code]

[2020-01-30 06:43] Tirraon commented on #1377
Issue was fixed with latest master (probably with https://github.com/mbdavid/LiteDB/commit/aec4e85a42e9e32afdfd30a548d5bf162fff7582).
Thanks!

I will close it for now.

[2020-01-30 06:43] #1377 closed

[2020-01-30 06:50] Tirraon commented on #1419
Just noticed, that Query.In doesn't work for any type.
With integer Id results are same.

Probably one previous issue was about that problem https://github.com/mbdavid/LiteDB/issues/1401

[2020-01-30 13:12] lbnascimento commented on #1419
@Tirraon There was a bug in the execution of IndexIn, it was fixed on master.

Also, you should be using `"_id"` instead of `nameof(UserGuid.Id)` for the field name. The id field is always becomes `"_id"` in the serialized document.

[2020-01-30 14:03] lbnascimento commented on #1373
@maxbl4 There was a change to how floats and doubles are serialized to byte[]. This should fix this issue, however I don't have access to an ARM-based machine to test it. Would you mind testing it? The changes are not on NuGet yet, but they are commited to master.

[2020-01-30 18:28] JensSchadron commented on #1419
Just FYI, this was fixed in #1420 :)

[2020-01-30 18:33] JensSchadron commented on #1373
Seems like I might have been wrong, my bad. I'll reopen the issue till @maxbl4 can confirm it's actually fixed, because I don't have an ARM device either :)
You may close it if it resolves this issue.

[2020-01-30 19:11] vlpereva commented on #1373
Hi, it would be much easier to test if there was a new package published. But i will try to build locally and test

[2020-01-30 19:28] Tirraon commented on #1419
@lbnascimento
@JensSchadron
Not sure about "_id", because nameof() solution have worked for me earlier. Or I am just missing something and I have filtered not by id-field...

By the way, Query.In("_id", ids) works now, so I will close this issue.
Thanks!

[2020-01-30 19:28] #1419 closed

[2020-01-30 20:16] knippers commented on #1373
I had the same issue on an old raspberry pi. I compiled the source from master and linked that to my project. Upgrade of an 188MB databse went fine and app is running again. So it seems the issue is indeed closed. Thanks for the fix.

[2020-01-31 07:27] bluekuen commented on #843
Thanks! I was also wondering!

[2020-01-31 08:10] Lupinho commented on #1374
I have the sam issue with 5.0-rc after inserting some data into my db:
`LiteDB.LiteException:` Invalid IndexPage buffer on 0
   at LiteDB.Engine.IndexPage..ctor(PageBuffer buffer)
   at LiteDB.Engine.BasePage.ReadPage[T](PageBuffer buffer)
   at LiteDB.Engine.Snapshot.ReadPage[T](UInt32 pageID, FileOrigin& origin, Int64& position, Int32& walVersion)
   at LiteDB.Engine.Snapshot.GetPage[T](UInt32 p

[2020-01-31 10:43] maxbl4 commented on #1373
Hi, confirm, that build from latest master has fixed the bug. Thanks!

[2020-01-31 11:00] maxbl4 commented on #1374
Hi @Tirraon , can you elaborate? Is it possible to store UTC dates in 5-rc and how?

[2020-01-31 12:42] lbnascimento commented on #1374
@maxbl4 Internally, all dates are stored in UTC. The option to display them as UTC or convert them to local time upon retrieval is now a pragma, which means it is stored in the header of the datafile and no longer defined in the connection string.

You can set the UTC_DATE pragma to true with the following command:

[code]

[2020-01-31 22:38] JensSchadron opened #1426 "Add Pragma enums"
I think it might be nice to add an additional overload to the Pragma() method that accepts an enum value for the pragma key instead of a string.
Users can benefit from this because their IDE can assist them in giving suggestions for the pragma keys and as an additional bonus, the users don't need to define magical string constants.

I can create a pull request for it if you want me to.

[2020-01-31 22:39] JensSchadron commented on #1373
Closing the issue again as it has been confirmed that the fix resolves the original issue.

[2020-01-31 22:39] #1373 closed

[2020-02-01 00:26] Tirraon commented on #1426
Or a class with constant strings for build in pragmas.

[2020-02-01 01:59] Lupinho commented on #1374
I can reproduce this bug (Invalid IndexPage buffer on 0) also easily in V5 final. This is a major issue! So LiteDB is not usable anymore! V4 did this job without problems. I just insert some thousend documents into a collection (that has 5 indexes defined).
At this time I have to say: LiteDB is completely unusable, because inserting small documents into an empty database should not be too difficul

[2020-02-01 12:45] clooudch opened #1427 "FindById leaves open cursors on transaction"
It seems like the 'FindById' operation on the database (and potentially other operations as well), leave an open cursor on the transaction.

This can easily be reproduced. Just begin a transaction on the database and run a 'FindById' operation on a collection. You will see that you can not commit the transaction as it still contains open cursors.

I think this has something to do with the combinat

[2020-02-01 12:52] clooudch commented on #1427
Will leave an open cursor on the transaction (as the enumeration never completes):
```collection.FindById(id);```

Will NOT leave an open cursor on the transaction (as the enumeration completes):
```collection.Find(x => x.Id == id, skip: 0, limit: 1).ToArray().FirstOrDefault();```

[2020-02-01 12:55] clooudch commented on #1427
https://github.com/mbdavid/LiteDB/blob/055f47d074d0a6f5da756a30cee817436c2f27eb/LiteDB/Engine/Engine/Transaction.cs#L38

This line currently stops you from running an 'FindById' operation inside of a transaction.

[2020-02-01 12:56] JensSchadron commented on #1426
I don't mind either suggestion. If you guys feel like a class with string constants is the better idea, then I'll implement it that way.

[2020-02-01 13:01] JensSchadron commented on #843
@ftamminga I'm closing the issue as it looks like this one resolves your issue. Feel free to reopen if it wasn't the case.

[2020-02-01 13:01] #843 closed

[2020-02-01 13:08] JensSchadron commented on #1366
@vshapenko First of all, my apologies for the late response.
However, can you try it  again with the latest available version? You can access the mapper through the LiteDatabase instance on the Mapper property or you could pass your own implementation as another parameter when creating a LiteDatabase instance.

Please let us know if this (partially) resolves your issue.

[2020-02-01 13:36] IggaF commented on #1295
Hi @mbdavid, we still seeing this limit exception while using v5-rc.
We need to store documents that occasionally have single string value of more than 2mb in size, which can't be divided/reduced etc...
We can compress that value, but then we won't be able to use LiteDB Studio for debug - which we really like :)

Have you tried increasing it to 2 bytes? Or maybe you can suggest to store these docu

[2020-02-01 20:38] saeedrasti opened #1428 "version V4 to V5 Problem"
Can't open version 4 db file in LIteDB 5.

[2020-02-01 20:44] Tirraon commented on #1428
@saeedrasti hi!
Can you provide more information?
Something like exception message and stacktrace or database file for minimal repro.

[2020-02-01 21:36] saeedrasti commented on #1428
Error message
LiteDB.LiteException: 'File is not a valid LiteDB database format or contains a invalid password.'
while  no set password !

[2020-02-01 22:32] Lupinho opened #1429 "System.IndexOutOfRangeException when query index"
Sometimes I get this exception when I query my db by one of 4 indexes on a collection of a simple database. It only occurres on stress tests on final v5.0 LiteDB.

System.IndexOutOfRangeException
   at LiteDB.Engine.IndexService.Find(CollectionIndex index, BsonValue value, Boolean sibling, Int32 order)
   at LiteDB.Engine.IndexEquals.<Execute>d__3.MoveNext()
   at LiteDB.Engine.BasePipe.<LoadDocum

[2020-02-01 22:48] Lupinho commented on #1374
Now I also get this on a test case:
LiteDB.LiteException
  HResult=0x80131500
  Message=Invalid IndexPage buffer on 1682
  Source=LiteDB
  StackTrace:
   at LiteDB.Engine.IndexPage..ctor(PageBuffer buffer)
   at LiteDB.Engine.BasePage.ReadPage[T](PageBuffer buffer)
   at LiteDB.Engine.Snapshot.ReadPage[T](UInt32 pageID, FileOrigin& origin, Int64& position, Int32& walVersion)
   at LiteDB.Engine.Sn

[2020-02-01 23:57] Lupinho commented on #1374
Ok, I get some light into these issues: I think, these errors are provocated by a multi-threading issue. Because of the lack of insert performance of LiteDB I build a cache for objects to insert. If flushing this cache (doing bulk inserts) asynchronously while querying for them using indexes, this error occurred. If I wait for flushing finished before querying the collection, the error does not oc

[2020-02-02 12:26] mbdavid commented on #1428
Are you using "upgrade=true" in your string connection? You can try use LiteDB.Studio also

[2020-02-02 12:27] mbdavid commented on #1429
Hi, can you provide a full example to inspect whats going on?

[2020-02-02 14:16] fastlink30 opened #1430 "Invalid LCID Code"
Blazor
vs2019 v16.4.4

update from 5.0alpha2 to 5.0

connection string "Filename=database.db;Upgrade=true;Mode=Shared"

when i try to open (new LiteDatabase()) exception 'Invalid LCID code'
the same happen if i try to open with LiteDB.Studio 1.0.0.0 with the previous version i use (0.5) nothing happen

[2020-02-02 18:44] JensSchadron commented on #1430
@fastlink30 The dataformat changed between the 5.0.0-beta and the 5.0.0-RC and it is completely incompatible, so you need to recreate your database file.

[2020-02-02 18:48] nightroman commented on #1336
The author of [Mdbc](https://github.com/nightroman/Mdbc) is here.
(Mdbc is the PowerShell wrapper of the official MongoDB C# driver).

I recently discovered LiteDB, found it fascinating, and I am now thinking
(exploring?) the similar wrapper for LiteDB.

I must tell that LiteDB v5 API is PowerShell friendly right out of the box, at
least comparing to the MongoDB C# driver v2. But there are numerou

[2020-02-02 19:13] saeedrasti commented on #1428
No , I’m checking now .

On Sun, Feb 2, 2020 at 15:56 Mauricio David <notifications@github.com>
wrote:

[2020-02-02 19:28] saeedrasti commented on #1428
👍  Converted success , Thanks a lot.

[2020-02-02 23:49] JensSchadron commented on #1428
I'm closing the issue then :)

[2020-02-03 00:21] DevShip opened #1431 "No saved changes?"
I ask for help, I can’t understand why updating records stopped working in V5, in version 4 everything worked fine. In V5, the code is executed. Update signals that changes have been made and re-selection returns the object with the change, but after the connection is destroyed, changes are not made to the database?
Try usage V5 5.0.0 nuget
Try usage V4 4.1.4 nuget

[code]

V5 Return:

V4 Return:

[2020-02-03 02:02] nightroman commented on #1336
Some thoughts on minimizing misuses of hopefully restored features.

`BsonValue.RawValue` is already in a good shape, in my opinion. It is not implicit. If I type it, I get what I ask for, an object that I need for whatever reason not typed.

`BsonValue(object)` looks not quite right with its implicit nature. Then a static method with some proper unambiguous name would do the trick is a safe way.

[2020-02-03 06:43] mincasoft opened #1432 "LiteDB.LiteException: 'Collection 'nameOfCollection' lock timeout when entering in reserved mode after 00:01:00"
LiteDB.LiteException
  HResult=0x80131500
  Message=Collection 'UserAccount' lock timeout when entering in reserved mode after 00:01:00
  Source=LiteDB
  StackTrace:
   at LiteDB.Engine.LockService.EnterReserved(String collectionName)
   at LiteDB.Engine.Snapshot..ctor(LockMode mode, String collectionName, HeaderPage header, UInt32 transactionID, TransactionPages transPages, LockService locker, Wa

[2020-02-03 07:52] UweKeim commented on #1428
Even after using [`Upgrade=true`](https://github.com/mbdavid/LiteDB/wiki/Connection-String), this fails on my machine:

[code]

Translated to English the error message reads something like:

Any idea what might cause this?

I've ensured that no other thread holds any `LiteDatabase` instance.

[2020-02-03 10:11] KSemenenko commented on #860
https://docs.microsoft.com/en-us/azure/storage/files/storage-dotnet-how-to-use-files

[2020-02-03 11:49] BangL opened #1433 "cannot query on strings in v5"
[code]
how to reproduce:
just perform any kind of query (Query/Find/FindOne) on a string property, using Lambda-Epressions.
works in v4.

[2020-02-03 13:14] mbdavid commented on #1432
You are not keeping a transaction open? Or a query IEnumerable without dispose?

[2020-02-03 13:16] mbdavid commented on #1433
Hi @BangL, can you write this query example? In v5 lambda expressions must be converted into BsonExpression.... in v4, if not possible, LiteDB uses Linq to Objects

[2020-02-03 13:18] mbdavid commented on #1428
@UweKeim, I'm checking this....

[2020-02-03 13:22] mbdavid commented on #1336
Hi @nightroman, I will check is it's possible make this public as  `get` only.... I'm planning to create a immutable version of BsonDocument/BsonArray so I need to check if this will not open a possible to be changed.

[2020-02-03 13:35] phischepi commented on #1430
Hi, I faced the same issue. Is there a way to migrate the database to the new format?

[2020-02-03 13:40] nightroman commented on #1336
@mbdavid, thank you, I am looking forward to this or something else for `object` <-> `BsonValue`.

P.S. If I proceed with creating LiteDB module for PowerShell, I need to create the PowerShell friendly wrapper of `BsonDocument`, namely `IDictionary<string, object>`. It has to unwrap and wrap `BsonValue`s internally. Input and output values must be `object` in order to be PowerShell friendly.

[2020-02-03 13:57] nightroman commented on #1336
Just in case, the MongoDB C# driver's `BsonValue` exposes `RawValue` as `get` only and provides the static `Create(object)`. I am not saying that LiteDB should follow. But the similar precedent exists.

[2020-02-03 14:18] Andrey-N commented on #1432
I got same error on a pretty easy code and in this issue too https://github.com/mbdavid/LiteDB/issues/1431
Downgrade to 5.0RC version fix all and work great, for me

[2020-02-03 14:39] Lupinho commented on #1429
I can try to build some. It must be a multi-threading issue. When I do updates/inserts in one thread and do a query in another on the same collection, this error occurres. At this time I try to prevent this situation. If I've git time I try to build an example from scratch...

[2020-02-03 15:27] W0lfgang opened #1434 "How to migrate database file from 4.1.4 to 5.0.0?"
After updating my NuGet package to 5.0.0, I always get the error:

Is there any guideline on how to migrate my existing database files to the latest version?

Thank you very much in advance!

[2020-02-03 15:50] BangL commented on #1433
my example was something like this:
`Dim oldObj As MyClass = Items.FindOne(Function(x) x.Identifier = newObj.Identifier)`
while newObj was of type "MyClass" as well.

i've already migrated to `Items.FindOne($"$._id = '{newObj.Identifier}'")` overload, which solves the problem for me.
but the overload for linq does not work this way.

[2020-02-03 15:54] BangL commented on #1433
might be a conflict with how VB handles lambda. not sure

[2020-02-03 16:00] BangL commented on #1433
Stacktrace:
   bei LiteDB.LinqExpressionVisitor.VisitMethodCall(MethodCallExpression node)
   bei System.Linq.Expressions.MethodCallExpression.Accept(ExpressionVisitor visitor)
   bei LiteDB.LinqExpressionVisitor.VisitAsPredicate(Expression expr, Boolean ensurePredicate)
   bei LiteDB.LinqExpressionVisitor.VisitBinary(BinaryExpression node)
   bei System.Linq.Expressions.BinaryExpression.Accept(Ex

[2020-02-03 16:04] BangL commented on #1434
http://www.litedb.org/docs/connection-string/

there's a new "Upgrade" option for the ConnectionString, that should do the tricks, i guess.
remember to keep a backup :)

[2020-02-03 16:05] W0lfgang commented on #1434
Awesome. And thank you very much for this fast response :-)
Keep up your great work mate! ❤

[2020-02-03 16:06] BangL commented on #1434
i'm just a random dude, trying to help, not the dev :P
but thank you too :*

[2020-02-03 16:06] W0lfgang commented on #1434
Helping is great work, too ;-) xP

[2020-02-03 17:51] mbdavid commented on #1428
@UweKeim, I'm try to simulate your problem but I didn't get this error. Can you fork and write how did you get the error?

[2020-02-03 19:52] lbnascimento commented on #1427
@clooudch Could you test it with v5.0.1?

[2020-02-03 19:53] lbnascimento commented on #1429
@Lupinho Could you test it with v5.0.1?

[2020-02-03 19:53] lbnascimento commented on #1431
@DevShip Could you test it with v5.0.1?

[2020-02-03 19:53] lbnascimento commented on #1432
@mincasoft Could you test it with v5.0.1?

[2020-02-03 20:23] JensSchadron commented on #1434
For those using the `ConnectionString` class instead of an actual string, you can also set the `Upgrade` property to true

Eg:
[code]

[2020-02-03 20:24] JensSchadron commented on #1434
But given that the issue was already resolved by @BangL, I'll close the issue :)

[2020-02-03 20:24] #1434 closed

[2020-02-03 21:16] Lupinho commented on #1429
I tried to recreate the error situation. I have to say, that I became sometime the error above (System.IndexOutOfRangeException) or "Invalid IndexPage buffer" (there is another issue #1374  for this). I could easily reproduce the later error, also with Version 5.0.1:
LiteDB.LiteException
  HResult=0x80131500
  Message=Invalid IndexPage buffer on 494
  Source=<Cannot evaluate the exception source>

[2020-02-03 21:20] lbnascimento commented on #1433
@BangL In C#, the equality operator is a "real" operator and the BsonMapper successfully converts it to a to an expression. However, in VB, the string equality operator is converted to a call to `CompareString`, and the BsonMapper doesn't know what to do with it.

In previous versions of LiteDB, lambdas that were not sucessfully converted to expressions were stored and executed after the results w

[2020-02-03 23:03] Lupinho commented on #1429
Here is a simple Unit-Test to reproduce the "Invalid IndexPage buffer" error:`

	[TestClass]
	public class LiteDBBugTest {
		public class Data {

			[BsonId]
			public ObjectId Id { get; set; }
			public string Name { get; set; }

			public string Index {
				get { return GetIndex(Name); }
			}
			public static string GetIndex(string name) {
				if (name == null) {
					return null;
				} else {

[2020-02-03 23:05] mbdavid commented on #1429
This insert thread, are you using explicit transaction, insert as array of documents or insert one by one? Is this document too big or have any special type of something?

I do many test using this scenario and got error only in alpha e beta version (and I fix in RC). I will publish in another repo this tests so we can do any test there

[2020-02-03 23:30] DevShip commented on #1431
Excellent! Thanks for the responsiveness, the errors were fixed in v5.0.1 and the error was corrected in mode = Share on Netcore 3.1, which led to blocking when .Update () now I was able to return the script with one LiteDabase without reopening the LiteDabase.

[2020-02-03 23:31] #1431 closed

[2020-02-03 23:35] Lupinho commented on #1429
I think the error occurred with or without explicit transactions. The document I work with is very simple and normally not big. It consists of some strings, a long, an enum, a DataTime and a Id. Nothing special. I put 3 indexes o calculated properties as strings. I splitted away an array of Guid's in an own document, which is referred via BsonRef; because I realized that updating the main document

[2020-02-03 23:41] DevShip commented on #1432
Faced the same problem without dispose, for me an increase to v5.0.1 solved the problem.

[2020-02-04 04:17] UweKeim commented on #1428
Thank you very much, Mauricio. I'll try to build a proof-of-concept and hope to be able to isolate the erroneous behaviour (in hope that this is not something specific to my development machine).

[2020-02-04 05:35] UweKeim commented on #1428
Okay, I've created a simple .NET 4.8 console application:

[code]

Here, the error does _not_ occur. So it must be something inside my "real" application.

Will investigate further now.

[2020-02-04 08:18] bergi9 opened #1436 "System.InvalidCastException: Unable to cast object of type 'LiteDB.ObjectId' to type 'LiteDB.BsonValue'."
How is that even possible if implicit call are defined in BsonValue?

LiteDB 5.0.0-rc on .Net Core 3.1 x64 Win10
Tested with 5.0.1 too, same.

Using with ReactiveUI/DynamicData/Rx
EventLoop to be sure all writes happens on the single and same thread.

Happens here when deletion starts using a model with ObjectId as Id.

[code]

[code]

[2020-02-04 10:08] Pokis commented on #1428
have same issue, lots of tests started failing with this error upon upgrade. How the test looks:
var someData = new Data[3]{data1, data2, data3};

            using (var connection = new LiteDatabase(databaseName))
            {
                connection.DropCollection(nameof(Data));
            }

var db = new LiteDatabase(connectionString);<--- throws exception. underneath
connection string is

[2020-02-04 10:15] Pokis opened #1437 "Cannot use V5 with files that do not end with .db"
During testing we found that if we create db file without extension, we get error when opening connection (upgrade set to true):
"Invalid data file format to upgrade"
however when we add .db to the same file name in connection string, it succeeds.

Not sure if design or not.

[2020-02-04 10:39] scharada opened #1438 "Id type int causing invalid cast"
Hi.
in a common scenario where we need to sync entities with the server side database. for those who are using nosql databases such as mongo, the id is a string.
this causes an invalid cast operation when saving data to litedb.
any suggestion on how to solve this or go around it temporarily ?
thank you.

[2020-02-04 11:08] Tviljan commented on #1295
I would hope for same limits as mongodb, 16Mb

[2020-02-04 11:14] bergi9 commented on #1436
Just used a workaround that was almost the same as I used in #1398
[code]

[2020-02-04 11:25] OrkanCom commented on #1427
Due to my tests, I can confirm that v5.0.1 fixed the problem. Thanks.

[2020-02-04 12:16] OrkanCom opened #1439 "MapToDotNetValue Equivalent in LiteDB"
Hi folks,

_Currently i'm using LiteDB v5.0.1_

Is there any MongoDB's "[BsonTypeMapper.MapToDotNetValue](https://api.mongodb.com/csharp/current/html/M_MongoDB_Bson_BsonTypeMapper_MapToDotNetValue.htm)" equivalent function in LiteDB?

An ex: In mongoDB, I have a MongoDB's BsonDocument and it has no pre-defined strongly typed poco class ( Let's say User.cs - a user class ) in C#, but you can get th

[2020-02-04 12:41] mbdavid commented on #1428
Hi @Pokis, is not missing "upgrade=true" in connection string (if you want upgrade from v4 database).

I added this options in connection string because check for upgrade have a cost (need open datafile, check some bytes and close datafile).

[2020-02-04 12:45] mbdavid commented on #1295
Hi @IggaF and @Tviljan, this limitation will remove soon. I change how engine stores splitted document. Will be no limit for document size (but still recommend to keep "small as possible")

[2020-02-04 13:04] fastlink30 commented on #1430
as phischepi there a way to migrate the database? i hope yes, my database is not so small and recreate all is impossible

[2020-02-04 13:09] lbnascimento commented on #1437
@Pokis I created a test for a datafile without extension and could not replicate your issue. Could you give us instructions on how to reproduce the issue?

[2020-02-04 13:12] mbdavid commented on #1430
Hi @fastlink30, your database was created with v5 alpha/beta version?

[2020-02-04 13:24] fastlink30 commented on #1430
i not remember, probably with a previous version
i think you want say, open the 'old' db with vs 5alpha and write datas to new db + vs5.0
yes, sure is possible, but i must loose much time to do this, if is transparent the 'upgrade' sure is better

[2020-02-04 13:31] Pokis commented on #1428
These tests create new database, not upgrade it, thus it's not used in here. I've applied it in necessary places

[2020-02-04 13:35] mbdavid commented on #1430
If you open your datafile with LiteStudio 0.5.2 you can easy export your collections data as JSON files. And than, open LiteStudio 1.0.1 and import as JSON file:

To export (in 0.5.2):
`SELECT $ INTO $file_json('c:/data/col1.json') FROM col1;`

To import (in 1.0.1)
`SELECT $ INTO col1 FROM $file('c:/data/col1.json')`

[2020-02-04 14:10] lbnascimento commented on #1439
@OrkanCom This feature is not currently available, but is being considered for v5.1.

[2020-02-04 14:10] #1439 closed

[2020-02-04 14:43] Andrey-N commented on #1432
5.0.1 solved the problem for me

[2020-02-04 15:00] alemik commented on #1336
Hi, my project (https://alemik.com/) is based **entirely** on RawValue and BsonValue(object).
I am almost ready to release a new version 0,8 with many features. Please please please please consider to restore those features.

[2020-02-04 15:34] joszz opened #1441 "File is not a valid LiteDB database format"
After updating to V5.0.1 I get the error message;
_File is not a valid LiteDB database format_

The exact same file works on 4.1.4.

I've installed it with the NuGet package.
The DB in question is the one being generated by RDPMon;
https://github.com/cameyo/rdpmon
I can't provide my own copy since it contains sensitive information, but it's not too hard to create one with RDPMon.

I can view the c

[2020-02-04 15:39] joszz commented on #1441
Nevermind, had to set the upgrade flag in the connectionstring. Now it's working!

[2020-02-04 15:39] #1441 closed

[2020-02-04 17:03] JensSchadron commented on #1432
Closing the issue as it has been resolved by updating to 5.0.1

[2020-02-04 17:03] #1432 closed

[2020-02-04 18:08] nightroman commented on #1439
NB It is somewhat related to https://github.com/mbdavid/LiteDB/issues/1336

[2020-02-04 19:33] mbdavid commented on #1429
Hi @Lupinho, I found this problem and fix in current master branch. Can you please test again? I will release this fix in next release

[2020-02-04 23:41] JensSchadron commented on #1428
@Pokis Just a wild guess, but is it possible that your antivirus/antimalware software is keeping a look on it? Have you tried excluding the folder?

[2020-02-05 00:25] GitOffice opened #1442 ""Part URI cannot start with two forward slashes " occurs when v4 to v5"
It scratches my head over these days.
"Part URI cannot start with two forward slashes " always occurs When I update litedb from v4.1.4 to v5.0.1 through nuget package cosole or GUI.

It still fails even if I uninstall litedb v4.1.4 before upgradation.

VS environment is VS2013
.net framework is v4.6
 windows8.1 OS

[2020-02-05 00:35] lbnascimento commented on #1438
@scharada Could you give us more info so we can reproduce the issue? LiteDB should not have any issues with the id being a string (or even with mixed types in the id field, really).

[2020-02-05 06:49] Pokis commented on #1437
I initialize LiteDB with connection string that contains upgrade=true and no password,
then I call store on it to store an object and it throws the mentioned exception

[2020-02-05 06:53] Pokis commented on #1428
checked just in case, disabling antivirus does not help. But it does work with version 4.1.4 just fine (same tests in same solution). Another note, get operations works fine, while store operations throw the mentioned exception.

[2020-02-05 11:06] scharada commented on #1438
hi. here is the scenario
i have a base class used in my api that has a string property Id usualy mapped to the Id as it is read from the database (mongodb).. all my dto models inherit from it to have the mongodb id passed to the client.

my Api returns a set of entities (with the id value).
if i take that entity and try to insert it in LiteDb, it fails with an invalid cast.
to confirm the issue is

[2020-02-05 12:21] lbnascimento commented on #1438
@scharada Which version of LiteDB are you using? Could you provide the classes you're using, or maybe a simpler version of them that I could use to reproduce the issue?

[2020-02-05 14:04] BetterYan opened #1444 "Question: why cast to (long) then to (int)"
Why it cast the timestamp to long, and then to int?
Will it affect the performance?

[code]

[2020-02-05 14:19] lbnascimento commented on #272
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:20] lbnascimento commented on #379
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:20] #379 closed

[2020-02-05 14:20] lbnascimento commented on #388
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:20] #388 closed

[2020-02-05 14:20] lbnascimento commented on #409
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:20] #409 closed

[2020-02-05 14:20] lbnascimento commented on #428
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:20] #428 closed

[2020-02-05 14:20] lbnascimento commented on #429
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:20] #429 closed

[2020-02-05 14:20] lbnascimento commented on #434
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:20] #434 closed

[2020-02-05 14:20] lbnascimento commented on #449
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:20] #449 closed

[2020-02-05 14:20] lbnascimento commented on #461
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:20] #461 closed

[2020-02-05 14:21] lbnascimento commented on #464
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #464 closed

[2020-02-05 14:21] lbnascimento commented on #467
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #467 closed

[2020-02-05 14:21] lbnascimento commented on #470
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #470 closed

[2020-02-05 14:21] lbnascimento commented on #483
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #483 closed

[2020-02-05 14:21] lbnascimento commented on #487
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #487 closed

[2020-02-05 14:21] lbnascimento commented on #489
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #489 closed

[2020-02-05 14:21] lbnascimento commented on #490
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #490 closed

[2020-02-05 14:21] lbnascimento commented on #496
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #496 closed

[2020-02-05 14:21] lbnascimento commented on #509
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #509 closed

[2020-02-05 14:21] lbnascimento commented on #526
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #526 closed

[2020-02-05 14:21] lbnascimento commented on #530
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:21] #530 closed

[2020-02-05 14:22] lbnascimento commented on #535
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:22] #535 closed

[2020-02-05 14:22] lbnascimento commented on #536
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:22] #536 closed

[2020-02-05 14:22] lbnascimento commented on #537
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:22] #537 closed

[2020-02-05 14:22] lbnascimento commented on #20
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:22] #20 closed

[2020-02-05 14:22] #272 closed

[2020-02-05 14:26] lbnascimento commented on #539
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:26] #539 closed

[2020-02-05 14:26] lbnascimento commented on #546
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:26] lbnascimento commented on #547
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:26] #547 closed

[2020-02-05 14:26] lbnascimento commented on #548
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:26] #548 closed

[2020-02-05 14:26] lbnascimento commented on #552
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:26] #552 closed

[2020-02-05 14:27] lbnascimento commented on #554
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:27] #554 closed

[2020-02-05 14:27] lbnascimento commented on #558
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:27] #558 closed

[2020-02-05 14:27] lbnascimento commented on #559
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:27] #559 closed

[2020-02-05 14:27] lbnascimento commented on #560
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:27] #560 closed

[2020-02-05 14:27] lbnascimento commented on #563
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:27] #563 closed

[2020-02-05 14:27] lbnascimento commented on #564
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:27] #564 closed

[2020-02-05 14:27] mbdavid commented on #1442
Hi @GitOffice, can you paste your snippet code with stacktrace error message?

[2020-02-05 14:27] lbnascimento commented on #565
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:27] #565 closed

[2020-02-05 14:27] lbnascimento commented on #571
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:27] #571 closed

[2020-02-05 14:27] lbnascimento commented on #572
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:27] #572 closed

[2020-02-05 14:28] lbnascimento commented on #578
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:28] #578 closed

[2020-02-05 14:28] lbnascimento commented on #581
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:28] #581 closed

[2020-02-05 14:28] lbnascimento commented on #583
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:28] #583 closed

[2020-02-05 14:28] lbnascimento commented on #584
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:28] #584 closed

[2020-02-05 14:28] lbnascimento commented on #585
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:28] #585 closed

[2020-02-05 14:28] lbnascimento commented on #587
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:28] #587 closed

[2020-02-05 14:29] lbnascimento commented on #589
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:29] #589 closed

[2020-02-05 14:29] lbnascimento commented on #592
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:29] #592 closed

[2020-02-05 14:29] lbnascimento commented on #593
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:29] #593 closed

[2020-02-05 14:29] lbnascimento commented on #594
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 14:29] #594 closed

[2020-02-05 14:31] mbdavid commented on #1444
Hi @BetterYan, I really don't know. This is a very old implementation... I will review this and fix it.

[2020-02-05 14:35] #1426 closed

[2020-02-05 16:54] BangL commented on #1433
very good to know. thanks for the explanation!
for me personally this problem is solved then, i will go BsonExpressions only from now on.

despite the performance issues and the vb.net incompatiblity, i would suggest putting the [DeprecatedAttribute] onto the lambda overloads though.

[2020-02-05 16:56] #1433 closed

[2020-02-05 17:30] lbnascimento commented on #586
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:30] #586 closed

[2020-02-05 17:31] lbnascimento commented on #596
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:31] #596 closed

[2020-02-05 17:31] lbnascimento commented on #597
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:31] #597 closed

[2020-02-05 17:31] lbnascimento commented on #599
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:31] #599 closed

[2020-02-05 17:31] lbnascimento commented on #600
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:31] #600 closed

[2020-02-05 17:31] lbnascimento commented on #601
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:31] #601 closed

[2020-02-05 17:31] lbnascimento commented on #602
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:31] #602 closed

[2020-02-05 17:31] lbnascimento commented on #603
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:31] #603 closed

[2020-02-05 17:31] lbnascimento commented on #605
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:31] #605 closed

[2020-02-05 17:31] lbnascimento commented on #606
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:31] #606 closed

[2020-02-05 17:31] lbnascimento commented on #607
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:31] #607 closed

[2020-02-05 17:32] lbnascimento commented on #608
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:32] #608 closed

[2020-02-05 17:32] lbnascimento commented on #609
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:32] #609 closed

[2020-02-05 17:32] lbnascimento commented on #610
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:32] #610 closed

[2020-02-05 17:33] lbnascimento commented on #613
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:33] #613 closed

[2020-02-05 17:33] lbnascimento commented on #614
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:33] #614 closed

[2020-02-05 17:33] lbnascimento commented on #617
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:33] #617 closed

[2020-02-05 17:34] lbnascimento commented on #620
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:34] #620 closed

[2020-02-05 17:34] lbnascimento commented on #621
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:34] #621 closed

[2020-02-05 17:34] lbnascimento commented on #622
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:34] #622 closed

[2020-02-05 17:34] lbnascimento commented on #623
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:34] #623 closed

[2020-02-05 17:35] lbnascimento commented on #624
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:35] #624 closed

[2020-02-05 17:35] lbnascimento commented on #625
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:35] #625 closed

[2020-02-05 17:36] lbnascimento commented on #640
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:36] #640 closed

[2020-02-05 17:37] lbnascimento commented on #635
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:37] #635 closed

[2020-02-05 17:37] lbnascimento commented on #636
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:37] #636 closed

[2020-02-05 17:38] lbnascimento commented on #634
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:38] #634 closed

[2020-02-05 17:38] lbnascimento commented on #639
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:38] #639 closed

[2020-02-05 17:38] lbnascimento commented on #644
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:38] #644 closed

[2020-02-05 17:38] lbnascimento commented on #647
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:38] #647 closed

[2020-02-05 17:38] lbnascimento commented on #646
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:38] #646 closed

[2020-02-05 17:39] lbnascimento commented on #656
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:39] #656 closed

[2020-02-05 17:39] lbnascimento commented on #666
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:39] #666 closed

[2020-02-05 17:39] #671 closed

[2020-02-05 17:39] lbnascimento commented on #669
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:39] #669 closed

[2020-02-05 17:40] #673 closed

[2020-02-05 17:40] lbnascimento commented on #667
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:40] #667 closed

[2020-02-05 17:40] lbnascimento commented on #679
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:40] #679 closed

[2020-02-05 17:40] #686 closed

[2020-02-05 17:41] lbnascimento commented on #685
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:41] #685 closed

[2020-02-05 17:41] lbnascimento commented on #668
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:41] #668 closed

[2020-02-05 17:41] lbnascimento commented on #682
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:41] #682 closed

[2020-02-05 17:41] #708 closed

[2020-02-05 17:41] lbnascimento commented on #707
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:41] #707 closed

[2020-02-05 17:41] lbnascimento commented on #633
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:41] #633 closed

[2020-02-05 17:42] lbnascimento commented on #699
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:42] #699 closed

[2020-02-05 17:42] lbnascimento commented on #711
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:42] #711 closed

[2020-02-05 17:42] #716 closed

[2020-02-05 17:42] lbnascimento commented on #692
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:42] #692 closed

[2020-02-05 17:43] lbnascimento commented on #715
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:43] #715 closed

[2020-02-05 17:44] lbnascimento commented on #735
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:44] #735 closed

[2020-02-05 17:44] lbnascimento commented on #706
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:44] #706 closed

[2020-02-05 17:44] lbnascimento commented on #745
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:44] #745 closed

[2020-02-05 17:44] lbnascimento commented on #740
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:44] #740 closed

[2020-02-05 17:44] lbnascimento commented on #743
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:44] #743 closed

[2020-02-05 17:44] lbnascimento commented on #732
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:44] #732 closed

[2020-02-05 17:44] lbnascimento commented on #731
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:44] #731 closed

[2020-02-05 17:44] lbnascimento commented on #744
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:44] #744 closed

[2020-02-05 17:44] lbnascimento commented on #748
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:44] #748 closed

[2020-02-05 17:44] lbnascimento commented on #753
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:44] #753 closed

[2020-02-05 17:45] lbnascimento commented on #755
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:45] #755 closed

[2020-02-05 17:45] lbnascimento commented on #749
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:45] #749 closed

[2020-02-05 17:45] lbnascimento commented on #761
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:45] #761 closed

[2020-02-05 17:45] #764 closed

[2020-02-05 17:45] lbnascimento commented on #762
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:45] #762 closed

[2020-02-05 17:46] lbnascimento commented on #766
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:46] #766 closed

[2020-02-05 17:46] lbnascimento commented on #765
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:46] #765 closed

[2020-02-05 17:46] lbnascimento commented on #768
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:46] #768 closed

[2020-02-05 17:46] lbnascimento commented on #770
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!

[2020-02-05 17:46] #770 closed

[2020-02-05 17:46] lbnascimento commented on #773
Hi! With the objective of organizing our issues, we are closing old unsolved issues. Please check the latest version of LiteDB and open a new issue if your problem/question/suggestion still applies. Thanks!